{% set url = path('organizer_show',{'slug': organizer.slug }) %}

<div class="item item-more-info">

    <div class="block-visual">

         <div class="block-image">
            <a href="{{ url }}">
{#
                <div class="img-blur">
                    <img src="
                    {% if organizer.coverImage starts with 'http' %}
                        {{ organizer.coverImage }}
                    {% else %}
                        {{ asset(organizer.coverImagePath) }}
                    {% endif %}
                    " />
                </div>

                <div class="img-contain">
                    <img src="
                    {% if organizer.coverImage starts with 'http' %}
                        {{ organizer.coverImage }}
                    {% else %}
                        {{ asset(organizer.coverImagePath) }}
                    {% endif %}
                    " />
                </div>
#}
            </a>
        </div>

        {% if organizer.organizerkind %}
            <div class="block-badge">
                    {#<a class="block-rubric" href="{{ path('events_by_category', {'slug': category.slug }) }}">{{ category.name }}</a>#}
                    <a href="#"> {{ organizer.organizerkind.name | badge({'color':'danger'}) }} </a> 
            </div>
        {% endif %}
    </div>

    <div class="details">
        <h4>
            <a href="{{ url }}">
                {{ organizer.name }}
            </a>
        </h4>
        <h5>
            {% if organizer.events | length > 0 %}
                {{organizer.events | length}} évènements à venir
            {% endif %}
        </h5>
    </div>

    <div class="more-info">
        <a href="{{ url }}" class="btn btn-primary">Plus d'info</a>
    </div>
    
</div>