{% extends 'base.html.twig' %}

{% block title %}Annuaire des festivals{% endblock %}

{% block body %}

<div class="main">

    <div class="nav-side-menu">

        {% include 'info/_menu.html.twig' %}
        
    </div>

    <div class="page">
        {% if organizers.getTotalItemCount == 0 %}
            <div class="row title">
                <div class="col text-center p-0">
                    <h2>Actuellement, aucun organisateur <span>avec une programmation</span></h2>
                </div>
            </div>
            <div class="row">
                <div class="col">
                    <a href="{{ path('event_index') }}" class="btn btn-primary btn-block px-5">Revenir sur les évènements à venir</a>
                </div>
            </div>

        {% else %}
            <div class="title">
                <h2>Les {{ organizers.getTotalItemCount }} organisateurs</h2>
                <div class="buttons">
                    <button class="list-view on"><i class="fa fa-bars"></i></button>
                    <button class="grid-view"><i class="fa fa-th"></i></button>
                </div>
            </div>
            <div class="wrapper list">
                {% for organizer in organizers %}
                    {% include 'info/organizer/_organizer.html.twig' %}
                {% endfor %}
            </div>

            <div class="pagination">
                {{ knp_pagination_render(organizers) }}
            </div>
        {% endif %}

    </div>
</div>

{% endblock %}
