{% extends 'base.html.twig' %}

{% block title %}{{ organizer.name }}{% endblock %}

{% block body %}

<div class="container py-3">
    <h1>{{ organizer.name }}</h1>

    {% if organizer.organizerkind %}
        <h3>{{ organizer.organizerkind.name }}</h3>
    {% endif %}

    {{ organizer.description | raw  }}

</div>

<div class="container">
    <div class="row">
        <div class="col-md-9 mb-3">

            {% if events.getTotalItemCount > 0 %}
                <div class="title">
                    <h2>Les {{ events.getTotalItemCount }} évènements à venir</h2>
                    <div class="buttons">
                        <button class="list-view on"><i class="fa fa-bars"></i></button>
                        <button class="grid-view"><i class="fa fa-th"></i></button>
                    </div>
                </div>
                <div class="wrapper list">
                    {% for event in events %}
                        {% include 'event/_event.html.twig' %}
                    {% endfor %}
                </div>
                <div class="pagination">
                    {{ knp_pagination_render(events) }}
                </div>
            {% else %}
                <div class="alert alert-warning">
                    <p>
                        <strong>{{organizer.name}}</strong> n'a pas encore d'annonce sur le site !
                    </p>
                </div>
            {% endif %}


        </div>
    </div>
</div>

{% endblock %}
