{% extends 'admin/base.html.twig' %}

{% block title %}Modifier un utilisateur{% endblock %}

{% block body %}

    <div class="container-fluid">
        <h1 class="my-5 text-center"><u>Gestion des droits de l'utilisateur</u></h1>

        <div class="row">
            <div class="col">
                <div class="card bg-light">
                    <div class="card-header">
                        <h4 class="card-title">Données sur l'utilisateur</h4>
                    </div>
                    <div class="card-body">
                        <div class="row">

                            <div class="col">
                                <div class="row">
                                    {% if user.avatar %}
                                        <div class="col-2">
                                            <a href="{{ path('user_show', {'slug': user.slug}) }}">
                                                <img src="{% if "http" in user.avatar %}{{user.avatar}}{% else %}{{ asset(user.avatarPath) }}{% endif %}" class="avatar avatar-medium" alt="Avatar de {{user.fullName}}">
                                            </a>
                                        </div>
                                    {% endif %}
                                    <div class="col">
                                        <h4>{{ user.fullName }}{% if not user.isVisible %} <span class="h6">(Compte caché)</span>{% endif %}</h4>
                                        {% if user.introduction %}<p><b>{{ user.introduction }}</b></p>{% endif %}
                                    </div>
                                </div>
                                <div class="col">
                                    {% if user.presentation %}<p>{{ user.presentation|raw }}</p>{% endif %}
                                </div>
                            </div>

                            <div class="col">

                                <p class="h5 mb-4">
                                    Adresse email : {{ user.email }}
                                </p>

                                <div class="h5 py-3"><u>Ses publications :</u></div>

                                <p class="h5 mb-4">
                                    {% if user.eventAuthors|length > 0 %}
                                        {% if user.eventAuthors|length == 1 %}
                                            1 évènement ajouté
                                        {% else %}
                                            {{ user.eventAuthors|length }} évènements annoncés
                                        {% endif %}
                                    {% else %}
                                        Aucun évènement annoncé
                                    {% endif %}

                                    {% if user.eventEditors|length > 0 %}
                                        {% if user.eventEditors|length == 1 %}
                                            et 1 évènement modifiable
                                        {% else %}
                                            et {{ user.eventEditors|length }} évènements modifiables
                                        {% endif %}
                                    {% endif %}
                                </p>

                                {% if user.placeAuthors|length > 0 %}
                                    <p><b>Les lieux ajoutés :</b>
                                    {% for place in user.placeAuthors %}
                                        <a href="{{ path('place_show',{'slug': place.slug }) }}">{{ place.title }}</a>{% if not loop.last%},{% endif %}
                                    {% endfor %}
                                    </p>
                                {% endif %}

                                {% if user.artistAuthors|length > 0 %}
                                    <p><b>Les artistes ajoutés :</b>
                                    {% for artist in user.artistAuthors %}
                                        <a href="{{ path('artist_show',{'slug': artist.slug }) }}">{{ artist.name }}</a>{% if not loop.last%},{% endif %}
                                    {% endfor %}
                                    </p>
                                {% endif %}

                                {% if user.organizerAuthors|length > 0 %}
                                    <p><b>Les organisateurs ajoutés :</b>
                                    {% for organizer in user.organizerAuthors %}
                                        <a href="{{ path('organizer_show',{'slug': organizer.slug }) }}">{{ organizer.name }}</a>{% if not loop.last%},{% endif %}
                                    {% endfor %}
                                    </p>
                                {% endif %}

                                <p>
                                    {% if user.registrationAt %}
                                        <b>Inscrit depuis</b> le {{ user.registrationAt|date('d/m/Y H:i') }}
                                    {% endif %}
                                    <br>
                                    {% if user.lastConnectionAt %}
                                        <b>Dernière connexion</b> le {{ user.lastConnectionAt|date('d/m/Y H:i') }}
                                    {% endif %}
                                </p>

                                {% if user.placeAffirmers|length > 0 or user.artistAffirmers|length > 0 or user.organizerAffirmers|length > 0 or user.festivalAffirmers|length > 0 %}
                                    <p>Déclare être associé 
                                        {% if user.placeAffirmers|length > 0 %}
                                            {% if user.placeAffirmers|length == 1 %}
                                                au lieu
                                            {% else %}
                                                aux lieux
                                            {% endif %}
                                            {% for place in user.placeAffirmers %}
                                                <a target="_blank" href="{{ path('place_show',{'slug': place.slug }) }}">{{ place.name }}</a>{% if not loop.last%},{% endif %}
                                            {% endfor %}
                                            {% if user.artistAffirmers|length > 0 or user.organizerAffirmers|length > 0 or user.festivalAffirmers|length > 0 %}et{% endif %}

                                        {% endif %}

                                        {% if user.artistAffirmers|length > 0 %}
                                            {% if user.artistAffirmers|length == 1 %}
                                                à l'artiste
                                            {% else %}
                                                aux artistes
                                            {% endif %}
                                            {% for artist in user.artistAffirmers %}
                                                <a target="_blank" href="{{ path('artist_show',{'slug': artist.slug }) }}">{{ artist.name }}</a>{% if not loop.last%},{% endif %}
                                            {% endfor %}
                                            {% if user.organizerAffirmers|length > 0 or user.festivalAffirmers|length > 0 %}et{% endif %}
                                        {% endif %}

                                        {% if user.organizerAffirmers|length > 0 %}
                                            {% if user.organizerAffirmers|length == 1 %}
                                                à l'organisateur
                                            {% else %}
                                                aux organisateurs
                                            {% endif %}
                                            {% for organizer in user.organizerAffirmers %}
                                                <a target="_blank" href="{{ path('organizer_show',{'slug': organizer.slug }) }}">{{ organizer.name }}</a>{% if not loop.last%},{% endif %}
                                            {% endfor %}
                                            
                                            {% if user.festivalAffirmers|length > 0 %}et{% endif %}
                                        {% endif %}

                                        {% if user.festivalAffirmers|length > 0 %}
                                            {% if user.festivalAffirmers|length == 1 %}
                                                au festival
                                            {% else %}
                                                aux festivals
                                            {% endif %}
                                            {% for festival in user.festivalAffirmers %}
                                                <a target="_blank" href="{{ path('festival_show',{'slug': festival.slug }) }}">{{ festival.name }}</a>{% if not loop.last%},{% endif %}
                                            {% endfor %}
                                        {% endif %}
                                    </p>
                                {% endif %}

                                <p>
                                    {#{ dump(user)}#}
                                </p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            {#
            <div class="col-6">
                <div class="card bg-light">
                    <div class="card-header">
                        <h4 class="card-title">Déclaration non vérifiée</h4>
                    </div>
                    <div class="card-body">
                        {{ form_start(formAffirm) }}
                        <div class="row pb-3">
                            <h5 class="mb-0">{{ form_label(formAffirm.placeAffirmers) }}</h5>
                            {{ form_widget(formAffirm.placeAffirmers) }}
                        </div>

                        <div class="row pb-3">
                            <h5 class="mb-0">{{ form_label(formAffirm.organizerAffirmers) }}</h5>
                            {{ form_widget(formAffirm.organizerAffirmers) }}
                        </div>

                        <div class="row pb-3">
                            <h5 class="mb-0">{{ form_label(formAffirm.artistAffirmers) }}</h5>
                            {{ form_widget(formAffirm.artistAffirmers) }}
                        </div>

                        <button type="submit" class="btn btn-primary btn-block my-4">Modifier les déclarations de l'utilisateur</button>

                        {{ form_end(formAffirm) }}
                    </div>
                </div>
            </div>
            #}

            <div class="col-6">
                <div class="card bg-light">
                    <div class="card-header">
                        <h4 class="card-title">Les rôles</h4>
                    </div>
                    <div class="card-body">
                        {{ form_start(formRole) }}

                            {% if user.userRoles|length > 0 %}
                                <p>Cet utilsateur est un administrateur
                                    {% if user.subdomains|length > 0 %}
                                        sur
                                        {% for subdomain in user.subdomains %}{% if loop.last and not loop.first %} et {% elseif not loop.first %}, {% endif %}{{ subdomain.name }}{% endfor %}
                                    {% endif %}
                                
                                </p>

                                {{ form_widget(formRole.isAdministrator, {"attr":{"style":"display:none"}}) }}
                            {% else %}
                                <div class="row">
                                    <div class="d-inline-block">
                                        {{ form_widget(formRole.isAdministrator) }} 
                                    </div>
                                    <div class="col pt-1">
                                        Ajouter comme administrateur
                                    </div>
                                </div>
                            {% endif %}
                            {{ form_label(formRole.subdomains) }}
                            {{ form_widget(formRole.subdomains) }}

                            {{ form_widget(formRole.submit) }}

                        {{ form_end(formRole) }}
                    </div>
                </div>
            </div>

            <div class="col-6">
                <div class="card bg-light">
                    <div class="card-header">
                        <h4 class="card-title">Droits de modification accordés</h4>
                    </div>
                    <div class="card-body">

                        {{ form_start(formEdit) }}

                            <div class="row pb-3">
                                <h5 class="mb-0">{{ form_label(formEdit.placeEditors) }}</h5>
                                {{ form_widget(formEdit.placeEditors) }}
                            </div>

                            <div class="row pb-3">
                                <h5 class="mb-0">{{ form_label(formEdit.organizerEditors) }}</h5>
                                {{ form_widget(formEdit.organizerEditors) }}
                            </div>

                            <div class="row pb-3">
                                <h5 class="mb-0">{{ form_label(formEdit.artistEditors) }}</h5>
                                {{ form_widget(formEdit.artistEditors) }}
                            </div>

                            <button type="submit" class="btn btn-primary btn-block my-4">Modifier les droits de l'utilisateur</button>

                        {{ form_end(formEdit) }}

                    </div>
                </div>
            </div>
        </div>

    </div>

</div>

{% endblock %}


{% block stylesheets %}
<style>
    /*.select2-container--default .select2-selection--single .select2-selection__rendered,*/
   
    .form-control, .custom-file-label,
    .select2-container,
    .custom-checkbox .custom-control-label::before,
    .button-add {
        border: 1px solid lightgray;
    }
</style>
{% endblock %}

