{% extends 'admin/base.html.twig' %}

{% block title %}Administration des utilisateurs{% endblock %}

{% block body %}
    <div class="container-fluid">
        <h1 class="my-5 text-center">Administration des utilisateurs</h1>

            {{ form_start(form) }}
                <div class="row">
                    <div class="col-sm">
                        {{ form_row(form.nom) }}
                    </div>
                    <div class="col-sm">
                        {{ form_row(form.email) }}
                    </div>
                    <div class="col-sm mt-auto mb-3">
                        <button type="submit" class="btn btn-primary btn-block">Filtrer</button>
                    </div>
                </div>
            {{ form_start(form) }}

        <table class="table table-hover bg-white">
            <thead>
                <tr class="text-center">
                    <th class="align-middle">Id</th>
                    <th class="align-middle">Nom</th>
                    <th class="align-middle">Email</th>
                    <th class="align-middle">Présentation</th>
                    <th class="align-middle">Rôles</th>
                    <th></th>
                </tr>
            </thead>
            <tbody>

                {% for user in users %}
                    <tr class="text-center">
                        <td class="align-middle px-5">{{user.id}}</td>
                        <td class="align-middle"><b>{{user.fullname}}</b></td>
                        <td class="align-middle">{{user.email}}</td>
                        <td class="align-middle text-left pl-5">{{user.introduction}}</td>
                        <td class="align-middle">
                            {% if user.roles %}
                                {% for role in user.roles %}
                                    {{role}}{% if not loop.last %}, {% endif %}
                                {% endfor %}
                            {% endif %}
                        </td>
                        <td>
                            <div style="width:100px">
                                <a href="{{ path('admin_user_edit', {'id': user.id}) }}" class="btn btn-sm btn-primary"><i class="fas fa-xs fa-edit"></i></a>
                                {#<a href="{{ path('admin_place_delete', {'id': place.id}) }}" class="btn btn-sm btn-danger"><i class="fas fa-xs fa-trash"></i></a>#}
                            </div>
                        </td>
                    </tr>

                {% endfor %}
            </tbody>
        </table>

        <div class="d-flex justify-content-center">
            {{ knp_pagination_render(users) }}
        </div>

    </div>
{% endblock %}

