{% extends 'base.html.twig' %}

{% block title %}Mot de passe oublié{% endblock %}

{% block body %}

<div class="container">
    <div class="row">
        <div class="col-md-3">&nbsp;</div>
        <div class="col-md-6">

            <div class="bg-light py-3 px-3">
                <h1>Mot de passe oublié</h1>

                {{form_start(form)}}
                    {#<h4>{{form_label(form.email)}}</h4>#}
                    {{form_widget(form.email)}}
                    <button class="btn btn-primary btn-block mt-4" type="submit">Réinitialiser mon mot de passe</button>
                {{form_end(form)}}

                {#
                <form action="{{ path('account_login') }}" method="post">
                    <div class="form-group">
                        <label for="email"><h4>Email</h4></label>
                        <input type="text" name="_username" id="email" class="form-control" placeholder="Adresse email..." required>
                    </div>
                    <div class="form-group">
                        <button type="submit" class="btn btn-success btn-block">Créer un nouveau mot de passe</button>
                    </div>

                    Si votre adresse email est enregistré chez nous, un mail vous sera envoyé pour créer un nouveau mot de passe
                </form>
                #}
            </div>
        </div>
    </div>
   
</div>

{% endblock %}
