{% extends 'base.html.twig' %}

{% block title %}Connexion au site{% endblock %}

{% block body %}

<div class="container">
    <div class="row">
        <div class="col-md-3">&nbsp;</div>
        <div class="col-md-6">

            <div class="bg-light py-3 px-3">
                <h1 class="text-center mb-3">Connectez-vous</h1>

                {% if hasError %}
                    {% if message %}
                    <div class="alert alert-danger">{{ message }}</div>
                    {% else %}
                        <div class="alert alert-danger">Une erreur est survenue, le nom d'utilisateur ou alors le mot de passe est invalide</div>
                    {% endif %}
                {% endif %}
                {% if app.request.cookies.get("sf_redirect") %}
                    {% if 'place_create' in app.request.cookies.get("sf_redirect") %}
                        <div class="alert alert-danger">Vous devez vous connecter pour ajouter un lieu</div>
                    {% elseif 'place_claim' in app.request.cookies.get("sf_redirect") %}
                        <div class="alert alert-danger">Vous devez vous connecter pour modifier les informations d'un lieu</div>
                    {% elseif 'event_claim' in app.request.cookies.get("sf_redirect") %}
                        <div class="alert alert-danger">Vous devez vous connecter pour modifier un évènement</div>
                    {% endif %}
                {% endif %}

                <form action="{{ path('account_login') }}" method="post">
                    <div class="form-group">
                        <label for="email"><h4>Email</h4></label>
                        <input type="text" name="_username" id="email" class="form-control" placeholder="Adresse email..." required value="{{username}}">
                    </div>
                    <div class="form-group">
                        <label for="password"><h4>Mot de passe</h4></label>
                        <input type="password" name="_password" id="password" class="form-control" placeholder="Mot de passe..." required>
                    </div>
                    <div class="form-group">
                        <button type="submit" class="btn btn-success btn-block">Connexion !</button>
                    </div>

                    <a href="{{ path('account_forgot_password') }}" class="btn btn-secondary btn-sm">Mot de passe oublié</a>
                    <a href="{{ path('account_register') }}" class="btn btn-secondary btn-sm">Pas encore inscrit ? Créer un compte</a>
                    {#<div class="text-center">
                        <a href="{{ path('connect_facebook_start') }}" class="btn btn-primary btn-sm m-2" style="background:#3b5998" ><i class="fa fa-facebook fa-lg mr-2"></i>Connexion avec Facebook</a>
                        <a href="{{ path('connect_google_start') }}" class="btn btn-primary btn-sm m-2" style="background:#1A73E8" ><i class="fa fa-google fa-lg mr-2"></i>  Google</a>
                    </div>#}
                </form>
            </div>
        </div>
    </div>
   
</div>

{% endblock %}
