{% extends 'base.html.twig' %}

{% block title %}Mot de passe oublié{% endblock %}

{% block body %}

<div class="container">
    <div class="row">
        <div class="col">
            <h1 class="text-center mb-5">Renouvellement du mot de passe</h1>
            {{form_start(form)}}
                <div class="row">            
                    <h4>{{form_label(form.hash.first)}}</h4>
                    {{form_widget(form.hash.first)}}
                </div>
                <div class="row">         
                    <h4>{{form_label(form.hash.second)}}</h4>
                    {{form_widget(form.hash.second)}}
                </div>
                <button class="btn btn-primary btn-block mt-4"  type="submit">Envoyer</button>
            {{form_end(form)}}
        </div>
    </div>
   
</div>

{% endblock %}