{% extends 'base.html.twig' %}

{% block title %}Modification du profil utilisateur{% endblock %}

{% block body %}

<div class="container">
    <h2 class="text-center py-4"><u>Mes informations personnelles</u></h2>

    {% for role in app.user.userRoles %}
        {% if role.title == "ROLE_ADMIN" %}
            <div class="alert alert-success">Vous avez le rôle "Administrateur"</div>
        {% endif %}
        {% if role.title == "ROLE_SUPERADMIN" %}
            <div class="alert alert-success">Vous avez le rôle "Super-Administrateur"</div>
        {% endif %}
    {% endfor %}

    {{ form_start(form) }}

    <div class="row">
        <div class="col-9 pl-0">
            <div class="row">

                <div class="col pl-0">
                    <h5 class="text-center">{{ form_label(form.firstName) }}</h5>
                    {{ form_widget(form.firstName) }}
                </div>

                <div class="col">
                    <h5 class="text-center">{{ form_label(form.lastName) }}</h5>
                    {{ form_widget(form.lastName) }}
                </div>

                <div class="col-12 pl-0 pt-5">
                    <div class="text-center">
                        <h5>{{ form_label(form.introduction) }}</h5>
                    </div>
                    {{ form_widget(form.introduction) }}
                </div>

                <div class="col p-0 my-3" class><b>{{ form_widget(form.isVisible) }}</b></div>

            </div>
        </div>

        <div class="col pr-0">
            <h5 class="text-center">{{ form_label(form.avatarFile) }}</h5>
            <div class="blocAnnonceImage">
            {{ form_errors(form) }}
            {{ form_widget(form.avatarFile) }}
            {% if app.user.avatar %}
                {% if app.user.avatar starts with 'http' %}
                    <img id="outputPic" src="{{ app.user.avatar }}"/>
                {% else %}
                    <img id="outputPic" src="{{ asset(app.user.avatarPath) }}"/>
                {% endif %}
            {% else %}
                <img id="outputPic"/> 
            {% endif %} 
            </div>
        </div>
 
    </div>

    <div class="row">
        
        <div class="col px-0">
            <div class="text-center">
                <h5>{{ form_label(form.presentation) }}</h5>
            </div>
            {{ form_widget(form.presentation) }}
        </div>
    </div>

    <h4 class="py-3">
        LES INFORMATIONS CI-DESSOUS PERMETTENT DE VOUS IDENTIFIER LORS D'UNE DEMANDE DE MODIFICATION
        <span class="h6 d-block">En cas d'abus, les informations ci-dessous seront supprimées et/ou votre compte sera bloqué</span>
    </h4>

    <div class="row">
        <h5>{{ form_label(form.placeAffirmers) }}</h5>
        {{ form_widget(form.placeAffirmers) }}
        {% if claims or app.user.placeEditors|length > 0 %}
            <div class="my-3 p-2" style="border: 1px solid black">
                {% if app.user.placeEditors|length > 0 %}
                    <div class="h5 mt-2 mb-0">Vous pouvez actuellement modifier {% if app.user.placeEditors|length == 1 %}le lieu{% else %}{{ app.user.placeEditors|length }} lieux{% endif %} :
                        {% for place in app.user.placeEditors %}
                            {% if loop.last and not loop.first %} et {% elseif not loop.first %}, {% endif %}
                            <a target="_blank" href="{{ path('place_edit',{'slug': place.slug }) }}">{{ place.title }}</a>
                        {% endfor %}
                    </div>
                {% endif %}
                {% if claims %}
                    <div class="h6 mt-2">Vous avez demandé de modifier
                        {% for claim in claims %}
                            {% if loop.last and not loop.first %} et {% elseif not loop.first %}, {% endif %}
                            <a target="_blank" href="{{ path('place_show',{'slug': claim.slug }) }}"><u>{{ claim.title }}</u></a>
                        {% endfor %}
                        (Nous répondrons à votre demande dans les plus brefs délais)
                    </div>
                {% endif %}
            </div>
        {% endif %}
    </div>

    <div class="row">
        <h5>{{ form_label(form.organizerAffirmers) }}</h5>
        {{ form_widget(form.organizerAffirmers) }}
    </div>

    <div class="row">
        <h5>{{ form_label(form.artistAffirmers) }}</h5>
        {{ form_widget(form.artistAffirmers) }}
    </div>


    {{ form_widget(form) }}

    <button type="submit" class="btn btn-primary btn-block my-4">Enregistrer les modifications</button>
    {{ form_end(form) }}

</div>

{% endblock %}

{% block stylesheets %}
    <link rel="stylesheet" href="/css/trumbowyg.min.css">
{% endblock %}

{% block javascripts %}
<!--
    <script src="/js/trumbowyg.min.js"></script>
    <script src="/js/trumbowyg-fr.js"></script>
    <script src="/js/trumbowyg-plugin.js"></script>
    
    <script type="text/javascript" src="trumbowyg/dist/trumbowyg.min.js"></script>
    <script type="text/javascript" src="js/dist/langs/fr.min.js"></script>
    
    
    <script type="text/javascript">
        $.trumbowyg.svgPath = '/js/icons.svg';

        $('#account_presentation').trumbowyg({
            lang: 'fr',
            /**/btns: [
                ['viewHTML'],
                ['undo', 'redo'], // Only supported in Blink browsers
                ['formatting'],
                ['bold', 'italic', 'underline'], // 'strikethrough'
                //['strong', 'em', 'del'],
                //['superscript', 'subscript'],
                ['link'],
                //['insertImage'],
                ['justifyLeft', 'justifyCenter', 'justifyRight', 'justifyFull'],
                ['unorderedList', 'orderedList'],
                ['horizontalRule'],
                ['removeformat'],
                ['fullscreen']
            ]
        });

    </script>
-->
    <script>

        function localPicChange() {
            
            var localPicFiles = document.getElementById('account_avatarFile').files;

            // Get the file
            if (FileReader && localPicFiles.length == 1) {
                var fr = new FileReader();
                fr.onload = function () {
                    SetOutput(fr.result);
                };
                fr.readAsDataURL(localPicFiles[0]);
            }
        }

        function urlPicChange() {
            var urlPic = document.getElementById('urlPic').value;
            $.get(urlPic, function(data){
                    var canvas = document.createElement('CANVAS'),
            ctx = canvas.getContext('2d'),
                dataURL;
                canvas.height = this.height;
                canvas.width = this.width;
                ctx.drawImage(this, 0, 0);
                dataURL = canvas.toDataURL('image/png');
                SetOutput(dataURL);
                canvas = null;
            })
            img.src = urlPic;
            
        }

        function SetOutput(outP) {
            document.getElementById('outputPic').src = outP;
            document.getElementById('outputTxt').value = outP;
        }
    </script>

{% endblock %}