{% extends 'base.html.twig' %}

{% block title %}Inscription au site{% endblock %}

{% block body %}

<div class="container">

    <div class="text-center py-5">
        <h1 class="h3">Inscrivez-vous sur votre agenda préféré !</h1>
    </div>

    {{ form_start(form) }}
    
        <div class="row pt-4">
            <div class="col">
                <h3 class="h5">{{ form_label(form.firstName) }}</h3>
                {{ form_widget(form.firstName) }}
            </div>
            <div class="col">
                <h3 class="h5">{{ form_label(form.lastName) }}</h3>
                {{ form_widget(form.lastName) }}
            </div>
            <div class="col">
                <h3 class="h5">{{ form_label(form.email) }}</h3>
                {{ form_widget(form.email) }}
            </div>
        </div>

        <div class="row">
            <div class="col">
                <h3 class="h5">{{ form_label(form.hash) }}</h3>
                {{ form_widget(form.hash) }}
            </div>
            <div class="col">
                <h3 class="h5">{{ form_label(form.passwordConfirm) }}</h3>
                {{ form_widget(form.passwordConfirm) }}
            </div>
        </div>

        {#
        <div class="row custom-control custom-checkbox">
            <input type="checkbox" class="custom-control-input" id="condition" name="legal" value="agree">
            <label class="custom-control-label" for="condition">J'accepte les conditions générales d'utilisation</label>
        </div>
        #}
        
        <div class="row custom-control custom-checkbox">
            {{ form_widget(form.confirmConditions) }}
            {{ form_label(form.confirmConditions) }}
        </div>

        <button type="submit" class="btn btn-primary btn-block my-5">Confirmer l'inscription</button>

    {{ form_end(form) }}

    {#
    <p>
        Les informations recueillies sur ce formulaire sont enregistrées dans un fichier informatisé par [identité et coordonnées du responsable de traitement] pour [finalités du traitement]. La base légale du traitement est [base légale du traitement].<br>
        Les données collectées seront communiquées aux seuls destinataires suivants : [destinataires des données].<br>
        Les données sont conservées pendant [durée de conservation des données prévue par le responsable du traitement ou critères permettant de la déterminer].<br>
        Vous pouvez accéder aux données vous concernant, les rectifier, demander leur effacement ou exercer votre droit à la limitation du traitement de vos données. (en fonction de la base légale du traitement, mentionner également : Vous pouvez retirer à tout moment votre consentement au traitement de vos données ; Vous pouvez également vous opposer au traitement de vos données ; Vous pouvez également exercer votre droit à la portabilité de vos données)<br>
    </p>
    <p>
        Consultez le site <a target="_blank" href="https://www.cnil.fr/">cnil.fr</a> pour plus d’informations sur vos droits.<br>
        Pour exercer ces droits ou pour toute question sur le traitement de vos données dans ce dispositif, vous pouvez contacter (le cas échéant, notre délégué à la protection des données ou le service chargé de l’exercice de ces droits) : [adresse électronique, postale, coordonnées téléphoniques, etc.] <br>
        Si vous estimez, après nous avoir contactés, que vos droits « Informatique et Libertés » ne sont pas respectés, vous pouvez adresser une réclamation à la CNIL.<br>
    </p>
    #}
    
</div>


{% endblock %}