{% set week = ["dimanche","lundi","mardi","mercredi","jeudi","vendredi","samedi"] %}
{% set month = ["décembre","janvier","février","mars","avril","mai","juin","juillet","août","septembre","octobre","novembre","décembre"] %}

{% if event.dateStart == event.dateEnd %}
    {% if event.dateStart|date("Y-m-d") == "now"|date("Y-m-d") %}
        Aujourd'hui, le
    {% elseif event.dateStart|date("Y-m-d") == "tomorrow"|date("Y-m-d") %}
        Demain, le
    {% else %}
        Le
    {% endif %}
    {{ week[event.dateStart|date("w")] }}
    {{ event.dateStart|date('j') }}
    {{ month[event.dateStart|date('n')] }}
    {{ event.dateStart|date('Y') }}
{% else %}

    {% if event.precisionDate == 'DAYS_OPENING' %}
        Tous les 
        {% for day in event.choiceOfDays %}
            {% if not loop.first and loop.last %} et {% elseif not loop.first and not loop.last %}, {% endif %}{% if day == "Monday" %}lundis{% elseif day == "Tuesday" %}mardis{% elseif day == "Wednesday" %}mercredis{% elseif day == "Thursday" %}jeudis{% elseif day == "Friday" %}vendredis{% elseif day == "Saturday" %}samedis{% elseif day == "Sunday" %}dimanches{% endif %}
        {% endfor %} -
    {% endif %}

    {% if event.dateStart|date('Y') == event.dateEnd|date('Y') %}
        {% if event.dateStart|date('n') == event.dateEnd|date('n') %}
            Du
            {{ week[event.dateStart|date("w")] }}
            {{ event.dateStart|date('j') }}
            au
            {{ week[event.dateEnd|date("w")] }}
            {{ event.dateEnd|date('j') }}
            {{ month[event.dateEnd|date('n')] }}
            {{ event.dateEnd|date('Y') }}
        {% else %}
            Du
            {{ week[event.dateStart|date("w")] }}
            {{ event.dateStart|date('j') }}
            {{ month[event.dateStart|date('n')] }}
            au
            {{ week[event.dateEnd|date("w")] }}
            {{ event.dateEnd|date('j') }}
            {{ month[event.dateEnd|date('n')] }}
            {{ event.dateEnd|date('Y') }}
        {% endif %}
    {% else %}
        Du
        {{ week[event.dateStart|date("w")] }}
        {{ event.dateStart|date('j') }}
        {{ month[event.dateStart|date('n')] }}
        {{ event.dateStart|date('Y') }}
        au
        {{ week[event.dateEnd|date("w")] }}
        {{ event.dateEnd|date('j') }}
        {{ month[event.dateEnd|date('n')] }}
        {{ event.dateEnd|date('Y') }}
    {% endif %}

    {% if event.precisionDate %}
        {% if event.precisionDate == 'ALL_DAYS' %}- Ouvert tous les jours
        {% elseif event.precisionDate == 'DATES_OPENING' %}
            <br><u>Les {{ event.dateMultipleArray|length }} dates intermédiaires :</u> {{ event.dateMultiple }}
        {% endif %}
        {#% elseif event.dateOpen == 'SAME_OF_PLACE' %}- Selon les jours d'ouverture du lieu
        {% elseif event.dateOpen == 'ONE_DAY_BY_WEEK' and event.dateStart|date("w") != event.dateEnd|date("w") %}- Une fois par semaine, le même jour
        {% elseif event.dateOpen == 'ONLY_WEEKEND' %}- Uniquement les samedis et dimanches)
        {% elseif event.dateOpen == 'ONLY_THE_WEEK' %}- Uniquement en semaine (Du lundi au vendredi)
        {% endif %#}
    {% endif %}

{% endif %}


{% if event.timeStart and event.timeEnd %}
    <span>de
    {% if event.timeStart|date('i') == '00' %}
        {{ event.timeStart|date('H\\h') }} 
    {% else %}
        {{ event.timeStart|date('H\\hi') }} 
    {% endif %}
    à
    {% if event.timeEnd|date('i') == '00' %}
        {{ event.timeEnd|date('H\\h') }}
    {% else %}
        {{ event.timeEnd|date('H\\hi') }} 
    {% endif %}
    </span>
{% elseif event.timeStart %}
    <span>à partir de
    {% if event.timeStart|date('i') == '00' %}
        {{ event.timeStart|date('H\\h') }} 
    {% else %}
        {{ event.timeStart|date('H\\hi') }} 
    {% endif %}
    </span>
{% elseif event.timeEnd %}
    <span>jusqu'à
    {% if event.timeEnd|date('i') == '00' %}
        {{ event.timeEnd|date('H\\h') }} 
    {% else %}
        {{ event.timeEnd|date('H\\hi') }} 
    {% endif %}
    </span>
{% endif %}