{% if event.coverImage %}
    {% if event.coverImage starts with 'http' %}
        <img src="{{ event.coverImage }}" />
    {% else %}
        {% set imgFilter = "e/" ~ event.coverImage %}
        <img src="{{ imgFilter | imagine_filter('vignette') }}" />
    {% endif %}
{% else %}
    {% if event.rubric.slug == "concert" %}
        <img src="/uploads/common/visuel/concert.jpg" />
    {% elseif event.rubric.slug == "spectacle" %}
        <img src="/uploads/common/visuel/theatre.jpg" />
    {% elseif event.rubric.slug == "soiree" %}
        <img src="/uploads/common/visuel/dj.jpg" />
    {% elseif event.rubric.slug == "exposition" %}
        <img src="/uploads/common/visuel/exposition.jpg" />
    {% elseif event.rubric.slug == "cinema" %}
        <img src="/uploads/common/visuel/cinema.jpg" />
    {% elseif event.rubric.slug == "sport" %}
        <img src="/uploads/common/visuel/sport.jpg" />
    {% elseif event.rubric.slug == "stage" %}
        <img src="/uploads/common/visuel/reunion.jpg" />
    {% elseif event.rubric.slug == "action-citoyenne" %}
        <img src="/uploads/common/visuel/manif.jpg" />
    {% else %}
        <img src="/uploads/common/visuel/autre.jpg" />
    {% endif %}
{% endif %}