{% set month = ["déc","jan","fév","mars","avr","mai","juin","juil","août","sept","oct","nov","déc"] %}

{% if event.dateStart == event.dateEnd %}
    
    {% if event.dateStart|date("Y-m-d") == "now"|date("Y-m-d" ) or (dateSearch is defined and event.dateStart|date("Y-m-d") == dateSearch) %}
        
        {% if event.timeStart != null %}
            <div class="logoDateJour">
                {% if event.timeStart|date('i') == '00' %}
                    {{ event.timeStart|date('H\\h') }} 
                {% else %}
                    {{ event.timeStart|date('H\\hi') }} 
                {% endif %}
            </div>
        {% else %}
            <div class="logoDateJour">
                Aujourd'hui
            </div>
        {% endif %}
        
    {% else %}

        <div class="date-block">
            <div class="date-jour">{{ event.dateStart|date("j") }}</div>
            <div class="date-mois">{{ month[event.dateEnd|date("n")] }}</div>
        </div>

    {% endif %}
{% else %}
    {% if event.dateStart|date("Y-m-d") == "now"|date("Y-m-d") %}

        <div class="date-block">
            <div class="date-text">À partir</div>
            <div class="date-mois">d'aujourd'hui</div>
        </div>

    {% elseif event.dateEnd|date("Y-m-d") == "now"|date("Y-m-d") %}

        <div class="date-block">
            <div class="date-text">Dernier</div>
            <div class="date-mois">jour</div>
        </div>

    {% elseif event.dateEnd|date("Y-m-d") == "tomorrow"|date("Y-m-d") %}

        <div class="date-block">
            <div class="date-text">Termine</div>
            <div class="date-mois">demain</div>
        </div>

    {% elseif event.dateStart|date("Y-m-d") < "now"|date("Y-m-d") and event.dateEnd|date("Y-m-d") > "now"|date("Y-m-d") %}

        {% set difference = date(event.dateEnd).diff(date("now"|date("Y-m-d"))) %}
        <div class="date-block">
            <div class="date-text">Encore</div>
            <div class="date-jour">{{ difference.days }}</div>
            <div class="date-mois">jours</div>
            {#<div class="date-mois">Encore</div>
            <div class="date-text">{{ difference.days }} jours</div>#}
        </div>

    {% else %}

        <div class="date-block">
            <div class="date-jour">{{ event.dateStart|date("j") }}</div>
            <div class="date-mois">{{ month[event.dateStart|date("n")] }}</div>
        </div>
        {% set difference = date(event.dateEnd).diff(date(event.dateStart)) %}
        {% if difference.days == 1 %}
            <span class="date-separator date-separator-and">&</span>
        {% else %}
            <span class="date-separator date-separator-cross"></span>
        {% endif %}
        <div class="date-block">
            <div class="date-jour">{{ event.dateEnd|date("j") }}</div>
            <div class="date-mois">{{ month[event.dateEnd|date("n")] }}</div>
        </div>

    {% endif %}
{% endif %}
