{% if event.precisionPrice == 'MORE' %}
    <i class="fa fa-credit-card fa-lg"></i>
    Plus de 20 Euros
{% elseif event.precisionPrice == 'FREE' %}
    <i class="fa fa-thumbs-up fa-lg"></i>
    Entrée libre
{% elseif event.precisionPrice == 'AWARE' %}
    <i class="fa fa-thumbs-up fa-lg"></i>
    Prix libre
{% else %}
    {% if event.price is null %}
        <i class="fa fa-question-circle fa-lg"></i>
        Tarif non communiqué
    {% else %}
        {% if event.price > 10 %}
            <i class="fa fa-credit-card fa-lg"></i>
        {% else %}
            <i class="fa fa-money fa-lg"></i>
        {% endif %}
        {{ event.price | number_format(2, ',') | replace({',00': '' }) }} 
        {% if event.price < 2 %}Euro{% else %}Euros{% endif %}
    {% endif %}
{% endif %}