<div class="widget">

    <div class="widget-title" type="button" data-toggle="collapse" data-target="#collapseSuggestion" aria-expanded="false" aria-controls="collapseSuggestion">Filtrer par catégorie</div>

    <div class="category-filter collapse show show-md" id="collapseSuggestion">
        {% for button in widget.suggestion.buttons %}
                <a href="{{ path( widget.suggestion.route ,{'slug':button.slug}) }}">{{ button.name }}<span>{{ button.countOfEvents }}</span></a>
        {% endfor %}
        <div style="display: inline-block; width:90%; "></div>
    </div>
</div>