{% block _event_images_widget %}
    {{ form_widget(form) }}
    <input type="hidden" id="widgets-counter-image" value="0">
    <div class="form-group">
        <button type="button" id="add-image" class="btn btn-secondary btn-block">Ajouter une image</button>
    </div>
{% endblock %}

{% block _event_images_entry_row %}
    {{ form_widget(form) }}
{% endblock %}

{% block _event_images_entry_widget %}
    <div class="form-group" id="block_image_{{id}}">
        <div class="row collection-row">
            <div class="col-10 px-0">
                <div class="row">
                    {% if form.vars.data.url|default %}
                        <div class="col">
                            {% if form.vars.data.url starts with 'http' %}
                                <img class="images-preview" src="{{ form.vars.data.url }}" />
                            {% else %}
                                <img class="images-preview" src="/uploads/evenements/{{ form.vars.data.url }}" />
                            {% endif %}
                        </div>
                    {% else %}
                        <div class="col">
                            {{ form_widget(form.imageFile) }}
                            <img id="preview_{{id}}" class="images-preview" >
                        </div>
                        {#<input type="file" name="img[]" class="input-file-hidden" accept="image/*">#}
                        {#<button type="button" class="browse_{{id}} btn btn-primary">Ajouter</button>#}
                        {#<input type="text" class="form-file-name" placeholder="Aucune image sélectionnée" id="file_{{id}}" disabled>#}
                    
                    {% endif %}
                    <div class="col px-0">
                        {{ form_widget(form.caption) }}
                    </div>
                </div>
            </div>
            <div class="col">
                <button type="button" data-action="delete" data-target="#block_image_{{id}}" class="btn btn-danger btn-block">X</button>
            </div>
        </div>

        <script>
            $(document).on("click", ".browse_{{id}}", function () {
                var file = $(this).parents().find("#block_image_{{id}} .input-file-hidden");
                file.trigger("click");
            });

            $('#block_image_{{id}} .input-file-hidden').change(function (e) {
                var fileName = e.target.files[0].name;
                $("#file_{{id}}").val(fileName);

                var reader = new FileReader();
                reader.onload = function (e) {
                    // get loaded data and render thumbnail.
                    document.getElementById("preview_{{id}}").src = e.target.result;
                };
                // read the image file as a data URL.
                reader.readAsDataURL(this.files[0]);
            });
        </script>
    </div>

{% endblock %}


{% block _event_videos_widget %}
    {{ form_widget(form) }}
    <input type="hidden" id="widgets-counter-video" value="0">
    <div class="form-group mb-0">
        <button type="button" id="add-video" class="btn btn-secondary btn-block">Ajouter une vidéo</button>
    </div>
{% endblock %}

{% block _event_videos_entry_row %}
    {{ form_widget(form) }}
{% endblock %}

{% block _event_videos_entry_widget %}
    <div class="form-group" id="block_video_{{id}}">
        <div class="row collection-row">
            {#
            <div class="col-3 pr-0">
                {{ form_widget(form.caption) }}
            </div> 
            <button type="button" class="col-2 px-0 mb-1 btn-sm btn btn-secondary searchBtn" id="search-button" onclick="keyWordsearch()" >Rechercher</button>
            #}
            <div class="col pr-0">
                {{ form_widget(form.url) }}
            </div>
            <div class="col-2">
                <button type="button" class="btn btn-danger btn-block" data-action="delete" data-target="#block_video_{{id}}">X</button>
            </div>
            
            <div class="loader"></div>
            <div id="results_{{id}}" class="row m-0"></div>

        </div>
        {#
        <div>
        <input type="radio" id="huey" name="drone" value="huey">
        <label for="huey">Huey</label>
        </div>

        <div>
        <input type="radio" id="dewey" name="drone" value="dewey">
        <label for="dewey">Dewey</label>
        </div>

        <div>
        <input type="radio" id="louie" name="drone" value="louie">
        <label for="louie">Louie</label>
        </div>

        <div class="row m-0">
            <div class="col-12 pb-4 pl-4">
                <button type="button" id="prev_{{id}}" onclick="prevB()" class="btn btn-danger">Précédent</button>
                <button type="button" id="next_{{id}}" onclick="nextB()" class="btn btn-danger">Suivant</button>
            </div>
        </div>
#}
        <script>

            $('body').on('click','.{{id}}_inject_url',function(){
                var textValue = $("input[type='radio'].{{id}}_inject_url:checked").val();
                $('#{{id}}_url').val(textValue)       
            });

            function makeRequest(page) {

                var q = $('#{{id}}_caption').val();
                var request = gapi.client.youtube.search.list({
                    q: q,
                    part: 'snippet',
                    maxResults: 3,
                    pageToken: page
                });


                request.execute(function(response)  {

                    var nextpage = response.nextPageToken;
                    var prevpage = response.prevPageToken;

                    $("#prev_{{id}}").click(function(){
                        $(".loader").show();
                        makeRequest(prevpage);
                        $("body").scrollTop(0);
                        $(".loader").fadeOut("slow");

                    });
                    $("#next_{{id}}").click(function(){
                        $(".loader").show();
                        makeRequest(nextpage);
                        $("body").scrollTop(0);
                        $(".loader").fadeOut("slow");
                    });


                    $('#results_{{id}}').empty();
                    var srchItems = response.result.items;

                    $.each(srchItems, function(index, item) {
                        
                        vidTitle = item.snippet.title;
                        vidId = item.id.videoId;
                        vidDescription = item.snippet.description;
                        console.log(response);
                        $('#results_{{id}}').append('<div class="col-md-4 pt-3"><input type="radio" id="video_'+ vidId +'" class="{{id}}_inject_url" name="suggestion_{{id}}" value="https://www.youtube.com/watch?v='+ vidId +'"> <label for="video_'+ vidId +'"> Choisir cette vidéo</label><div class="card"><div class="card-image"><div class="embed-responsive embed-responsive-16by9"><iframe src="https://www.youtube.com/embed/'+ vidId +'" frameborder="0" allowfullscreen></iframe></div></div><div class="card-body"><span class="card-title h5 mb-1">'+ vidTitle + '</span><p>'+ vidDescription +'</p></div></div></div>');
                        
                        /*
                        if (vidId == "undefined"){
                            $('#results_{{id}}').append('');
                        } else {
                            $('#results_{{id}}').append('<div class="col-md-4 pt-3"><input type="radio" id="video_'+ vidId +'" class="{{id}}_inject_url" name="suggestion_{{id}}" value="https://www.youtube.com/embed/'+ vidId +'"> <label for="video_'+ vidId +'"> Choisir cette vidéo</label><div class="card"><div class="card-image"><div class="embed-responsive embed-responsive-16by9"><iframe src="https://www.youtube.com/embed/'+ vidId +'" frameborder="0" allowfullscreen></iframe></div></div><div class="card-body"><span class="card-title h5 mb-1">'+ vidTitle + '</span><p>'+ vidDescription +'</p></div></div></div>');
                        }
                        */
                        setTimeout(function(){ $(".loader").fadeOut("fast"); }, 1000);
                        //$('#results').append('<div class="col-4"> <div class="embed-responsive embed-responsive-16by9"> <iframe class="embed-responsive-item" src="https://www.youtube.com/embed/'+vidId +'"</iframe></div><h5 class="title">'+vidTitle + '</h5> <h6 class="descript">'+'Description:  <br/>'+vidDescription +'</h6></div>');
                        //$(".nextpr").css('display', 'inline');

                    })
                });


            }

        </script>

    </div>
{% endblock %}


{% block _event_prices_widget %}
    {{ form_widget(form) }}
    <input type="hidden" id="widgets-counter-price" value="0">
    <div class="form-group mb-0">
        <button type="button" id="add-price" class="btn btn-secondary btn-block">Ajouter une réduction</button>
    </div>
{% endblock %}

{% block _event_prices_entry_row %}
    {{ form_widget(form) }}
{% endblock %}

{% block _event_prices_entry_widget %}
    <div class="form-group" id="block_price_{{id}}">
        <div class="row collection-row py-3">
            <div class="row p-0 m-0">
                <div class="col-9 pr-0 mr-0">
                    <div class="row block-border">
                        <div class="col p-0 m-0">{{ form_widget(form.price,{ 'attr' : { 'placeholder': 'Prix ...', 'style':'text-align:center;border:none'} }) }}</div>
                        {{ form_label(form.price, null, {'label_attr': {'class': 'col-3 h5 m-0 bg-white','style':'padding-top:16px;text-align:center'}}) }}
                    </div>
                    {#
                    <div class="row p-0 m-0">
                        <div class="col-8 p-0 m-0">{{ form_widget(form.price, {'attr': {'style': 'text-align:right'}}) }}</div>
                        <div class="col-4 h5 m-0 bg-white text-center" style="padding-top:14px">€</div>
                    </div>
                    #}
                </div>
                <div class="col-2 mt-1 text-right">
                    <button type="button" data-action="delete" data-target="#block_price_{{id}}" class="btn btn-danger btn-sm"><i class="fa fa-trash fa-lg"></i></button>
                </div>
                
            </div>

            {#
            concernant {{ form.reductions.vars.data | length }} réductions :
            {% for reduction in form.reductions.vars.data %}
                <h5>{{ reduction.title }}</h5>
            {% endfor %}
            #}


            <div id="blockReductionAlert_{{id}}" class="alert alert-danger m-3 h4" style="display:none">
                Attention, ceci n'est pas un nombre !
            </div>

            <div class="block-reductions col-12 mt-2 mb-1" id="blockReduction_{{id}}" {% if form.reductions.vars.data|length == 0 %}style="display:none"{% endif %}>
                {{ form_widget(form.reductions) }}
            </div>
            {#
            <div class="col-8 pr-0">
                {{ form_widget(form.price) }}
            </div>
            <div class="col">
                <button type="button" data-action="delete" data-target="#block_price_{{id}}" class="btn btn-danger btn-block">X</button>
            </div>
            #}
        </div>

        <script>
            

            $('#{{id}}_price').on('input', function() {

                if ($(this).val() == ""){
                    $("#blockReduction_{{id}}").hide();
                    $("#blockReductionAlert_{{id}}").hide();
                } else if ($.isNumeric($(this).val())){
                    $("#blockReduction_{{id}}").show();
                    $("#blockReductionAlert_{{id}}").hide();
                } else {
                    $("#blockReduction_{{id}}").hide();
                    $("#blockReductionAlert_{{id}}").show();
                }
            });

        </script>

    </div>
{% endblock %}


{% block _event_tickets_widget %}
    {{ form_widget(form) }}
    <input type="hidden" id="widgets-counter-ticket" value="0">
    <div class="form-group mb-0">
        <button type="button" id="add-ticket" class="btn btn-secondary btn-block">Ajouter une réservation</button>
    </div>
{% endblock %}

{% block _event_tickets_entry_row %}
    {{ form_widget(form) }}
{% endblock %}

{% block _event_tickets_entry_widget %}
    <div class="form-group" id="block_ticket_{{id}}">
        <div class="row collection-row py-3">
            {#{ dump(form.ticketing.vars.data) }#}
            {% if form.ticketing.vars.data %}
                <div class="col-6 pr-2">
                    {{ form_widget(form.ticketing,{ 'attr' : { 'style':'display:none'} }) }}
                    <a href="{{ form.vars.data.url }}" target="_blank"><input type="text" class="form-control text-center" value="{{ form.ticketing.vars.data.name }}" disabled></a>
                </div>
                <div class="col-3 pr-1 pl-0 m-0">
                    <div class="row block-border">
                        <div class="col-7 p-0 m-0">{{ form_widget(form.price,{ 'attr' : { 'placeholder': 'Prix ...', 'style':'text-align:right;padding-left:5px;padding-right:5px;border:none'} }) }}</div>
                        {{ form_label(form.price, null, {'label_attr': {'class': 'col h5 m-0 bg-white','style':'padding:16px 0 0 5px; width:20px'}}) }}
                    </div>
                </div>
                <div class="col-2 ml-2 mt-1 p-0">
                    <button type="button" data-action="delete" data-target="#block_ticket_{{id}}" class="btn btn-danger btn-sm btn-block"><i class="fa fa-trash fa-lg"></i></button>
                </div>
                <div id="block_information_{{id}}" class="col-9 mt-2 pr-1">
                    {{ form_widget(form.information) }}
                </div>
                <div class="col-2 pt-1 mt-2 ml-2 px-0">
                    <a class="btn btn-warning btn-sm btn-block" href="{{ form.vars.data.url }}" target="_blank"><i class="fa fa-link fa-lg"></i></a>
                </div>
                {{ form_widget(form.url,{ 'attr' : { 'style':'display:none'} }) }}
            {% else %}
                <div class="row w-100">
                    <div class="col pr-0">
                        {{ form_widget(form.url,{ 'attr' : { 'class':'pr-1'} }) }}
                    </div>
                    <div class="col-3 mt-1">
                        <button type="button" data-action="delete" data-target="#block_ticket_{{id}}" class="btn btn-danger btn-sm"><i class="fa fa-trash fa-lg"></i></button>
                    </div>
                </div>
                <div id="block_alert_bad_link_{{id}}" class="alert alert-warning mx-3 mt-2 mb-0 p-1" style="display:none;"> 
                    Attention, le lien n'est pas correct&nbsp;!<br>Il doit commencer par "https://"
                </div>
                <div id="block_alert_email_{{id}}" class="alert alert-warning mx-3 mt-2 mb-0 p-1" style="display:none;"> 
                    Ne pas indiquer d'adresse email&nbsp;!<br>Uniquement le lien internet...
                </div>
                <div id="block_information_{{id}}" class="row mt-2 mx-0 p-0" style="display:none;">
                    <div class="col-4 pr-1">
                        <div class="row block-border">
                            <div class="col-7 p-0 m-0">{{ form_widget(form.price,{ 'attr' : { 'placeholder': 'Prix ...', 'style':'text-align:right;padding-left:5px;padding-right:5px;border:none'} }) }}</div>
                            {{ form_label(form.price, null, {'label_attr': {'class': 'col h5 m-0 bg-white','style':'padding:16px 0 0; text-align:center'}}) }}
                        </div>
                    </div>
                    <div class="col pl-1">
                        {{ form_widget(form.information) }}
                    </div>
                </div>
            {% endif %}
        </div>
    </div>

    <script>
            
        $('#{{id}}_url').on('input', function()
        {
            if ($(this).val().length > 8)
            {
                var url_split = $(this).val().split('://');
                if ($(this).val().includes("@"))
                {
                    $("#block_information_{{id}}").hide();
                    $("#block_alert_bad_link_{{id}}").hide();
                    $("#block_alert_email_{{id}}").show();
                }
                else if (url_split[0] == "http" || url_split[0] == "https")
                {
                    $("#block_information_{{id}}").show();
                    $("#block_alert_bad_link_{{id}}").hide();
                    $("#block_alert_email_{{id}}").hide();
                } 
                else 
                {
                    $("#block_information_{{id}}").hide();
                    $("#block_alert_bad_link_{{id}}").show();
                    $("#block_alert_email_{{id}}").hide();
                }
            } 
            else {
                $("#block_information_{{id}}").hide();
                $("#block_alert_bad_link_{{id}}").hide();
                $("#block_alert_email_{{id}}").hide();
            }
        });

    </script>

{% endblock %}

{% block _event_links_widget %}
    {{ form_widget(form) }}
    <input type="hidden" id="widgets-counter-link" value="0">
    <div class="form-group m-0 text-center button-add">
        <button type="button" id="add-link" class="btn btn-secondary btn-block">Ajouter un lien</button>
    </div>
{% endblock %}

{% block _event_links_entry_row %}
    {{ form_widget(form) }}
{% endblock %}

{% block _event_links_entry_widget %}
    <div class="form-group" id="block_link_{{id}}">
        <div class="row collection-row px-3">
            <div class="col-10 px-0">
                <div class="row m-0">
                    <div class="col px-0">
                        {{ form_widget(form, { 'attr': {'placeholder': "https://..."} }) }}
                    </div>
                </div>
            </div>
            <div class="col-2 pr-0">
                <button type="button" data-action="delete" data-target="#block_link_{{id}}" class="btn btn-danger btn-block">X</button>
            </div>
        </div>
    </div>
{% endblock %}