
{% set url = path('event_show',{'slug': event.slug }) %}



<div class="sortie-bloc {% if not event.sameDateTime or loop.first %}separator{% endif %}">
        
      
<div class="item" itemscope itemtype="https://schema.org/Event">


    <div class="block-visual">
        {% if not event.sameDateTime or loop.first %}
            <div class="logo-date">
                {% include 'event/__logodate.html.twig' %}
            </div>
        {% endif %}

        
        {#
        <div class="logoDate">
            <div class="bloclogoDate">
                <div class="logoDateJour">4</div>
                <div class="logoDateMois">Oct</div>
            </div>
            <div class="bloclogoDate" id="blocSeparateur"></div>
            <div class="bloclogoDate">
                <div class="logoDateJour">6</div>
                <div class="logoDateMois">Oct</div>
            </div>
        </div>
        #}

        <div class="pr-1">
            {% if event.rubric.name == "Autre" and event.category|length > 0 %}
                {# Ne pas afficher la rubrique autre s'il y a au moins une categorie #}
            {% else %}
                <a class="block-rubric color-{{event.rubric.color}}" href="{{ path('events_by_rubric', {'slug': event.rubric.slug }) }}">{{ event.rubric.name|lower }}</a>
            {% endif %}
            {% for category in event.category %}
                <a class="block-rubric color-{{event.rubric.color}}" href="{{ path('events_by_category', {'slug': category.slug }) }}">{{ category.name }}</a> 
            {% endfor %}
        </div>

        <div class="block-image">
            <a href="{{ url }}">

                <div class="img-blur">
                    {% include 'event/__image.html.twig' %} 
                </div>
                <div itemprop="image" class="img-contain">
                   {% include 'event/__image.html.twig' %}
                </div>

            </a>
            {#
            <a href="{{ path('event_like',{'id': event.id}) }}" class="block-favorite js-like">
                
                {% if app.user and event.isLikedByUser(app.user) %}
                    <span class="js-label">Retirer des favoris</span>
                    <i class="fa fa-heart"></i>
                {% else %}
                    <span class="js-label">Ajouter aux favoris</span>
                    <i class="fa fa-star"></i>
                {% endif %}
                <span class="js-likes">{% if event.eventLikes|length > 0 %}{{ event.eventLikes|length }}{% endif %}</span>
            </a>
            #}
        </div>
        <div class="shape shape-right shape-fluid-y svg-shim text-white d-none d-md-block">
            <svg viewBox="0 0 112 690" fill="none" xmlns="http://www.w3.org/2000/svg"><path d="M116 0H51v172C76 384 0 517 0 517v173h116V0z" fill="currentColor"></path></svg>
        </div>
    </div>

    <div class="details">
    
        {#{ dump(event) }#}
        <div class="block-date">
            {{ datePrimary(event) | raw }}
            {#% include 'event/__date.html.twig' %#}
            <meta itemprop="startDate" content="{{ event.dateStart|date("Y-m-d") }}T00:00">
            {% if event.isCanceled == true %}<del>{% endif %}
            {#% if event.dateText.primary is defined %}{{ event.dateText.primary | raw }}{% endif %#}
            {#{ event.dateText.secondary|raw }#}
            {% if event.isCanceled == true %}</del>{% endif %}
            {% if app.request.attributes.get('_route') == "events_validator" %}
                - Publié 
                {% if event.createdAt|date("Y-m-d") == "now"|date("Y-m-d") %}
                    aujourd'hui à {{ event.createdAt|date("H:i") }}
                {% elseif event.createdAt|date("Y-m-d") == "yesterday"|date("Y-m-d") %}
                    hier à {{ event.createdAt|date("H:i") }}
                {% else %}
                    le {{ event.createdAt|date("d/m/Y à H:i") }}
                {% endif %}
                par 
                {% if event.author != NULL %}
                    <a href="{{ path('user_show', {'slug': event.author.slug}) }}">{{ event.author.fullname }}</a>
                {% else %}
                    un anonyme
                {% endif %}
            {% endif %}
        </div>

        <a href="{{ url }}" itemprop="url">
            {% if event.isSpam == true %}<div class="mb-2 text-danger">Cet évènement est un spam</div>
            {% elseif event.isPostponed %}<div class="mb-2 text-danger">Cet évènement est reporté</div>
            {% elseif event.isCanceled %}<div class="mb-2 text-danger">Cet évènement est annulé</div>
            {% elseif event.isFull %}<div class="mb-2 text-danger">Cet évènement est complet</div>
            {% elseif event.isPublished == false %}<div class="mb-2 text-danger">Brouillon non répertorié</div>
            {% elseif event.isValidated == false %}<div class="mb-2 text-danger">En attente de validation</div>
            {% endif %}
            <h5 itemprop="name">{{ event.title }}</h5>
        </a>

        <div class="block-detail">

            <div class="button-detail" href="{{ url }}" itemprop="location" itemscope itemtype="https://schema.org/Place">
                {% if event.place %}
                    <a href="{{ path('place_show',{'slug': event.place.slug }) }}"><i class="fa fa-map-marker fa-lg"></i> {{ event.place.title }}</a>,
                    {% if event.rooms %}{{ event.rooms.name }}, {% endif %}
                    <a href="{{ path('search_by_city',{'slug': event.place.city.slug }) }}" itemprop="address" itemscope itemtype="https://schema.org/PostalAddress"><span itemprop="addressLocality">{{ event.place.city.name }}</span></a>
                {% else %}
                    <i class="fa fa-map-marker fa-lg"></i>
                    {{ event.placeTemporary }},
                    <a href="{{ path('search_by_city',{'slug': event.city.slug }) }}" itemprop="address" itemscope itemtype="https://schema.org/PostalAddress"><span itemprop="addressLocality">{{ event.city.name }}</span></a>
                {% endif %}
            </div>
            
            {% if event.isFull != true and event.isCanceled != true %}
                <div class="button-detail">
                    {% include 'event/__price.html.twig' %}
                </div>
                {#% for price in event.prices %}
                   {{ dump(price) }}
                    
                    {% if price.reductions.slug == app.request.attributes.get('slug') %}
                        <div class="button-detail">
                            <a href="{{ path('events_by_reduction', {'slug': price.reduction.slug }) }}">
                                <i class="fa fa-gift fa-lg"></i>
                                {{ price.price }} € avec {{ price.reduction.title }}
                            </a>
                        </div>
                    {% endif %} 
                {% endfor %#}
            {% endif %}

            {% if event.festival %}
                <div class="button-detail">
                    <a href="{{ path('festival_show',{'slug': event.festival.slug }) }}">
                        <i class="fa fa-flag fa-lg"></i>
                        {{ event.festival.title }}
                    </a>
                </div>
            {% endif %}

            {% if event.isFull != true and event.isCanceled != true %}
                {% if event.tickets|length == 1 %}
                    {% for ticket in event.tickets %}
                        <div class="button-ticket">
                            <a class="btn btn-secondary" target="_blank" href="{{ path('redirect_ticket',{'slug': event.slug, 'id': ticket.id }) }}">Réserver sur {{ ticket.ticketing.domain }}</a>
                        </div>
                    {% endfor %}
                {% elseif event.tickets|length > 1 %}
                    <div class="dropdown button-ticket">
                        <a class="btn btn-secondary" id="dropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                            Réservation
                        </a>
                        <div class="dropdown-menu dropdown-menu-right" aria-labelledby="dropdownMenuLink">
                            {% for ticket in event.tickets %}
                                <a class="dropdown-item" target="_blank" href="{{ path('redirect_ticket',{'slug': event.slug, 'id': ticket.id }) }}">{{ ticket.ticketing.name }} pour {{ ticket.price|replace({'.00': ''}) }} €</a>
                            {% endfor %}
                        </div>
                    </div>
                {% endif %}
            {% endif %}

            {% if app.request.attributes.get('_route') == "events_validator" %}
                <div class="btn-group float-right mt-2" style="border: 1px #d3d3d3 solid;" role="group" aria-label="boutons validation">
                    <a class="btn btn-secondary px-3" href="{{ path('event_edit',{'slug': event.slug }) }}">Modifié</a>
                    {% if app.request.query.get('menu') == null %}
                        <a class="btn btn-secondary px-3" href="{{ path('event_validation',{'slug': event.slug }) }}">Accepté</a>
                        <div class="dropdown show">
                            <a class="btn btn-secondary px-3" id="dropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                Refusé
                            </a>
                            <div class="dropdown-menu dropdown-menu-right" aria-labelledby="dropdownMenuLink">
                                <a class="dropdown-item" href="{{ path('event_signalisation',{'slug': event.slug, 'error':'spam' }) }}">Spam</a>
                                <a class="dropdown-item" href="{{ path('event_signalisation',{'slug': event.slug, 'error':'doublon' }) }}">Doublon</a>
                                <a class="dropdown-item" href="{{ path('event_signalisation',{'slug': event.slug, 'error':'erreur' }) }}">Erreur</a>
                            </div>
                        </div>
                    {% endif %}
                </div>
            {% endif %}
        </div>

    </div>
</div>
</div>
