<div class="blocImageGenerateur blockForm">
    <h4 class="form-title">{{ form_label(form.coverImageFile) }}</h4>
    <div class="blocAnnonceImage">
        {{ form_widget(form.coverImageFile) }}

        {% set coverImage = form.vars.value.coverImage %}
        {% if coverImage %}
            {% if coverImage starts with 'http' %}
                <img id="outputPic" src="{{ coverImage }}"/>
            {% else %}
                <img id="outputPic" src="/img/e/{{ coverImage }}"/>
            {% endif %}
        {% else %}
            <img id="outputPic" src="/uploads/common/curieux/formulaire-default.png"/>
        {% endif %}

    </div>
</div>

<div class="blocFormulaireTitre blockForm">
    <h4 class="form-title">{{ form_label(form.title) }}</h4>
    <div id="blocTitre">
        {{ form_widget(form.title, {"attr":{"class":"form-primary"}}) }}
    </div>
    <br>
</div>

<div class="blockDate blockForm{% if form.dateStart.vars.data is empty and form.timeStart.vars.data is empty %} py-4{% endif %}">

    <div class="formDate">
        <h4 class="form-title">{{ form_label(form.dateStart) }}</h4>

        {% for error in form.dateEnd.vars.errors %}
            <div class="alert alert-danger">{{ error.message }}</div>
        {% endfor %}

        {{ form_widget(form.dateStart, {"attr":{"class":"form-primary"}}) }}

        {% if form.dateStart.vars.data == form.dateEnd.vars.data or form.dateEnd.vars.data == null %}

            <button type="button" class="btn btn-secondary btn-block boutonAfficheFin mt-2 block-border" id="boutonDateFin"{% if form.dateStart.vars.data is empty %} style="display:none"{% endif %}>Sur plusieurs jours</button>

            <div id="blocDateFin" class="blocDateFin" style="display:none">

                <h4 class="form-title pt-2">{{ form_label(form.dateEnd) }}</h4>
                {{ form_widget(form.dateEnd, {"attr":{"class":"form-primary"}}) }}
                {{ form_widget(form.precisionDate, {"attr":{"class":"mt-2 block-border"}}) }}
                {{ form_widget(form.dateMultiple, {"attr":{"style":"display:none", "class":"mt-2 block-border"}}) }}
                <div id="block_choiceOfDays" class="mt-2 block-border" style="display:none">
                    {{ form_widget(form.choiceOfDays) }}
                </div>
            </div>
        {% else %}
            <div class="blocDateFin">
                <h4 class="form-title">jusqu'au</h4>
                {{ form_widget(form.dateEnd, {"attr":{"class":"form-primary"}}) }}
                {{ form_widget(form.precisionDate, {"attr":{"class":"mt-2 block-border"}}) }}
                {% if form.precisionDate.vars.data == 'DATES_OPENING' %}
                    {{ form_widget(form.dateMultiple, {"attr":{"class":"mt-2 block-border"}}) }}
                {% else %}
                    {{ form_widget(form.dateMultiple, {"attr":{"style":"display:none"}}) }}
                {% endif %}
                <div id="block_choiceOfDays" class="mt-2 block-border" {% if form.precisionDate.vars.data != 'DAYS_OPENING' %}style="display:none"{% endif %}>
                    {{ form_widget(form.choiceOfDays) }}
                </div>
            </div>
        {% endif %}

    </div>

    <div class="formDate">
        <div id="blocTitreDate">
            <h4 class="form-title">{{ form_label(form.timeStart) }}</h4>
        </div>
        {{ form_widget(form.timeStart, {"attr":{"class":"form-primary pl-5"}}) }}

        {% if form.timeEnd.vars.data is empty %}
            <span class="bouton" id="bouton_blockTimeEnd" {% if form.timeStart.vars.data is empty %}style="display:none"{% endif %}><button type="button" class="btn btn-secondary btn-block boutonAfficheFin mt-2 block-border" id="boutonTimeEnd" >Ajouter l'horaire de fin</button></span>
            <div id="blockTimeEnd" class="blockTimeEnd" style="display:none">
                <h4 class="form-title pt-2">{{ form_label(form.timeEnd) }}</h4>
                {{ form_widget(form.timeEnd, {"attr":{"class":"form-primary pl-5"}}) }}
            </div>
        {% else %}
            <h4 class="form-title pt-2">{{ form_label(form.timeEnd) }}</h4>
            <div class="blockTimeEnd">
                {{ form_widget(form.timeEnd, {"attr":{"class":"form-primary pl-5"}}) }}
            </div>
        {% endif %}

    </div>
</div>

<div class="blocFormulaireDetail blockForm">

    <div id="choisir-un-lieu" class="blocDetail">
        <h4 class="form-title">{{ form_label(form.place) }}</h4>

        {#% if suggestions.places %}
            <div class="alert block-border alert alert-secondary">
                <div class="h5 text-center">Choisir le lieu correspondant</div>
                {% for place in suggestions.places %}
                    <div class="form-check mt-3">
                        <input class="form-check-input" type="radio" name="flexRadioDefault" id="placeRadio{{ place.id }}">
                        <label class="form-check-label" for="placeRadio{{  place.id }}">
                            <b>{{  place.title }}</b>
                            <div>{{  place.number }} {{  place.address }}</div>
                        </label>
                    </div>
                {% endfor %}
                <div class="form-check mt-3">
                    <input class="form-check-input" type="radio" name="flexRadioDefault" id="noMatch">
                    <label class="form-check-label" for="noMatch">
                        <b>Aucun lieu ne correspond</b>
                        <div>Un nouveau lieu sera ajouté dans l'annuaire</div>
                    </label>
                </div>
            </div>
        {% endif %#}

        {{ form_widget(form.place) }}
        {#{ form_widget(form.rooms, {"attr" :{"class":"mt-2","style" :"display:none"}}) }#}

        {% if form.rooms.vars.choices|length == 0 %}
            {{ form_widget(form.rooms, {"attr" :{"class":"mt-2","style" :"display:none"}}) }}
        {% else %}
            {{ form_widget(form.rooms, {"attr" :{"class":"mt-2"}}) }}
        {% endif %}

        {#% if form.rooms is defined %}
            {% if form.rooms.vars.choices|length == 0 %}
                <div class="d-none">
                    {{ form_widget(form.rooms) }}
                </div>
            {% else %}
                {{ form_widget(form.rooms, {"attr" :{"class":"mt-2"}}) }}
            {% endif %}
        {% endif %#}
        <div class="block-city mt-2" {% if form.city.vars.data == NULL %}style="display:none;"{% endif %}>
        {#% if form.place.vars.data == NULL or (form.place.vars.data and form.place.vars.data.id) %}style="display:none;"{% endif %#}

            {{ form_widget(form.city) }}
            {#
            <a target="_blank" href="{{ path('place_create') }}">
                <button type="button" class="btn btn-secondary btn-block">Ajouter un lieu à l'annuaire</button>
            </a>
            <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#modal-place">Ajouter un lieu</button>
            #}
        </div>

        <div id="form-address" {% if form.city.vars.data == NULL %}style="display:none;"{% endif %}>
            {#
            <div class="mt-3 text-center h5"><u>FACULTATIF :</u></div>
            <div class="my-2 pb-2  text-center h6">Créer une page dédiée au lieu</div>
            #}
            <div class="block-address mt-2 alert alert-secondary text-center" >
                <div class="py-1 h5">Ajouter ce lieu dans l'annuaire</div>
                {{ form_widget(form.address) }}
            </div>

        </div>

    </div>

    <div class="block-cat blocDetail">
        <h4 class="form-title">{{ form_label(form.rubric) }}</h4>
        {{ form_widget(form.rubric) }}
        <div class="blocSubDetail" {% if form.rubric.vars.data is null %}style="display:none;"{% endif %}>

            {% for rubric in suggestion %}
                <div id="suggestion_{{ rubric.slug }}" class="my-2" {% if form.vars.value.rubric != rubric %}style="display:none"{% endif %}>
                    {% for category in rubric.category %}
                        <button data-id="{{ category.id }}" data-text="{{ category.name }}" class="btn btn-sm btn-secondary py-1 px-2 mt-2" style="font-size:10px" type="button" ><i class="icon-plus"></i>{{ category.name }}</button>
                    {% endfor %}
                </div>
            {% endfor %}

            {{ form_widget(form.category) }}
        </div>
    </div>

    <div class="blocDetail">

        <h4 class="form-title">{{ form_label(form.precisionPrice) }}</h4>
        {{ form_widget(form.precisionPrice) }}
        {% set price = form.price.vars.data %}
        {% set precisionPrice = form.precisionPrice.vars.data %}

        <div id="show_price" class="row mt-3 mx-4 mb-0" {% if precisionPrice != 'PAYING' %}style="display:none"{% endif %} >

            <div id="input_price" class="block-price" {% if form.more.vars.data %}style="display:none"{% endif %}>
                <div class="row block-border my-0">
                    <div class="col p-0 m-0">{{ form_widget(form.price,{ 'attr' : { 'placeholder': 'Prix ...', 'style':'text-align:center;border:none'} }) }}</div>
                    {{ form_label(form.price, null, {'label_attr': {'class': 'col-3 h5 m-0 bg-white','style':'text-align:center;padding-top:16px'}}) }}
                </div>
            </div>
            <div id="checkbox_price" class="funkyradio">
                {{ form_widget(form.more) }}
            </div>
            {#
            <div id="checkbox_price" class="funkyradio">
                <input type="checkbox" id="scales" name="more">
                <label for="scales" class="color">Je ne connais pas exactement le tarif sur place, mais c'est plus de 20 Euros !</label>
            </div>
            #}
        </div>
        <div id="show_prices" class="block-border mt-3" {% if form.precisionPrice.vars.data is null or form.precisionPrice.vars.data == "FREE" or form.precisionPrice.vars.data == "AWARE" %}style="display:none;"{% endif %}>
            {{ form_widget(form.prices, {'attr': {'class': 'collection'}}) }}
        </div>
        <div id="show_tickets" class="block-border mt-2" {% if form.precisionPrice.vars.data is null %}style="display:none;"{% endif %}>
            {{ form_widget(form.tickets, {'attr': {'class': 'collection'}}) }}
        </div>
    </div>

</div>

<div class="blocDescription">
    <h4 class="form-title">{{ form_label(form.description) }}</h4>
    {{ form_widget(form.description) }}
</div>

<div id="complementInfo" class="complement-info">

    <div class="text-center pt-5">
        <h3><u>Informations complémentaires et facultatives</u></h3>
    </div>

    <div class="blocFormulaireDetail">

        <div class="blocDetail">
            <h4 class="form-title">{{ form_label(form.artists) }}</h4>
            {{ form_widget(form.artists) }}
        </div>

        <div class="blocDetail">
            <h4 class="form-title">{{ form_label(form.organizer) }}</h4>
            {{ form_widget(form.organizer) }}
        </div>

        <div class="blocDetail">
            <h4 class="form-title">{{ form_label(form.festival) }}</h4>
            {{ form_widget(form.festival) }}
        </div>

    </div>

    <div style="clear:both;"></div>

    <div class="blocDetail block-more">
        {{ form_widget(form.links, {'attr': {'class': 'collection'}}) }}
    </div>

    <div class="blocDetail block-more">
        {#<h4 class="form-title">{{ form_label(form.videos) }}</h4>#}
        {{ form_widget(form.videos, {'attr': {'class': 'collection'}}) }}
    </div>
    {#
    <div class="blocDetail block-more">
        <h4 class="form-title">{{ form_label(form.images) }}</h4>
        {{ form_widget(form.images, {'attr': {'class': 'collection'}}) }}
    </div>
    #}
</div>


{% if app.user is empty %}

    <div class="blocDetail block-add">
        <h4 class="form-title pt-3">{{ form_label(form.MailAnonymous) }}</h4>
        {{ form_widget(form.MailAnonymous) }}
        <div class="alert alert-danger mt-1 mb-0 h5">
            Indiquer votre adresse mail pour modifier cette publication ultérieurement...
            <div class="h6 mt-2">Sinon, vous pouvez modifier temporairement cet évènement, jusqu'à expiration de votre session ou jusqu'à la validation par nos soins.</div>
        </div>
    </div>

{% endif %}

{#% if annonce == "new" or (app.user and author is same as(app.user) and form.ispublished.vars.data != true) %#}

<div class="block-submit">
    <div class="row px-0">
        <div class="col">{{ form_widget(form.submitPublished) }}</div>
        {% if form.submitDraft is defined %}
            <div class="col">{{ form_widget(form.submitDraft) }}</div>
        {% endif %}
    </div>
    <span class="h4 text-danger">* Les champs avec une astérisque sont obligatoires</span>
</div>