


<script type="text/javascript">

  //window.document.onload = function(){
  //$(window).on('load', function() {
  window.onload=function(){
          
    /*Custom marker */
    PlaceMarker = L.CircleMarker.extend({
      options: {
        id: '',
        radius: 5,
        weight: 1,
        opacity: 1,
        fillOpacity: 0.8
      }
    });

    var LeafIcon = L.Icon.extend({
        options: {
            //shadowUrl: '/leaf-shadow.png',
            iconSize:     [12, 20], // size of the icon
            //shadowSize:   [50, 64], // size of the shadow
            //iconAnchor:   [0, 0], // point of the icon which will correspond to marker's location
            //shadowAnchor: [4, 62],  // the same for the shadow
            popupAnchor:  [0, -10] // point from which the popup should open relative to the iconAnchor
        }
    });




    /*Include the marker data and create the layers */
    var data = [

    {% for event in widget.map.markers %}
      {% set countOfEvents = event.countOfEvents %}
      {% set event = event[0] %}
      {% set listOfCategorysByEvent = [] %}
      {% set listOfAllCategorys = [] %}
      {% for category in event.category %}
        {% set listOfCategorysByEvent = listOfCategorysByEvent|merge([category.slug]) %}
        {% if category.slug not in listOfAllCategorys %}
          {% set listOfAllCategorys = listOfAllCategorys|merge([category.slug]) %}
        {% endif %} 
      {% endfor %}
      {% if countOfEvents > 1 %}
        {% if event.place.pronoun == "La" %}{% set textPronoun = " à la " %}
        {% elseif event.place.pronoun == "Les" %}{% set textPronoun = " aux " %}
        {% else %}{% set textPronoun = " au " %}
        {% endif %}
        {% set textLink = countOfEvents ~ " évènements à venir" ~ textPronoun ~ event.place.name %}
      {% else %} 
        {% set textLink = "Voir la page du lieu" %}
      {% endif %}

      {% set week = ["dimanche","lundi","mardi","mercredi","jeudi","vendredi","samedi"] %}
      {% set month = ["décembre","janvier","février","mars","avril","mai","juin","juillet","août","septembre","octobre","novembre","décembre"] %}

      {% if event.dateStart == event.dateEnd %}
        {% set dateTxt = "Le " ~ week[event.dateStart|date("w")] ~ " " ~ event.dateStart|date('j') ~ " " ~ month[event.dateStart|date('n')] ~ " " ~ event.dateStart|date('Y') %}
      {% else %}
        {% if event.dateStart|date('Y') == event.dateEnd|date('Y') %}
          {% if event.dateStart|date('n') == event.dateEnd|date('n') %}
            {% set dateTxt = "Du " ~ week[event.dateStart|date("w")] ~ " " ~ event.dateStart|date('j') ~ " " ~ " au " ~ week[event.dateEnd|date("w")] ~ " " ~ event.dateEnd|date('j') ~ " " ~ month[event.dateEnd|date('n')] ~ " " ~ event.dateEnd|date('Y') %}
          {% else %}
            {% set dateTxt = "Du " ~ week[event.dateStart|date("w")] ~ " " ~ event.dateStart|date('j') ~ " " ~ month[event.dateStart|date('n')] ~ " " ~ " au " ~ week[event.dateEnd|date("w")] ~ " " ~ event.dateEnd|date('j') ~ " " ~ month[event.dateEnd|date('n')] ~ " " ~ event.dateEnd|date('Y') %}
          {% endif %}
        {% else %}
          {% set dateTxt = "Du " ~ week[event.dateStart|date("w")] ~ " " ~ event.dateStart|date('j') ~ " " ~ month[event.dateStart|date('n')] ~ " " ~ event.dateStart|date('Y') ~ " au " ~ week[event.dateEnd|date("w")] ~ " " ~ event.dateEnd|date('j') ~ " " ~ month[event.dateEnd|date('n')] ~ " " ~ event.dateEnd|date('Y') %}
        {% endif %}
      {% endif %}

      {% if event.price == null %}
          {% set priceTxt = "Tarif non communiqué" %}
      {% elseif event.precisionPrice == "MORE" %}
          {% set priceTxt = "Plus de 20 Euros" %}
      {% elseif event.precisionPrice == "FREE" %}
          {% set priceTxt = "Entrée libre" %}
      {% elseif event.precisionPrice == "AWARE" %}
          {% set priceTxt = "Prix libre" %}
      {% elseif event.price == 1 %}
          {% set priceTxt = "1 Euro" %}
      {% else %}
          {% set priceTxt = event.price|number_format(2, ',')|replace({',00': '' }) ~ " Euros" %}
      {% endif %}

      ["{{ event.rubric.slug }}", {{ event.place.latitude }}, {{ event.place.longitude }}, "{{ event.title|e('js') }}", "{{ event.place.title|e('js') }}", "{{ priceTxt }}", "{{ textLink }}", "{{ event.rubric.color|e('js') }}", "{{ dateTxt }}", "{{ path('event_show',{'slug': event.slug}) }}", "{{ path('place_show',{'slug': event.place.slug}) }}"],

    {% endfor %}

    ];

    var green = new LeafIcon({iconUrl: '/uploads/common/marker/color/green.png'}),
        blue = new LeafIcon({iconUrl: '/uploads/common/marker/color/blue.png'}),
        red = new LeafIcon({iconUrl: '/uploads/common/marker/color/red.png'}),
        orange = new LeafIcon({iconUrl: '/uploads/common/marker/color/orange.png'}),
        grey = new LeafIcon({iconUrl: '/uploads/common/marker/color/grey.png'}),
        black = new LeafIcon({iconUrl: '/uploads/common/marker/color/black.png'}),
        pink = new LeafIcon({iconUrl: '/uploads/common/marker/color/pink.png'}),
        brown = new LeafIcon({iconUrl: '/uploads/common/marker/color/brown.png'}),
        yellow = new LeafIcon({iconUrl: '/uploads/common/marker/color/yellow.png'}),
        white = new LeafIcon({iconUrl: '/uploads/common/marker/color/white.png'});

    var concert = new L.LayerGroup(),
        soiree = new L.LayerGroup(),
        theatre = new L.LayerGroup(),
        exposition = new L.LayerGroup(),
        cinema = new L.LayerGroup(),
        danse = new L.LayerGroup(),
        musique_classique = new L.LayerGroup(),
        action_citoyenne = new L.LayerGroup(),
        sport = new L.LayerGroup(),
        autre = new L.LayerGroup();

    for (var i = 0; i < data.length; i++) {
      
      if (data[i][7] == "blue") {var iconColor = blue }
      else if (data[i][7] == "green") {var iconColor = green }
      else if (data[i][7] == "black") {var iconColor = black }
      else if (data[i][7] == "yellow") {var iconColor = yellow }
      else if (data[i][7] == "red") {var iconColor = red }
      else if (data[i][7] == "orange") {var iconColor = orange }
      else if (data[i][7] == "pink") {var iconColor = pink }
      else if (data[i][7] == "brown") {var iconColor = brown }
      else {var iconColor = white }


      marker = L.marker([data[i][1], data[i][2]], {
        rubric: data[i][0],
        date: data[i][8],
        title: data[i][3],
        place: data[i][4],
        price: data[i][5],
        link: data[i][6],
        icon: iconColor,
        color: data[i][7],
        target_event: data[i][9],
        target_place: data[i][10],
      }).bindTooltip(data[i][4],{direction: 'top', offset:[0,-20]}).addTo(concert).bindPopup(data[i][4]).on('click', markerOnClick);
    
    }

    /* Some handy variables*/
     /*var booklayers = [concert, soiree, theatre, exposition, cinema, danse, sport, autre]
   */
    var booklayers = [concert, soiree, theatre, exposition, cinema, musique_classique, action_citoyenne, danse, sport, autre];
    


      /*Initialise map; change zoom control position*/
    var map = L.map('map', {
      layers: booklayers
    }).setView([{{ widget.map.center }}], {{ widget.map.zoom }});
    //map.zoomControl.setPosition('bottomright');

    /*Add tileLayers*/
    mapLink = '<a href="https://openstreetmap.org">OpenStreetMap<\/a>';
    mapTest = '<a href="#" title="{{ widget.map.zoom }} - {{ widget.map.info }}">.<\/a>';
    L.tileLayer('https://{s}.tile.openstreetmap.org/{z}/{x}/{y}.png', {
      attribution: '&copy; ' + mapLink + ' Contributors' + mapTest,
      maxZoom: 19,
    }).addTo(map);

    /* Open modal & center map on marker click 	*/
    function markerOnClick(e) {
      var rubric = this.options.rubric;
      var color = this.options.color;
      var date = this.options.date;
      var title = this.options.title;
      var place = this.options.place;
      var price = this.options.price;
      var link = this.options.link;
      var target_event = this.options.target_event;
      var target_place = this.options.target_place;
      $(".event-content").html('<div class="event-map"><div class="button-rubric color-' + color + '">' + rubric + '</div><div class="d-block my-1">' + date + '</div><a href="' + target_event + '"><h4>' + title + '</h4></a><div class="block-detail"><div class="button-detail" ><i class="fa fa-map-marker fa-lg mr-1"></i>' + place + '</div><div class="button-detail" ><i class="fa fa-credit-card fa-lg mr-1"></i>' + price + '</div><div class="text-center"><a href="' + target_place + '" class="btn btn-secondary">' + link + '</a></div></div></div>');
      $('#emptymodal').modal('show');
      map.setView(e.target.getLatLng());
      e.preventDefault();
    }

    /*Close modal on map click */
    map.on('click', function(e) {
        $(".event-content").html('');
      $('.modal').modal('hide');
    });


  /*
    L.control.tagFilterButton({
        data: ['omnis', 'facilis', 'jeune public'],
        filterOnEveryClick: true,
        icon: '<i class="fa fa-suitcase"></i>',
    }).addTo(map);

    L.control.tagFilterButton({
        data: ['concert', 'soirée', 'théâtre', 'exposition', 'cinéma', 'musique classique', 'action citoyenne', 'danse', 'sport', 'autre'],
        filterOnEveryClick: true,
        icon: '<i class="fa fa-pagelines"></i>',
    }).addTo(map);

    jQuery('.easy-button-button').click(function() {
      target = jQuery('.easy-button-button').not(this);
      target.parent().find('.tag-filter-tags-container').css({
          'display' : 'none',
      });
    });
  */

  }

</script>