{#<div class="brand">Recherche avancée</div>#}
<i class="fa fa-bars fa-2x toggle-btn" data-toggle="collapse" data-target="#menu-content"></i>

<div class="menu-list">
    <ul id="menu-content" class="menu-content collapse out">

        <li data-toggle="collapse" data-target="#products" class="menu-collapse {% if 'MENU_WEEK' not in menu.collapse %}collapsed{% endif %}">
            <a><i class="fa fa-calendar fa-lg"></i> Cette semaine <span class="arrow"></span></a>
        </li>

        <ul class="sub-menu collapse {% if 'MENU_WEEK' in menu.collapse %}show{% endif %}" id="products">
            <li {% if app.request.attributes.get('txtDay') == "aujourd-hui" or app.request.attributes.get('_route') == 'event_index' %} class="active" {% endif %} >
                <a href="{{ path('event_by_day', {'txtDay': "aujourd-hui"}) }}">
                    Aujourd'hui, {{ menu.day[0]['name'] }}
                    <span class="badge">{{ menu.day[0]['count'] }}</span>
                </a>
            </li>
            <li {% if app.request.attributes.get('txtDay') == "demain" %} class="active" {% endif %} >
                <a href="{{ path('event_by_day', {'txtDay': "demain"}) }}">
                    Demain, {{ menu.day[1]['name'] }}
                    <span class="badge">{{ menu.day[1]['count'] }}</span>
                </a>
            </li>
            <li {% if app.request.attributes.get('txtDay') == "apres-demain" %} class="active" {% endif %} >
                <a href="{{ path('event_by_day', {'txtDay': "apres-demain"}) }}">
                    {{ menu.day[2]['name']|capitalize }}
                    <span class="badge">{{ menu.day[2]['count'] }}</span>
                </a>
            </li>
            <li {% if app.request.attributes.get('txtDay') == "dans-3-jours" %} class="active" {% endif %} >
                <a href="{{ path('event_by_day', {'txtDay': "dans-3-jours"}) }}">
                    {{ menu.day[3]['name']|capitalize }}
                    <span class="badge">{{ menu.day[3]['count'] }}</span>
                </a>
            </li>
            <li {% if app.request.attributes.get('txtDay') == "dans-4-jours" %} class="active" {% endif %} >
                <a href="{{ path('event_by_day', {'txtDay': "dans-4-jours"}) }}">
                    {{ menu.day[4]['name']|capitalize }}
                    <span class="badge">{{ menu.day[4]['count'] }}</span>
                </a>
            </li>
            <li {% if app.request.attributes.get('txtDay') == "dans-5-jours" %} class="active" {% endif %} >
                <a href="{{ path('event_by_day', {'txtDay': "dans-5-jours"}) }}">
                    {{ menu.day[5]['name']|capitalize }}
                    <span class="badge">{{ menu.day[5]['count'] }}</span>
                </a>
            </li>
            <li {% if app.request.attributes.get('txtDay') == "dans-6-jours" %} class="active" {% endif %} >
                <a href="{{ path('event_by_day', {'txtDay': "dans-6-jours"}) }}">
                    {{ menu.day[6]['name']|capitalize }}
                    <span class="badge">{{ menu.day[6]['count'] }}</span>
                </a>
            </li>
            <li {% if app.request.attributes.get('txtDay') == "dans-7-jours" %} class="active" {% endif %} >
                <a href="{{ path('event_by_day', {'txtDay': "dans-7-jours"}) }}">
                    {{ menu.day[7]['name']|capitalize }} prochain
                    <span class="badge">{{ menu.day[7]['count'] }}</span>
                </a>
            </li>
        </ul>

        {% if menu.rubric|length > 0 %}
            <li data-toggle="collapse" data-target="#rubric" class="menu-collapse {% if 'MENU_RUBRIC' not in menu.collapse %}collapsed{% endif %}">
                <a><i class="fa fa-music fa-lg"></i> Les rubriques <span class="arrow"></span></a>
            </li>

            <ul class="sub-menu collapse {% if 'MENU_RUBRIC' in menu.collapse %}show{% endif %}" id="rubric">
                {% for rubric in menu.rubric %}
                    <li {% if app.request.attributes.get('slug') == rubric.slug %}class="active"{% endif %}>
                        <a class="color-{{ rubric.color }}" href="{{ path('events_by_rubric', {'slug': rubric.slug}) }}">
                            {{ rubric.name }}
                            <span class="badge">{{ rubric.compteur }}</span>
                        </a>
                    </li>
                {% endfor %}
            </ul>
        {% endif %}

        {% if menu.category|length > 0 %}
            <li data-toggle="collapse" data-target="#category" class="menu-collapse {% if 'MENU_CATEGORY' not in menu.collapse %}collapsed{% endif %}">
                <a><i class="fa fa-crosshairs fa-lg"></i> Les catégories <span class="arrow"></span></a>
            </li>

            <ul class="sub-menu collapse {% if 'MENU_CATEGORY' in menu.collapse %}show{% endif %}" id="category">
                {% for category in menu.category %}
                    <li {% if app.request.attributes.get('slug') == category.slug %} class="active" {% endif %}>
                        <a href="{{ path('events_by_category', {'slug': category.slug}) }}">
                        {{ category.name }}
                        <span class="badge">{{ category.compteur }}</span>
                    </a></li>
                {% endfor %}
            </ul>
        {% endif %}

        {% if menu.reduction|length > 0 %}
            <li data-toggle="collapse" data-target="#reduction" class="menu-collapse {% if 'MENU_REDUCTION' not in menu.collapse %}collapsed{% endif %}">
                <a><i class="fa fa-gift fa-lg"></i> Les réductions <span class="arrow"></span></a>
            </li>

            <ul class="sub-menu collapse {% if 'MENU_REDUCTION' in menu.collapse %}show{% endif %}" id="reduction">
                {% for reduction in menu.reduction %}
                    <li {% if app.request.attributes.get('slug') == reduction.slug %} class="active" {% endif %}>
                        <a href="{{ path('events_by_reduction', {'slug': reduction.slug}) }}">
                        {{ reduction.title }}
                        <span class="badge">{{ reduction.compteur }}</span>
                    </a></li>
                {% endfor %}
            </ul>
        {% endif %}

        {#
        <li data-toggle="collapse" data-target="#place" class="{% if 'MENU_PLACE' not in menu.collapse %}collapsed{% endif %}">
            <a><i class="fa fa-map-marker fa-lg"></i> Lieux <span class="arrow"></span></a>
        </li>

        <ul class="sub-menu collapse {% if 'MENU_PLACE' in menu.collapse %}show{% endif %}" id="place">
            <li>New New 1</li>
            <li>New New 2</li>
            <li>New New 3</li>
        </ul>


        <li>
            <a href="#">
            <i class="fa fa-user fa-lg"></i> Profil
            </a>
        </li>
#}
            

        {#% if menu.form is defined %}

            <li data-toggle="collapse" data-target="#search" class="menu-collapse {% if 'MENU_SEARCH' not in menu.collapse %}collapsed{% endif %}">
                <a><i class="fa fa-search fa-lg"></i> Recherche avancée <span class="arrow"></span></a>
            </li>

            <ul class="sub-menu collapse {% if 'MENU_SEARCH' in menu.collapse %}show{% endif %}" id="search">
                <li>
                    <div class="menu-search">
                        {{ form_start(menu.form, {'action': path('search_by_filter'), 'method': 'GET'}) }}
                            <div class="form-group">
                                {{ form_widget(menu.form.titre) }}
                            </div>
                            <div class="form-group">
                                {{ form_widget(menu.form.date) }}
                            </div>
                            <div class="form-group">
                                {{ form_widget(menu.form.prix) }}
                            </div>
                            <div class="form-group">
                                {{ form_widget(menu.form.rubrique) }}
                            </div>
                            <div class="form-group">
                                {{ form_widget(menu.form.lieu) }}
                            </div>
                            <div class="form-group">
                                {{ form_widget(menu.form.ville) }}
                            </div>
                            <div class="text-center">
                                <button class="btn btn-primary">Rechercher</button>
                            </div>
                        {{ form_end(menu.form) }}
                    </div>
                
                </li>
            </ul>

        {% endif %#}

        <li>
            <a href="{{ path('event_create') }}">
            <i class="fa fa-download fa-lg"></i> Annoncer un évènement
            </a>
        </li>

    </ul>

    {% if website['network'] is defined and website['network']['facebook'] is defined %}
        {% if chcookieconsent_isCookieConsentSavedByUser() == false or chcookieconsent_isCategoryAllowedByUser('social_media') == false %}
            <div id="pubLateral">
                <div id="fb-root"></div>
                <script async defer crossorigin="anonymous" src="https://connect.facebook.net/fr_FR/sdk.js#xfbml=1&version=v7.0&appId=1631895723590841&autoLogAppEvents=1" nonce="Xz9lJ1FN"></script>
                <div class="fb-page" data-href="{{ website['network']['facebook'] }}" data-tabs="messages,timeline" data-width="" data-height="600" data-small-header="false" data-adapt-container-width="true" data-hide-cover="false" data-show-facepile="true"><blockquote cite="{{ website['network']['facebook'] }}" class="fb-xfbml-parse-ignore"><a href="{{ website['network']['facebook'] }}">{{ website['name'] }}</a></blockquote></div>
            </div>
        {% else %}
            <div id="pubLateral">
                <h5>Vous avez bloqué les cookies</h5>
                <a class="btn btn-primary btn-block" target="_blank" href="{{ website['network']['facebook'] }}">Rendez-vous sur la page Facebook de {{ website['name'] }}</a>
            </div>
        {% endif %}
    {% endif %}
{#
    {% if website == "Strasbourg Curieux" %}{% set textFb = "strasbourg.curieux"%}
    {% elseif website == "Colmar Curieux" %}{% set textFb = "colmarcurieux"%}
    {% elseif website == "Metz Curieux" %}{% set textFb = "metz.curieux"%}
    {% elseif website == "Nancy Curieux" %}{% set textFb = "nancy.curieux"%}
    {% endif %}

    {% if textFb is defined %}
        <div id="pubLateral">
            <div id="fb-root"></div>
            <script async defer crossorigin="anonymous" src="https://connect.facebook.net/fr_FR/sdk.js#xfbml=1&version=v7.0&appId=1631895723590841&autoLogAppEvents=1" nonce="Xz9lJ1FN"></script>
            <div class="fb-page" data-href="https://www.facebook.com/{{ textFb }}/" data-tabs="messages,timeline" data-width="" data-height="600" data-small-header="false" data-adapt-container-width="true" data-hide-cover="false" data-show-facepile="true"><blockquote cite="https://www.facebook.com/{{ textFb }}/" class="fb-xfbml-parse-ignore"><a href="https://www.facebook.com/{{ textFb }}/">{{ website['name'] }}</a></blockquote></div>
            {#<iframe src="https://www.facebook.com/plugins/page.php?href=https://www.facebook.com/strasbourg.curieux&amp;width=250&amp;height=600&amp;tabs=timeline,messages&amp;colorscheme=dark" width="250" height="600" style="border:none;overflow:hidden" scrolling="no" frameborder="0" allowtransparency="true"></iframe>
        </div>
    {% endif %}
#}
</div>