{% if jour is not defined or jour == 0 %}
    <nav id="menu-fixed" class="menu-horizontal original">
    <i class="fa fa-bars fa-2x toggle-btn navbar-toggle sidebar-toggle button-menu-horizontal" data-toggle="collapse" data-target="#menu-content" aria-expanded="false"></i>
{% else %}
    <nav class="menu-horizontal">
{% endif %}

        <ul>

            <li class="button-horizontal button-last-week {% if app.request.attributes.get('txtDay') == "hier" %}active{% endif %}">
                <a class="menu-link" href="{{ path('event_by_day_past', {'txtDay': "hier"}) }}"><i class="fa fa-chevron-circle-left fa-lg"></i></a>
                {#<ul class="sub-menu">
                    <li><a href="{{ path('event_by_day', {'txtDay': "hier"}) }}">Hier</a></li>
                </ul>#}
            </li>

            <li class="button-horizontal button-this-week {% if app.request.attributes.get('txtDay') == "aujourd-hui" %}active{% endif %}">
                <a class="menu-link" href="{% if app.request.get('_route') == "event_index" %}#aujourd-hui{% else %}{{ path('event_by_day', {'txtDay': "aujourd-hui"}) }}{% endif %}">Aujourd'hui</a>
                {#<ul class="sub-menu">
                    <li><a href="{{ path('event_by_day', {'txtDay': "aujourd-hui"}) }}" class="">Samedi 5 Octobre 2019</a></li>
                </ul>#}
            </li>  

            <li class="button-horizontal button-this-week {% if (jour is defined and jour == 1) or app.request.attributes.get('txtDay') == "demain" %}active{% endif %}">
                <a class="menu-link" href="{% if app.request.get('_route') == "event_index" %}#demain{% else %}{{ path('event_by_day', {'txtDay': "demain"}) }}{% endif %}">Demain</a>
                {#<ul class="sub-menu">
                    <li><a href="{{ path('event_by_day', {'txtDay': "demain"}) }}">Dimanche 6 Octobre 2019</a></li>
                </ul>#}
            </li>

            <li class="button-horizontal button-this-week {% if (jour is defined and jour == 2) or app.request.attributes.get('txtDay') == "apres-demain" %}active{% endif %}">
                <a class="menu-link" href="{% if app.request.get('_route') == "event_index" %}#{{ daysOfWeek[2] }}{% else %}{{ path('event_by_day', {'txtDay': "apres-demain"}) }}{% endif %}">{{ daysOfWeek[2]|capitalize }}</a>
                {#<ul class="sub-menu">
                    <li><a href="{{ path('event_by_day', {'txtDay': "apres-demain"}) }}">Lundi 7 Octobre 2019</a></li>
                </ul>#}
            </li>

            <li class="button-horizontal button-this-week {% if (jour is defined and jour == 3) or app.request.attributes.get('txtDay') == "dans-3-jours" %}active{% endif %}">
                <a class="menu-link" href="{% if app.request.get('_route') == "event_index" %}#{{ daysOfWeek[3] }}{% else %}{{ path('event_by_day', {'txtDay': "dans-3-jours"}) }}{% endif %}">{{ daysOfWeek[3]|capitalize }}</a>
                {#<ul class="sub-menu">
                    <li><a href="{{ path('event_by_day', {'txtDay': "dans-3-jours"}) }}">Mardi 8 Octobre 2019</a></li>
                </ul>#}
            </li>

            <li class="button-horizontal button-this-week {% if (jour is defined and jour == 4) or app.request.attributes.get('txtDay') == "dans-4-jours" %}active{% endif %}">
                <a class="menu-link" href="{% if app.request.get('_route') == "event_index" %}#{{ daysOfWeek[4] }}{% else %}{{ path('event_by_day', {'txtDay': "dans-4-jours"}) }}{% endif %}">{{ daysOfWeek[4]|capitalize }}</a>
                {#<ul class="sub-menu">
                    <li><a href="{{ path('event_by_day', {'txtDay': "dans-4-jours"}) }}">Mercredi 9 Octobre 2019</a></li>
                </ul>#}
            </li>

            <li class="button-horizontal button-this-week {% if (jour is defined and jour == 5) or app.request.attributes.get('txtDay') == "dans-5-jours" %}active{% endif %}">
                <a class="menu-link" href="{% if app.request.get('_route') == "event_index" %}#{{ daysOfWeek[5] }}{% else %}{{ path('event_by_day', {'txtDay': "dans-5-jours"}) }}{% endif %}">{{ daysOfWeek[5]|capitalize }}</a>
                {#<ul class="sub-menu">
                    <li><a href="{{ path('event_by_day', {'txtDay': "dans-5-jours"}) }}">Jeudi 10 Octobre 2019</a></li>
                </ul>#}
            </li>

            <li class="button-horizontal button-this-week {% if (jour is defined and jour == 6) or app.request.attributes.get('txtDay') == "dans-6-jours" %}active{% endif %}">
                <a class="menu-link" href="{% if app.request.get('_route') == "event_index" %}#{{ daysOfWeek[6] }}{% else %}{{ path('event_by_day', {'txtDay': "dans-6-jours"}) }}{% endif %}">{{ daysOfWeek[6]|capitalize }}</a>
                {#<ul class="sub-menu">
                    <li><a href="{{ path('event_by_day', {'txtDay': "dans-6-jours"}) }}">Vendredi 11 Octobre 2019</a></li>
                </ul>#}
            </li>

            <li class="button-horizontal button-next-week">
                <a class="menu-link{% if app.request.attributes.get('txtDay') == "dans-7-jours" %}active{% endif %}" href="{{ path('event_by_day', {'txtDay': "dans-7-jours"}) }}"><i class="fa fa-chevron-circle-right fa-lg"></i></a>
                {#<ul class="sub-menu">
                    <li><a href="{{ path('event_by_day', {'txtDay': "dans-7-jours"}) }}">{{ daysOfWeek[7]|capitalize }} en 8</a></li>
                </ul>#}
            </li>
            
        </ul>
</nav>