
<!-- Modal ajouter un lieu-->
<div class="modal fade" id="modal-place" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered modal-lg" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLongTitle">Ajouter un lieu</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                <span aria-hidden="true">&times;</span>
                </button>
            </div>
            
            {{ form_start(formPlace) }}

                <div class="modal-body">
                    <div class="alert alert-danger" role="alert">
                        Attention, le formulaire ci-dessous supprimera votre annonce !<br>
                        Cliquez <a href="{{ path('place_create') }}" target="_blank" class="alert-link">ici</a> pour créer un lieu dans un nouvel onglet puis revenir sur cette page...
                    </div>
                    {% include 'place/_form.html.twig' %}
                </div>

                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Fermer</button>
                    <button type="submit" class="btn btn-primary">Créer le nouveau lieu</button>
                </div>
                
            {{ form_end(formPlace) }}

        </div>
    </div>
</div>

<!-- Modal ajouter un festival -->
<div class="modal fade" id="modal-festival" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered modal-lg" role="document">
        <div class="modal-content">

            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLongTitle">Ajouter un festival</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                <span aria-hidden="true">&times;</span>
                </button>
            </div>
        
            {{ form_start(formFestival) }}

                <div class="modal-body">
                    <div class="alert alert-danger" role="alert">
                        Attention, le formulaire ci-dessous supprimera votre annonce !<br>
                        Cliquez <a href="{{ path('festival_create') }}" target="_blank" class="alert-link">ici</a> pour créer un festival dans un nouvel onglet puis revenir sur cette page...
                    </div>
                    {#% include 'festival/_form.html.twig' %#}
                    {{ form_widget(formFestival) }}
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Fermer</button>
                    <button type="submit" class="btn btn-primary">Créer le nouveau festival</button>
                </div>

            {{ form_end(formFestival) }}
        
        </div>
    </div>
</div>