{% if widget.player is defined and widget.player %}
    <div id="svBlocVideo"></div>
{% endif %}

{% set showplayer = widget.player is defined and widget.player|length > 1 %}
{% set cookiesplayer = chcookieconsent_isCookieConsentSavedByUser() == false or chcookieconsent_isCategoryAllowedByUser('social_media') == false %}
{% if (showplayer and cookiesplayer) or widget.map is defined or widget.suggestion is defined or widget.form is defined %}
    <div class="widgets">
        {% if showplayer %}
            {% if cookiesplayer %}{% include 'event/__video.html.twig' %}
            {% else %}
                <div class="widget">
                    <div class="widget-title" type="button" data-toggle="collapse" data-target="#collapsePlaylist" aria-expanded="false" aria-controls="collapsePlaylist">Playlist</div>
                    <div class="collapse show show-md p-3 text-center" id="collapsePlaylist">
                        <div class="h4">Vous avez bloqué les cookies</div>
                        <a class="btn btn-primary btn-block" href="#" id="button-cookies-footer" type="button" data-toggle="modal" data-target="#modalCookies">Modifier vos paramètres</a>
                    </div>
                </div>
            {% endif %}
        {% endif %}
        {% if widget.map is defined and widget.map %}{% include 'event/__map.html.twig' %}{% include 'event/_map.html.twig' %}{% endif %}
        {% if widget.suggestion is defined and widget.suggestion %}{% include 'event/__suggestion.html.twig' %}{% endif %}

        {% if widget.form is defined %}
            <div class="widget">
                <div class="widget-title">Recherche avancée{#{ "now"|date("H:i") }#}</div>
                <div class="menu-search">
                    {{ form_start(widget.form, {'action': path('search_by_filter'), 'method': 'GET'}) }}
                        <div class="form-group row">
                            <div class="col-4 pt-2"><h5>{{ form_label(widget.form.titre) }}</h5></div>
                            <div class="col-8">{{ form_widget(widget.form.titre) }}</div>
                        </div>
                        <div class="form-group row">
                            <div class="col-4 pt-2"><h5>{{ form_label(widget.form.date) }}</h5></div>
                            <div class="col-8">{{ form_widget(widget.form.date) }}</div>
                        </div>
                        <div class="form-group row">
                            <div class="col-4 pt-2"><h5>{{ form_label(widget.form.prix) }}</h5></div>
                            <div class="col-8">{{ form_widget(widget.form.prix) }}</div>
                        </div>
                        <div class="form-group row">
                            <div class="col-4 pt-2"><h5>{{ form_label(widget.form.rubrique) }}</h5></div>
                            <div class="col-8">{{ form_widget(widget.form.rubrique) }}</div>
                        </div>
                        <div class="form-group row">
                            <div class="col-4 pt-2"><h5>{{ form_label(widget.form.lieu) }}</h5></div>
                            <div class="col-8">{{ form_widget(widget.form.lieu) }}</div>
                        </div>
                        <div class="form-group row">
                            <div class="col-4 pt-2"><h5>{{ form_label(widget.form.ville) }}</h5></div>
                            <div class="col-8">{{ form_widget(widget.form.ville) }}</div>
                        </div>
                        <div class="text-center">
                            <button class="btn btn-primary btn-block">Rechercher</button>
                        </div>
                    {{ form_end(widget.form) }}
                </div>
            </div>
        {% endif %}
    </div>
{% endif %}