{% extends 'base.html.twig' %}

{% block title %}Agenda culturel{% endblock %}

{% block body %}

<div class="main m-5">

    <h4>{{ events|length }} évènements annulés du {{ start|date("d/m/Y") }} au {{ end|date("d/m/Y") }}</h4>

</div>

{% endblock %}