{% extends 'base.html.twig' %}

{% block title %}Edition d'un évènement{% endblock %}

{% form_theme form 'event/_collection.html.twig' %}

{% block body %}

    <div class="container my-4">

        {{ form_start(form, { 'attr': {'autocomplete': 'off'} })  }}

        {% set event = form.vars.data %}

        {% if event.isPublished != true %}

            <div class="alert alert-danger py-4 text-center" role="alert">
                <h4>Votre évènement est en brouillon !</h4>
                Vous devez publier votre évènement pour qu'il soit visible sur le site
            </div>

        {% elseif event.isValidated %}

            {% if event.isFull %}
                <div class="alert alert-danger text-center" role="alert">
                    <div class="h4 pt-2">Cet évènement est complet !</div>
                    {{ form_widget(form.submitWithError, {'label': "Cliquer ici si l'évènement n'est pas complet"}) }}
                </div>
            {% elseif event.isCanceled %}
                <div class="alert alert-danger" role="alert">
                    <div class="text-center">
                        <div class="h4 pt-2">Cet évènement est annulé !</div>
                        {{ form_widget(form.submitWithError, {'label': "Cliquer ici si l'évènement n'est pas annulé"}) }}
                    </div>
                    <div class="my-3">
                        {{ form_widget(form.isPostponed) }}
                    </div>
                    <div class="my-2 d-none">
                        <b>{{ form_label(form.datePostponed) }}</b>
                        {{ form_widget(form.datePostponed) }}
                    </div>
                </div>
            {% else %}
                <div class="alert alert-success" role="alert">
                    <div class="row">
                        <div class="col-sm">
                            <div class="h4 d-flex v-mid">Cet évènement est validé</div>
                        </div>
                        <div class="col-sm">
                            {{ form_widget(form.validation) }}
                        </div>
                    </div>
                </div>
            {% endif %}

        {% else %}
            
            {% if event.isSpam %}
                <div class="alert alert-danger py-4 text-center" role="alert">
                    <h4>Cet évènement a été déclaré non conforme aux conditions d'utilisation !</h4>
                    <div class="my-2">L'annonce n'est donc plus visible sur le site.<br>
                    En cas de contestation, contacter un administrateur par mail sur strasbourg@curieux.net</div>
                    {{ form_widget(form.submitWithError, {'label': "Je me suis trompé, cet évènement n'est pas un spam"}) }}
                </div>
            {% elseif event.isDuplicated %}
                <div class="alert alert-danger py-4 text-center" role="alert">
                    <h4>Cet évènement est un doublon ! </h4>
                    <h6>Il n'est donc plus disponible sur le site...</h6>
                    {{ form_widget(form.submitWithError, {'label': "Je me suis trompé, cet évènement n'est pas un doublon"}) }}
                </div>
            {% elseif event.isMistake %}
                <div class="alert alert-danger py-4 text-center" role="alert">
                    <h4>Cet évènement est une erreur ! </h4>
                    <h6>Il n'est donc plus disponible sur le site...</h6>
                    {{ form_widget(form.submitWithError, {'label': "Je me suis trompé, cet évènement n'est pas une erreur"}) }}
                </div>
            {% elseif event.isPublished %}
                <div class="alert alert-danger py-4 text-center" role="alert">
                    
                    {% if app.user and "ROLE_ADMIN" in app.user.roles %}
                        <h4>Cet évènement est en attente de validation !</h4>
                        {{ form_widget(form.submitWithValidation) }}
                    {% else %}
                        <h4>Votre évènement est en attente de validation !</h4>
                        Un administrateur publiera cette annonce dans les plus brefs délais...
                    {% endif %}
                    
                </div>
            {% endif %}
            
        {% endif %}

        <h2 class="text-center py-4"><u>Modifier l'annonce :</u> {{ form.title.vars.data }}</h2>

            {#{ form_widget(form) }#}
            {% include 'event/_form.html.twig' %}

        {{ form_end(form) }}
            
    </div>

{% endblock %}


{% block stylesheets %}

    <link rel="stylesheet" href="/css/jquery-ui.css">
    <link rel="stylesheet" href="/css/multidatespicker.css">
    <link rel="stylesheet" href="/css/clockpicker.css">
    {{ encore_entry_link_tags('css/form') }}

{% endblock %}

{% block javascripts %}

    <script src="/js/clockpicker.js"></script>
    <script src="/js/jquery-ui.js"></script>

    <script src="/js/multidatespicker.js"></script>
    <script src="/js/datepicker.js"></script>

    <script>
    
    {% for rubric in suggestion %}
        $('#event_rubric').change(function(){
            if($(this).val() == '{{ rubric.id }}') {
                $('#suggestion_{{ rubric.slug }}').show(); 
            } else {
                $('#suggestion_{{ rubric.slug }}').hide(); 
            } 
        });
    {% endfor %}

    </script>
    
    <script src="/js/event.js"></script>
    <script src="/js/image.js"></script>

    {#<script src="/js/googleApiClientReady.js"></script>#}

{% endblock %}