{% extends 'base.html.twig' %}

{% block title %}Ajouter un évènement{% endblock %}

{% form_theme form 'event/_collection.html.twig' %}

{% block body %}

    <div class="container form-container my-4">
        <h2 class="text-center mb-4"><u>Annoncer un évènement</u></h2>

        {{ form_start(form, { 'attr': {'autocomplete': 'off'} })  }}

            {#{ form_widget(form) }#}
            {% include 'event/_form.html.twig' %}
            
        {{ form_end(form) }}

    </div>
    
    {#% include 'event/_modal.html.twig' %#}


{% endblock %}

{% block stylesheets %}

{#<link rel="stylesheet" href="//code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css">#}
<link rel="stylesheet" href="/css/jquery-ui.css">
<link rel="stylesheet" href="/css/multidatespicker.css">

<!--<link rel="stylesheet" href="trumbowyg/dist/ui/trumbowyg.min.css">
<link rel="stylesheet" href="/css/trumbowyg.min.css">-->

{#<link rel="stylesheet" type="text/css" href="http://weareoutman.github.io/clockpicker/dist/jquery-clockpicker.min.css">#}
<link rel="stylesheet" href="/css/clockpicker.css">

{{ encore_entry_link_tags('css/form') }}

{% endblock %}

{% block javascripts %}

    {#<script type="text/javascript" src="http://weareoutman.github.io/clockpicker/dist/jquery-clockpicker.min.js"></script>#}
    <script src="/js/clockpicker.js"></script>

    {#<script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>#}
    <script src="/js/jquery-ui.js"></script>

    <script src="/js/multidatespicker.js"></script>
    <script src="/js/datepicker.js"></script>

    <!--
    <script src="/js/trumbowyg.min.js"></script>
    <script src="/js/trumbowyg-fr.js"></script>
    <script src="/js/trumbowyg-plugin.js"></script>
    <script type="text/javascript" src="trumbowyg/dist/trumbowyg.min.js"></script>
    <script type="text/javascript" src="js/dist/langs/fr.min.js"></script>
    -->

    <script>
    
    {% for rubric in suggestion %}
        $('#event_rubric').change(function(){
            if($(this).val() == '{{ rubric.id }}') {
                $('#suggestion_{{ rubric.slug }}').show(); 
            } else {
                $('#suggestion_{{ rubric.slug }}').hide(); 
            } 
        });
    {% endfor %}

    </script>

    <script src="/js/event.js"></script>
    <script src="/js/image.js"></script>

    {#<script src="/js/googleApiClientReady.js"></script>
    <script src="https://apis.google.com/js/client.js?onload=googleApiClientReady">  </script>#}


    {#<script src="/js/form-show.js"></script>#}

{% endblock %}



{# 
<script src="//cdnjs.cloudflare.com/ajax/libs/select2/3.5.4/select2.min.js"></script>
<script src="/js/autocompleter-select2.js"></script>    
<script src="/js/jquery-ui.min.js"></script>
<script src="/js/autocompleter-jqueryui.js"></script>

1er solution :
    {{ form(form) }}
    
2eme solution
{{ form_start(form) }}

    <div class="form-group">
        {{ form_label(form.title) }}
        {{ form_widget(form.title, {'attr': {'class': 'form-control', 'placeholder': 'Titre de l\'annonce'}}) }}
    </div>

    <div class="form-group">
        {{ form_label(form.description) }}
        {{ form_widget(form.description, {'attr': {'class': 'form-control', 'placeholder': 'Description de l\'annonce'}}) }}
    </div>

    <div class="form-group">
        {{ form_label(form.slug) }}
        {{ form_widget(form.slug, {'attr': {'class': 'form-control', 'placeholder': 'Slug de l\'annonce'}}) }}
    </div>

    <div class="form-group">
        {{ form_label(form.price) }}
        {{ form_widget(form.price, {'attr': {'class': 'form-control', 'placeholder': 'Prix de l\'annonce'}}) }}
    </div>

{{ form_end(form) }}


    3eme solution :
    


{{ form_start(form) }}

    {{ form_widget(form) }}

    <button type="submit" class="btn btn-primary">Créer la nouvelle annonce</button>

    {{ form_end(form) }}


{% endblock %}

{% block form_row %}
    <div class="form-group">
        {{ form_label(form) }}
        {{ form_widget(form) }}
    </div>
{% endblock %}

{% block text_widget %}
    <input type="text" name="" id="" class="form-control">
{% endblock %}

{% block url_widget %}
{% endblock %}

{% block textarea_widget %}
{% endblock %}

#}


