{% extends 'base.html.twig' %}

{% block title %}Ajouter un évènement{% endblock %}

{% form_theme form 'event/_collection.html.twig' %}

{% block body %}

    <div class="container form-container my-4">
        <h2 class="text-center mb-4"><u>Annoncer un évènement simplement</u></h2>

        {{ form(form)  }}

    </div>


{% endblock %}

{% block stylesheets %}

<link rel="stylesheet" href="/css/jquery-ui.css">
<link rel="stylesheet" href="/css/multidatespicker.css">
<link rel="stylesheet" href="/css/clockpicker.css">

{% endblock %}

{% block javascripts %}

    <script src="/js/clockpicker.js"></script>

    <script src="/js/jquery-ui.js"></script>

    <script src="/js/multidatespicker.js"></script>
    <script src="/js/datepicker.js"></script>


    <script src="/js/event.js"></script>
    <script src="/js/image.js"></script>


    <script src="/js/googleApiClientReady.js"></script>

{% endblock %}