{% extends 'base.html.twig' %}

{% block title %}{{ event.title }}{% endblock %}

{% block body %}

<div class="main">

<div id="sidebar" class="sidebar nav-side-menu">
    {% include 'event/_menu.html.twig' %}
</div>

    <div class="main-page list">

        {% for error in formComment.captcha.vars.errors %}
            {% if error.cause.message == "Invalid ReCaptcha." %}
                <div class="alert alert-danger mb-0 text-center" role="alert">
                    Vous devez cliquer sur le bouton "Je ne suis pas un robot" pour publier votre commentaire
                </div>
            {% endif  %}
        {% endfor  %}

        <div class="visual-title">

            <div class="button-menu">
                <i class="fa fa-bars fa-2x toggle-btn navbar-toggle sidebar-toggle" data-toggle="collapse" data-target="#menu-content" aria-expanded="false"></i>
            </div>

            <div class="block-image">
                <div class="img-gradient"></div>
                <div class="img-blur">
                    {% include 'event/__image.html.twig' %}
                </div>
                {% if event.coverImage %}
                    <a href="{% if event.coverImage starts with 'http' %}{{ event.coverImage }}{% else %}{{ asset(event.coverImagePath) }}{% endif %}" class="img-contain" data-fancybox data-caption="Visuel de l'évènement">
                        {% include 'event/__image.html.twig' %}
                    </a>
                {% endif %}
            </div>
            <div class="block-data-primary">

                <div class="data-alert">
                    {% if event.isSpam %}<h5 class="alert d-inline-block" style="background:red; color:white" role="alert" >Cet évènement est un spam !</h5>{% endif %}
                    {% if event.isDuplicated %}<h5 class="alert d-inline-block" style="background:red; color:white" role="alert" >Cet évènement est un doublon !</h5>{% endif %}
                    {% if event.isMistake %}<h5 class="alert d-inline-block" style="background:red; color:white" role="alert" >Cet évènement est une erreur !</h5>{% endif %}
                    {% if event.isFull %}<h5 class="alert d-inline-block" style="background:red; color:white" role="alert" >Cet évènement est complet !</h5>{% endif %}
                    {% if event.isPostponed %}
                        <h5 class="alert d-inline-block" style="background:red; color:white" role="alert" >Cet évènement est annulé et reporté !</h5>
                    {% elseif event.isCanceled %}
                        <h5 class="alert d-inline-block" style="background:red; color:white" role="alert" >Cet évènement est annulé !</h5>
                    {% endif %}

                    {% if event.isPublished != true %}
                        <div class="alert alert-warning d-inline-block">Brouillon non répertorié</div>
                    {% elseif event.isValidated != true and event.isSpam != true and event.isDuplicated != true and event.isMistake != true %}
                        <div class="alert alert-success d-inline-block">En attente de validation</div>
                    {% endif %}
                </div>

                <div class="data-rubric">
                    <a class="button-rubric color-{{ event.rubric.color }}" href="{{ path('events_by_rubric',{'slug': event.rubric.slug }) }}">{{ event.rubric.name|lower }}</a>
                    {#<a href="{{ path('events_by_rubric',{'slug': event.rubric.slug }) }}">{{ event.rubric.name | badge({'color':'danger'}) }}</a>#}
                    {% for category in event.category %}
                        <a class="button-rubric color-{{ event.rubric.color }}" href="{{ path('events_by_category',{'slug': category.slug }) }}">{{ category.name }}</a> 
                    {% endfor %}
                </div>
                <div class="data-date">
                    {% if event.isCanceled == true %}<del>{% endif %}
                    {#% include 'event/__date.html.twig' %}
                    <b class="d-block">{{ event.dateText.primary|raw }}</b>
                    {{ event.dateText.secondary|raw }#}
                    {{ datePrimary(event) | raw }}
                    {% if event.isCanceled == true %}</del>{% endif %}
                </div>

                <h1>{{ event.title }}</h1>

                <div class="data-details">
                    <div class="data-detail">
                        {% if event.place %}
                            <a href="{{ path('place_show',{'slug': event.place.slug }) }}"><i class="fa fa-map-marker fa-lg"></i> {{ event.place.title }}</a>,
                            {% if event.rooms %}{{ event.rooms.name }}, {% endif %}
                            <a href="{{ path('search_by_city', {'slug':event.place.city.slug}) }}">{{ event.place.city.name }}</a>

                        {% else %}
                            <i class="fa fa-map-marker fa-lg"></i>
                            {{ event.placeTemporary }},
                            {% if event.city.slug is defined %}
                                <a href="{{ path('search_by_city', {'slug':event.city.slug}) }}">{{ event.city.name }}</a>
                            {% endif %}
                        {% endif %}
                    </div>

                    {% if event.isFull != true and event.isCanceled != true %}
                        {% if event.tickets|length < 2 %}
                            <div class="data-detail">
                                {% include 'event/__price.html.twig' %}
                            </div>
                        {% endif %}

                        {#% if event.dateText.secondary %}
                            <div class="data-date">
                                {{ event.dateText.secondary|raw }}
                            </div>
                        {% endif %#}

                        {#% if event.dateMultiple %}
                            {{ showDateMultiple(event) | raw }}
                        {% endif %#}

                        {% if event.prices|length > 0 %}
                            <div class="data-tickets">
                                {% for price in event.prices %}
                                    {% if price.reductions|length > 0 %}
                                        {# <a class="d-block" href="{{ path("events_by_reduction", {"slug": price.reduction.slug}) }}">{{ price.price|replace({'.00': ''}) }} € avec {{ price.reduction.title }}</a> #}
                                        <div>
                                            {{ price.price|replace({'.00': ''}) }} € avec 
                                            {% for reduction in price.reductions %}{% if loop.last and not loop.first %} et {% elseif not loop.first %}, {% endif %}<a href="{{ path("events_by_reduction", {"slug": reduction.slug}) }}">{{ reduction.title }}</a>{% endfor %}
                                        </div>
                                    {% endif %}
                                {% endfor %}
                            </div>
                        {% endif %}

                        {% if event.tickets|length == 1 %}
                            {% for ticket in event.tickets %}
                                {% if ticket.ticketing.isActivated %}
                                    <div class="data-tickets mt-2">
                                        <a class="d-block" target="_blank" href="{#{ ticket.url }#}{{ path('redirect_ticket',{'slug': event.slug, 'id': ticket.id }) }}">
                                            Réserver une place sur <b>{{ ticket.ticketing.domain }}</b>
                                            {% if ticket.price %}
                                                pour {{ ticket.price|replace({".": ",", ".00": ""}) }} €
                                            {% endif %}
                                            {% if ticket.information and ticket.information|lower != event.title|lower %} - {{ ticket.information }}{% endif %}
                                        </a>
                                    </div>
                                {% endif %}
                            {% endfor %}
                        {% elseif event.tickets|length > 1 %}
                            <div class="data-tickets">
                                <div class="d-block"><u>Réserver une place :</u></div>
                                {% for ticket in event.tickets %}
                                    {% if ticket.ticketing.isActivated %}
                                        <div class="d-block">
                                            <a target="_blank" href="{#{ ticket.url }#}{{ path('redirect_ticket',{'slug': event.slug, 'id': ticket.id }) }}">
                                                - Sur <b>{{ ticket.ticketing.domain }}</b>
                                                {% if ticket.price %}
                                                    pour {{ ticket.price|replace({".": ",", ".00": ""}) }} €
                                                {% endif %}
                                                {% if ticket.information and ticket.information|lower != event.title|lower %} - {{ ticket.information }}{% endif %}
                                                
                                            </a>
                                        </div>
                                    {#% elseif app.session.get('token') == event.secretAnonymous or app.user == event.author %}
                                        <div class="d-block">
                                            - Le site '{{ ticket.ticketing.domain }}' est en attente de vérification (Vous êtes le seul à voir ce message)
                                        </div>
                                    #}
                                    {% endif %}
                                {% endfor %}
                            </div>
                        {% endif %}
                    {% endif %}

                    {#% if event.festival or event.organizer or event.artists|length > 0 %}
                        <div class="data-tickets">
                            {% if event.festival %}
                                <div>Dans le cadre {% if 'festival' not in event.festival.title|lower %}du festival :{% else %} de :{% endif %} <a href="{{ path('festival_show',{'slug': event.festival.slug }) }}">{{ event.festival.title }}</a></div>
                            {% endif %}
                            {% if event.artists|length > 0 %}
                                <div>{% for artist in event.artists %}{% if loop.first %}Avec {% elseif not loop.last %}, {% else %} et {% endif %}<a href="{{ path('artist_show',{'slug': artist.slug }) }}">{{ artist.name }}</a>{% endfor %}</div>
                            {% endif %}
                            {% if event.organizer %}
                                <div>Organisé par <a href="{{ path('organizer_show',{'slug': event.organizer.slug }) }}">{{ event.organizer.name }}</a></div>
                            {% endif %}
                        </div>
                    {% endif %#}

                    {% if event.festival or event.organizer or event.artists|length > 0 %}
                        <div class="data-tickets">
                            {% if event.festival %}
                                <div>Dans le cadre {% if 'festival' not in event.festival.title|lower %}du festival :{% else %} de :{% endif %} <a href="{{ path("festival_show", {"slug": event.festival.slug}) }}" >{{ event.festival.title }}</a></div>
                            {% endif %}
                            {% if event.artists|length > 0 %}
                                <div>{% for artist in event.artists %}{% if loop.first %}Avec {% elseif not loop.last %}, {% else %} et {% endif %}{{ artist.name }}{% endfor %}</div>
                            {% endif %}
                            {% if event.organizer %}
                                <div>Organisé par {{ event.organizer.name }}</div>
                                {#Organisé par {% if event.organizer.organizerkind and event.organizer.organizerkind.name not in event.organizer.name %}l'association {% endif %}{{ event.organizer.name }}#}
                            {% endif %}
                        </div>
                    {% endif %}

                </div>

                {#{ app.token.secret }#}
                
            </div>

            {% if (app.user == null and app.session.get('token') and app.session.get('token') == event.secretAnonymous) or (app.user and (app.user == event.author or app.user in event.editors or 'ROLE_ADMIN' in app.user.roles)) %} {# or not event.author #}
                <div class="block-buttons-primary">
                    <a href="{{ path('event_edit', {'slug':event.slug}) }}" class="btn btn-secondary">Modifier cet évènement</a>
                    
                    {#<a href="{{ path('event_delete', {'slug':event.slug}) }}" class="btn btn-danger" onclick="return confirm(`Etes-vous sur de vouloir supprimer cet évènement : {{event.title}} `)">Supprimer cet évènement</a>#}
                    <form action="{{ url('event_delete', {'slug': event.slug }) }}" method="post"  class="d-inline-block">
                        <input type="hidden" name="token" value="{{ csrf_token(event.slug) }}"/>
                        <button type="submit" class="btn btn-danger"  onclick="return confirm(`Etes-vous sur de vouloir supprimer cet évènement : {{event.title}} `)">Supprimer cet évènement</button>
                    </form>
                
                </div>
            {% endif %}

        </div>
        <div class="position-relative">
            <div class="shape shape-bottom shape-fluid-x svg-shim text-light">
                <svg viewBox="0 0 2880 48" fill="none" xmlns="http://www.w3.org/2000/svg"><path d="M0 48h2880V0h-720C1442.5 52 720 0 720 0H0v48z" fill="currentColor"></path></svg>
            </div>
        </div>
        
        <div class="wrapper">
                
            <div class="row pt-3">
                <div class="col-md-8">

                    <div class="col py-3 block-description">
                        {{ event.description | raw }}
                    </div>
                    
                    {% if chcookieconsent_isCookieConsentSavedByUser() == false or chcookieconsent_isCategoryAllowedByUser('social_media') == false %}
                        {% for video in event.videos %}
                            {% if video.videostore.name == "Youtube" %}
                                {% set videoCode = video.url|split('v=') %}
                                <div class="col bg-light py-3 mt-3">
                                    <div class="embed-responsive embed-responsive-item embed-responsive-16by9">
                                        <iframe class="embed-responsive-item" src="https://www.youtube.com/embed/{{ videoCode[1] }}?rel=0" allowfullscreen></iframe>
                                    </div>
                                </div>
                            {#% elseif video.videostore.name == "Dailymotion" %}
                                {% set videoCode = video.url|split('/video/') %}
                                <div class="col bg-light py-3 mt-3">
                                    <div class="embed-responsive embed-responsive-item embed-responsive-16by9">
                                        <iframe class="embed-responsive-item" src="https://www.dailymotion.com/embed/video/{{ videoCode[1] }}" allowfullscreen></iframe>
                                    </div>
                                </div>
                                #}
                            {% endif %}
                        {% endfor %}
                    {% elseif event.videos|length > 0 %}
                        <div class="text-center bg-light py-3 mt-3">
                            <div class="h5">{% if event.videos|length == 1 %}Une vidéo est cachée{% else %}Plusieurs vidéos sont cachées{% endif %} car vous avez bloqué les cookies</div>
                            <a class="btn btn-primary" href="#" id="button-cookies-footer" type="button" data-toggle="modal" data-target="#modalCookies">Modifier vos paramètres</a>
                        </div>
                    {% endif %}

                    {% for link in event.links %}
                        <a target="_blank" href="{{ link }}" class="btn btn-secondary btn-block mt-3" type="button">
                            {{ link }}
                        </a>
                    {% endfor %}

                    {% if event.isFull != true and event.isCanceled != true %}
                        {% for ticket in event.tickets %}
                            {% if ticket.ticketing.isActivated %}

                                {% if ticket.ticketing.isEmbeddable and ticket.urlembed %}
                                    <div class="col bg-light my-3 p-0">
                                        {% if "weezevent.com/widget_billeterie.php" in ticket.urlembed %}
                                            <a href="https://weezevent.com/?c=sys_widget" class="button-weezevent weezevent-widget-integration" target="_blank" data-src="{{ ticket.urlembed }}" data-width="650" data-height="600" data-id="{% set id = ticket.urlembed|split('id_evenement=') %}{{ id[1] }}" data-resize="1" data-width_auto="1" data-noscroll="0" data-nopb="0" data-type="neo">Billetterie Weezevent</a>
                                            {#<script type="text/javascript" src="https://widget.weezevent.com/weez.js"></script>#}
                                            {#<script type='text/javascript' src='https://www.weezevent.com/js/widget/min/widget.min.js'></script>#}
                                            <script type='text/javascript' src='/js/weezevent.js'></script>
                                        {% elseif "weezevent.com/widget_multi.php" in ticket.urlembed %}
                                            <iframe width='100%' height='100%' scrolling='no' id='weezmulti' src="{{ ticket.urlembed }}" frameborder="0" allowfullscreen></iframe>
                                            {#<script type='text/javascript' src='https://www.weezevent.com/js/multi/multi.js'></script>#}
                                            <script type='text/javascript' src='/js/weezevent-multi.js'></script>
                                        {% else %}
                                            {% if "yuticket.com" in ticket.urlembed %}<script type="text/javascript" src="https://www.yuticket.com/media/js/iframe.js"></script>{% endif %}
                                            <iframe width="100%" height="420px" src="{{ ticket.urlembed }}" frameborder="0" allowfullscreen></iframe>
                                        {% endif %}
                                    </div>
                                {% elseif ticket.ticketing.isOnlyResponsive %}
                                    <div class="col bg-light my-3 p-0">
                                        <iframe width="100%" height="420px" src="{{ ticket.url }}" frameborder="0" allowfullscreen></iframe>
                                    </div>
                                {% else %}    
                                    <a target="_blank" href="{#{ ticket.url }#}{{ path('redirect_ticket',{'slug': event.slug, 'id': ticket.id }) }}" class="btn btn-secondary btn-block mt-3" type="button">
                                        Réserver une place chez {{ ticket.ticketing.name }}
                                        {% if ticket.information and ticket.information|lower != event.title|lower %} - {{ ticket.information }}{% endif %}
                                    </a>
                                {% endif %}

                            {% elseif app.session.get('token') == event.secretAnonymous or app.user == event.author %}
                                <div class="col bg-light my-3 p-3 text-center">
                                    <h5 style="letter-spacing:1px">Le site '{{ ticket.ticketing.domain }}' est en attente de vérification</h5>
                                    {#<h6 class="mb-0">(Vous êtes le seul à voir ce message)</h6>#}
                                </div>
                            {% endif %}
                        {% endfor %}
                    {% endif %}
{#
                    {% if event.tickets|length == 1 %}
                        {% for ticket in event.tickets %}
                            <a class="btn btn-secondary btn-block" type="button">
                                Réserver une place sur {{ ticket.ticketing.name }}
                                {% if ticket.information and ticket.information|lower != event.title|lower %} - {{ ticket.information }}{% endif %}
                            </a>
                        {% endfor %}
                    {% elseif event.tickets|length > 1 %}
                        <div class="dropdown">
                            <button class="btn btn-secondary btn-block dropdown-toggle mt-4" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                Réserver une place
                            </button>
                            <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                                {% for ticket in event.tickets %}
                                    <a class="dropdown-item" target="_blank" href="{{ ticket.url }}">
                                        {% if ticket.price %}
                                            {{ ticket.price|replace({".": ",", ".00": ""}) }} €
                                        {% else %}
                                            Réserver
                                        {% endif %}
                                        sur {{ ticket.ticketing.name }}
                                        {% if ticket.information and ticket.information|lower != event.title|lower %} - {{ ticket.information }}{% endif %}
                                    </a>
                                {% endfor %}
                            </div>
                        </div>
                    {% endif %}
#}
                    <div class="block-share">
                        <div class="share-title"> 
                            <h5>Partager cet évènement</h5>
                        </div>
                        {% set textShare = "Partager cet évènement " ~ event.title %}
                        {% set urlshare =  app.request.schemeAndHttpHost ~ path('event_show', {'slug':event.slug}) %}
                        {% set shortdescription = event.description|replace({'</p>':'%0A','</br>':'%0A','<br>':'%0A'})|striptags|slice(0, 50)|e('html') %}

                        <div class="share-buttons">
                            <a class="logo" target="_blank" href="https://www.facebook.com/sharer?u={{ urlshare }}"><img src="/uploads/common/logo/facebook.png" border="0" title="Partager sur Facebook"></a> 
                            <a class="logo" target="_blank" href="https://twitter.com/home?status={{ urlshare }}"><img src="/uploads/common/logo/twitter.png" border="0" title="Partager sur Twitter"></a> 
                            <a class="logo" target="_blank" href="{#https://wa.me/?text=#}https://api.whatsapp.com/send?text=Bonjour, voici une sortie que je vous conseille : {{ event.title }} - Pour en savoir plus, voir le lien suivant :  {{ urlshare }}"><img src="/uploads/common/logo/whatsapp2.png" border="0" title="Partager sur WhatsApp"></a>
                            <a class="logo" target="_blank" href="http://www.google.com/calendar/event?action=TEMPLATE&amp;text={{ event.title|e('html') }}&amp;dates={{ event.dateStart|date('Ymd') }}T{% if event.timeStart %}{{ event.timeStart|date('Hi', "Etc/UTC") }}{% else %}2200{% endif %}00Z/{{ event.dateEnd|date('Ymd') }}T{% if event.timeEnd %}{{ event.timeEnd|date('Hi', "Etc/UTC") }}{% elseif event.timeStart %}{{ event.timeStart|date('Hi', "Etc/UTC") }}{% else %}2200{% endif %}00Z&amp;details={{ shortdescription > 50 ? shortdescription ~ '…' : shortdescription }}%0A%0APlus+d%27informations+sur+{{ urlshare }}&amp;location={% if event.place %}{{ event.place.title|e('html') }}, {{ event.place.city.name|e('html') }}{% elseif event.city %}{{ event.placeTemporary|e('html') }}, {{ event.city.name|e('html') }} {% endif %}" title="Ajouter à Google Calendar">
                                <img src="/uploads/common/logo/logoCalendrier.png" border="0">
                            </a>
                            <a class="logo" target="_blank" href="mailto:?subject={{ textShare }}&amp;body=Bonjour, voici une sortie que je vous conseille : {{ event.title }}  Pour en savoir plus, cliquez sur le lien suivant : {{ urlshare }}" title="Envoyer un email">
                                <img src="/uploads/common/logo/email2.png" border="0">
                            </a> 
                            <label class="logo" for="share" title="{{ textShare }}">
                                <img src="/uploads/common/logo/logoPourCopier.png" border="0">
                            </label>
                        </div>

                        <div class="share-container">
                            <input id="share" type="checkbox">
                            <article class="ac-auto"> 
                                <div class="menu">
                                    Copiez les infos ci-dessous pour un : mail / forum / réseau social<br>
                                    <textarea>Salut, je te conseille cet évènement : {{ event.title }} - Pour plus d'informations voir le lien : {{ urlshare }}</textarea>
                                </div>
                            </article>
                        </div>
                    </div>

                    <div class="block-comment">
                        {% set txt = "cet évènement" %}
                        {% set comments = event.comments %}
                        {% include 'partials/comment.html.twig' %}
                    </div>

                </div>
                <div class="col bg-light p-3">

                    {% if event.images|length > 0 %}
                        <div id="carouselIndicators" class="carousel slide pt-3" data-ride="carousel">
                            <ol class="carousel-indicators">
                                {% for image in event.images %}
                                <li data-target="#carouselIndicators" data-slide-to="{{ loop.index0 }}" class="{% if loop.first %}active{% endif %}"></li>
                                {% endfor %}
                            </ol>
                            <div class="carousel-inner">
                                {% for image in event.images %}
                                    <div class="carousel-item {% if loop.first %}active{% endif %}">
                                        <img class="d-block w-100" src="{% if image.url starts with 'http' %}{{ image.url }}{% else %}{{ asset(image.imagePath) }}{% endif %}" alt="First slide">
                                        <div class="carousel-caption d-none d-md-block">
                                            <h5>{{ event.title }}</h5>
                                            <p>{{ image.caption }}</p>
                                        </div>
                                    </div>
                                {% endfor %}
                            </div>
                            {% if event.images|length > 1 %}
                                <a class="carousel-control-prev" href="#carouselExampleIndicators" role="button" data-slide="prev">
                                    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                                    <span class="sr-only">Previous</span>
                                </a>
                                <a class="carousel-control-next" href="#carouselExampleIndicators" role="button" data-slide="next">
                                    <span class="carousel-control-next-icon" aria-hidden="true"></span>
                                    <span class="sr-only">Next</span>
                                </a>
                            {% endif %}
                        </div>
                    {% endif %}

                    {% if event.place %}

                        {{ event.place.description | raw }}
                        
                        <p><b>Lieu :</b> {{ event.place.name }}</p>

                        <p><b>Adresse :</b> {{ event.place.address }}</p>

                        <p><b>Ville :</b> {{ event.place.city.name }}</p>
                        
                        {% if event.place.district %}
                            <p><b>Quartier :</b> {{ event.place.district.name }}</p>
                        {% endif %}

                        <p>
                        {% if event.place.city.department.region.country.slug == "mali" %}
                            <b>Cercle :</b>
                        {% elseif event.place.city.department.region.country.slug == "allemagne" %}
                            <b>District :</b>
                        {% else %}
                            <b>Département :</b> 
                        {% endif %}
                        {{ event.place.city.department.name }}
                        </p>

                        <p>
                        {% if event.place.city.department.region.country.slug == "allemagne" %}
                            <b>Land :</b>
                        {% else %}
                            <b>Région :</b>
                        {% endif %}
                        {{ event.place.city.department.region.name }}
                        </p>

                        <p><b>Pays :</b> {{ event.place.city.department.region.country.name }}</p>                

                        {% if event.place.mapUrl %}
                            <iframe class="carteGoogle" frameborder="0" scrolling="no" marginheight="0" marginwidth="0" width="100%" height="300px" src="{{ event.place.mapUrl }}&amp;z=12&amp;output=embed"></iframe>
                        {% endif %}
                    
                    {% else %}
                        <p><b>Lieu :</b> {{ event.placeTemporary }}</p>
                        {% if event.city.name is defined %}
                            <p><b>Ville :</b> {{ event.city.name }}</p>
                            <p>
                            {% if event.city.department.region and event.city.department.region.country.slug == "mali" %}
                                <b>Cercle :</b>
                            {% else %}
                                <b>Département :</b> 
                            {% endif %}
                            {{ event.city.department.name }}</p>
                            <p><b>Région :</b> {{ event.city.department.region.name }}</p>
                            <p><b>Pays :</b> {{ event.city.department.region.country.name }}</p>
                        {% endif %}              
                    {% endif  %}

                    <div class="container mt-4 p-0">
                        <div class="row">
                            {% if event.author %}
                                {% set a = event.author %}

                                {% if a.isVisible %}

                                    {% if a.avatar %}
                                        <div class="d-inline-block">
                                            <a href="{{ path('user_show', {'slug': a.slug}) }}">
                                                <img src="{% if "http" in a.avatar %}{{a.avatar}}{% else %}{{ asset(a.avatarPath) }}{% endif %}" class="avatar avatar-medium" alt="Avatar de {{a.fullName}}">
                                            </a>
                                        </div>
                                    {% endif %}

                                    <div class="col px-0">
                                        <a href="{{ path('user_show', {'slug': a.slug}) }}">{{a.fullName}}</a> a annoncé cet évènement
                                        {% if event.createdAt|date("Y-m-d") == "now"|date("Y-m-d") %}
                                            aujourd'hui à {{ event.createdAt|date("H\\hi") }}
                                        {% else %}
                                            le {{ event.createdAt | dateText }}
                                        {% endif %}
                                    </div>

                                {% else %}
                                
                                    <div class="col px-0">
                                        Un utilisateur connecté a annoncé cet évènement
                                        {% if event.createdAt|date("Y-m-d") == "now"|date("Y-m-d") %}
                                            aujourd'hui à {{ event.createdAt|date("H\\hi") }}
                                        {% else %}
                                            le {{ event.createdAt | dateText }}
                                        {% endif %}
                                    </div>

                                {% endif %}
                                        
                                {# <span class="badge badge-primary">{{a.events | length}} annonce{% if a.events | length > 1 %}s{% endif %}</span>#}
                            {% else %}

                                Annoncé anonymement    
                                {% if event.createdAt|date("Y-m-d") == "now"|date("Y-m-d") %}
                                    aujourd'hui à {{ event.createdAt|date("H\\hi") }}
                                {% else %}
                                    le {{ event.createdAt | dateText }}
                                {% endif %}

                            {% endif %}

                        </div>
                    </div>

                    {% if event.verifiedAt %}
                        <div class="mt-3">
                            Publié
                            {% if event.verifiedAt|date("Y-m-d") == "now"|date("Y-m-d") %}
                                aujourd'hui à {{ event.verifiedAt|date("H\\hi") }}
                            {% else %}
                                le {{ event.verifiedAt | dateText }}
                            {% endif %}
                            par <a href="{{ path('user_show', {'slug': event.verifiedBy.slug}) }}">{{event.verifiedBy.fullName}}</a>
                        </div>
                    {% endif %}

                    {% if event.updatedAt != event.createdAt and event.updatedAt != event.verifiedAt  %}
                        <div class="mt-3">
                            Mise à jour 
                            {% if event.updatedAt|date("Y-m-d") == "now"|date("Y-m-d") %}
                                aujourd'hui
                            {% else %}
                                le {{ event.updatedAt | dateText }}
                            {% endif %}
                            à {{ event.updatedAt|date("H\\hi") }}
                        </div>
                    {% endif %}
                

                    {% set claiming = false %}

                    {% if app.user.claims is defined %}
                        {% for claim in app.user.claims %}
                            {% if claim.event == event %}
                                {% set claiming = true %}
                            {% endif %} 
                        {% endfor %}
                    {% endif %}

                    {#% if app.user and not (app.user == event.author) and app.user not in event.editors and "ROLE_ADMIN" not in app.user.roles %#}
                    {% if (app.user == null and (app.session.get('token') == null or app.session.get('token') != event.secretAnonymous)) or (app.user and app.user != event.author and app.user not in event.editors and "ROLE_ADMIN" not in app.user.roles) %}
                        {% if claiming == true %}
                            <div class="btn btn-secondary">Votre demande est en cours...</div>
                        {% else %}
                            <a href="{{ path('event_claim', {'slug':event.slug}) }}" class="btn btn-secondary">Modifier cet évènement<a>
                        {% endif %}
                    {% endif %} 

                </div>
            </div>

            {% if data %}

                <div class="wrapper">
            
                    {% for list in data.list %}
                        <div class="title">
                            <h2>{{ list.title }}{% if app.request.query.get('page') > 1 %} (Page {{ app.request.query.get('page') }}){% endif %}</h2>
                            {% include 'partials/choiceView.html.twig' %}
                        </div>
                        {% for event in list.events %}
                            {% include 'event/_event.html.twig' %}
                        {% endfor %}
                    {% endfor %}

                    <div class="pagination">
                        {{ knp_pagination_render(data.pagination) }}
                    </div>

                    {% if data.button is defined %}
                        <div class="button-archive">
                            <a class="btn btn-secondary btn-block mx-1" href="{{ data.button.url }}">
                                {{ data.button.title }}
                            </a>
                        </div>
                    {% endif %}

                </div>
            
            {% endif %}

            </div>

        </div>
    </div>
</div>

{% endblock %}


{% block header %}

{#
<meta property="og:url" content="" />
<meta property="og:description" content="{{ event.description|striptags|slice(0, 100) }}" />
<meta property="og:title" content="{{ event.title }}" />
#}
<meta property="og:type" content="article" />
<meta property="og:image" content="{% if event.coverImage starts with 'http' %}{{ event.coverImage }}{% elseif event.coverImage %}https://www.curieux.net{{ asset(event.coverImagePath) }}{% endif %}" />

<script type="application/ld+json">
    {
      "@context": "https://schema.org",
      "@type": "Event",
      "name": "{{ event.title }}",
      "startDate": "{{ event.dateStart|date('Y-m-d') }}",
      "endDate": "{{ event.dateEnd|date('Y-m-d') }}",
      "eventAttendanceMode": "https://schema.org/MixedEventAttendanceMode",
      "eventStatus": "https://schema.org/EventScheduled",
      "location": [{
        "@type": "Place",
        {% if event.place %}
            "name": "{{ event.place.title }}",
            "address": {
                "@type": "PostalAddress",
                "streetAddress": "{{ event.place.address }}",
                "addressLocality": "{{ event.place.city.name }}",
                {% if event.place.postcode %}"postalCode": "{{ event.place.postcode.code }}",{% endif %}
                "addressRegion": "{{ event.place.city.department.region.name }}",
                "addressCountry": "{{ event.place.city.department.region.country.code }}" 
            }
        {% elseif event.city.name is defined %}
            "name": "{{ event.placeTemporary }}",
            "address": {
                "@type": "PostalAddress",
                "addressLocality": "{{ event.city.name }}"
            }
        {% endif %}
        
      }],
      "image": [
        "{% if event.coverImage starts with 'http' %}{{ event.coverImage }}{% elseif event.coverImage %}https://curieux.net{{ asset(event.coverImagePath) }}{% endif %}"
       ],
      "description": "{{ event.description|striptags }}",
      "offers": {
        "@type": "Offer",
        "url": "https://curieux.app/agenda/evenement/{{ event.slug }}",
        {% if event.price < 999 %}
        "price": "{{ event.price }}",
        "priceCurrency": "EUR",
        {% endif %}
        "availability": "https://schema.org/InStock"
      }
      {% for artist in event.artists %}
      ,"performer": {
        "@type": "PerformingGroup",
        "name": "{{ artist.name }}"
      }
      {% endfor %}
      {% if event.organizer %}
      ,"organizer": {
        "@type": "Organization",
        "name": "{{ event.organizer.name }}",
        "url": "https://curieux.app/info/organisateur/{{ event.organizer.slug }}"
      }
      {% endif %}
    }
</script>
{% endblock %}



{% block javascripts %}
    {{ encore_entry_script_tags('js/fancybox') }}
{% endblock %}