{% extends 'admin/base.html.twig' %}

{% block title 'Administration des annonces' %}

{% block body %}

    <div class="container-fluid">

        <h1 class="my-5 text-center">Administration des évènements ({{ events.getTotalItemCount }})</h1>

        <div class="alert alert-danger h4">Problème avec la recherche filtrée !!!</div>
        {{ form_start(form, {'action': path('admin_event_index'), 'method': 'GET'}) }}
            <div class="row">
                <div class="col-sm">
                    {{ form_widget(form.rubrique) }}
                </div>
                <div class="col-sm">
                    {{ form_widget(form.date) }}
                </div>
                <div class="col-sm">
                    {{ form_widget(form.titre) }}
                </div>
                <div class="col-sm">
                    {{ form_widget(form.lieu) }}
                </div>
                <div class="col-sm">
                    {{ form_widget(form.ville) }}
                </div>
                {{ form(form.prix,{attr:{'style':'display:none'}}) }}
            </div>
            <div class="row">
                <div class="col-sm">
                    <button type="submit" class="btn btn-secondary btn-block">Filtrer</button>
                </div>
            </div>
        {{ form_end(form) }}

        <table class="table table-hover bg-white">

            <thead>
                <tr class="text-center">
                    <th scope="col" class="align-middle px-4">Id</th>
                    <th scope="col">Date</th>
                    <th scope="col">Titre</th>
                    <th scope="col">Rubrique</th>
                    <th scope="col">Lieu</th>
                    <th scope="col">Tarif</th>
                    <th scope="col">Auteur</th>
                    <th scope="col">Participant</th>
                    <th scope="col">Note</th>
                    <th></th>
                </tr>
            </thead>

            <tbody>
                {% for event in events %}
                    <tr> 
                        <td class="align-middle px-4" scope="col">{{event.id}}</td>
                        <td class="align-middle">
                            {% if event.dateStart == event.dateEnd %}
                                Le {{ event.dateStart|date('d/m/Y') }}
                            {% else %}
                                Du {{ event.dateStart|date('d/m/Y') }}
                                au {{ event.dateEnd|date('d/m/Y') }}
                            {% endif %}

                            {% if event.timeEnd %}
                                de {{ event.timeStart|date('H:i') }} à {{ event.timeEnd|date('H:i') }}
                            {% elseif event.timeStart %}
                                à partir de {{ event.timeStart|date('H:i') }}
                            {% endif %}
                        </td>
                        <td class="align-middle">{{event.title}}</td>
                        <td class="align-middle">{{event.rubric.name}}</td>
                       
                        <td class="align-middle">
                            {% if event.place %}
                                {{ event.place.title }}, {{ event.place.city.name }}
                            {% else %}
                                {{ event.placeTemporary }}, {{ event.city.name }}
                            {% endif %}
                        </td>
                        <td class="align-middle text-center">
                            {% if event.price == 0 %}
                                Entrée libre
                            {% elseif event.price == 0.01 %}
                                Prix libre
                            {% elseif event.price == 21 %}
                                + de 20€
                            {% elseif event.price == 22 %}
                                /
                            {% else %}
                                   {{event.price}}€
                            {% endif %}
                            {% if event.prices %}
                                {% for price in event.prices %}
                                    <br>{{ price.reduction.title }} : {{ price.price }}
                                {% endfor %}
                            {% endif %}
                        </td>
                        <td class="align-middle text-center">{#{event.author.fullName}#}</td>
                        <td class="align-middle text-center"><span class="badge badge-primary rounded text-center">X</span></td>
                        <td class="align-middle text-center"><span class="badge badge-primary rounded text-center">X</span></td>
                        <td>
                            <div style="width:100px">
                                <a href="{{ path('admin_event_edit', {'id': event.id}) }}" class="btn btn-sm btn-primary"><i class="fas fa-xs fa-edit"></i></a>
                                <a href="{{ path('admin_event_delete', {'id': event.id}) }}" class="btn btn-sm btn-danger"><i class="fas fa-xs fa-trash"></i></a>
                            </div>
                        </td>
                    </tr>
                {% endfor %}
            </tbody>

        </table>
        <div class="d-flex justify-content-center">
            {{ knp_pagination_render(events) }}
        </div>
        {#{ paginator.display() }#}
        {#% include 'admin/partials/paginator.html.twig' with {'route':'admin_event_index'}%#}
    </div>

{% endblock %}