{% if comments|length > 0 %}

    <div class="text-center">
        <h4>Laisser un commentaire</h4>
    </div>

{% else %}

    <div class="text-center">
        <h5 class="pb-2">Aucun commentaire sur {{ txt }}, <span class="d-inline-block">{% if app.user %}c'est à toi de jouer {{ app.user.firstname }}{% endif %}<span></h5>
    </div>

{% endif  %}

{{ form_start(formComment) }}

    {% if app.user %}
        {{ form_widget(formComment.isAlerted) }}
        {{ form_widget(formComment.content) }}
        {{ form_widget(formComment.captcha) }}
        <button class="btn btn-primary btn-block mt-3">Envoyer votre commentaire</button>
    {% else  %}
        <h6 class="d-inline-block">Signaler une erreur</h6> ou <a href="{{ path("account_login") }}">connectez-vous</a> pour publier un commentaire
        {{ form_widget(formComment.isAlerted,{"attr":{"style":"display:none"}}) }}
        {{ form_widget(formComment.content,{"attr":{"placeholder":"Votre message sera supprimé dès que le problème sera résolu"}}) }}
        {{ form_widget(formComment.captcha) }}
        {{ form_errors(formComment.captcha,{"attr":{"placeholder":"test"}}) }}
        <button class="btn btn-primary btn-block mt-3">Signaler {{ txt }}</button>
    {% endif  %}

{{ form_end(formComment) }}

<script src="//www.google.com/recaptcha/api.js?hl={{app.request.locale}}"> </script>

{% if comments|length > 0 %}

    <div class="text-center mt-5">
        <h4>Les commentaires sur {{ txt }}</h4>
    </div>

    <div class="pb-3">
        {% for comment in comments %}
            <div class="bg-light rounded mb-3 py-3 px-3">

                {% if (app.user and "ROLE_ADMIN" in app.user.roles) or (comment.author and comment.author == app.user) %}<a href="{{ path("event_comment_delete",{"id":comment.id }) }}" class="btn btn-danger float-right btn-sm color-white">X</a>{% endif %}
                <strong>
                    {% if comment.author %}{{ comment.author.fullName }}{% else %}Un anonyme{% endif  %}
                    {% if comment.isAlerted %}a signalé une erreur{% else %}a commenté{% endif %}
                </strong>
                {% if comment.createdAt|date("Y-m-d") == "now"|date("Y-m-d") %}
                    aujourd'hui à {{ comment.createdAt|date("H:i") }}
                {% else %}
                    le {{ comment.createdAt|date("d/m/Y à H:i") }}
                {% endif  %}

                <div class="row mb-1 h5">
                    {{ comment.content }}
                </div>
            </div>
        {% endfor %}
    </div>

{% endif  %}

