<footer class="bg-dark py-5 text-center">
    <a class="text-white" href="{{ path("flux_rss") }}" target="_blank">Flux RSS</a> -
    {#
    <a class="text-white" href="/api">API</a> -
    <a class="text-white" href="{{ path("ticket_by_filter") }}">Billetterie</a> -
    <a class="text-white" href="{{ path("legal_confidentiality") }}">Règles de confidentialité</a> -
    <a class="text-white" href="{{ path("legal_condition") }}">Conditions d'utilisation</a>
    #}
    {#% if chcookieconsent_isCookieConsentSavedByUser() == true %}{% endif %#}    
    <a class="text-white" href="#" id="button-cookies-footer" type="button" data-toggle="modal" data-target="#modalCookies">Gestion des cookies - </a>
    
    <a class="text-white" href="{{ path("legal_notice") }}">Mentions légales</a> - 
    <span>Association Strasbourg Curieux</span>
</footer>