<!--navbar-dark bg-primary-->
{#{ dump(app.request.server) }#}
<nav class="navbar navbar-expand-lg bg-secondary" style="box-shadow: 0 0 4px 0 gray;" target="_top">

    <div class="title-website navbar-brand">
        <a class="title-site" href="{{ path("homepage") }}">
            <img width="100px" src="/uploads/common/Logo_curieux.png">
            <h1>{{ website.name }}</h1>
        </a>
        
        <div class="btn-group dropdown-site">
            <div class="btn dropdown-toggle dropdown-other-website" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                {#<h1 class="h4 d-inline">{{ website }}</h1>#}
                <span class="sr-only"></span>
            </div>
            <div class="dropdown-menu dropdown-menu-right dropdown-menu-other-website">

                {% set direction = "" %}
                {% if app.request.get('_route') not in ["event_show","place_show"] %}
                    {% set direction = app.request.server.get('REQUEST_URI') %}
                {% endif %}

                {% if website.arounds|length > 0 %}
                    <a class="dropdown-item disabled" href="#">VOIR AUSSI SUR</a>
                    {% for site in website.arounds %}
                        <a class="dropdown-item" href="https://{{ site.slug }}.curieux.net{{ direction }}">{{ site.name }}</a>
                    {% endfor %}
                    <div class="dropdown-divider"></div>
                {% endif %}
                
                {% if website.address.subdomain != "www" %}
                    <a class="dropdown-item" href="https://www.curieux.net{{ direction }}">Toutes les villes</a>
                {% endif %}
                
            </div>
        </div>
    </div>

    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarColor01" aria-controls="navbarColor01" aria-expanded="true" aria-label="Toggle navigation">
        <i class="fa fa-bars fa-2x"></i>
    </button>

    <div class="collapse navbar-collapse" id="navbarColor01">
        <ul class="navbar-nav mr-auto">
            <li class="nav-item">
                <a class="nav-link {% if page is defined and page == 'event' %}active{% endif %}" href="{{ path("event_index") }}">Agenda</span></a>
            </li>
            <li class="nav-item">
                <a class="nav-link {% if page is defined and page == 'place' %}active{% endif %}" href="{{ path("place_index") }}">Annuaire</span></a>
            </li>
            {#
            <li class="nav-item">
                <a class="nav-link {% if page is defined and page == 'festival' %}active{% endif %}" href="{{ path("festival_index") }}">Festival</span></a>
            </li>
            <li class="nav-item">
                <a class="nav-link {% if page is defined and page == 'info' %}active{% endif %}" href="{{ path("info_index") }}">Artiste</span></a>
            </li>
            #}

        </ul>
        <ul class="navbar-nav ml-auto nav-menu-right">

            <li class="nav-item">
                {% if page is defined and page == 'festival' and app.request.get('_route') != "festival_create" %}
                    <a class="nav-link" href="{{ path('festival_create') }}">Ajouter un festival
                        {#<div class="btn button-new">Ajouter un festival</div>#}
                    </a>
                {% elseif page is defined and page == 'place' and app.request.get('_route') != "place_create" %}
                    <a class="nav-link" href="{{ path('place_create') }}">Ajouter un lieu
                        {#<div class="btn button-new">Ajouter un lieu</div>#}
                    </a>
                {% elseif app.request.get('_route') != "event_create" %}
                    <a class="nav-link" href="{{ path('event_create') }}">Annoncer un évènement
                        {#<div class="btn button-new">Annoncer un évènement</div>#}
                    </a>
                {% endif %}
            </li>

            {% if app.user %}

                <li class="nav-item dropdown">

                    <a href="#" class="nav-link dropdown-toggle" data-toggle="dropdown" id="accountDropdownLink">
                    
                        {% if app.user.avatar %}
                            {% if app.user.avatar starts with 'http' %}
                                <img src="{{ app.user.avatar }}" class="avatar avatar-mini mr-1"/>
                            {% else %}
                                <img src="{{ asset(app.user.avatarPath) }}" class="avatar avatar-mini"/>
                            {% endif %}
                        {% endif %}
                        {{ app.user.fullName }}
                        {#% if app.user.avatar %}
                            <img src="{{ app.user.avatar}}" class="avatar avatar-mini" alt="Avatar de {{ app.user.fullName }} ">
                        {% endif %}
                        {{ app.user.fullName }#}
                    </a>
                    
                    <div class="dropdown-menu dropdown-menu-right" aria-labelledby="accountDropdownLink">
                        
                        {% if "ROLE_ADMIN" in app.user.roles %}
                            <a class="dropdown-item" href="{{ path('events_validator') }}">
                                Vérification des publications
                            </a>
                            <a class="dropdown-item" href="{{ path('ticket_by_filter') }}">
                                Importation des billetteries
                            </a>
                            <a class="dropdown-item" href="{{ path('configure_subdomain') }}">
                                Configuration du site
                            </a>
                            <a class="dropdown-item" href="{{ path('admin_dashboard') }}">
                                Administration du site
                            </a>
                            <div class="dropdown-divider"></div>
                        {% endif %}

                        {% if app.user.eventLikes|length > 0 %}
                            <a class="dropdown-item" href="{{ path('events_by_like') }}">
                                {{ app.user.eventLikes|length }}
                                {% if app.user.eventLikes|length == 1 %}évènement favori{% else %}évènements favoris{% endif %}
                            </a>
                            <div class="dropdown-divider"></div>
                        {% endif %}

                        {% if app.user.placeLikes|length > 0 %}
                            <a class="dropdown-item" href="{{ path('places_by_like') }}">
                                {{ app.user.placeLikes|length }}
                                {% if app.user.placeLikes|length == 1 %}lieu favori{% else %}lieux favoris{% endif %}
                            </a>
                            <div class="dropdown-divider"></div>
                        {% endif %}

                        {% if app.user.eventAuthors is not empty %}
                            <a class="dropdown-item" href="{{ path('account_index') }}">
                                {{ app.user.eventAuthors|length }}
                                {% if app.user.eventAuthors|length == 1 %}évènement annoncé{% else %}évènements annoncés{% endif %}
                            </a>
                            <div class="dropdown-divider"></div>
                        {% endif %}


                        {% if app.user.placeEditors is not empty %}
                            <a class="dropdown-item disabled" href="#">
                                {% if app.user.placeEditors|length == 1 %}MON LIEU{% else %}MES LIEUX{% endif %}
                            </a>

                            {% for place in app.user.placeEditors %}
                                <a class="dropdown-item" href="{{ path('place_show',{'slug': place.slug }) }}">{{ place.title }}</a>
                            {% endfor %}
           
                            <div class="dropdown-divider"></div>
                        {% endif %}




                        {% if app.user.claims|length > 0 %}
                            <a class="dropdown-item disabled" href="#">
                                {% if app.user.claims|length == 1 %}MA DEMANDE D'ACCES{% else %}MES DEMANDES D'ACCES{% endif %} 
                            </a>

                            {% for claim in app.user.claims %}
                                {% if claim.place %}
                                    <a class="dropdown-item" href="{{ path('place_show',{'slug': claim.place.slug }) }}">Lieu : {{ claim.place.title }}</a>
                                {% elseif claim.event %}
                                    <a class="dropdown-item" href="{{ path('event_show',{'slug': claim.event.slug }) }}">Évènement : {{ claim.event.title|slice(0, 20) }}{% if claim.event.title|slice(0, 20) != claim.event.title %}...{% endif %}</a>
                                {% endif %}
                            {% endfor %}
                            <div class="dropdown-divider"></div>
                        {% endif %}


                        {% if app.user.festivalEditors is not empty %}
                            <a class="dropdown-item disabled" href="#">
                                {% if app.user.festivalEditors|length == 1 %}MON FESTIVAL{% else %}MES FESTIVALS{% endif %}
                            </a>
                            {% for festival in app.user.festivalEditors %}
                                <a class="dropdown-item" href="{{ path('festival_show',{'slug': festival.slug }) }}">{{ festival.title }}</a>
                            {% endfor %}
                            <div class="dropdown-divider"></div>
                        {% endif %}
                        
                        <a class="dropdown-item disabled" href="#">ANNONCER</a>
                        <a class="dropdown-item" href="{{ path('event_create') }}">Un évènement</a>
                        <a class="dropdown-item" href="{{ path('place_create') }}">Un lieu</a>
                        {#
                        <a class="dropdown-item" href="{{ path('festival_create') }}">Un festival</a>
                        <a class="dropdown-item" href="{{ path('artist_create') }}">Un artiste</a>
                        <a class="dropdown-item" href="{{ path('organizer_create') }}">Un organisateur</a>
                        #}
                        <div class="dropdown-divider"></div>
                        <a class="dropdown-item" href="{{ path('account_index') }}">Ma page personnelle</a>
                        <a class="dropdown-item" href="{{ path('account_profile') }}">Modifier mon profil</a>
                        <div class="dropdown-divider"></div>
                        <a class="dropdown-item" href="{{ path('account_logout') }}">Déconnexion</a>
                    </div>
                    
                </li>

            <!--
                <li class="nav-item">
                    <a class="nav-link" href="{{ path('account_logout') }}">Déconnexion</span></a>
                </li>
            -->


            {% else %}

                {#
                <li class="nav-item">
                    <a class="nav-link" href="{{ path('account_register') }}">Inscription</a>
                </li>
                #}
                <li class="nav-item">
                    <a class="nav-link" href="{{ path('account_login') }}">
                        <i class="fa fa-user fa-2x"></i>
                    </a>
                </li>
            {% endif %}

        </ul>
    </div>
   
</nav>