{% extends 'admin/base.html.twig' %}

{% block title %}Administration des réclamations{% endblock %}

{% block body %}
    <div class="container-fluid">
        <h1 class="my-5 text-center">Gestion des réclamations</h1>

        <table class="table table-hover bg-white">
            <thead>
                <tr class="text-center">
                    <th class="align-middle">Date de la demande</th>
                    <th class="align-middle">Demandeur</th>
                    <th class="align-middle">Type</th>
                    <th class="align-middle">Demande</th>
                    <th class="align-middle">Réponse</th>
                    <th></th>
                </tr>
            </thead>
            <tbody>

                {% for claim in claims %}
                    <tr class="text-center">
                        <td class="align-middle px-5">{{claim.dateRequest|date('d/m/Y H:i')}}</td>
                        <td class="align-middle px-5">{{claim.owner.fullname}}</td>
                        <td class="align-middle px-5">
                            {% if claim.place %}
                                Lieu
                            {% elseif claim.event %}
                                Évènement
                            {% endif %}
                        </td>
                        <td class="align-middle px-5">
                            {% if claim.place %}
                                {{ claim.place.title }}
                            {% elseif claim.event %}
                                {{ claim.event.title }}
                            {% endif %}
                        </td>
                        <td class="align-middle px-5">
                            {% if claim.response == "0" %}
                                Refusé
                            {% elseif claim.response == "1" %}
                                Accepté
                            {% else %}
                                À traiter
                            {% endif %}
                        </td>

                        <td>
                            <div style="width:100px">
                                <a href="{{ path('admin_claim_edit', {'id': claim.id}) }}" class="btn btn-sm btn-primary"><i class="fas fa-xs fa-edit"></i></a>
                                <a href="{#{ path('admin_place_delete', {'id': place.id}) }#}" class="btn btn-sm btn-danger"><i class="fas fa-xs fa-trash"></i></a>
                            </div>
                        </td>
                    </tr>

                {% endfor %}
            </tbody>
        </table>
    </div>
{% endblock %}

