{% set url = path('artist_show',{'slug': artist.slug }) %}

<div class="item item-more-info">

    <div class="block-visual">

        <div class="block-image">
            <a href="{{ url }}">

                <div class="img-blur">
                    {% if artist.coverImage starts with 'http' %}
                        <img src="{{ artist.coverImage }}" />
                    {% elseif artist.coverImage %}
                        <img src="{{ asset(artist.coverImagePath) }}" />
                    {% else %}
                        <img src="/uploads/common/visuel/autre.jpg" />
                    {% endif %}
                </div>

                <div class="img-contain">
                    
                    {% if artist.coverImage starts with 'http' %}
                        <img src="{{ artist.coverImage }}" />
                    {% elseif artist.coverImage %}
                        <img src="{{ asset(artist.coverImagePath) }}" />
                    {% else %}
                        <img src="/uploads/common/visuel/autre.jpg" />
                    {% endif %}
                    
                </div>

            </a>
        </div>
        {% if artist.artistkind %}
            <div class="block-badge">
                    {#<a class="block-rubric" href="{{ path('events_by_category', {'slug': category.slug }) }}">{{ category.name }}</a>#}
                    <a href="#"> {{ artist.artistkind.name | badge({'color':'danger'}) }} </a> 
            </div>
        {% endif %}

    </div>
    <div class="details">

        <h4>
            <a href="{{ url }}">
                {{ artist.name }}
            </a>
        </h4>
        <h5>
            {% if artist.events | length > 0 %}
                {{artist.events | length}} évènements à venir
            {% endif %}
        </h5>
    </div>

    <div class="more-info">
        <a href="{{ url }}" class="btn btn-primary">Plus d'info</a>
    </div>
    
</div>