{% extends 'base.html.twig' %}

{% block title %}Modifier un artiste{% endblock %}

{% block body %}

    <div class="container my-4">
        <h1 class="text-center mb-4">Modification d'un artiste</h1>

        {{ form_start(form) }}

            {{ form_widget(form) }}

            <button type="submit" class="btn btn-primary btn-block my-5">Créer un nouveau artiste</button>

        {{ form_end(form) }}
            
    </div>
    
{% endblock %}