{% extends 'base.html.twig' %}

{% block title %}Règles de confidentialité{% endblock %}

{% block body %}

<div class="container">

    <h2>Cookie – Définition</h2>
    <p>Un cookie est un fichier texte déposé sur votre ordinateur ainsi que vos appareils mobiles. Il a notamment pour but de collecter des informations relatives à votre navigation sur les sites ou applications mobiles et de vous adresser des services personnalisés.</p>
    <p>Dans vos supports de navigation, les cookies sont gérés par vos navigateurs internet.</p>

    <h3>Cookies « Curieux »</h3>
    <p>Il s'agit des cookies déposés via notre site web « Curieux.app » sur votre terminal pour les besoins de la navigation, l'optimisation et la personnalisation de nos services.</p>
    <p>Ces Cookies nous permettent d’améliorer la qualité de votre navigation sur les différents supports. Ce procédé technique permet notamment de réaliser des statistiques, concernant notamment le choix de la langue utilisée, les volumes de fréquentation et d'utilisation des divers services proposés sur notre site et les sites de nos partenaires (rubriques et contenus visités, parcours…), etc…, en vue d'améliorer l'intérêt et l'ergonomie de nos services;</p>
    <p>Ces cookies collectent des données qui sont anonymisées dans leurs exploitations et finalités. Ces données sont conservées pendant une durée maximum de 24 mois.</p>

    <h3>Cookies « tiers »</h3>
    <p>Il s'agit des cookies déposés par des sociétés tierces (par exemple des régies publicitaires ou par des partenaires).Ils peuvent être déposés à l'occasion de la navigation sur notre site ou lorsque vous cliquez dans les espaces publicitaires de notre site.</p>
    <p>Nous n'avons pas la maîtrise des cookies déposés par les sociétés tiers qui agissent pour leur propre compte.</p>
    <h2>Cookie – Paramétrage (limiter – interdire – autoriser)</h2>
    <p>La gestion des Cookies peut se faire simplement par le paramétrage de votre navigateur internet (notamment Internet Explorer, Firefox, Safari, Google Chrome).</p>
    <p>Il vous est ainsi possible :</p>
    <ul>
        <li>d’accepter l’enregistrement de tous les Cookies intégrés dans les pages et contenus que vous consultez. Il faut savoir que ces Cookies ne seront lisibles que par leurs émetteurs. Par ailleurs, il vous sera toujours possible, a posteriori, de supprimer ces Cookies (la procédure dépend de votre navigateur internet, v. ci-dessous);</li>
        <li>de refuser l’enregistrement des Cookies sur votre terminal. Dans ce cas, certaines fonctionnalités nécessitant l’utilisation de Cookies (par exemple, il est possible que votre système d’exploitation ne soit pas reconnu ou que la langue affichée ne soit pas celle attendue de votre part), vous risquez ne pas pouvoir bénéficier du même confort de navigation. Par conséquent, nous déclinons toute responsabilité pour les éventuels désagréments liés aux possibles dysfonctionnements de nos services résultant de l'impossibilité de consulter les Cookies nécessaires;</li>
        <li>d’être invité par votre navigateur à donner votre accord ou votre refus avant l’installation d’un nouveau Cookie sur votre terminal.</li>
        <li>d’accepter ou de refuser les Cookies selon le site internet émetteur.</li>
    </ul>

    <p>Le paramétrage en matière de gestion des Cookies dépend de votre navigateur (et de sa version). Vous trouverez les explications nécessaires dans le mode d’emploi correspondant:</p>

    <p><strong>Si vous utilisez le navigateur Internet Explorer (V11.0.9600..):</strong></p>
    <ul>
        <li>Dans Internet Explorer, cliquez sur le bouton Outils, puis sur Options Internet.</li>
        <li>Sous l'onglet Général, sous Historique de navigation, cliquez sur Paramètres.</li>
        <li>Cliquez sur le bouton Afficher les fichiers.</li>
        <li>Cliquez sur l'en-tête de colonne Nom pour trier tous les fichiers dans l'ordre alphabétique, puis parcourez la liste jusqu'à ce que vous voyiez des fichiers commençant par le préfixe «&nbsp;Cookie&nbsp;». (tous les cookies possèdent ce préfixe et contiennent habituellement le nom du site Web qui a créé le cookie).</li>
        <li>Sélectionnez le ou les cookies comprenant le nom «&nbsp;logishotels&nbsp;»&nbsp;« et supprimez-les</li>
        <li>Fermez la fenêtre qui contient la liste des fichiers, puis cliquez deux fois sur OK pour retourner dans Internet Explorer.</li>
    </ul>

    <p><strong>Si vous utilisez le navigateur Internet Firefox (V 35.0)&nbsp;:</strong></p>
    <ul>
        <li>Allez dans l'onglet »&nbsp;Outils&nbsp;« du navigateur puis sélectionnez le menu «&nbsp;Options&nbsp;»&nbsp;;</li>
        <li>Dans la fenêtre qui s'affiche, choisissez «&nbsp;Vie privée&nbsp;»&nbsp;et cliquez sur «&nbsp;Supprimer des cookies spécifiques»&nbsp;;</li>
        <li>Repérez les fichiers qui contiennent le nom «&nbsp;logishotels&nbsp;»&nbsp; Sélectionnez-les et supprimez-les.</li>
    </ul>

    <p><strong>Si vous utilisez le navigateur Internet Safari&nbsp;(V 5.1.7):</strong></p>
    <ul>
        <li>Dans votre navigateur, choisissez le menu «&nbsp;Édition&nbsp;»/«&nbsp;Préférences&nbsp;».</li>
        <li>Cliquez sur «&nbsp;Confidentialité&nbsp;».</li>
        <li>Cliquez sur «&nbsp;Détails&nbsp;».&nbsp;</li>
        <li>Sélectionnez les cookies qui contiennent le nom « Curieux.app » et cliquez sur «&nbsp;Supprimer&nbsp;» ou sur «&nbsp;Tout effacer&nbsp;».</li>
        <li>Après avoir supprimé les cookies, cliquez sur «&nbsp;Terminé&nbsp;».</li>
    </ul>

    <p><strong>Si vous utilisez le navigateur Internet Google Chrome (V 40.0.2214.93 m):</strong></p>
    <ul>
        <li>Cliquez sur le menu Chrome dans la barre d'outils du navigateur.</li>
        <li>Sélectionnez Paramètres.</li>
        <li>Cliquez sur Afficher les paramètres avancés.</li>
        <li>Dans la section "Confidentialité", cliquez sur le bouton Paramètres de contenu.</li>
        <li>Cliquez sur le bouton « Cookies et données du site».</li>
        <li>Repérez les fichiers qui contiennent le nom « Curieux.app ». Sélectionnez-les et supprimez-les.</li>
        <li>Cliquez sur « Fermer » pour revenir à votre navigateur</li>
    </ul>

</div>

{% endblock %}
