{% extends 'base.html.twig' %}

{% block title %}Mentions légales{% endblock %}

{% block body %}

<div class="container bg-white my-5">

    <section>
        <div class="title inside pt-2">
            <h2 class="big-title">Mentions légales</h2>
        </div>
        <p><b>Curieux.net</b> est édité par l'association  <b>Strasbourg Curieux</b>, association à but non lucratif loi 1901 - Présidé par <b>Adrien Schneider</b> - 10 rue du Hohwald 67000 Strasbourg – N° TVA intra-communautaire : FR 42 792793135.</p>
        <p>Directeur de la publication : <b>Bruno Eichenberger</b></p>
        <p>Le site est hébergé par la société <b>OVH</b></p>
        <p>L’Utilisateur peut exercer son droit d’opposition et de rectification conformément aux dispositions de la loi 78-17 du 6 janvier 1978 modifiée en adressant un email à l’adresse <b>contact@curieux.net</b></p>
        <p>L’Utilisateur dispose d'un droit d'accès, de modification, de rectification et de suppression des données qui le concernent, qu'il peut exercer auprès de la Société à l'adresse mail suivante : <b>bruno@curieux.net</b>.</p>
        <p>L’activité principale de <b>Curieux.net</b> consiste dans l’hébergement d’annonces d'évènements culturels. L’activité secondaire est un annuaire des lieux et des artistes. Celles-ci sont appelées contributions et proposées par des contributeurs au moyen d’un formulaire en ligne accessible avec le bouton <b>«&nbsp;ANNONCER UN EVENEMENT&nbsp;»</b> . Le site est également connecté à des billetteries en ligne et des bases de données de concerts et importe leurs données via un flux automatisé.</p>
        <p>En complément, le site produit son propre contenu sous forme de vidéos et recommandations de sorties.</p>
    </section>

    <section>
        <div class="title inside">
            <h2 class="big-title">Crédit</h2>
        </div>
        <p class="text-center">Le site <b>Curieux.net</b> a été conçu, designé et développé par <b>Bruno Eichenberger</b>.</br>
        Sur une idée originale de <b>Philippe Merlet</b>.</p>
    </section>

    <section>
        <div class="title inside">
            <h2 class="big-title">Conditions d'utilisation</h2>
        </div>
        <p>L’Utilisateur reconnait avoir, préalablement à son inscription et/ou à sa participation aux contributions, pris connaissance de l’ensemble des présentes CGU énoncées et déclare les accepter sans réserve.</p>
         
        <h4 class="pt-3">Accès au site</h4>
        <p>L'association  <b>Strasbourg Curieux</b> ne saurait être tenu responsable de la qualité de votre connexion internet. Plus particulièrement, l'association  <b>Strasbourg Curieux</b> ne pourra en aucun cas être tenu pour responsable de tous dommages, quels qu'ils soient, résultant de l'utilisation ou de l'impossibilité d'utilisation de <b>Curieux.net</b>.</p>
        
        <h4 class="pt-3">Contributions : annonces de concerts, pages lieux, pages artistes, …</h4>
        <p><b>Curieux.net</b> héberge un grand nombre d’annonces de concerts, de fiches lieux et de fiches artistes proposées par des contributeurs au moyen d’un formulaire en ligne accessible avec le bouton <b>« ANNONCER UN EVENEMENT »</b>. Celles-ci sont appelées contributions.</p>
        <p>Les contributions (annonces de concerts, fiches lieux, fiches artistes, commentaires, ...) sont publiées sous l’entière responsabilité du contributeur qui s'engage expressément à ne pas enfreindre la loi applicable en France.</p>
        <p>Le contributeur garantit à l'association  <b>Strasbourg Curieux</b> être titulaire des droits d’exploitation relatifs aux contributions, qu’elles soient créées par lui-même ou par des tiers. Le contributeur déclare avoir reçu l’autorisation de toutes les personnes photographiées et interviewées pour l’exploitation de leur image, écrits, paroles et données personnelles dans les contributions. De-même, il appartient au contributeur d’obtenir l’autorisation de représentation des propriétaires d’objets ou d’œuvres identifiées de sorte que la contribution soit libre de droit. <br>Le contributeur garantit à la société qu’il n’a introduit dans ses contributions aucune reproduction, évocation ou réminiscence susceptible de violer les droits d’auteur, les droits des tiers et de donner lieu à des actions fondées notamment sur le plagiat, la concurrence déloyale, la responsabilité civile ou encore les délits prévus par la loi du 29 juillet 1881. En conséquence, le contributeur garantit à la Société la libre et paisible exploitation des contributions concédées au titre des présentes CGU, de telle sorte que l'association  <b>Strasbourg Curieux</b> ne puisse être inquiétée par des tiers et que sa responsabilité ne puisse être mise en cause lors de l’exploitation des contributions.</p>
        
        <h4 class="pt-3">Licence et droits de reproduction</h4>
        <p>Par l'accès au site <b>Curieux.net</b>, l'association  <b>Strasbourg Curieux</b> consent à l'utilisateur qui l'accepte une licence dans les présentes conditions.</p>
        <p>La licence confère à l'utilisateur un droit d'usage privé, non collectif et non exclusif, sur le contenu original du site (produit par le site lui-même). Elle comprend le droit de reproduire pour stockage aux fins de représentation sur écran monoposte et de reproduction, en un exemplaire, pour copie de sauvegarde ou tirage sur papier. Toute mise en réseau, toute rediffusion, sous quelque forme, même partielle, est donc interdite. Ce droit est personnel, il est réservé à l'usage exclusif et non collectif du licencié. Il n'est transmissible en aucune manière.</p>
        <p>Tout autre usage est soumis à autorisation préalable et expresse. La violation de ces dispositions impératives soumet le contrevenant, et toutes personnes responsables, aux peines pénales et civiles prévues par la loi.</p>
        
        <h4 class="pt-3">Informations</h4>
        <p>Les informations fournies par <b>Curieux.net</b> sont à titre indicatif. Elles sont à prendre en considération au moment de leur mise en ligne et non au moment de leur affichage sur le site. Ceci concerne notamment les informations de disponibilités des concerts qui peuvent changer à tout moment. Notre responsabilité ne saurait être engagée du fait d’inexactitudes ou autres problèmes rencontrés relatifs au contenu de ces informations et à l’utilisation des outils mis à disposition sur le site .</p>
        
        <h4 class="pt-3">Données personnelles</h4>
        <p><b>Curieux.net</b> stocke sur ses serveurs les données personnelles que vous nous avez communiquées. Conformément à la loi informatique et libertés du 6 janvier 1978 vous disposez d'un droit d'accès, de rectification ou de suppression des informations vous concernant via strasbourg@curieux.net.</p>
        
        <h4 class="pt-3">Liens externes</h4>
        <p>Ce site peut contenir des liens vers des sites externes gérés par des sociétés ou personnes physiques tiers. <b>Curieux.net</b> ne peut être tenu pour responsable du contenu, des produits et des services proposés par ces sites. Notre responsabilité ne pourra en aucun cas être engagée pour d'éventuels dommages directs ou indirects résultant de l'utilisation de ces sites.</p>
        
        <h4 class="pt-3">Cookies</h4>
        <p>L'utilisation de ce site nécessite l'écriture de cookies sur votre ordinateur. Ceux-ci nous permettent de faciliter votre navigation sur notre site et de permettre votre connexion automatique.</p>
        <p>Nous vous rappelons que vous pouvez à tout moment désactiver l'utilisation des cookies dans votre navigateur. Consulter l'aide de votre navigateur pour plus d'informations.</p>
        
        <h4 class="pt-3">Modifications des conditions d'utilisation</h4>
        <p><b>Curieux.net</b> se réserve le droit de modifier à tout moment ses conditions d'utilisation. Les conditions applicables sont celles en vigueur à la date de votre connexion au site.</p>
    
    </section>

{#

    REGLES GENERALES DE DIFFUSION, DE REFERENCEMENT ET DE DEREFERENCEMENT
Cette rubrique contient l'ensemble des règles que vous devez respecter pour que votre annonce soit référencée, donc diffusée, sur notre site qui a pour objet la mise en relation de plusieurs parties en vue de la vente d'un bien ou de la fourniture d'un service.

Le non-respect de ces règles est susceptible d'entraîner le refus de votre annonce ou son déréférencement, c'est-à-dire sa suppression de notre site.

Cette rubrique contient également les critères de classement des annonces sur notre site.


BONNES PRATIQUES


Voici quelques points à retenir lorsque vous déposez une annonce :


Le texte de l'annonce doit impérativement décrire le produit/bien/service de l'annonce. Les annonces contenant un texte généraliste du type «nombreux produits à vendre dans notre magasin» ne sont pas acceptées. Le texte d’une même annonce ne doit pas proposer plusieurs biens.
L’annonce doit être déposée dans une catégorie correspondant à l’objet de l’annonce.
L'annonce d'un bien à vendre doit être déposée dans la commune où le bien est localisé.
Vous devez supprimer une annonce ancienne avant d'en insérer une nouvelle relative au même bien. Vous ne pouvez avoir simultanément plusieurs fois la même annonce sur le site (dans plusieurs départements ou plusieurs catégories).
Nous vous informons que nous autorisons une annonce identique :
Par région lorsque l’annonceur dispose d’un stock conséquent et d’un réseau national de livraison dans le cadre d'une offre de bien.

Par département, dans le cadre d'une offre de service.

Par ville, à raison de 5 annonces maximum par département, dans le cadre d'une offre d'emploi

Toute annonce à caractère publicitaire est interdite.
Les échanges sont autorisés sur le site. Cependant, il n'est pas possible de lister plus de 5 références de modèles qui pourraient servir de base à un échange.
Vous devez indiquer le prix total et TTC du bien dans le champ "Prix".
Nous vous informons que nous autorisons uniquement les professionnels des catégories « Matériel Agricole », « Transport-Manutention », « BTP-Chantier gros œuvre » et « Outillage, Matériaux 2nd-Oeuvre », à indiquer les prix en HT dans le champ « prix » sous réserve de mentionner qu’il s’agit d’un prix HT dans le descriptif de l’annonce.
Toute annonce insérée au profit d'un professionnel faisant une offre de vente, de services ou destinée à faire connaître son activité doit obligatoirement comporter un numéro SIREN (9 chiffres).


Si vous déposez des annonces au profit d'une association, d'une mairie, en tant qu'autoentrepreneur ou en tant que SCI, vous devez indiquer un numéro SIREN. Si votre association n'en possède pas, nous vous invitons à en faire la demande auprès de la Direction Régionale de l'INSEE.


Plusieurs catégories sont fermées aux professionnels : Billetterie ; Cours Particulier ; Colocation ; Covoiturage ; Autres.


INTERDICTIONS GENERALES


Toute annonce contenant des éléments de texte (mots, expressions, phrases… etc.) qui sembleraient contraires aux dispositions légales ou réglementaires, aux bonnes mœurs, aux règles de diffusion de notre site ou susceptible de troubler ou choquer les lecteurs sera refusée par leboncoin, donc non référencée sur notre site, sans que cela ne fasse naître au profit de l'annonceur un quelconque droit à indemnité.


Contenus non autorisés


Il est interdit de déposer une annonce :


Exclusivement rédigée en termes étrangers. Les annonces doivent être rédigées en français (obligation légale imposée par la loi n°94-345 du 4 août 1994). Lorsqu'un terme étranger ne peut trouver son équivalent en français, il doit être circonscrit d'une manière assez précise pour ne pas induire en erreur l'utilisateur du site.
Comportant des termes ou des descriptions sans lien avec le contenu proposé.
Présentant une utilisation abusive de mots clefs.
Dirigeant directement ou indirectement vers un site autre que le nôtre.
Comportant un numéro de téléphone surtaxé.
A caractère politique, sectaire, discriminatoire, sexiste, en lien avec des organisations ou des personnes responsables de crimes contre l'humanité etc.
L'article 225-1 du code pénal définit notamment la discrimination comme toute distinction opérée entre les personnes physiques à raison notamment de leur origine, de leur sexe, de leur handicap, de leurs caractéristiques génétiques, de leurs mœurs, de leur orientation sexuelle, de leur identité de genre, de leur appartenance ou de leur non-appartenance, vraie ou supposée, à une ethnie, une Nation, une prétendue race ou une religion déterminée [..]. Le délit de discrimination, incriminé à l'article 225-2 4° du code pénal, est puni de trois ans d'emprisonnement et de 45 000 euros d'amende.


Produits et services non autorisés


En tant qu'utilisateur du service leboncoin, vous devez vous assurer que le bien que vous cherchez à vendre ou à acheter est un produit autorisé sur le site et dont la vente est légale.


Nous vous invitons à prendre connaissance des produits/biens/services interdits sur notre site :


Tabac, drogue et objets associés, substances dangereuses et illicites
Cosmétique, médicament et parapharmacie
Armes blanches de combat ou d’autodéfense, armes à feu, explosifs, pièges de chasse
Contenu réservé aux adultes (pornographie, nudité, etc.)
Certaines espèces végétales et animales protégées, menacées ou prélevées dans leur milieu naturel
Objets consignés
Appel aux dons financiers privés ou à but humanitaire
Offres pouvant mener à des pratiques tendancieuses
Avis de recherche d’une personne
La majorité des produits de grande consommation de manufacture industrielle
Produits amincissants, de compléments alimentaires ou présentés comme étant miraculeux
Produit portant des emblèmes protégés
Le détournement des emblèmes (le signe de la croix rouge, du croissant rouge, du cristal rouge, des casques bleus, le drapeau blanc etc.) et de leur dénomination et/ou leur usage illégal ou abusif sont des actes graves sanctionnés par le droit international humanitaire, et notamment les Conventions de Genève du 12 août 1949, ainsi que par les articles 433-14 et 433-15 du code pénal.


Cette liste est non exhaustive.


Interdiction des produits ou services portant atteinte aux droits de propriété intellectuelle


Seule la diffusion d'annonce proposant la vente de produits originaux est autorisée (appareils électroniques, DVD, CD, jeux vidéo, logiciels informatiques, cartes pour télévision payante, vêtements de marque et accessoires de marque …).


Nous vous rappelons que la vente de copie ou de reproduction de toute sorte est susceptible de constituer un acte de contrefaçon, passible de trois ans d'emprisonnement et 300.000 euros d'amende sur le fondement de l'article L. 335-2 alinéa 2 du Code de la propriété intellectuelle.


Vous devez être légalement propriétaire du contenu ou être autorisé à le vendre par le propriétaire, par son mandataire agréé ou par la loi. La vente de certains biens immatériels n’est pas autorisée sur notre site.


Il est autorisé d’insérer des photos comportant un watermark (tatouage numérique) dans le but d'assurer la protection des droits de propriété intellectuelle.

Seules les mentions des propriétaires de la photo sous forme de texte sont acceptées. Ces textes doivent obligatoirement être de couleur noire ou blanche.


L’insertion d’adresse de site internet sur les photos reste strictement interdite.


Photographies non autorisées


Les photographies insérées doivent représenter le bien à vendre et ne peuvent être utilisées pour illustrer plusieurs annonces.


Il est interdit d’insérer des photos comportant :

Enfants mineurs reconnaissables
Logos seuls (à l'exception des catégories d'annonces Emploi et Services)
Lien vers un site internet
Représentations sans lien avec l’offre proposée
CRITERES DE CLASSEMENT DES ANNONCES


Les annonces sont classées par défaut par ordre chronologique : la dernière annonce publiée dans une catégorie apparaîtra en premier dans la page de résultats des annonces au sein de la catégorie concernée et en fonction des critères sélectionnés.


La souscription d'options de mise en avant influence le classement des annonces, différentes options permettent de remonter son annonce :

Immédiatement en tête de liste
Chaque jour pendant 30 jours
Chaque jour pendant 7 jours
Chaque semaine pendant 60 jours
Les annonces sont classées par régions de France, ville/code postal, catégories et rubriques et sur chaque page de résultats il est possible de filtrer le classement selon différents critères :

Particuliers/professionnels
Date
Prix croissant
Autres critères spécifiques à la catégorie ou rubrique sélectionnée
REGLES PARTICULIERES DE DIFFUSION
    #}
    
    

</div>

{% endblock %}
