[{% for event in events %}
    {% if event.title|length > 40 %}
        {% set title = event.title|slice(0, 40) ~ '…' %}
    {% else %}
        {% set title = event.title %}
    {% endif %}
    {{ {id: event.slug, text: title}|json_encode|raw }}
    {% if not loop.last %},{% endif %}
{% endfor %}]