{% extends 'base.html.twig' %}

{% block title %}API Facebook{% endblock %}

{% block body %}
<div class="container bg-white my-5">

    <div class="title inside pt-2">
        <h2 class="big-title">Vos évènements Facebook</h2>
    </div>

    <div class="card-group">
        {% for event in events %}
            <div class="card">
                <img class="card-img-top" src="{{ event.coverImage }}" alt="Card image cap">
                <div class="card-body">
                    <h6 class="card-title">{{ datePrimary(event) | raw }}</h6>
                    <h5 class="card-title"><a href="https://www.facebook.com/events/{{ event.idResource }}" target="_blank">{{ event.title }}</a></h5>
                    <p class="card-text">{{ event.description|length > 50 ? event.description|slice(0, 50) ~ '...' : event.description  }}</p>
                    <p class="card-text"><small class="text-muted">Last updated 3 mins ago</small></p>
                    <a href="{{ path("event_create",{"fb": event.idresource}) }}" class="btn btn-secondary btn-sm" target="_blank">Ajouter cet évènement</a>
                </div>
            </div>
        {% endfor %}
    </div>

    <div class="mt-3">
      <a class="btn btn-primary btn-block" href="{{ pagination.next }}">Page suivante</a>
    </div>
</div>
{% endblock %}

{#% block javascripts %}
<script>
  window.fbAsyncInit = function() {
    FB.init({
      appId      : '{your-app-id}',
      cookie     : true,
      xfbml      : true,
      version    : '{api-version}'
    });
      
    FB.AppEvents.logPageView();   
      
  };

  (function(d, s, id){
     var js, fjs = d.getElementsByTagName(s)[0];
     if (d.getElementById(id)) {return;}
     js = d.createElement(s); js.id = id;
     js.src = "https://connect.facebook.net/fr_FR/sdk.js";
     fjs.parentNode.insertBefore(js, fjs);
   }(document, 'script', 'facebook-jssdk'));
</script>
{% endblock %#}