{% if pages > 1 %}

    <div class="d-flex justify-content-center">

        {#% set page = paginator.page %#}
        {#% set pages = paginator.pages %#}

        <ul class="pagination">

            <li class="page-item {% if page == 1 %}disabled{% endif %}">
                <a class="page-link" href="{{ path(route, {'page': page - 1}) }}">&laquo; Précédent</a>
            </li>

            {% for i in 1..pages %}
            
                {% if page < 6 and i < 6  %}
                    <li class="page-item {% if page == i %}active{% endif %}">
                        <a class="page-link" href="{{ path(route, {'page': i}) }}">{{i}}</a>
                    </li>
                {% elseif page > 5 and page == i %}
                    <li class="page-item">
                        <a class="page-link" href="{{ path(route, {'page': 1}) }}">1</a>
                    </li>
                    <li class="page-item">
                        <a class="page-link" href="{{ path(route, {'page': 2}) }}">...</a>
                    </li>
                    <li class="page-item">
                        <a class="page-link" href="{{ path(route, {'page': i - 1 }) }}">{{i-1}}</a>
                    </li>
                    <li class="page-item active">
                        <a class="page-link" href="{{ path(route, {'page': i}) }}">{{i}}</a>
                    </li>
                    <li class="page-item">
                        <a class="page-link" href="{{ path(route, {'page': i + 1 }) }}">{{i+1}}</a>
                    </li>
                {% endif %}

                {% if loop.last and pages > 5 and page != i-1 %}
                    {% if page != i-2 %}
                        <li class="page-item"><a class="page-link" href="{{ path(route, {'page': i-1}) }}">...</a></li>
                    {% endif %}
                    <li class="page-item {% if page == i %}active{% endif %}">
                        <a class="page-link" href="{{ path(route, {'page': i}) }}">{{i}}</a>
                    </li>
                {% endif %}

            {% endfor %}

            <li class="page-item {% if page == pages %}disabled{% endif %}">
                <a class="page-link" href="{{ path(route, {'page': page + 1}) }}">Suivant &raquo;</a>
            </li>

        </ul>
    </div>

{% endif %}