<?xml version="1.0" encoding="utf-8" ?>
<rss version="2.0" xmlns:atom="http://www.w3.org/2005/Atom">
    <channel>
        <title>{{ website.name }}</title>
        <description>Flux RSS de {{ website.name }}</description>
        <lastBuildDate>{{ 'now'|date(constant('DATE_RSS')) }}</lastBuildDate>
        <link>{#{ app.request.server.get('HTTP_HOST') }#}{{ "https://" ~ website.address.subdomain ~ "." ~ website.address.domain ~ "/agenda" }}</link>
        {% for event in events %}{% apply spaceless %}
            {% if event.place %}
                {% if event.rooms %}
                    {% set place = event.place.title ~ ', ' ~ event.rooms.name ~ ', ' ~ event.place.city.name %}
                {% else %}
                    {% set place = event.place.title ~ ', ' ~ event.place.city.name %}
                {% endif %}
            {% else %}
                {% set place = event.placeTemporary ~ ', ' ~ event.city.name %}
            {% endif %}

            {% if event.coverImage starts with 'http' %}
                {% set image = event.coverImage %}
            {% else %}
                {% set image = asset(event.coverImagePath) %}
            {% endif %}
            {#{ event.createdAt|date(constant('DATE_RSS')) } <pubDate>{{ event.createdAt|date(constant('DATE_RSS')) }}</pubDate>#}
            
            <item>
                <title>{{ event.dateText.primary }} - {{ event.title }} - {{ place }}</title>
                <description>{{ event.description|striptags|slice(0, 300) ~ '...' }}</description>
                
                <link>{{ app.request.server.get('HTTP_HOST') }}{{ path('event_show',{'slug': event.slug }) }}</link>
                {% if image is defined %}<image>{{ image }}</image>{% endif %}
            </item>
        {% endapply %}
        
        {% endfor %}

    </channel>
</rss>