{% extends 'base.html.twig' %}

{% block title %}Configuration du sous-domaine{% endblock %}

{% block body %}

    {% include 'validation/_menu.html.twig' %}

    <div class="container my-4">
        <h1 class="text-center mb-4">Configurer le site : {{ subdomain.name }}</h1>
        
        {{ form_start(form) }}

            <div class="row my-5">
                <div class="col-6">
                    <h5>{{ form_label(form.name) }}</h5>
                    <div id="name">
                        <div class="d-inline-flex">
                            <div class="pt-2 pr-4 h2">{{ subdomain.name }}</div>
                            <a id="name_edit" class="btn btn-secondary btn-sm h1">Modifier</a>
                        </div>
                    </div>
                    {{ form_widget(form.name, {"attr":{"style":"display:none"}}) }}
                    
                </div>

                <div class="col">
                    <h5 class="pl-3">{#{ form_label(form.slug) }#}Adresse Web</h5>
                    <div class="col mt-3 h3">{{ subdomain.slug }}.curieux.net</div>
                    <div class="col">Vous ne pouvez plus modifier votre sous-domaine</div>
                </div>
            </div>

            <div class="row my-4">
                <div class="col-12">
                    <h5>{{ form_label(form.slogan) }}</h5>
                    <div id="slogan">
                        <div class="d-inline-flex">
                            <div class="pt-2 pr-4 h4">{% if subdomain.slogan %}{{ subdomain.slogan }}{% else %}Agenda culturel et participatif{% endif %}</div>
                            <a id="slogan_edit" class="btn btn-secondary btn-sm h1">Personnaliser</a>
                        </div>
                    </div>
                    {{ form_widget(form.slogan, {"attr":{"style":"display:none"}}) }}
                </div>
            </div>

            <div class="row py-4">
                <div class="col-12">
                    <h5>{{ form_label(form.volunteers) }}</h5>
                    {{ form_widget(form.volunteers) }}
                </div>
            </div>

            <div class="text-center pt-4 pb-0">
                <h6><u>Référencement personnalisé</u> (Métadonnées)</h6>
            </div>
            <div class="row my-4">
                <div class="col-12">
                    <h5>{{ form_label(form.description) }}{% if form.description.vars.data == null %} par défaut{% endif %}</h5>
                    <div id="description">
                        <div class="d-inline-flex">
                            <div class="pt-2 pr-4 h5">{% if form.description.vars.data %}{{ form.description.vars.data }}{% else %}{{ website.metadata.description }}{% endif %}</div>
                            <a id="description_edit" class="btn btn-secondary btn-sm h1">Personnaliser</a>
                        </div>
                    </div>
                    {{ form_widget(form.description, {"attr":{"style":"display:none"}}) }}
                </div>
            </div>
            <div class="row my-4">
                <div class="col-12">
                    <h5 class="d-inline-block">{{ form_label(form.keywords) }}{% if form.keywords.vars.data == null %} par défaut{% endif %}</h5> <div class="h6 d-inline-block">(N'influencent plus le référencement)</div>
                    <div id="keywords">
                        <div class="d-inline-flex">
                            <div class="pt-2 pr-4 h5">{% if form.keywords.vars.data %}{{ form.keywords.vars.data }}{% else %}{{ website.metadata.keywords }}{% endif %}</div>
                            <a id="keywords_edit" class="btn btn-secondary btn-sm h1">Personnaliser</a>
                        </div>
                    </div>
                    {{ form_widget(form.keywords, {"attr":{"style":"display:none"}}) }}
                </div>
            </div>

            <div class="text-center pt-4 pb-0">
                <h6><u>Personnalisation</u></h6>
            </div>

            <div class="row mt-5">
                <div class="col">
                   <h5>{{ form_label(form.mainBorough) }}</h5>
                    {{ form_widget(form.mainBorough) }}
                </div>
                <div class="col-7">
                    <h5>{{ form_label(form.boroughs) }}</h5>
                    {{ form_widget(form.boroughs) }}
                </div>
            </div>

            {% if cities|length > 0 %}
                <div class="row">
                    <div class="col-12">
                        <div class="row my-4">
                            <div class="d-inline-block mt-2">
                                <h5>Les {{ cities|length }} villes associées :</h5>
                            </div>
                            <div class="col">
                                <div class="btn btn-secondary btn-sm" id="buttonShowCities">Voir la liste</div>
                                <a target="_blank" class="btn btn-secondary btn-sm" href="{{ path('city_map') }}">Voir la carte</a>
                            </div>
                        </div>
                    </div>
                    <div id="allCities" style="display:none">
                        <p class="mx-3">
                            <b>Par ordre alphabétique :</b>
                            {% for city in cities|sort %}
                                {{ city }}{% if not loop.last %},{% endif %}
                            {% endfor %}
                        </p>
                    </div>
                </div>
            {% endif %}

            <div class="row pb-4">
                <div class="col-12">
                    <h5 class="d-inline-block">{{ form_label(form.arounds) }}</h5> <div class="h6 d-inline-block"></div>
                    {{ form_widget(form.arounds) }}
                </div>
            </div>

            <div class="row my-4">
                <div class="col-12">
                    <h5>{{ form_label(form.reductions) }}</h5>
                    {{ form_widget(form.reductions) }}
                </div>
            </div>
            
            <div class="row my-4">
                <div class="col-12">
                    <h5>{{ form_label(form.color) }}</h5>
                    {{ form_widget(form.color) }}
                </div>
            </div>

            <div class="text-center pt-4 pb-0">
                <h6><u>Vos réseaux sociaux</u></h6>
            </div>

            <div class="row my-4">
                <div class="col-6">
                    <h6>{{ form_label(form.facebook) }}</h6>
                    {{ form_widget(form.facebook) }}
                </div>
                <div class="col-6">
                    <h6>{{ form_label(form.instagram) }}</h6>
                    {{ form_widget(form.instagram) }}
                </div>
            </div>

            <div class="row my-4">
                <div class="col-6">
                    <h6>{{ form_label(form.youtube) }}</h6>
                    {{ form_widget(form.youtube) }}
                </div>
                <div class="col-6">
                    <h6>{{ form_label(form.twitter) }}</h6>
                    {{ form_widget(form.twitter) }}
                </div>
            </div>

            <div class="text-center pt-4 pb-0">
                <h6><u>Options facultatives</u></h6>
            </div>

            <div class="row my-4">
                <div class="col-12">
                    <h5>{{ form_label(form.legal) }}</h5>
                    {{ form_widget(form.legal) }}
                </div>
            </div>

            <div class="text-center pt-4 pb-0">
                <h6><u>Permet de générer des phrases</u></h6>
            </div>

            <div class="row my-4">
                <div class="col-6">
                    <h5>{{ form_label(form.resident_singular_masculine) }}</h5>
                    <div class="row" style="background:white">
                        <div class="col-1 h6 pt-3">Un</div>
                        <div class="col">
                            {{ form_widget(form.resident_singular_masculine) }}
                        </div>
                    </div>
                </div>
                <div class="col-6">
                    <h5>{{ form_label(form.resident_singular_feminine) }}</h5>
                    <div class="row" style="background:white">
                        <div class="col-1 h6 pt-3">Une</div>
                        <div class="col">
                            {{ form_widget(form.resident_singular_feminine) }}
                        </div>
                    </div>
                </div>
            </div>
            <div class="row my-4">
                <div class="col-6">
                    <h5>{{ form_label(form.resident_plural_masculine) }}</h5>
                    <div class="row" style="background:white">
                        <div class="col-1 h6 pt-3">Les</div>
                        <div class="col">
                            {{ form_widget(form.resident_plural_masculine) }}
                        </div>
                    </div>
                </div>
                <div class="col-6">
                    <h5>{{ form_label(form.resident_plural_feminine) }}</h5>
                    <div class="row" style="background:white">
                        <div class="col-1 h6 pt-3">Les</div>
                        <div class="col">
                            {{ form_widget(form.resident_plural_feminine) }}
                        </div>
                    </div>
                </div>
            </div>
            
            {{ form_widget(form) }}

            <button type="submit" class="btn btn-primary btn-block my-5">Enregistrer les modifications</button>

        {{ form_end(form) }}
            
    </div>

{% endblock %}


{% block javascripts %}

<script>
    $('#buttonShowCities').on("click",function(){
        $('#allCities').show();
        $('#buttonShowCities').hide();
    });

    $('#name_edit').on("click",function(){
        $('#subdomain_name').show();
        $('#name').hide();
    });
    
    $('#slogan_edit').on("click",function(){
        $('#subdomain_slogan').show();
        $('#slogan').hide();
    });

    $('#description_edit').on("click",function(){
        $('#subdomain_description').show();
        $('#description').hide();
    });

    $('#keywords_edit').on("click",function(){
        $('#subdomain_keywords').show();
        $('#keywords').hide();
    });

</script>

{% endblock %}