{% extends 'base.html.twig' %}

{% block title %}Ajouter un sous-domaine{% endblock %}

{% block body %}

    {% include 'validation/_menu.html.twig' %}

    <div class="container my-4">
        <h1 class="text-center mb-4">Ajouter un sous-domaine</h1>
        
        {{ form_start(form) }}

            <div class="row mt-5">
                <div class="col-6">
                    <h5 class="text-center">{{ form_label(form.name) }}</h5>
                    {{ form_widget(form.name) }}
                </div>

                <div class="col">
                    <h5 class="text-center">{{ form_label(form.slug) }}</h5>
                    <div class="row bg-white">
                        <div class="col-6 px-0">
                            {{ form_widget(form.slug) }}
                        </div>
                        <div class="col h3" style="margin-top: 0.8rem;">.curieux.net</div>
                    </div>
                </div>
            </div>
            <div class="row pb-4">
                <div class="col">
                    <h5 class="text-center">{{ form_label(form.mainBorough) }}</h5>
                    {{ form_widget(form.mainBorough) }}
                </div>
            </div>
            {#
            <div class="row mt-5">
                <div class="col">
                   <h5>{{ form_label(form.mainBorough) }}</h5>
                    {{ form_widget(form.mainBorough) }}
                </div>
                
                <div class="col-7">
                    <h5>{{ form_label(form.boroughs) }}</h5>
                    {{ form_widget(form.boroughs) }}
                </div>
            </div>

            <div class="row pb-4">
                <div class="col-12">
                    <h5>{{ form_label(form.arounds) }}</h5>
                    {{ form_widget(form.arounds) }}
                </div>
            </div>
            #}
            {{ form_widget(form) }}

            <button type="submit" class="btn btn-primary btn-block my-5">Enregistrer les modifications</button>

        {{ form_end(form) }}
            
    </div>

{% endblock %}


{% block javascripts %}

<script>
    $('#buttonShowCities').on("click",function(){
        $('#allCities').show();
        $('#buttonShowCities').hide();
    });
</script>

{% endblock %}