{% extends 'admin/base.html.twig' %}

{% block title "Modification du lieu" %}

{#% form_theme formPlace _self %#}
{% form_theme formPlace 'place/_collection.html.twig' %}

{% block body %}

    <div class="container-fluid">
        <h1 class="my-4 text-center"><u>Modification du lieu :</u><br>"{{place.title}}"</h1>
            <div class="row">
                <div class="col">
                    <div class="card">
                        <div class="card-header row m-0">
                            <h4 class="col pt-3">Corriger le lieu</h4>
                            <a class="col text-center col-5 btn btn-warning" target="_blank" href="{{ path('place_show', {'slug': place.slug }) }}">Voir la page du lieu</a>
                        </div>
                        <div class="card-body">
                            {{ form_start(formPlace) }}

                                {% include 'place/_form.html.twig' %}

                                <button type="submit" class="btn btn-primary btn-block my-5">Enregistrer les modifications</button>

                            {{ form_end(formPlace) }}
                        </div>
                    </div>
                </div>
                
            </div>
    </div>

{% endblock %}

{#% block _place_links_widget %}
    {{ form_widget(form) }}
    <input type="hidden" id="widgets-counter" value="0">
    <div class="form-group">
        <button type="button" id="add-link" class="btn btn-secondary">Ajouter un lien vers un autre site</button>
    </div>
{% endblock %}

{% block _place_links_entry_row %}
    {{ form_widget(form) }}
{% endblock %}

{% block _place_links_entry_widget %}
    <div class="form-group" id="block_link_{{id}}">
        <div class="row mb-0">
            <div class="col-10 px-0">
                <div class="row m-0">
                    <div class="col px-0">
                        {{ form_widget(form) }}
                    </div>
                </div>
            </div>
            <div class="col-2">
                <button type="button" data-action="delete" data-target="#block_link_{{id}}" class="btn btn-danger">X</button>
            </div>
        </div>
    </div>
{% endblock %#}

{#
{% block _place_images_widget %}
        {{ form_widget(form) }}
{% endblock %}

{% block _place_images_entry_row %}
    <div id="block_{{id}}">
        {{ form_widget(form) }}
    </div>
{% endblock %}

{% block _place_images_entry_widget %}
    <div class="row align-items-center mb-3">
        <div class="col-3">
            {% if value %}
                <div hidden>{{ form_row(form.url) }}</div>
                <img src="{{value.url}}" class="img-fluid" alt="">
            {% endif %}
        </div>
        <div class="col-6">
            {{ form_row(form.caption) }}
        </div>
        <div class="col">
            <button type="button" class="btn btn-danger" data-action="delete" data-target="#block_{{id}}">
                <i class="fas fa-trash"></i>
            </button>
        </div>
    </div>
{% endblock %}
#}

{% block javascripts %}
<!--
<script>
    $(document).ready(function() {
        $('[data-action="delete"]').on('click', function() {
            //const target = $(this).data('target'); // Jquery
            const target = this.dataset.target; // JS classique

            //console.log(target);
            $(target).remove();
        })
    });
</script>
 -->
 <script src="/js/place.js"></script>

{% endblock %}


{% block stylesheets %}
<style>
    /*.select2-container--default .select2-selection--single .select2-selection__rendered,*/
   
    .form-control, .custom-file-label,
    .select2-container,
    .custom-checkbox .custom-control-label::before,
    .button-add {
        border: 1px solid lightgray;
    }
</style>
{% endblock %}