{% extends 'admin/base.html.twig' %}

{% block title 'Administration des lieux' %}

{% block body %}

    <div class="container-fluid">

        <h1 class="my-5 text-center">Administration des lieux ({{ places.getTotalItemCount }})</h1>

        {{ form_start(form, {'action': path('admin_place_index'), 'method': 'GET'}) }}
            <div class="row">
                <div class="col-sm">
                    {{ form_row(form.nom) }}
                </div>
                <div class="col-sm">
                    {{ form_row(form.type) }}
                </div>
                <div class="col-sm">
                    {{ form_row(form.ville) }}
                </div>
                <div class="col-sm">
                    <button class="btn btn-primary btn-block">Filtrer</button>
                </div>
            </div>
        {{ form_end(form) }}

        <table class="table table-hover bg-white">
            <thead>
                <tr class="text-center">
                    <th scope="col" class="pl-4">Id</th>
                    <th scope="col">Titre</th>
                    <th scope="col">Description</th>
                    <th scope="col">Type</th>
                    <th scope="col">Adresse</th>
                    <th scope="col">Ville</th>
                    <th scope="col">Quartier</th>
                    <th scope="col">GPS</th>
                </tr>
            </thead>
            <tbody>

                {% for place in places %}
                    {% set countOfEvents = place['countOfEvents'] %}
                    {% set place = place[0] %}
                    <tr class="text-center">
                        <td class="align-middle pl-4" scope="col">{{place.id}}</td>
                        <td class="align-middle">{{place.title}}</td>
                        <td class="align-middle">
                            <span title="{{place.description|slice(0, 100)}}" >
                                {% if place.description %}X{% else %}-{% endif %}
                            </span>
                        </td>
                        <td class="align-middle">
                            {% if place.placekindPrimary %}
                                {{place.placekindPrimary.name}}
                            {% endif %}
                            {% if place.placekindSecondary %}
                                - {{place.placekindSecondary.name}}
                            {% endif %}
                            {% if place.placekindTertiary %}
                                - {{place.placekindTertiary.name}}
                            {% endif %}
                        </td>
                        <td class="align-middle">{{place.number}} {{place.address}}</td>
                        <td class="align-middle">{{place.city.name}}</td>
                        <td class="align-middle text-center">
                            {% if place.district %}
                                {{place.district.name}}
                            {% else %}
                                X
                            {% endif %}
                        </td>
                        <td class="align-middle">{{place.longitude}},{{place.latitude}}</td>
                        <td>
                            <div style="width:100px">
                                <a href="{{ path('admin_place_edit', {'id': place.id}) }}" class="btn btn-sm btn-primary"><i class="fas fa-xs fa-edit"></i></a>
                                <a href="{{ path('admin_place_delete', {'id': place.id}) }}" class="btn btn-sm btn-danger"><i class="fas fa-xs fa-trash"></i></a>
                            </div>
                        </td>
                    </tr>
                {% endfor %}

            </tbody>
        </table>
        
        
        <div class="d-flex justify-content-center">
            {{ knp_pagination_render(places) }}
        </div>
        {#{ paginator.display() }#}

    </div>
{% endblock %}
