<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>Curieux.net - {% block title %}Agenda participatif{% endblock %}</title>
        <link rel="stylesheet" href="{{ asset('css/select2.min.css') }}">
        {{ encore_entry_link_tags('css/app') }}
        {#<link rel="stylesheet" href="{{ asset('build/css/app.css') }}">
        <link rel="stylesheet" href="{{ asset('css/fontawesome.css') }}" integrity="sha384-fnmOCqbTlWIlj8LyTjo7mOUStjsKC4pOpQbqyi7RrhN7udi9RwhKkMHpvLbHG9Sr" crossorigin="anonymous">#}
        <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.7.2/css/all.css">
        

        <link rel="stylesheet" type="text/css" href="{{ asset('/css/select2.css') }}">
        <link rel="stylesheet" type="text/css" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
        {% block stylesheets %}{% endblock %}
        {{ encore_entry_link_tags('css/app') }}

        <script src="/js/jquery.min.js"></script>
        {{ encore_entry_script_tags('js/app') }}

    </head>
    <body>

        {% include 'admin/partials/header.html.twig' %}
        {#% block header %}{% endblock %#}

        {% block body %}{% endblock %}

        {% include 'admin/partials/footer.html.twig' %}
        
        {# Ne fonctionne pas !!!!
        {{ encore_entry_script_tags('js/app') }}
        <script src="{{ asset('build/js/app.js') }}"></script>
        #}
        
        <script type="text/javascript" src="/js/select2.min.js"></script>
        <script type="text/javascript" src="{{ asset('bundles/tetranzselect2entity/js/select2entity.js') }}"></script>
        <script type="text/javascript" src="/js/select2fr.js"></script>

        
        
        
        {% block javascripts %}{% endblock %}
    </body>
</html>
