{% extends 'admin/base.html.twig' %}

{% block title 'Administration des rubriques' %}

{% block body %}
    <div class="container">
        <div class="text-center">
            <h1 class="my-5">Administration des rubriques</h1>
        </div>

        <table class="table table-hover bg-white">
            <thead>
                <tr class="text-center">
                    <th scope="col">Id</th>
                    <th scope="col">Rubrique</th>
                    <th scope="col">Pluriel</th>
                    <th scope="col">Catégories pour suggestion dans le formulaire</th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                {% for rubric in paginator.data %}
                    <tr class="text-center">
                        <td class="align-middle">{{ rubric.id }}</td>
                        <td class="align-middle">{{ rubric.name }}</td>
                        <td class="align-middle">{{ rubric.plural }}</td>
                        <td class="align-middle">
                            {% if rubric.category %}
                                {% for category in rubric.category %}
                                    {{category.name}},
                                {% endfor %}
                            {% endif %}
                        </td>
                        <td>
                            <div style="width:100px">
                                <a href="{{ path('admin_rubric_edit', {'id': rubric.id}) }}" class="btn btn-sm btn-primary"><i class="fas fa-xs fa-edit"></i></a>
                                <a href="{{ path('admin_rubric_delete', {'id': rubric.id}) }}" class="btn btn-sm btn-danger"><i class="fas fa-xs fa-trash"></i></a>
                            </div>
                        </td>
                    </tr>
                {% endfor %}
            </tbody>
        </table>
        
        {{ paginator.display() }}

        <!-- Button trigger modal -->
        <button type="button" class="btn btn-primary btn-block mt-3" data-toggle="modal" data-target="#exampleModalCenter">
            Ajouter une rubrique
        </button>

        <!-- Modal -->
        <div class="modal fade" id="exampleModalCenter" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
            <div class="modal-dialog modal-dialog-centered" role="document">
                <div class="modal-content mb-5">
                    <div class="modal-header">
                        <h5 class="modal-title" id="exampleModalCenterTitle">Ajouter une rubrique</h5>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                    {{ form_start(form) }}
                    <div class="modal-body">
                        {{ form_widget(form) }}
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-dismiss="modal">Fermer</button>
                        <button type="submit" class="btn btn-primary">Ajouter une rubrique</button>
                    </div>
                    {{ form_end(form) }}
                </div>
            </div>
        </div>

        

    </div>
{% endblock %}
