{% extends 'base.html.twig' %}

{% block title %}Télechargement des billetteries{% endblock %}

{% block body %}

<div class="main">
    <div class="wrapper" style="width:100%">
        <div class="row">
            <div class="col item">
                <h2 class="m-3">Télechargement des billetteries sur le serveur</h2>

                <p class="mt-2">
                    {% for ticketing in ticketings %}
                        {% if ticketing.source and ticketing.linked %}
                            <a class="btn btn-primary btn-sm m-2" href='?id={{ ticketing.id }}' >{{ ticketing.name }}</a>
                        {% endif %}
                    {% endfor %}
                </p>



            </div>
        </div>
    </div>
</div>
{% endblock %}

{% block javascripts %}
    <script type="module" src="https://cdn.skypack.dev/@hotwired/turbo"></script>
{% endblock %}