{% extends 'base.html.twig' %}

{% block title %}Billetteries{% endblock %}

{% block body %}

<div class="main">
    <div class="wrapper" style="width:100%">

        <div class="item p-3">
            <h2>Envoi des billetteries vers la base de données</h2>
            <div class="my-3">
                <div>{{ count['new'] }} billets ajoutés</div>
                <div>{{ count['update'] }} billets mis à jour</div>
            </div>
            <p class="mt-2">
                {% for ticketing in ticketings %}
                    {% if ticketing.source %}
                        <a class="btn btn-primary btn-sm m-2" href='?flux={{ ticketing.name }}' >{{ ticketing.name }}</a>
                    {% endif %}
                {% endfor %}
            </p>
            <div class="row">
                <div class="col">
                    <a href="{{ path('ticket_fusion',{'text':'city'}) }}" class="btn btn-primary btn-block">{{ count.withoutCity }} billets à associer à des villes</a>
                </div>
                <div class="col">
                    <a href="{{ path('ticket_fusion',{'text':'place'}) }}" class="btn btn-primary btn-block">{{ count.withoutPlace }} billets à associer à des lieux</a>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}

{% block javascripts %}
    <script type="module" src="https://cdn.skypack.dev/@hotwired/turbo"></script>
{% endblock %}
