{% extends 'base.html.twig' %}

{% block title %}Billetteries{% endblock %}

{% block body %}

<div class="main">
    <div class="wrapper">
        <div class="row">
            <div class="col">

                <h2 class="text-center m-3">{{ title }}</h2>
                
                {{ form_start(form, {'action': path('ticket_by_filter'), 'method': 'GET'}) }}
                <div class="row mt-4 mb-0">
                    <div class="col-sm">
                        {{ form_row(form.searchTitle) }}
                    </div>
                    <div class="col-sm">
                        {{ form_row(form.searchDate) }}
                    </div>
                    <div class="col-sm">
                        {{ form_row(form.searchPlace) }}
                    </div>
                    <div class="col-sm">
                        {{ form_row(form.searchCity) }}
                    </div>
                    <div class="col-sm">
                        <button class="btn btn-primary btn-block">Rechercher</button>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col item">
                {{ form_end(form) }}

                <table class="table table-striped">
                    <thead>
                        <tr>
                        <th scope="col" style="width:120px">Date</th>
                        <th scope="col">Titre</th>
                        <th scope="col">Lieu</th>
                        <th scope="col">Description</th>
                        <th scope="col">Lien</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for data in events %}
                            {% set event = data.event %}
                            <tr>
                                <th scope="row" style="width:120px">{{ event.dateStart|date("d-m-Y") }}{% if event.dateStart != event.dateEnd %} - {{ event.dateEnd|date("d-m-Y") }}{% endif %}</th>
                                <td><a href="{{ path("ticket_by_filter",{"searchTitle":event.title}) }}">{{ event.title }}</a></td>
                                <td>{% if event.place %}<a href="{{ path("ticket_by_filter",{"searchPlace":event.place.slug}) }}">{{ event.placeResource.name }}</a>{% else %}{{ event.placeResource.name }}{% endif %}, {{ event.placeResource.city }}</td>
                                <td>{{ event.description|length > 50 ? event.description|slice(0, 50) ~ '…' : event.description }}</td>
                                <td>
                                    {% for ticketing in data.ticketings %}<a target="_blank" class="btn btn-primary btn-sm px-2 py-1 m-1 float-right" style="font-size:8px" href="{{ path("event_create",{'resource':ticketing.id}) }}">{{ ticketing.name }}</a>{% endfor %}
                                </td>
                            </tr>
                        {% endfor %}
                        
                    </tbody>
                </table>
            </div>
        </div>

        <div class="pagination">
            {{ knp_pagination_render(pagination) }}
        </div>
    </div>
</div>
{% endblock %}
