@import url('./bootstrap.min.css');
@import url('./fancybox.min.css');
//@import url('./old-version.css');
@import url('./videoplayer.css');


//@import url('https://fonts.googleapis.com/css2?family=Comfortaa:wght@300;400;500;600;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Comfortaa:wght@300;400;500;600;700&display=swap');

.button-weezevent {display:none;}


body {font-family: 'Comfortaa', sans-serif;}
b, strong {
  font-weight: bold;
}
h2, .h2 {
  font-size: 1.6rem;
}
.sortie-bloc a, .menu-horizontal li.active a, ul li.active a, li li.active a, .button-rubric {
  &.color-red {background: red; color:white}
  &.color-yellow {background: yellow; color:black; text-shadow: none;}
  &.color-green {background: green; color:white}
  &.color-blue {background: blue; color:white}
  &.color-black {background: black; color:white}
  &.color-white {background: white; color:black; text-shadow: none;}
  &.color-pink {background: rgb(238, 126, 145); color:white}
  &.color-grey {background: grey; color:white}
  &.color-orange {background: orange; color:white}
}

.nav-menu-right {display: contents;}

#map {overflow:hidden; position:relative}
.blocFiltreCarte {
  display:block; 
  cursor: pointer;
  position:absolute;
  z-index: 500;
  right: 10px;
  top: 13px;
	background:white;
	padding: 0px 5px 10px;
	border-radius: 3px;
	-webkit-box-shadow: 0px 0px 3px 2px rgba(0, 0, 0, 0.2);
	-moz-box-shadow: 0px 0px 3px 2px rgba(0, 0, 0, 0.2);
  box-shadow: 0px 0px 3px 2px rgba(0, 0, 0, 0.2);
  
  a {
    display:block; 
    padding: 12px 5px;
    span {display:none; float: right; padding-right: 7px; line-height: 21px;}
    img {float: right;}
  }

  &:hover {
    background: -moz-linear-gradient(left, rgba(255,255,255,0.8) 0%, rgba(255,255,255,1) 70%, rgba(255,255,255,1) 100%); /* FF3.6-15 */
    background: -webkit-linear-gradient(left, rgba(255,255,255,0.8) 0%,rgba(255,255,255,1) 70%,rgba(255,255,255,1) 100%); /* Chrome10-25,Safari5.1-6 */
    background: linear-gradient(to right, rgba(255,255,255,0.8) 0%,rgba(255,255,255,1) 70%,rgba(255,255,255,1) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ccffffff', endColorstr='#ffffff',GradientType=1 ); /* IE6-9 */

    span {display:inline-block;}
  }
}

.block-comment, .block-share {
  width: 100%;
  margin-top: 20px;
  background-color: #fff;
  border-radius: 2px;
  box-shadow: 0px 1px 3px #bbb;
}


.block-comment {
  padding:20px;
  select {
    max-width: 250px;
    option {font-size:1rem;}
  }
  textarea.form-control {border: 1px solid lightgrey;}
}

.block-share {
  padding: 20px 10px 10px;
  text-align: center;

  .share-container {
    width: auto;
    display:block;

    input:checked ~ article.ac-auto {height: auto;}
    input {display: none;}
    textarea {padding: 5px; width: 100%;}
    .ac-auto {
      clear: both;
      padding: 10px 15px 0 15px;
      text-align: center;
    }
    article {
      overflow: hidden;
      height: 0px;
      position: relative;
    }
  }

 .share-buttons {
    display: inline-flex;
    width: initial;
    margin: 0 auto;
    
    label {cursor:pointer}

    .logo {
      background: #EB9812;
      width: 44px;
      height: auto;
      margin: 0px 3px;
      float: left;
      -webkit-border-radius: 27px;
      -moz-border-radius: 27px;
      border-radius: 27px;

      &:hover {
      color: black;
      /* text-decoration: underline; */
      }
      img {
        vertical-align: middle;
        width: 100%;
        max-height: 50px;
      
      }
    }
  
  }
}






.table td, .table th {
  padding: 0.5rem;
}

div.container, div.container-fluid {
  /*margin-top:20px;*/
  position: relative;
  padding: 20px;
}
.navbar {
  z-index:5001;
  position: relative;
  font-weight: initial;
  .navbar-nav li a.active {color:orange;}
  .button-new {
    font-size: .8rem;
    border-width: 2px;
    padding: .6rem 1rem .5rem;
    line-height: 1rem;
    color:orange;
    border-color: orange;
    &:hover {
      background-color:orange;
      color:white;
    }
  }

}
.place-title {
  margin-bottom: 20px;
  min-height: 200px;

}



div.carousel-caption {
  text-shadow: 2x 2px 3px rgba(0,0,0, 0.9);
}

.avatar {
  max-width: 128px;
  max-height: 128px;
  border-radius: 50%;
  
  &.avatar-medium {
  max-width: 64px;
  max-height: 64px;
  }

  &.avatar-mini {
      max-width: 24px;
      max-height: 24px;
  }

  &.avatar-micro {
      max-width: 20px;
      max-height: 20px;
  }
}

.aboveVideo {
  /* This keeps the video inside the div */
  position: relative;
  /* These are optional based on the size of 
  the area you want the video to cover */
  width: 100%;
  height: 40vh;
  overflow: hidden;
  /* Color overlay on video, optional
  background-color: rgba(0, 0, 0, 0.5);
   */
}

video {
  position: absolute;
  min-width: 100%;
  min-height: 100%;
  width: auto;
  height: auto;
  /* This puts the video BEHIND the div, optional */
  z-index: -1;
  /* These two properties center the video, optional */
  left: 50%;
  transform: translateX(-50%);
}


/* This part is just needed for this demo, your project
should have a full CSS reset and not need this */
body {
  margin: 0;
}


.jumbotron {
  background-color: rgba(255, 255, 255, 0.5);
}

.widget-title {
  text-align: center;
  letter-spacing: 3px;
  font-size: 14px;
  background: #EB9812;
  line-height: 3em;
  color:#fff;
}

.button-menu-horizontal {
  top: 0.75rem;
  left: 0.75rem;
  color: white !important;
  cursor: pointer;
  position:absolute
}

.button-menu {
  //float: left;
  z-index: 3;
  //display: block;
  //position: relative;
  position: absolute;

  .fa {
    padding: 6px 7px 5px 8px;
    margin: 12px 10px 0 12px;
    color: white !important;
    background-color: black;
    cursor: pointer;
  }
}

/*@import url(https://fonts.googleapis.com/css?family=Roboto);*/

body {
  background-color: #eee;
}

.title {
  display: -moz-box;
  display: -webkit-flexbox;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: -moz-flex;
  display: flex;
  text-align: center;
  /*
  margin: 20px 40px;
  text-align: center;
  */
  h2 {
    display:inline-block;
    color:orange;
    text-transform: uppercase;
    /*font-family: 'Roboto';*/
    margin: 0 auto;
    /*
    font-weight: 600;
    font-size: 30px;
    z-index: -1;
    */
  }
}

.buttons {
  /* display: -moz-box;
  display: -webkit-flexbox;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: -moz-flex;
  display: flex;
  float: right;
  width: 150px; */

  button {
    height: 36px;
    width: 40px;
    margin-left: 4px;
    font-size: 24px;
    color: orange;
    text-align: center;
    line-height: 1.4;
    border-radius: 4px;
    border: none;
    outline: none;
    background-color: white;
    box-shadow: 0px 1px 2px #bbb;
  }

  button:hover {
    cursor: pointer;
    box-shadow: 0px 0px 3px #666;
  }

  button.on {
    color: white;
    background-color: #ccc;
  }


}

/*
.wrapper {
  clear:both;
  margin: 10px 5% 40px;
  
  width: 900px;
  padding: 20px 20px 0;
  background-color: #ddd;
  overflow: hidden;
  font-family: Roboto;
  
  position: relative;

  
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
}
*/
.main-page {overflow:hidden}

.menu-horizontal {
  justify-content: center;
  position: relative;
  background-color: #181c20;
  padding: 0 40px;
  display: -moz-box;
  display: -webkit-flexbox;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: -moz-flex;
  display: flex;

  ul {
    padding: 0;
    font-weight: bold;
    list-style: none;
    display: -moz-box;
    display: -webkit-flexbox;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: -moz-flex;
    display: flex;
    /*
    li.active a {
      &.color-red {background: red;}
      &.color-yellow {background: yellow; color:black}
      &.color-green {background: green;}
      &.color-blue {background: blue;}
      &.color-black {background: black;}
      &.color-white {background: white; color:black}
      &.color-pink {background: rgb(238, 126, 145);}
      &.color-grey {background: grey;}
      &.color-orange {background: orange;}
    }
    */



    .button-horizontal {
      /*
      text-align: center;
      text-indent: 0px;
      display: inline-block;
      float: left;
      */
      text-align: center;

      /*line-height: 45px;
      &:hover .sub-menu li,
      .sub-menu:hover li {height:35px;}
      */

      a {
        color: white; 
        text-decoration:none;
        height: 100%;
        align-items: center;
        display: -moz-box;
        display: -webkit-flexbox;
        display: -ms-flexbox;
        display: -webkit-flex;
        display: -moz-flex;
        display: flex;

        &:hover {
          background-color:orange;
        }
      }
    }

    .dropdown-toggle {
      padding: 0.8rem 1rem 0.5rem;
      font-size: 1.3rem;
    
      &::after{color:white}
    
    }
    .dropdown-menu {
      background-color:#000;
      z-index: 1001;

      .active {
        background:orange;
      }

      .dropdown-item {
        color:#fff;
        padding: 0.5rem 1.5rem;
        font-weight: bold;

        &:hover {
          background:orange;
        }
      }
    }
    /*.button-last-week, .button-next-week {width: 4%; text-align:center}*/

    /*.button-this-week {width: 13.10%;}
    .button-horizontal a {padding : 0 30px}
    */

    li ul.sub-menu {
      font-size:10px;
      display:none; // Temporaire

      li {
        -webkit-transition: height 0.3s ease-in-out;
        -moz-transition: height 0.3s ease-in-out;
        -o-transition: height 0.3s ease-in-out;
        -ms-transition: height 0.3s ease-in-out;
        transition: height 0.3s ease-in-out;
        height: 0px;
        overflow: hidden;
      }

      



    }
  }
}


.block-image {
  overflow:hidden;
  height: 100%;
  position: absolute;
  width: 100%;
  /*
  max-height: 100%;
  max-width: 100%;
  */
  

  .img-gradient{
    background: linear-gradient(90deg, rgba(0, 0, 0, 0.3) 0%, rgba(0,0,0,0) 60%);
    position: absolute;
    width: 100%;
    height: 100%;
    z-index: 1;
  }

  .img-blur{
    position: absolute;
    width: 100%;
    height: 100%;
    display: -moz-box;
    display: -webkit-flexbox;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: -moz-flex;
    display: flex;
    /* justify-content: center; */
    align-items: center;
    
    img {
      min-width: 100%;
      min-height: 100%;
      /*width: 200%;
      margin-left: -50%;
      opacity:0;*/
      -webkit-filter: blur(10px) ;
      -ms-filter: blur(10px) ;
      -o-filter: blur(10px) ;
      filter: blur(10px) ;
    }
  }
  

  .img-contain {
    width: 100%;
    height: 100%;
    z-index: 2;
    position: relative;
    display: -moz-box;
    display: -webkit-flexbox;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: -moz-flex;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow:hidden;

 

    img {
    width: auto;
    height: 90%;
    }
  }
}

.visual-title .block-image .img-contain {padding-left: 50%;}

.separator {padding-top: 25px;}

.item {
  /*width: 100%;*/
  margin: 5px;
  background-color: #fff;
  border-radius: 2px;
  box-shadow: 0px 1px 3px #bbb;
  transition: 0.2s;
  position: relative;
}



.block-visual{
  /*width: 100%;*/
  height: 150px;
  /*border: 20px solid #fff;
  overflow: hidden;*/
  position:relative;

  .block-badge {
    width: 100%;
    float: left;
    position: absolute;
    padding: 8px 5px;
    z-index: 4;
  }
}



.details {
  /*overflow: hidden;*/
  padding: 1em;
  
  /*
  .block-title {
    display:inline;
  }
  */
  .block-date {
    /*
    padding-bottom: 5px;
    line-height: 17px;
    */
    margin-bottom: .6rem;
  }

  h5 {overflow: hidden; margin-bottom: 0;}

  .button-detail {
    margin-top: .5rem;
    margin-right: 1rem;
    display: inline-block;

    /*
    a {
      display: inline-block;
    }
    */
  }

  /**/
  a {
    transition: 0.2;
    color:#999;
  }

  a:hover {
    /*opacity: 0.9;*/
    cursor: pointer;
    text-decoration: none;
    
    color:orange;
  }
  
  h2 {
    transition: 0.2s;
  }

  .button-ticket {
    display:block;
    margin-top:1rem;

    &.show .btn {
      color:white;
      border-color: orange;
      background-color: orange;
    }

    .btn {
      width:100%;
      border-width: 1px;
      font-size: .8rem;
      border-color: lightgrey;
      padding: .3rem 1rem .2rem;
      &:hover {
        color:white;
        border-color: orange;
        background-color: orange;
      }
    }
    .dropdown-menu a {text-align:right;}
  }

/*
  h4 a.city {
    font-size:1rem;
  }

  h2:hover {
    color: #666;
    cursor: pointer;
  }

  
  span {
    font-size: 24px;
  }
  span.price {
    color: orange;
  }
  */
}

.more-info {
  position: absolute;
}


/*
.image-centered {
  width:100%;
  bottom: 0;
  top: 0;
}

.image-centered li {
  bottom: 60px;    
  position: absolute;
  top: 0;
  padding:10px;
  right:0;
  left:0;
  bottom:0;
  text-align:center;
  list-style-type: none; 
}

.image-centered img { 
      width: auto !important; 
      width: 100%;
      max-width: 100%;
      max-height: 100%;
  }
*/


.topListe {
  display: -moz-box;
  display: -webkit-flexbox;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: -moz-flex;
  display: flex;
  margin-bottom:10px;
}

.topListe h2 {
  color:orange;
}


.grid {
  .item-more-info {
  padding-bottom: 5em
  }
}

.block-rubric, .button-rubric {
  font-size: 0.8em;
  position:relative;
  margin: 5px 5px 0 0;
  border-width: 1px 2px 2px 1px;
  border-style: solid;
  padding: 3px 3px 1px;
  text-align: center;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px;
  border-color: rgba(0,0,0,.3);
  text-shadow: 0px 1px 2px rgba(0,0,0,1);
  color: #fff;
}

.block-rubric {
  float: right;
  z-index: 4;
  font-weight: bold;
}

.button-rubric {
  display: inline-block;
}

.main-side {
  width: 100%;

}  

.main-margin {
  margin: 20px;
  //display: inline-block;
}



.logo-date {
  text-transform: uppercase;
  color: black;
  display: block;
  position:relative;
  float: left;
  margin: -15px 10px 50px 10px;
  z-index: 3;
  min-width: 40px;
  text-align: center;
  padding: 5px;
  border: 1px #222 solid;
  -webkit-border-radius: 0 0 3px 3px;
  -moz-border-radius: 0 0 3px 3px;
  border-radius: 0 0 3px 3px;
  -webkit-border-radius: 3px 3px 3px 3px;
  -moz-border-radius: 3px 3px 3px 3px;
  border-radius: 3px 3px 3px 3px;
  background: -moz-linear-gradient(top, rgba(255,255,255,1) 0%, rgba(255,255,255,1) 21%, rgba(255,255,255,0.87) 100%);
  background: -webkit-linear-gradient(top, rgba(255,255,255,1) 0%,rgba(255,255,255,1) 21%,rgba(255,255,255,0.87) 100%);
  background: linear-gradient(to bottom, rgba(255,255,255,1) 0%,rgba(255,255,255,1) 21%,rgba(255,255,255,0.87) 100%);
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#deffffff',GradientType=0 );
    
  .date-text {
    font-size: 10px;
    line-height: 15px;
  }

  .date-mois {
    font-size: 13px;
    line-height: 18px;
  }

  .date-jour {
    font-size: 25px;
    line-height: 26px;
    display: inline-block;
    text-align: center;
  }


  .date-block {
    display: inline-block;
    min-width: 35px;
    float: left;
  }

  .date-separator {
    display: inline-block;
    float: left;
  }

  .date-separator-cross {
    width: 1px;
    margin-left: 5px;
    margin-right: 5px;
    height: 37px;
    background: rgb(151, 151, 151);
  }

  .date-separator-and {
    margin: 10px 5px 0;
  }

}


.widgets {display:none}

.title {
  padding-top: 20px;
}


.navbar {    
  a.nav-link:hover, a.dropdown-item:hover {
    color:orange;
  }
  .title-website {
    a.title-site {
      text-decoration:none;
      h1 {
        font-size: 1.25rem;
        
      }
      &:hover h1 {color:orange;}
    }
  }  
  .nav-item {
    /*margin-right: 1rem;*/
    text-align: center;
  }
}


@media (max-width: 768px){

  .navbar {
    margin: 0;
    .title-website {
      margin: 0;
      width:100%;
      text-align:center;
      a.title-site {
        width:100%;
        img {width:200px}
        h1 {
          margin-top:10px;
          display:block;
        }
      }
      .dropdown-site {
        position:absolute;
        right:5px;
        top:10px;
      }
    }
    button.navbar-toggler {
      position: absolute;
      top: 10px;
      left: 10px;
    }
  }
  .nav-item {
    margin: 0;
    text-align: center;
    .dropdown-item {
      padding: 0.5rem 1.5rem;
    }
  }
}


@media (min-width: 768px){

  .navbar {
    padding: 1rem;

    .title-website {
      display: -webkit-box !important;
      display: -ms-flexbox !important;
      display: flex !important;
      -ms-flex-preferred-size: auto;
      flex-basis: auto;
      a.title-site {
        
        //img, h1 {display:inline-block; float:left}
        h1 {margin-left:10px; display:inline-block;}
        
      }
  
      .dropdown-site {
        display:inline-block;
        .btn {
          padding-left:5px;
          padding-right:5px;
          &:hover {
            color: orange;
          }
        }
        
      }
    }
  }
  
  .dropdown-other-website {
    padding-left: 0.1em;
    padding-right: 0.5em;
    cursor: pointer;
  }
  
  .dropdown-menu-other-website {
    top: initial; 
    left: initial;
  }
  




.sortie-bloc {

  /*overflow:hidden;*/
  display: -moz-box;
  display: -webkit-flexbox;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: -moz-flex;
  display: flex;
}

.widgets {
  display:block;
  .widget {
    width: 100%;
    margin-bottom: 30px;
    border-color: #EB9812;
    border-style: solid;
    border-width: 3px;
    display: inline-block;
    background:#fff;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    -ms-border-radius: 4px;
    -o-border-radius: 4px;
    border-radius: 4px;
    /*-webkit-box-shadow: 0 1px 4px rgba(0, 0, 0, 0.12), 0 1px 3px rgba(0, 0, 0, 0.24);
    -moz-box-shadow: 0 1px 4px rgba(0, 0, 0, 0.12), 0 1px 3px rgba(0, 0, 0, 0.24);
    -ms-box-shadow: 0 1px 4px rgba(0, 0, 0, 0.12), 0 1px 3px rgba(0, 0, 0, 0.24);
    -o-box-shadow: 0 1px 4px rgba(0, 0, 0, 0.12), 0 1px 3px rgba(0, 0, 0, 0.24);
    box-shadow: 0 1px 4px rgba(0, 0, 0, 0.12), 0 1px 3px rgba(0, 0, 0, 0.24);
    -webkit-transition: box-shadow 0.2s ease-in-out;
    -moz-transition: box-shadow 0.2s ease-in-out;
    -o-transition: box-shadow 0.2s ease-in-out;
    -ms-transition: box-shadow 0.2s ease-in-out;
    transition: box-shadow 0.2s ease-in-out;
    */
    .menu-search {
      padding:20px;
      
      input, select, .select2 {border: 1px solid lightgrey; margin-bottom:5px;} 
    }
  }

  .event-map {
    padding:10px;
    a:hover {
      text-decoration: none;
      color:orange;
      h4 {color:orange;}
    }
  }


  .category-filter {
    font-size: 11px;
    font-weight: bold;
    padding: 0 10px;
    margin-top: 10px;
    letter-spacing: 1.7px;
    text-align: justify;

    a {
      display:inline-block;
      line-height: 23px;
      padding-left: 7px;
      margin-top: 10px;
      border-width: 1px;
      border-style: solid;
      border-color: black;
      -webkit-border-radius: 12px;
      -moz-border-radius: 12px;
      -ms-border-radius: 12px;
      -o-border-radius: 12px;
      border-radius: 12px;
      overflow:hidden;

      span {
        padding: 0 5px;
        margin-left:5px;
        border-width: 0px;
        border-left-width: 1px;
        border-style: solid;
        float:right;
      }
    }

    a:hover {
      background: black;
      color:white;
      text-decoration: none;

      span {
        background: white;
        color:black;
      }

    }
    
  }

}


  .title {
    padding: 40px 10px 20px 10px;
    /*
    max-width: 90%;
    margin: 20px 5%;
    
    padding-bottom:25px;
    display: -moz-box;
    display: -webkit-flexbox;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: -moz-flex;
    display: flex;

      h2 {
        padding-left:100px;
        display:inline-block;
      }*/

  }

  .wrapper {
    /*
    max-width: 90%;
    margin: auto;
    */
  }
/*
  .block-labels .block-rubric {
    background: rgba(255,0,0,0.8);
  }

  .block-labels a {
    &.color-red {background: red;}
    &.color-yellow {background: yellow; color:black}
    &.color-green {background: green;}
    &.color-blue {background: blue;}
    &.color-black {background: black;}
    &.color-white {background: white; color:black}
    &.color-pink {background: rgb(238, 126, 145);}
    &.color-grey {background: grey;}
    &.color-orange {background: orange;}
  }

  */
 

  .widgets {
    width: 35%;
    float: right;
    margin: 30px 0 20px 30px;
  }



  .details {
    .button-ticket {
      margin-top: .6rem;
      float:right;
      a {width:initial;}
    }
    .block-detail{margin-bottom: .5rem;}  
  }

.sortie-bloc:hover{
  .block-date {
    height: 1.3rem;
  }
  h5 {
    margin-top: 0.3rem;
    margin-bottom: 0;
    &:hover {
      color:orange;
    }
  }
} 

.sortie-bloc {

  .block-date {
    overflow: hidden;
    height: 0px;
    -webkit-transition: height 0.2s linear;
    -moz-transition: height 0.2s linear;
    -o-transition: height 0.2s linear;
    -ms-transition: height 0.2s linear;
    transition: height 0.2s linear;

    span {display: inline-block;}
  }
  
  h5 {
    -webkit-transition: margin 0.2s linear;
    -moz-transition: margin 0.2s linear;
    -o-transition: margin 0.2s linear;
    -ms-transition: margin 0.2s linear;
    transition: margin 0.2s linear;
  }
}


.block-visual{

  .block-image {
    position: absolute;
    height: 100%;
    width:100%;
  }


}


a.block-favorite {
  
  position: absolute;
  right: 0px;
  bottom: -30px;
  z-index:3;
  /*
  color:white;
  border-color: white;
  border-style: solid;
  border-width: 2px 0 0 2px;
  */
  background-color: rgba(255,255,255,.6);
  border-top-left-radius: 5px;
  padding: 3px 5px;
  transition-duration: 200ms;
  transition-property: bottom;
}

a.block-favorite:hover {background-color: white; text-decoration: none;}

.sortie-bloc:hover a.block-favorite {
  bottom: 0px;
}



.list {

  width:100%;

  .item {
    //margin: 0 auto;
    //width: 100%;
    display: -moz-box;
    display: -webkit-flexbox;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: -moz-flex;
    display: flex;
    -webkit-flex-direction: row;
    -moz-flex-direction: row;
    -ms-flex-direction: row;
    flex-direction: row;
    width: -webkit-fill-available;

    .block-visual{
      width: 300px;
      height:auto;
    }

    .details {
      display: inline-block;
      vertical-align: top;
      /*max-width: 66%;*/
      width: 60%;
      -moz-box-flex: 1;
      -webkit-flex: 1;
      -moz-flex: 1;
      -ms-flex: 1;
      flex: 1;
    }

    .more-info {
      top: 1.5em;
      right: 1.5em;
    }

  }

}


.grid {

  .item {
    -webkit-box-flex: 0;
    -ms-flex: 0 0 32%;
    flex: 0 0 32%;
    margin: 0 2% 20px 0;
    /*
    float: left;
    max-width: 32%;
    text-align: center;
    */

    .block-visual{
      width: 100%;
      height: 150px;
      position: relative;

      .block-image {
        /*
        max-width: 100%;
        border: 0px solid #fff;
        position: relative;
        */
      }

      img {
      /*padding-top: 0;
      width: 100%;
      margin-left:0;
      max-width: 90%;
      margin: 0 auto;
      float: none;
      */
      }
    }
      
    span {
      font-size: 12px;
    }

    .details {
      float: none;
      /*max-width: 90%;*/
      padding: 1em;
      display: inline-block;

      h4 {text-align: center;}

      .block-detail {
        text-align: center;
        padding: 5px 5% 0;

        .button-detail {
          margin: 3px 10px;
          i {padding-right:5px}
        }
      }

      
    }

    .more-info {
      width: 100%;
      bottom: 1em;
      text-align:center;
    }

    }
    
    .item:nth-child(3n) {
      margin-right: 0;
    }


    /*
    h2 {
      font-size: 20px;
      margin: 10px 0;
    }
    
    span {
      display: inline-block;
      margin-top: -6px;
      font-size: 19px;
    }
    */

  
  }
}

@media screen and (min-width: 1020px){
  .main-side {
      width: calc(100% - 250px);
      float: right;
  }
}

@media screen and (min-width: 1200px){

}




.menu-horizontal ul li.active a {
background: #EB9812;
}


.nav-side-menu {

  overflow: auto;
  font-family: verdana;
  font-size: 12px;
  font-weight: 200;
  background-color: #2e353d;
  /* position: fixed; 
  position:absolute;
  top: 0px;*/
  display: inline-block;
  width: 300px;
  /* height: 100%; */
  color: #e1ffff;

  .brand {
  background-color: #23282e;
  line-height: 70px;
  display: block;
  text-align: center;
  font-size: 14px;
  }

  .toggle-btn {
  display: none;
  }

  ul, li {
  list-style: none;
  padding: 0px;
  margin: 0px;
  line-height: 45px;
  cursor: pointer;

    .collapsed{
      .arrow:before{
        font-family: FontAwesome;
        content: "\f078";
        display: inline-block;
        padding-left:10px;
        padding-right: 10px;
        vertical-align: middle;
        float:right;
      }
    }
  
  }

  ul:not(collapsed) .arrow:before,
  li:not(collapsed) .arrow:before {
  font-family: FontAwesome;
  content: "\f053";
  display: inline-block;
  padding-left: 10px;
  padding-top: 3px;
  padding-right: 14px;
  vertical-align: middle;
  float: right;
  }


  ul .active,
  li .active {
  border-left: 3px solid #eb9812;
  background-color: #4f5b69;
  }

  ul .sub-menu li.active,
  li .sub-menu li.active {
  color: #eb9812;

  }

  
  ul li.active a,
  li li.active a {
  background: #eb9812;
    /*
    &.color-red {background: red;}
    &.color-yellow {background: yellow; color:black}
    &.color-green {background: green;}
    &.color-blue {background: blue;}
    &.color-black {background: black;}
    &.color-white {background: white; color:black}
    &.color-pink {background: rgb(238, 126, 145);}
    &.color-grey {background: grey;}
    &.color-orange {background: orange;}
    */
  }
  

  ul .sub-menu li,
  li .sub-menu li {
  background-color: #181c20;
  border: none;
  line-height: 35px;
  border-bottom: 1px solid #23282e;
  margin-left: 0px;
  }

  ul .sub-menu li:hover,
  li .sub-menu li:hover {
  background-color: #020203;
  }

  ul .sub-menu li a:before,
  li .sub-menu li a:before {
  font-family: FontAwesome;
  content: "\f105";
  padding-left: 10px;
  /*
  display: inline-block;
  padding-left: 10px;
  padding-right: 10px;
  vertical-align: middle;
  */
  }

  .arrow {
  font-size: 15px;
  }

  li {
  padding-left: 0px;
  border-left: 3px solid #2e353d;
  border-bottom: 1px solid #23282e;
  background-color: #2e353d;
  }

  li a {
  text-decoration: none;
  color: #e1ffff;
  display:inline-block;
  width:100%;
  line-height: 40px;
  }

  li a i {
  padding-left: 10px;
  width: 20px;
  padding-right: 20px;
  }

  li:hover {
  border-left: 3px solid #eb9812;
  background-color: #4f5b69;
  -webkit-transition: all 1s ease;
  -moz-transition: all 1s ease;
  -o-transition: all 1s ease;
  -ms-transition: all 1s ease;
  transition: all 1s ease;
  }

  .badge {
    color: #000;
    background-color: #fff;
    float: right;
    margin:1.3em;
    padding: 0.4em 0.5em;
    border-radius: 10rem;
  }

  .menu-search {
    padding: 15px;
  
    .btn, .form-control {
      margin: 0 auto;
    }
  }

}

@media (max-width: 767px) {

  .buttons {display:none;}
  .nav-side-menu {
      position: relative;
      width: 100%;
      margin-bottom: 10px;
  }
  .nav-side-menu .toggle-btn {
      display: block;
      cursor: pointer;
      position: absolute;
      right: 10px;
      top: 10px;
      z-index: 10 !important;
      padding: 3px;
      background-color: #ffffff;
      color: #000;
      width: 40px;
      text-align: center;
  }
  .brand {
      text-align: left !important;
      font-size: 22px;
      padding-left: 20px;
      line-height: 50px !important;
  }
}

.main {
  position: relative;
}

@media (max-width: 767px) {
  .button-menu-horizontal {display:none;}
}

@media (min-width: 767px) {
  .buttons {display:none;}
  .main {
    /*position:relative;*/
    overflow:auto;
    /*position: relative;*/
    display: -moz-box;
    display: -webkit-flexbox;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: -moz-flex;
    display: flex;
    flex-wrap: wrap;
  }

  .nav-side-menu {
    flex: 0 0 250px;

    /* Customize website's scrollbar like Mac OS
    Not supports in Firefox and IE */

    /* total width */
    &::-webkit-scrollbar {
      background-color:#181c20;
      width:4px
    }

    /* background of the scrollbar except button or resizer */
    &::-webkit-scrollbar-track {
      background-color:#2e353d
    }
    /*
    &::-webkit-scrollbar-track:hover {
      background-color:#f4f4f4
    }

    */
    /* scrollbar itself */
    &::-webkit-scrollbar-thumb {
      background-color:#EB9812;
      /*
      border-radius:16px;
      border:5px solid #fff
      */
    }
    /*
    &::-webkit-scrollbar-thumb:hover {
      background-color:#a0a0a5;
      border:4px solid #f4f4f4
    }
    */
    /* set button(top and bottom of the scrollbar) */
    &::-webkit-scrollbar-button {display:none}

    .menu-list .menu-content {
      display: block;
      z-index: 2;
      position: relative;
      .menu-collapse {
        line-height: 52px;
      }
    }

  }
  .page {
    width: calc(100% - 250px);
    display: inline-block;
    vertical-align: top;
    margin-top: 1em;
  }

}
/*
.form-redirect {
  padding: .5rem 3rem;
  h2 {padding-top: .5rem}
  .row {margin:0;}
  .col {margin: 10px 0;}
  #searchRubric {
    min-width:200px;
    padding:15px;
    option {font-size:1rem}
  }
}
*/
.title-top {
  text-align:center;
  padding:30px 20px;
  h2 {
    position: relative;
    padding-top: 5px;
    margin: 5px 0;
    color: white;
    text-shadow: 1px 1px 3px black;
    text-transform: uppercase;
    letter-spacing: 3px;
    font-size: 1.5rem;
  }
}
.form-redirect {
  //background:#eb9812;
  background: rgb(235,152,18);
  background: linear-gradient(0deg, rgba(235,152,18,1) 20%, rgba(235,152,18,0.6) 100%);
  position:relative;
  .row {
    margin: 0;
    padding: 5px 10px;
    .col {
      padding:10px;
      input[type="date"] {
        height: 46px;
        min-width:200px;
      }
      .dropdown-toggle {
        width:100%;
        background:white;
        border: 0 solid #ced4da;
        color: #55595c;
        position:relative;
        text-align:left;
        padding-left:25px;
        &::after {
          position:absolute;
          top: 22px;
          right: 7px;

        }
      }
      .dropdown-menu {
        z-index:6000; font-size:1rem;
        a span {
          float:right;
          padding-left: 40px;
          display: inline-table;
        }
      
      }
      /*
      #searchRubric {
        min-width:200px;
        option {font-size:1rem}
      }
      */
    }
  }
}



.visual-title {
  //background-size:cover;
  //background-position:center center;
  position: relative;
  //overflow: hidden;

  h2 {
    z-index:4;
    position:relative;
    margin:5px 0;
    color:white;
    text-shadow: 1px 1px 3px rgba(0,0,0, 1);
  }

  .block-data-primary {
    display: inline-block;
    width: 60%;
    margin-left: 9%;
    position: relative;
    padding: 20px;

    h1, div {
      z-index:4;
      position:relative;
      /*
      float:left;
      clear:both;
      */
      margin:5px 0;
    }

    h1, .data-rubric, .data-date, .data-details, .data-detail a, .data-detail h3 {
      color:white;
      text-shadow: 1px 1px 3px rgba(0,0,0, 1);
    }

    div.data-details {
      .data-detail{
        margin: 0 20px 5px 0px;
        display: inline-block;
        clear: initial;
      }
      .data-tickets a {color:white;}

    }

    a.btn {
      z-index:4;
      position: relative;
      margin: 0 5px 5px 0;
    }

  }

  .block-buttons-primary {
    z-index: 2;
    position: relative;
    /*margin: 0 9% 20px;*/
    padding: 0px 10% 20px;
    
    a.btn {margin:5px}
  }


}

.cloned {
  .button-menu-horizontal {display:none;}
  a.active {background:rgb(235,152,18);}
}

.sidebar-open .block-data-primary {
  margin-left: 3%;
  padding-left: 3%;
}
.sidebar-open .visual-title .block-buttons-primary {
    padding-left: 3%;
}

ol, ul, dl {
  margin-bottom: 0;
}

.nav-side-menu {
  left: -250px;
  width: 250px;
}

.nav-side-menu, .menu-horizontal, .button-menu, .visual-title, .wrapper, .menu-link, .main-page, .block-data-primary, .block-buttons-primary {
  transition-duration: 200ms;
  transition-property: left, margin-left, padding;
}

.sidebar-open #sidebar {
  left: 0;
}

.sidebar-open .main-page {
  margin-left: 250px;
}



.wrapper {
  padding: 20px 8% 50px;
  /*min-height: 400px;*/
}

.sidebar-open .wrapper {
  padding-left: 30px;
  padding-right: 30px;
}

.menu-link {
  padding: 1rem 0.2rem;
  font-size: 0.7rem;
}
.sidebar-open .menu-link {
  padding: 1rem 0.1rem;
}

@media screen and (min-width: 768px){

  .sidebar-open .menu-link {
    padding: 1rem 0.4rem;
  }
  .menu-link {
    padding: 1rem 0.5rem;
    font-size: initial;
  }

}

@media screen and (min-width: 980px){
  .sidebar-open .menu-link {
    padding: 1rem 0.8rem;
  }
  .menu-link {
    padding: 1rem 1rem;
  }
}

@media screen and (min-width: 1200px){
  .sidebar-open .menu-link {
    padding: 1rem 1.6rem;
  }
  .menu-link {
    padding: 1rem 2rem;
  }
}



/*
* Sidebar
*/


.sidebar {
  /* display: none; Hide for mobile, show later */
  top: 0;
  bottom: 0;
  position:absolute;
  z-index: 10;
  display: block;
  overflow-x: hidden;
  overflow-y: auto; /* Scrollable contents if viewport is shorter than content. */
}

/* Sidebar navigation
.nav-sidebar {
margin-right: -21px;
margin-bottom: 20px;
margin-left: -20px;
}
.nav-sidebar > li > a {
padding-right: 20px;
padding-left: 20px;
}
.nav-sidebar > .active > a,
.nav-sidebar > .active > a:hover,
.nav-sidebar > .active > a:focus {
color: #fff;
background-color: #428bca;
}


.main {
padding: 20px;
}
@media (min-width: 768px) {
.main {
  padding-right: 40px;
  padding-left: 40px;
}
}
.main .page-header {
margin-top: 0;
}

*/
/*
* Placeholder dashboard ideas
*/

.placeholders {
margin-bottom: 30px;
text-align: center;
}
.placeholders h4 {
margin-bottom: 0;
}
.placeholder {
margin-bottom: 20px;
}
.placeholder img {
display: inline-block;
border-radius: 50%;
}





.row {
    margin:10px 0 20px;
}
.custom-file-label::after {
    content: "Télecharger";
}
.btn {
  font-size: 1rem;
}

div.pagination {
  margin: 10px 0;
  nav {
    -webkit-box-shadow: 0px 1px 3px 1px rgba(0, 0, 0, 0.1);
    -moz-box-shadow: 0px 1px 3px 1px rgba(0, 0, 0, 0.1);
    box-shadow: 0px 1px 3px 1px rgba(0, 0, 0, 0.1);
    margin: 0 auto;
  }
}

.button-archive {
  display: -moz-box;
  display: -webkit-flexbox;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: -moz-flex;
  display: flex;

  a {
    margin: 10px auto;
    -webkit-box-shadow: 0px 1px 3px 1px rgba(0, 0, 0, 0.1);
    -moz-box-shadow: 0px 1px 3px 1px rgba(0, 0, 0, 0.1);
    box-shadow: 0px 1px 3px 1px rgba(0, 0, 0, 0.1);
  }
}

.select2-container {
  width: 100% !important;
}

/* Personnalisation de Select2 */

.select2-container--default .select2-selection--single,
.select2-container--default .select2-selection--multiple {
    border-width: 0;
    border-radius: 0;
}
.select2-container .select2-selection--single {
    height: 45px;
}
.select2-container--default .select2-selection--single .select2-selection__rendered {
    line-height: 45px;
}
/*
.select2-container--default .select2-selection--multiple .select2-selection__rendered {
  margin: 10px;
}*/
.select2-container--default .select2-selection--single .select2-selection__placeholder {
    padding-top: 0.75rem;
    padding-left: 1rem;
    font-size: 0.875rem;
    letter-spacing: 0;
    color: #55595c;
}
.select2-container--default .select2-selection--single .select2-selection__arrow {
    margin-top: 10px;
}

/* Mise en page description */

.block-description {
  background:white;
  text-align:justify;
  text-justify: inter-word;
  color:black;
  h1 {font-size:1.2rem}
  h2 {font-size:1.1rem}
  h3 {font-size:1rem}
  h4 {font-size:0.9rem}
  h5 {font-size:0.8rem}
  h6 {font-size:0.7rem}
}

.shape:not([class*=shape-blur]) {
    overflow: hidden;
}
.shape-bottom {
    right: 0;
    bottom: 0;
    left: 0;
}
.shape {
    position: absolute;
    z-index: 2;
    pointer-events: none;
}
.text-light {
    color: #eee!important;
}
.text-dark {
    color: #181c20!important;
}
.position-relative {
    position: relative!important;
}
.shape:not([class*=shape-blur])>* {
    -webkit-transform: scale(2);
    transform: scale(2);
}
.shape-fluid-x>* {
    width: 100%;
    height: auto;
}
.shape-bottom>* {
    -webkit-transform-origin: top center;
    transform-origin: top center;
}
.shape>* {
    display: block;
}
svg {
    overflow: hidden;
    vertical-align: middle;
}

.shape:not([class*=shape-blur]) {
    overflow: hidden;
}

.shape-right {
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
}
.shape {
    position: absolute;
    pointer-events: none;
}
.shape:not([class*=shape-blur])>* {
    -webkit-transform: scale(2);
    transform: scale(2);
}
.shape-fluid-y>* {
    width: auto;
    height: 170%;
}
.shape-right>* {
    position: inherit;
    top: inherit;
    bottom: inherit;
    right: inherit;
    -webkit-transform-origin: center left;
    transform-origin: center left;
}
.shape>* {
    display: block;
}
svg {
    overflow: hidden;
    vertical-align: middle;
}


/* Personnalisation du formulaire cookies */

.ch-cookie-consent__title {
    text-align: center;
}
.ch-cookie-consent__form .form-check {
    padding-left: 0;
}
.ch-cookie-consent__category-toggle input+label {
    width: auto;
    padding: 6px 10px;
}
.ch-cookie-consent__category-title {
    font-size:0.9rem;
}
.ch-cookie-consent__btn {
    width: auto;
}
.btn-accept {
    margin-top: 0px;
    padding: 0.5rem 1rem;
    display:inline-block;
}
.btn-parameter {
    border-radius: 6px;
}