
.form-control:disabled {background-color: white;}

.loader {
    //background: url('../../public/uploads/common/logo/ajax_loader.gif') 50% 50% no-repeat rgb(249,249,249);
    opacity: 0.9;
    width: 100%;
    height: 400px;
    display: none;
}

.blocImageGenerateur .custom-file,
.blocFormulaireTitre input,
.blockDate input,
.blocFormulaireDetail .select2-container,
.blocFormulaireDetail .form-control,
.custom-checkbox .custom-control-label::before,
.block-border,
.block-address,
.block-more
 {
    border: 1px solid lightgrey;
}

.blocImageGenerateur .custom-file {
    height: 50px;
    overflow: hidden;
    margin-bottom: 20px;
}

.blocAnnonceImage {display: grid;}
.blocAnnonceImage img {
    max-width:100%;
    max-height: 415px;
    margin: 0 auto;
}

.form-control {
    z-index: 2;
    position: relative;
}

.form-control, .custom-file-label {
    background-color: white;
    padding: 0.9rem 1.2rem;
}


.blocDetail, .formDate {margin-top: 20px;}

.collection .form-group {
    border: 5px solid white;
    border-top-width: 0 ;
    border-bottom-width: 0 ;
    margin-bottom: 0;
}

.collection .form-group:first-child {
    border-top-width: 5px;
}

.collection .form-group .collection-row {
    margin: 0;
    padding: 5px 0 15px;
}
.collection .form-group:first-child .collection-row {
    padding: 15px 0;
}

.collection .form-group .collection-row .row {
    margin: 0;
}

/**/
.collection .custom-file {height:50px;}
.collection .images-preview {display: flex; margin:0 auto; max-height:200px}

.block-price {
    display: inline-flex;
    margin: 0 auto 1em;
    padding: 0 30px;
}

.funkyradio .form-check {
    padding: 0;
}

.funkyradio label {
    width: 100%;
    border-radius: 0px;
    border: 2px solid #D1D3D4;
    padding: 5px;
}
.funkyradio input:empty {
    display: none;
}
.funkyradio input:empty ~ label {
    display: inline-flex;
    cursor: pointer;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}
.funkyradio input:empty ~ label:before {
    padding: 25px 10px 0;
    margin: -5px 10px -5px -5px;
    top: 0;
    bottom: 0;
    left: 0;
    font-family:'fontawesome';
    content:'\f05e';
    background: #D1D3D4;
    color: #fff;
    border-radius: 0px;
}
.funkyradio input:hover:not(:checked) ~ label:before {
    font-family:'fontawesome';
    content:'\f05d';
    color: #C2C2C2;
}
.funkyradio input:hover:not(:checked) ~ label {
    color: #888;
}
.funkyradio input:checked ~ label:before {
    content:'\f05d';
    font-family:'fontawesome';
    color: #333;
    background-color: #ccc;
}
.funkyradio input:checked ~ label {
    color: #777;
}
.funkyradio input:focus ~ label:before {
    box-shadow: 0 0 0 3px #999;
}
.funkyradio input:checked ~ label:before,
.funkyradio input:checked ~ label {
    color: #fff;
    background-color: orange;
    border: 1px solid transparent;
}

.block-reductions {

    .form-check {
        display: inline-block;
        padding: 0;
        margin: 7px 7px 0 0;

        -webkit-user-select: none;
        -moz-user-select: none;
        -ms-user-select: none;
        user-select: none;
        text-transform: lowercase;

        &:hover {
            color:#333;
        }

        input[type="checkbox"] {
            display: none;
        }
        input[type="checkbox"] + label {
            cursor: pointer;
            background-color:white;
            padding: 2px 4px;
            border: 1px solid transparent;
            border-radius: 4px;
        }
        input[type="checkbox"]:checked + label {
            background-color: #e4e4e4;
            border: 1px solid #aaa;
            color:#444;
        }

        input[type="checkbox"]:checked + label:hover {
            border: 1px solid #555;
            color:#111;
        }
    }
}

.blocDescription {padding-top: 20px;}
.trumbowyg-box {margin: 0px auto;}
.trumbowyg-editor {background:white; color: black;}


.block-submit {padding: 30px 0px 10px 0px; margin-top:10px;}
.block-submit button { margin-bottom:20px;}

@media (min-width: 767px) {

    .blockForm .form-title {
        text-align:center;
        margin-top:10px;
    }

    .blocImageGenerateur {display:inline-block; float:right; width:33%; padding: 20px 20px 10px 0;}


    .blocFormulaireTitre {width:59%; padding-top:20px; margin-left: 12px;}
    .form-primary {
        text-align: center;
        font-size: large;
    }
    .blockDate input.multidate {font-size: small;}
    /*
    .ui-state-active, .ui-widget-content .ui-state-active, .ui-button:active, .ui-button.ui-state-active:hover, .ui-state-hover, .ui-widget-content .ui-state-hover {
        border: initial;
        background: initial;
        font-weight: initial;
        color: initial;
    }
    */


    .blockDate {width:62%; padding: 0 4px;}
    .formDate {width: 49%; padding: 0 8px; display: inline-grid;}


    .block-cat .form-control option {
        padding:15px;
    }

    .block-cat .form-control option {
        height: 4.5rem;
        font-size: large;
    }

    .block-cat .select2-selection {
        padding-top: .5rem;
        padding-bottom: .5rem;
    }

    .select2-container--default .select2-selection--multiple .select2-selection__rendered {
        margin-top: 6px; margin-bottom: 6px;
    }

    .custom-file-label::after {
    margin: 10px;
    height: 25px;

    padding: 0.2rem 1rem;
    }

    .blocFormulaireDetail {
        margin:20px 0 0px 0px;

        .blocDetail {
            display: inline-block;
            vertical-align: top;
            width: 31%;
            margin: 20px 1% 10px;
        }
    }

    .block-more {margin-left: 10px; margin-right: 10px;}

    .blocDescription {width:100%; display: inline-block; padding: 40px 20px 0 10px;}
    .blocDescription .form-title {padding-left: 15px;}

    .block-add {padding: 0px 20px 0 10px;}

    .block-submit {padding: 30px 20px 20px 10px;}

    .ajouteBaliseDesc {
        width: 30px;
        height: 25px;
        text-align: center;
        margin: 0px 0 5px 5px;
        float: right;
        border: 1px #aaa solid;
        cursor: pointer;
        background: #fff;
        color: #000;
    }
}
