* { margin:0; padding:0;}
/*THEME CURIEUX*/
/*.infoSortie:hover .sortieBloc {background:#EB9812}*/

/* COULEURS
#sortieBlocSeparateur {border-top: #EB9812 solid;}
 */
 
#sousTitreSite, #sousTitreSite a, h3, .lieuEvent, .prixEvent, .lieuEvent a, .prixEvent a, .partenaireEvent a, .theday, .tableau2 h2, a h3:hover, a:hover, .topListe, a .lieuSortie:hover, a .videoSortie:hover, .fancybox-outer p a:hover,
a .entreeSortie0:hover, a .partenaireSortie:hover, a .billetSortie:hover, a .completSortie:hover, .infoEvent .billetSortie a, .infoEvent .completSortie a {color:#EB9812}

#lienAnnoncer,
#lienAnnoncer a,
#zoneBoutonEnvoyer input:hover,
.menu #largeurTotale,
#menuCarteSimple,
#blocFiltreSmart .boutonCentrer,
.onglet_1,
.onglet_1:hover,
.onglet_0:hover,
.menuRecherche .menu > li > a.active,
.menuRecherche .menu:hover > li > a.active:hover,
.menuRecherche .menu #dividerDouble.active,
.menuRecherche .menu > li > a:hover,
.menuRecherche .menu > li > a:focus,
.menuRecherche .menu #dividerDouble:hover,
.menuRecherche .menu #dividerDouble:focus, 
.logoPartage,
.generateurLien,
#menuDroite {background:#EB9812}

.menuRecherche .menu:hover > li > a.active {background:#D08000} 
/*.menuRecherche .menu:hover > li > a.active:hover {background:#EB9812} */

#blocMois, .jourCalendrier, #infoSousCalendrier, .infoSecondaire .boutonSecondaire a:hover {color:#EB9812;}
.calendrier, .theday #boutonCalendrier {border-color:#EB9812;}
.boutonCalendrierMois:hover, .calendrier:hover, #boutonCalendrier:hover {border-color:#fff;}

#map {background:#e5e3df;}

#lienAnnoncer:hover, .logoPartage:hover, #blocFiltreSmart .boutonCentrer:hover, #blocVideoDetecte {background:#000}

#encartPremier .logoSortie, #encartPremierRubrique .logoSortie, #encartFinal .logoSortie {background:rgba(235, 152, 18, .7); border:none}

#texteAnnoncer, .configAffichage, #encartPremier .logoSortie, #encartPremierRubrique .logoSortie, #encartFinal .logoSortie {color:#fff; }
/* .configurationAffichage img {border: #111 solid;} */

#blocAnnuaire {border-color:#EB9812}
#blocMenubas {background-color: #444;}

body {background-color: #eee;} 
#fondPrincipal, #blocBlanc {background: #eee;} 
/*#fondPrincipal, #blocBlanc {background-color:#FAFAFA;} Gardé pour integration*/

/*Devient transparent dans festival*/
.dateEvent, .infoEvent, .zoneFondLisible, #blocPartage, #blocPartageLieu {background:#fff;}

#sousTitreSite a:hover, #lienAnnoncer, a {color: #000} /*LIENS*/
#blocTitreSite {color:#000; background: #FFF;} /*TITRE ET FOND DE LA BANNIERE*/
.titrePage {color:#fff; background:#EB9812; text-shadow: 0px 2px 1px rgb(204,102,0)}



.infoSecondaire h3, .infoSecondaire a {

background-color: #333;
-webkit-background-clip: text;
-moz-background-clip: text;
background-clip: text;
color: transparent;
/*text-shadow: #eee 0.5px 2px 2px;*/
text-shadow: #eee 0px 1px 2px;
}


.logoDate {color:rgba(25,25,25,0.7) }
#blocSeparateur {background:rgba(25,25,25,0.7) }

h2, #blocRechercheAvancee, .calendrier, .calendrier a, #menubas .pubInfoCorporate a {color:#FFF}  /* h2 hors infoPrincipale */

.tableau2 {color: #555}  /* couleur de la description*/

.InfoPlus .topListe, .InfoPlus h3 {color: #000;}
#blocFiltreSmart .boutonCentrer {color: #fff; border-color:transparent;}

.menu .niveau2 a, #blocRubrique {color: #fff}
.configurationAffichage img {border: #111 solid;}

/*.logoDate {background:rgba(255,255,255,.9); }*/
.logoDate {
background: -moz-linear-gradient(top,  rgba(255,255,255,1) 0%, rgba(255,255,255,1) 21%, rgba(255,255,255,0.87) 100%); /* FF3.6-15 */
background: -webkit-linear-gradient(top,  rgba(255,255,255,1) 0%,rgba(255,255,255,1) 21%,rgba(255,255,255,0.87) 100%); /* Chrome10-25,Safari5.1-6 */
background: linear-gradient(to bottom,  rgba(255,255,255,1) 0%,rgba(255,255,255,1) 21%,rgba(255,255,255,0.87) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#deffffff',GradientType=0 ); /* IE6-9 */
}



#sortieBloc_concert #blocRubrique {background: rgba(255,0,0,0.8)}
#sortieBloc_soiree #blocRubrique {background: rgba(0,51,255,0.8)}
#sortieBloc_theatre #blocRubrique {background: rgba(0,0,0,0.8)}
#sortieBloc_cinema #blocRubrique {background: rgba(191,191,191,0.8)}
#sortieBloc_manifestation #blocRubrique {background: rgba(204,161,102,0.8) }
#sortieBloc_exposition #blocRubrique {background: rgba(98,237,0,0.8)}
#sortieBloc_classique #blocRubrique {background: rgba(255,255,0,0.8)}
#sortieBloc_reunion #blocRubrique {background: rgba(221,162,0,0.8)}
#sortieBloc_danse #blocRubrique {background: rgba(244,95,197,0.8)}
#sortieBloc_autre #blocRubrique {background: rgba(255,255,255,0.9);}
/*
#sortieBloc_soiree #blocRubrique {letter-spacing:1px; }
#sortieBloc_manifestation #blocRubrique {letter-spacing:2px; }
#sortieBloc_exposition #blocRubrique {letter-spacing:2.5px;}
#sortieBloc_classique #blocRubrique {letter-spacing:0.7px; }
#sortieBloc_danse #blocRubrique {letter-spacing:1.5px; }
#sortieBloc_autre #blocRubrique {color: #333; text-shadow:none; letter-spacing:2px; }


.logoSortie {background: rgba(255,255,255,.3)}
*/
#sortieBloc_autre #blocRubrique {color: #333; text-shadow:none; }

#encartPremier, #encartPremierRubrique, #encartFinal, .infoEvent .billetSortie, .infoEvent .completSortie {border-color: #EB9812}

.dateSortie,
.infoSortie, 
.infoSortie a,
.partenaireSortie a,
.billetSortie a,
.completSortie a  {color: #666}

/*.topListe {text-shadow:#000 10px} TITRE DES LISTES*/

.zoom2 img {}
.dateSortie {/*background:#FFF;*/ }
.sortieBloc, .dateSortie, .lienTitreSortie, .infoSortie {background:#fff;}
#infoPrincipaleEvent iframe, .blocAnnuaireGeneral, #blocPartageEvent, #blocCommentaireEvent, #blocCommentaireLieu, .tableau2 #deuxTiers {background: rgba(255, 255, 255, 0.9)}

.lienEvent b {color:#666;}
.lieuEvent a:hover, .prixEvent a:hover , .partenaireEvent a:hover, .infoEvent .billetSortie a:hover, .infoEvent .completSortie a:hover {color:#000;}
.A_SousTitre a {color:#888;}

/*.alerteErreur {color: #FF1F55; border: thin #FF5F55 dotted; }
.alerteOk {color: #00FF55; border: thin #00FF55 dotted;}
#blocBlanc {background-color:#fff;}*/

.alerteErreur {color: #FFCBCB; background: #FF1F55; border: thin #C10000 groove; }
.alerteErreur h5  {color: #444;}
.alerteErreur .inputSousRubrique, .alerteErreur .blocTarifSpeciaux {color: #888;}
.alerteOk {color: #BBFFB6; background: #2CD263; border: thin #00A008 groove; }
.generateurLien {color:#FFE9A0; border: thin #D5A400 groove; }
.alerteErreur a, .alerteOk a, .generateurLien a {color: #fff; }

/* COULEUR DANS formulaire lieu */
.blocAnnoncerLogo { background:rgba(125, 125, 125, 0.2)}
.blocAnnoncerLogo input[type="file"] + label {border: 1px solid rgba(0,0,0,.4); background:#fff}
#menuDroite .menuRecherche {color:#aaa}
#menuDroite .menuRecherche a {color:#fff}

.zoom img, .alerteErreur, .alerteOk, .generateurLien {
-webkit-border-radius: 4px;
-moz-border-radius: 4px;
-ms-border-radius: 4px;
-o-border-radius: 4px;
border-radius: 4px;
}

#menuJourMoinsSmart a{
-webkit-border-radius: 4px 0 0 4px;
-moz-border-radius: 4px 0 0 4px;
-ms-border-radius: 4px 0 0 4px;
-o-border-radius: 4px 0 0 4px;
border-radius: 4px 0 0 4px;
}

#menuJourPlusSmart a{
-webkit-border-radius: 0 4px 4px 0;
-moz-border-radius: 0 4px 4px 0;
-ms-border-radius: 0 4px 4px 0;
-o-border-radius: 0 4px 4px 0;
border-radius: 0 4px 4px 0;
}

/* Ombre des blocs */

.sortieBloc, #blocPartage, #blocPartageLieu, #blocPartageEvent, .zoneFondLisible, .infoEvent, .dateEvent, .blocAnnuaireGeneral, .systeme_onglets, #blocCommentaire, #blocCommentaireEvent, #blocCommentaireLieu  {
/*
-webkit-box-shadow: 0px 1px 7px -3px rgba(100,100,100,1);
-moz-box-shadow: 0px 1px 7px -3px rgba(100,100,100,1);
-ms-box-shadow: 0px 1px 7px -3px rgba(100,100,100,1);
-o-box-shadow: 0px 1px 7px -3px rgba(100,100,100,1);
box-shadow: 0px 1px 7px -3px rgba(100,100,100,1);
*/
-webkit-box-shadow: 0 1px 4px rgba(0, 0, 0, 0.12), 0 1px 3px rgba(0, 0, 0, 0.24);
-moz-box-shadow: 0 1px 4px rgba(0, 0, 0, 0.12), 0 1px 3px rgba(0, 0, 0, 0.24);
-ms-box-shadow: 0 1px 4px rgba(0, 0, 0, 0.12), 0 1px 3px rgba(0, 0, 0, 0.24);
-o-box-shadow: 0 1px 4px rgba(0, 0, 0, 0.12), 0 1px 3px rgba(0, 0, 0, 0.24);
box-shadow: 0 1px 4px rgba(0, 0, 0, 0.12), 0 1px 3px rgba(0, 0, 0, 0.24);
-webkit-border-radius: 4px;
-moz-border-radius: 4px;
-ms-border-radius: 4px;
-o-border-radius: 4px;
border-radius: 4px;
-webkit-transition: box-shadow 0.2s ease-in-out;
-moz-transition: box-shadow 0.2s ease-in-out;
-o-transition: box-shadow 0.2s ease-in-out;
-ms-transition: box-shadow 0.2s ease-in-out;
transition: box-shadow 0.2s ease-in-out;
z-index: 1000;
}

.infoSecondaire h3 { 
-webkit-transition: color 0.2s ease-in-out;
-moz-transition: color 0.2s ease-in-out;
-o-transition: color 0.2s ease-in-out;
-ms-transition: color 0.2s ease-in-out;
transition: color 0.2s ease-in-out;
}
/*
.onglets  { 
-webkit-border-radius: 4px 4px 0 0;
-moz-border-radius: 4px 4px 0 0;
-ms-border-radius: 4px 4px 0 0;
-o-border-radius: 4px 4px 0 0;
border-radius: 4px 4px 0 0;
}
*/
.sortieBloc:hover, #blocPartage:hover, #blocPartageLieu:hover, #blocPartageEvent:hover, .blocAnnuaireGeneral:hover, #blocCommentaire:hover, #blocCommentaireEvent:hover, #blocCommentaireLieu:hover { 
-webkit-box-shadow: 0px 1px 2px 1px rgba(235,152,18,1);
-moz-box-shadow: 0px 1px 2px 1px rgba(235,152,18,1);
-ms-box-shadow: 0px 1px 2px 1px rgba(235,152,18,1);
-o-box-shadow: 0px 1px 2px 1px rgba(235,152,18,1);
box-shadow: 0px 1px 2px 1px rgba(235,152,18,1);
}

#suggestionEvent .topListe {
-webkit-border-radius: 4px;
-moz-border-radius: 4px;
-ms-border-radius: 4px;
-o-border-radius: 4px;
border-radius: 4px;
}


/* COULEUR DANS MENU DEROULANT HORIZONTAL */

.poussoirDroite, .poussoirGauche {background: rgba(255,255,255,.6);}

.poussoirDroite:hover, .poussoirGauche:hover {background: rgba(255,255,255,.8);}






.fondBlocDeroulant {
}

.degradeBasSortieBloc {
background: -moz-linear-gradient(top, rgba(255,255,255,0) 0%, rgba(255,255,255,0.7) 30%, rgba(255,255,255,1) 100%); /* FF3.6-15 */
background: -webkit-linear-gradient(top, rgba(255,255,255,0) 0%,rgba(255,255,255,0.7) 30%,rgba(255,255,255,1) 100%); /* Chrome10-25,Safari5.1-6 */
background: linear-gradient(to bottom, rgba(255,255,255,0) 0%,rgba(255,255,255,0.7) 30%,rgba(255,255,255,1) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#00ffffff', endColorstr='#ffffff',GradientType=0 ); /* IE6-9 */
}

.degradeBasSortieBloc {display:none;}

/* OMBRE DE TEXTE */

h2 {text-shadow: 0px 2px 1px rgba(0,0,0,.8)}
.tableau2 h2 {text-shadow:none;}
#blocRubrique {text-shadow:0px 1px 2px rgba(0,0,0,1)}
/*
.titreEvent {text-shadow: 0px 1px 1px rgba(240,0,0,.4)}
a:hover {text-shadow: 0px 2px 2px rgba(0,0,0,.8)} LIENS ACTIFS*/


/*Couleur de la barre de recherche*/
.rechercheEnteteSmart input, .menuRecherche .rechercheLieu input { 
	box-shadow:0px px 2px #000000 inset;
	border:1px solid #000000;
	background-color:#444444;
	color:#FFF;}



/*Couleurs des boutons*/

.menuRecherche .menu #dividerLieu:hover,
.menuRecherche .menu #dividerLieu:active,
.menuRecherche .menu #divider:hover,
.menuRecherche .menu #divider:active {color:#FC0; background-color: #111;}


#menuPrincipalJour {background:#262626}


#menuPrincipalBoutonBord,
.onglets,
.onglet_0,
.menuRecherche .menu > li > a,
.menuRecherche .menu #dividerDouble, 
#menuDroite .menuRecherche, 
#menuWah:hover {background-color:#262626}

/*#menuSmart {color:#999; background-color:#e5e5e5;}*/
#menuLieuBouton {color:#999; background-color:#e5e5e5;}

.menuRecherche .menu > li > a,
.menuRecherche .menu #dividerDouble, 
.menuRecherche .menu #divider, 
.menuRecherche .menu #dividerLieu {	
	color: #fff;
    /*text-shadow: 0px 2px 1px rgba(0,0,0,.8);*/
	}

.menuRecherche .menu #divider {
	background-image: -webkit-gradient(linear, left top, left bottom, from(rgb(34, 34, 34)),to(rgb(17, 17, 17)));
    background-image: -webkit-linear-gradient(top, rgb(34, 34, 34), rgb(17, 17, 17));
    background-image: -moz-linear-gradient(top, rgb(34, 34, 34), rgb(17, 17, 17));
    background-image: -o-linear-gradient(top, rgb(34, 34, 34), rgb(17, 17, 17));
    background-image: -ms-linear-gradient(top, rgb(34, 34, 34), rgb(17, 17, 17));
    background-image: linear-gradient(top, rgb(34, 34, 34), rgb(17, 17, 17));
    filter: progid:DXImageTransform.Microsoft.gradient(GradientType=0,StartColorStr='#222222', EndColorStr='#111111');
	}

.menuRecherche .menu #dividerLieu {
	background-image: -webkit-gradient(linear, left top, left bottom, from(rgb(50, 50, 50)),to(rgb(10, 10, 10)));
    background-image: -webkit-linear-gradient(top, rgb(50, 50, 50), rgb(10, 10, 10));
    background-image: -moz-linear-gradient(top, rgb(50, 50, 50), rgb(10, 10, 10));
    background-image: -o-linear-gradient(top, rgb(50, 50, 50), rgb(10, 10, 10));
    background-image: -ms-linear-gradient(top, rgb(50, 50, 50), rgb(10, 10, 10));
    background-image: linear-gradient(top, rgb(50, 50, 50), rgb(10, 10, 10));
    filter: progid:DXImageTransform.Microsoft.gradient(GradientType=0,StartColorStr='#222222', EndColorStr='#000000');
	}


/*Couleur des bulles des chiffres*/

.menuRecherche .menu > li > a span { 
	background: #48515c;
	color: #fff;
	-webkit-box-shadow: inset 0px 1px 3px 0px rgba(0, 0, 0, .26), 0px 1px 0px 0px rgba(255, 255, 255, .15);
    -moz-box-shadow: inset 0px 1px 3px 0px rgba(0, 0, 0, .26), 0px 1px 0px 0px rgba(255, 255, 255, .15);
    box-shadow: inset 0px 1px 3px 0px rgba(0, 0, 0, .26), 0px 1px 0px 0px rgba(255, 255, 255, .15);
    text-shadow: 0px 1px 0px rgba(0,0,0,.5);
	}

.menu > li a.active span,
.menu > li a:hover span {
    background: #C60;
	text-shadow: 0px 1px 0px rgb(0,0,0);
	text-shadow: 0px 1px 2px rgb(0,0,0);
	}


/*LOGO*/
#menuSmart {background-image:url(/agenda/images/theme_commun/icone/logoSmart.png)}
/* #boutonAgrandirCarte {background-image:url(./logo/agrandirCarte.png)} */
.lieuSortie {background-image:url(/agenda/images/theme_commun/icone/Lieu.png)}
.entreeSortie {background-image:url(/agenda/images/theme_commun/icone/prix.png)}
.entreeSortie0 {background-image:url(/agenda/images/theme_commun/icone/prix0.png)}
.entreeSortieNonCom {background-image:url(/agenda/images/theme_commun/icone/prixNonCom.png)}
.partenaireSortie {background-image:url(/agenda/images/theme_commun/icone/partenaire.png)}
/*.billetSortie {background-image:url(/agenda/images/theme_commun/icone/prevente.png)}*/
.completSortie {background-image:url(/agenda/images/theme_commun/icone/complet.png)}
.videoSortie {background-image:url(/agenda/images/theme_commun/icone/player.png)}
.prixEvent {background-image:url(/agenda/images/theme_commun/icone/prixOrange.png)}
a .entreeSortie0:hover {background-image:url(/agenda/images/theme_commun/icone/prix0Orange.png)}
.lieuEvent, a .lieuSortie:hover, #lieuSortieMultiLien:hover {background-image:url(/agenda/images/theme_commun/icone/LieuOrange.png)}
.partenaireEvent, a .partenaireSortie:hover {background-image:url(/agenda/images/theme_commun/icone/partenaireOrange.png)}
a .videoSortie:hover {background-image:url(/agenda/images/theme_commun/icone/playerOrange.png)}

.billetEvent, .infoEvent .billetSortie {background-image:url(/agenda/images/theme_commun/icone/preventeOrange.png)}
.completEvent, .infoEvent .completSortie {background-image:url(/agenda/images/theme_commun/icone/completOrange.png)}




.logoAgrandir {background-image:url(/agenda/images/theme_commun/icone/Lieu.png)}
.menuRecherche .menu #divider:hover {background-image:url(/agenda/images/theme_commun/icone/boutonMenuDeroulant.png)}
.menuRecherche .menu #dividerLieu:hover {background-image:url(/agenda/images/theme_commun/icone/boutonMenuDeroulantLieu.png)}
#menuSmart, /*#boutonAgrandirCarte,*/ .lieuSortie,.lieuSortie:hover, .entreeSortie, .entreeSortie0, .entreeSortie0:hover, .entreeSortieNonCom, .partenaireSortie, .partenaireSortie:hover, .billetSortie, .completSortie, .videoSortie, .billetSortie:hover, .prixEvent, .lieuEvent, .partenaireEvent, .menuRecherche .menu #divider:hover, .menuRecherche .menu #dividerLieu:hover, .logoAgrandir,
.poussoirGauche, .poussoirDroite, .poussoirGauche:hover, .poussoirDroite:hover {background-repeat:no-repeat}

.poussoirGauche, .poussoirGauche:hover {background-image:url(/agenda/images/theme_commun/flechegauche.png)}
.poussoirDroite, .poussoirDroite:hover {background-image:url(/agenda/images/theme_commun/flechedroite.png)}

/*FOND D'ECRAN*/
body {/*background-image :url(./pub/fondWah.jpg); background-size: 100%; background-attachment:fixed;*/ }


/*TYPO
@font-face { font-family: "dream"; src: url('./dream.ttf')}
@font-face { font-family: "dreamGras"; src: url('./dreamGras.ttf')}
*/

body {font-family:Verdana, Geneva, sans-serif}

/*12px/16px Arial,Helvetica,sans-serif*/
.lienTitreSortie, .titrePage, .dateSortie, .infoSortie, .dateEvent, .infoEvent, .lienEvent {letter-spacing: 0.5px;}

.onglets,
.menuRecherche .menu #dividerDouble, 
.menuRecherche .menu #divider, 
.menuRecherche .menu #dividerLieu {letter-spacing: 2px;}

#zoneRechercheEntete input, .texteChargement, .alerteErreur, .alerteOk, .generateurLien {letter-spacing: 1.5px;}

.menuRecherche .menu > li > a, #menuPrincipalJour .niveau2 a, #bulleEventCarte, #blocFiltreCarte p,
#menuWah5, #menuWah6 {letter-spacing: 1px;}

#menuPrincipalJour .niveau2 a, .logoDate, #blocRubrique, #titreSite, .logoSortie, .titrePage, #zoneBoutonEnvoyer input, h3, .topListe,
.alerteErreur, .alerteOk, .generateurLien, .blocFormulaireDate .separationForm, .lienTitreSortie a, .lienTitreSortie, #blocFiltreSmart, #blocFiltreRubrique, .tableau2 .dividerAnnuaire, .generateurEvent #boutonForm,
 .calendrier a, #infoSousCalendrier, .titreForm {font-family: 'dreamGras', sans-serif;} /*Titre en Gras*/

#sousTitreSite, #blocConfig, #zoneRechercheEntete input, h2, .dateSortie, .infoSortie, .dateEvent, .infoEvent, .lienEvent, #blocRechercheAvancee, .calendrier, .tableau2 #deuxTiers,
.texteChargement,
#bulleEventCarte,
#blocFiltreCarte p,
.infoSecondaire a,
.blocDesactive,
.onglets,
#blocMois,
.menuRecherche .menu #dividerDouble, 
.menuRecherche .menu #divider, 
.menuRecherche .menu #dividerLieu,
.menuRecherche .menu > li > a {font-family: 'dream', sans-serif;}

.infoPrincipale {}






#premierBlocSecondResultat #encartPremier {display:none}









/*FEUILLE DE STYLE*/



.adresseSuggestionRacine {font-size: 10px; line-height: 30px;display:inline-block}
.lienSuggerer {display: inline-block; margin-left: 5px; font-size: 10px;}

body {font-size: 13px; line-height: 1.5; }
#fondPrincipal {} /*sinon le fond disparait*/

#blocTitreSite, .titrePage, .tableauPrincipal, #curieuxMenuPrincipal, #menuPrincipalWah, #blocBlanc {width: 310px; margin: auto auto;}

#blocTitreSite, #blocBlanc, #menubas {position:relative; z-index: 5002; } /*special habillage*/
/*#menuPrincipalWah {position:relative; z-index: 5002; }*/
#blocConfig {width:auto; position:absolute; right:0; top:0; letter-spacing: 1px; }
.traduction img, .configAffichage {display:none;}
.rechercheEntete, #lienAnnoncer {display:none;}

.logoTitre img {width:150px; padding: 10px 0 0 80px; margin: auto auto ;}
#titreSite {text-align:center; height:30px; letter-spacing: 1.2;}
#sousTitreSite {text-align:center; font-size: 0.45em; padding: 5px 0 20px 0 ; letter-spacing:0.9px}

.rechercheEnteteSmart input {height:40px; display:inline-block;}
.rechercheEnteteSmart #zoneRechercheEntete {width:70%; float: left;}
.rechercheEnteteSmart #zoneRechercheEntete input {text-indent:10px}
.rechercheEnteteSmart #zoneBoutonEnvoyer {width:30%; display:inline-block;}

#lienRetourIndex {text-align:center; line-height: 40px; }


.tableau2 h1 {width:100%} /*h1 DANS LA DESCRIPTION*/


/* 	-webkit-box-shadow: -8px 0px -8px #000;
    -moz-box-shadow: -8px 0px -8px #000;
    box-shadow: -8px 0px -8px #000;*/

.menuPrincipalSite {background:#6F3;} /* test vert */
.A_SousTitre {}

/*#ligneJaune {display:block;  height:3px; }*/

.tableauPrincipal {}
.tableau2 {width:100%; display:inline-block}

.infoPrincipale {margin: 0px 10px 0px 10px;}
/* .zoneFondLisible {border-style: solid; border-width: 0 5px 0 5px;} */
a {text-decoration: none;}

.Textedetail {display:none; font-size: x-small; height: auto; width: auto}
.lienLieu {display : inline-block; width : 33.33%;}
.TxtEd {font-size: x-small; height: auto; width: auto; display:inline; cursor: text}
.fleche,
.theday {text-decoration: none}


.pubWah {padding:0px 10px 33px 10px; text-align:center;}
.logoPub {width:36px; }

.titrePage {text-transform:uppercase; text-align:center; font-size:20px; padding: 5px 0px 5px 0px; font-weight:bold; }
.configurationAffichage {display:none; }
h2 {font-size: x-large; text-align: center; padding-right:10px}
.tableau2 h2 {margin-top:10px}
h3 {font-size: x-large; padding: 0px 2px 0px 2px; margin: 5px 0px 0px 0px; text-align:center; text-indent: 5px}
.infoSecondaire .sortieBloc {margin-bottom: 50px; margin-top:20px }
.infoSecondaire #specialCinema { margin-top: 0px; margin-bottom:20px}
.infoSecondaire #aucunResultat {margin-top: 0px; margin-bottom: 20px}
.infoSecondaire .sortieBloc h3 {text-align:center; padding:20px 30px;}


#rappelMinuitPasse {margin: 20px 0 20px 0 }
h4 {}
h5 {margin:7px 0 0 10px}
#lienVersRubrique, .degage {display:none;}

.topListe  { font-size:30px;  text-align:center; padding: 0px 5px 30px 5px; margin-top:30px }
#suggestionEvent .premierBlocResultat .topListe  { margin-top: 30px; display: inline-block; width: 100%;}
#suggestionEvent .secondBlocResultat .topListe { padding-top: 0px;}
.secondBlocResultat .topListe  { padding-top: 0px}
.titreFacultatif {display:inline-block;}
.secondBlocResultat .topListe .titreFacultatif {display:initial;}


/* ---------------------------- CARTE GMAPS --------------------------------*/

#carteHeureActuelle {display:inline-block; text-indent: 0px;}
#menuCarteSimple {overflow: hidden;}
#map {display:none; width:100%; height: 400px; float:left; overflow: hidden; }
#map .texteChargement {width:100%; margin-top:50px; font-size:15px; display:block; text-align: center;}
#map img {width:50%; margin-left:25%;}
#boutonAgrandirCarte {display:none}
#boutonPleinEcran {display:none}
#blocFiltreSmart, #blocFiltreRubrique {font-size:11px; margin: 5px 10px 15px 10px; line-height:30px; letter-spacing: 1.7px; text-align: justify; text-justify: inter-word; }
#blocFiltreSmart a, #blocFiltreRubrique a {display:block; line-height:22px; padding-left:7px; margin-bottom:5px; border-width:1px; border-style:solid; border-color:rgba(0,0,0,.3);
-webkit-border-radius: 12px;
-moz-border-radius: 12px;
-ms-border-radius: 12px;
-o-border-radius: 12px;
border-radius: 12px;}
#blocFiltreSmart .boutonCentrer{padding-right:10px; padding-top:5px; padding-bottom:7px; margin:15px 10px; text-align:center; font-size:16px; ;
-webkit-border-radius: 30px;
-moz-border-radius: 30px;
-ms-border-radius: 30px;
-o-border-radius: 30px;
border-radius: 30px;}
#blocFiltreCarte {
	display:none;
	position:absolute;
	right:13;
	top:80px;
	background:white;
	padding:7px 7px 0 7px;
	border-radius: 3px;
	-webkit-box-shadow: 0px 1px 1px 1px rgba(0,0,0,0.1);
	-moz-box-shadow: 0px 1px 1px 1px rgba(0,0,0,0.1);
	box-shadow: 0px 1px 1px 1px rgba(0,0,0,0.1);
}
#blocFiltreCarte input[type="checkbox"]:checked+label {font-weight: bold; font-size: 15px;}
#blocFiltreCarte input[type="checkbox"] {display:none;}
#blocFiltreCarte label span {display:none; float: right; padding: 0 7px; line-height: 21px;}
#blocFiltreCarte label {height:25px; display:block; cursor: pointer;}
#blocFiltreCarte label img {margin-bottom:-5px; float: right;}
#blocFiltreCarte:hover label span {display:inline-block;}
#blocFiltreCarte:hover {
	background: -moz-linear-gradient(left, rgba(255,255,255,0.8) 0%, rgba(255,255,255,1) 70%, rgba(255,255,255,1) 100%); /* FF3.6-15 */
	background: -webkit-linear-gradient(left, rgba(255,255,255,0.8) 0%,rgba(255,255,255,1) 70%,rgba(255,255,255,1) 100%); /* Chrome10-25,Safari5.1-6 */
	background: linear-gradient(to right, rgba(255,255,255,0.8) 0%,rgba(255,255,255,1) 70%,rgba(255,255,255,1) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ccffffff', endColorstr='#ffffff',GradientType=1 ); /* IE6-9 */
}
#blocFiltreCarte fieldset {border:none}
#dateEventCarte {font-size:12px; line-height:15px}
#titreEventCarte {font-size:20px; line-height:24px; margin-top: 5px; margin-bottom:1.1px; text-transform:uppercase}
#dateEventCarte, #titreEventCarte {margin-left:10px}
#bulleEventCarte {}
#menuCarteSimple {text-align:center; letter-spacing: 2px; font-size: 14px;}

#bulleEventCarte .lieuSortie,
#bulleEventCarte .entreeSortie,
#bulleEventCarte .entreeSortie0,
#bulleEventCarte .entreeSortieNonCom,
#bulleEventCarte .partenaireSortie,
#bulleEventCarte .videoSortie {
margin-top: 5px;
margin-bottom: 0px;
}

/*.tableau2 #bulleEventCarte .billetSortie {margin-bottom: 10px;}*/
	
/* ---------------------------------------------------------------------*/

.blocDesactive { display:none}
.sortieBloc { overflow: hidden; }
.sortieBlocMarge {padding-bottom:20px }
.infoSecondaire h3 {line-height:30px;}
.deuxiemeLigne {font-size: 17px; line-height:20px; margin-top:8px}
#infoPrincipaleEvent .deuxiemeLigne {margin-top:0}

.illustrationSortie, .illustrationSortie img, .logoSortie img {width: 100%} 
.illustrationSortie {max-height:120px}
#blocPubVertical .illustrationSortie {max-height: initial;}
.illustrationSortie img {z-index: -1;}

.logoDate {display:none;}

/*.dateEvent .logoSortie {margin:0px;}*/
.dateTexte sup {line-height:0}
.logoSortie img {display:none}
.logoSortie {position:absolute; z-index: 2; padding:0 5px 5px 0; width:290px; letter-spacing: 1px}

#blocRubrique {display:inline-block; z-index: 3; padding: 1px 2px 1px 3px; text-align:center; -webkit-border-radius: 3px; -moz-border-radius: 3px; border-radius: 3px; }
.rubriqueSortie {margin:5px 0 0 5px; font-size:16px;}
.rubriqueEvent {margin:0px 0 7px 7px; float:left; font-size:13px; }
.rubriqueCarte {margin: 0 5px 5px 0; float:left; }
.dateTexteEvent {display:inline-block; padding: 2px 0 10px 10px; line-height: 20px; font-size: 15px;}
.dateTexteCarte {display:inline-block; padding: 3px 0 3px 2px;}
.dateTexteEvent sup, .dateTexteCarte sup {line-height:0; font-size:10px;}
.dateSortie, .lienTitreSortie, .infoSortie {position:relative; z-index:3}
#titreSortieBarre {text-decoration: line-through;}
.dateSortie {font-size:small; padding: 8px 10px 5px 10px; line-height:16px; display:inline-block; text-align:right}
/*.theday {font-size:15px;}*/

.lienTitreSortie {display:block; text-align:center; font-size:19px; line-height:24px; text-transform:uppercase; padding: 10px 25px 4px 25px; position:relative;}
.lienTitreSortie a {display:block; }

.infoSortie { display:block; padding:0px 5px 20px 5px; text-align:center}
.lieuSortie {padding-top:2px; margin: 4px 10px 0px 10px; text-indent:14px; line-height:16px}

.billetSortie {border-width:1px; border-radius:3px; border-style: solid; padding:3px; /*text-indent:22px;*/ text-indent:2px; margin: 5px 2px 0px 3px; line-height:16px;  }
.infoEvent .billetSortie {text-indent:22px;}

.completSortie {text-indent:24px;}

.lieuSortie,
.entreeSortie,
.entreeSortie0,
.entreeSortieNonCom,
.partenaireSortie,
.billetSortie,
.completSortie,
.videoSortie {display:inline-block}

.entreeSortie,
.entreeSortie0,
.entreeSortieNonCom,
.partenaireSortie,
.videoSortie,
.completSortie {text-indent:22px; margin: 4px 10px 0px 5px; line-height:16px; padding-top:2px;}

.tableau2 .zoom2 img {width: 101%; margin: -2px 0px 0px -2px }
.tableau2 .sortieBlocMarge:hover .zoom2 img {width: 120%; margin: -15px 0px 0px -10% }

	.zoom img, .zoom img:hover, .tableau2 .zoom2 img, .tableau2 .zoom2 img:hover, .imageImporter {
	-webkit-transition: width 0.3s ease-in-out, margin 0.3s ease-in-out;
	-moz-transition: width 0.3s ease-in-out, margin 0.3s ease-in-out;
	-o-transition: width 0.3s ease-in-out, margin 0.3s ease-in-out;
	-ms-transition: width 0.3s ease-in-out, margin 0.3s ease-in-out;
	transition: width 0.3s ease-in-out, margin 0.3s ease-in-out;
	}


#blocMultiBouton {padding-top: 8px}

/* ---------------------------------------------------------------------*/
#encartPremier, #encartPremierRubrique, #encartFinal {display:block;}
/* ---------------------------------------------------------------------*/

#blocRubrique {border-width:1px 2px 2px 1px; border-style:solid; border-color:rgba(0,0,0,.3)}
#blocRubrique:hover {border-width:2px 1px 1px 2px;}

.tableau2 ul,
.tableau2 ul ul {list-style: none;}
.tableau2 #unTiers {display:none;}

.tableau2 #deuxTiers {width: 98%; height:64px; display:inline-block; float:left; text-indent: 0px; font-size: 1.6em; overflow: hidden; margin:1%;}

.tableau2 .logoLieuConfig {float:left; width:40%; height:auto; margin-right:10px}
.tableau2 .dividerAnnuaire { font-size: 2em; text-align:center; clear:both; text-transform:uppercase; padding-top:30px;}

/* Dans l'evenement*/

.zoneFondLisible, .blocInfoLieu {text-align: justify; text-justify: inter-word;}
/*#infoPrincipalePublicite {margin:-13px 10px;}*/
#infoPrincipalePublicite {margin:0px 10px;}

/*.rubriqueEvent {margin:10px 0px 0px 18px; width:50px; position:absolute; font-size:14px;}*/
.dateEvent {margin:20px 10px 0px 10px; padding:8px 10px 0px 0px; overflow:hidden}
.titreEvent {text-transform:uppercase; font-size:25px; line-height:32px; padding:5px 5px 10px 5px }

.titreEvent,
.infoEvent {text-align:center; overflow:hidden}

.infoEvent {margin:0px 10px 0px 10px; padding: 10px 0 10px 0}

.lieuEvent,
.prixEvent,
.partenaireEvent {font-size:large; display:inline-block; line-height:20px; padding: 0px 0px 5px 0px;}

.infoEvent .billetSortie a, .infoEvent .completSortie a {font-size:large; padding:3px}

.prixEvent, .partenaireEvent {margin: 0px 10px 0px 10px; text-indent:20px}
.lieuEvent {margin: 0px 10px 0px 10px; text-indent:15px}
	
.lienEvent {text-align:center;}
.lienEvent a {font-size:large; text-transform:uppercase; display:block}

.zoom {float:top; display: block; width:100%}
.zoom img {float:right; width:100%; position: relative; z-index: 2; margin: 0px 0px 10px 0px}

#blocVideoDetecte { margin-top:10px; overflow:hidden;}

.zoneFondLisible iframe {width:100%; margin: 10px 0px;}
.zoneFondLisible #blocVideoDetecte iframe { margin: 0px;}
/*
.systeme_onglets {overflow:hidden;}
.weezeventHauteurAuto {margin-right:-13px;}
*/
.systeme_onglets iframe {width:100.2%;}
.systeme_onglets .largeurMargeIframe {width:96%; padding:15px 2% 0 2%}

.zoneFondLisible {padding: 10px; margin-bottom:20px; overflow:hidden; margin-top:20px}
.zoneFondLisible a {text-decoration:underline}
#specialEvent {margin-bottom:20px; padding-bottom:5px; position: relative;}
#blocPartenaire {padding: 30px 10px 0px 10px; display:inline-block}
#blocPlusDinfo {padding: 30px 10px 0px 10px; display:block; }
#blocPlusDinfo a {overflow:hidden}
#listeAujourdhuiEnCours, #listeAujourdhuiPremier {display: none}
#blocCommentaireEvent, #blocCommentaireLieu { margin-bottom: 20px; }
#blocMenuJourBas {margin-top: 20px;}

/* SPECIAL PUB EVENT*/
#blocCommentaireEvent { position: relative; }


/*#blocCommentaireLieu {overflow:hidden;}*/

/*AFFICHAGE DES LIEUX*/

/*

#menuCarte, #menuCarteDouble {text-align:center ; text-indent:0px; display:inline-block; float:left; }
#menuCarte {width:33.33%;}
#menuCarteDouble {width:50%;}
.logoLieu {display:inline-block; max-width: 200px; max-height:100px; margin: 5px}
#infoLieu {display:inline-block;}

.vueGoogle, .carteGoogle {width:100%; height:200px}
.logoAgrandir {display:none;}



#blocInfoLieuOverflow {overflow:auto; height:300px}
.blocInfoLieu {; display:block}

.adresseBloc {font-size:large; }

// #blocProg {float:top; display:block}
*/

.infoPrincipale .retourLigne {clear:inherit;}
.zoneRetourLigne .retourLigne{clear:both;}
.zoneRetourLigne {height:inherit}


/*BLOC ANNUAIRE*/
#blocAnnuaire {border-width:3px 3px 3px 3px; border-style:solid; margin: 15px 15px 0px 15px}
#blocAnnuaireEvent {margin: 0 0 20px 0}
.vueGoogle, .carteGoogle {height:200px;}


/*ONGLETS*/
.onglets {height:40px; overflow:hidden}
#ongletSimple .onglet {width:100%;}
#ongletDouble .onglet {width:50%;}
#ongletTriple .onglet {width:33.33%;}

        .onglet
        {
                display:inline-block;
				float:left;
				cursor:pointer;
				text-align:center;
				color:#fff;
				line-height:40px;
        }
		.contenu_onglet{ display:none; }
		#contenu_onglet_info {padding: 20px; overflow: hidden;}
		.logoLieu {display:inline-block; max-width: 30%; max-height:150px; float:right; margin:10px 0 5px 5px}
		#infoLieu {display:block; margin:10px 0 20px 0; line-height:24px}
		#infoLieu h3 {text-align:center;  }
		#infoLieu .adresseBloc{text-align:center; margin-top:5px; line-height:16px}
		.blocInfoLieu {}




/*Zone de Partage et commentaire */
#blocPartage, #blocPartageLieu, #blocPartageEvent {padding: 10px 0 75px 0;}
#blocTitrePartage {padding:0px 0 10px 0 }
#blocBoutonsPartage h3 {text-indent: 0px }
#blocBoutonsPartage {width:248px; margin:auto auto; display:block}
.logoPartage {width:55px; height:auto; margin:0px 3px; float:left; -webkit-border-radius: 27px; -moz-border-radius: 27px; border-radius: 27px;}
#blocPartageEvent .logoPartage {width: 43px;}
.logoPartage img {width:100%; /* Pour limiter en cas d erreur*/  max-height: 50px;}
#caseCopieMail {display:none; }
#blocCommentaireEvent, #blocCommentaireLieu {margin-top:20px}



/*Zone de suggestion*/





/*.pubInfoCorporate { }*/
#menuSuggestion {float: left; display:inline-block; width: 9.09% ; text-align:center;}
#menuSuggestion img {width: 85%; margin-top:6px}
#menuPrincipalBouton a, #menuSuggestion a {text-indent: 0px;}
.enleveTitreSuggestion {display:none}
.logoMenuSuggestion, .enleveLogoSuggestion {width: 35px }
 #blocCommentaireEvent, #blocCommentaireLieu {}


/*MENU DU CENTRE
#menuSmart {height: 35px;}
#menuSmart h2 {text-align: left; text-indent:35px;  font-size:15px; line-height: 35px;}*/
.afficheMenuWah {display:none;}
.original .titrePage, #titreMenuFixe {display:none;}
.cloned #titreMenuFixe {display:block;}

#menuSmart span {
    padding: 0 32px;
    display: block;
}



.tableau2 .menuRecherche {}
#menuJourMoins, #menuJourPlus  {width:4%;}
#menuJour {width:13.10%; font-size:7px}

#menuJourMoins, #menuJour, #menuJourPlus, #menuJourSmart, #menuJourPlusSmart , #menuJourMoinsSmart {
	text-align:center ; text-indent:0px; display:inline-block; float:left; overflow: hidden;}

#menuJourSmart {width:30%; padding-left:5%; padding-right:5%}
#menuJourMoinsSmart, #menuJourPlusSmart {width:30%; font-size: 1em; }
#blocMenuJourBas #menuJourSmart {width:40%; padding:0}

#blocMenuJourSmart {margin: 0px}
#menuJourMoins span, #menuJourMoinsSmart span {left:2px; }
#menuJourPlus span, #menuJourPlusSmart span {right:12px}



	/*---------- menu déroulant jour ----------*/

.ancreJours {display:inline-block; }

#menuPrincipalJour .niveau2  a {font-size:13px; }

#menuPrincipalJour #menuJourMoins .niveau2 {width:93%; margin:0 0 0 1%; text-align:left}
#menuPrincipalJour .menuJour0 .niveau2 {width:91%; margin:0 0 0 0%; text-align:left}
#menuPrincipalJour .menuJour1 .niveau2 {width:45%; margin:0 0 0 -16%; text-align:center}
#menuPrincipalJour .menuJour2 .niveau2 {width:67%; margin:0 0 0 -27%; text-align:center}
#menuPrincipalJour .menuJour3 .niveau2 {width:94%; margin:0 0 0 -40%; text-align:center}
#menuPrincipalJour .menuJour4 .niveau2 {width:67%; margin:0 0 0 -27%; text-align:center}
#menuPrincipalJour .menuJour5 .niveau2 {width:45%; margin:0 0 0 -16%; text-align:center}
#menuPrincipalJour .menuJour6 .niveau2 {width:92%; margin:0 0 0 -79%; text-align:right}
#menuPrincipalJour #menuJourPlus .niveau2 {width:98%; margin:0 0 0 -95%; text-align:right}




	.menu .niveau2 {
		position: absolute;
		z-index:30;
	}
		
	.menu .niveau2 a {
		clear: left;
		line-height:35px;
		text-align:right;
	}
	
	.menu .niveau2 a:hover {
		text-decoration:none;
	}
	
	.menu li:hover .niveau2 {
		margin-top:0px;
		display:block;
		min-height: 0; /* corrige un bug IE7 */
	}

	#largeurTotale { clear: left; }
	#largeurTotale .niveau2 { display:none; width:100%; z-index:29; height: 35px; }
	.menu:hover #largeurTotale .niveau2 { display:block;}

	#menuPrincipalJour { overflow:hidden; position:relative; }
	#menuPrincipalJour #largeurTotale { height:0px; }
	#menuPrincipalJour:hover #largeurTotale { height:35px; }
	nav #menuPrincipalJour:hover #largeurTotale { height:0px; }

	.niveau2 li {height:0px; overflow:hidden;}
	#menuJourMoins:hover .niveau2 li,
	#menuJourPlus:hover .niveau2 li,
	#menuJour:hover .niveau2 li,
	.niveau2:hover li {height:35px;}



	#menuPrincipalJour #largeurTotale, .niveau2 li {
		-webkit-transition: height 0.3s ease-in-out;
		-moz-transition: height 0.3s ease-in-out;
		-o-transition: height 0.3s ease-in-out;
		-ms-transition: height 0.3s ease-in-out;
		transition: height 0.3s ease-in-out;
	}


	#menuPrincipalJour:hover #largeurTotale {
		-webkit-transition-delay: 1s; /* Safari */
    	transition-delay: 0.5s;
	}
	

/*pour les logos dans menuSmart*/
#rubriqueSmart a {height: 40px;}
#rubriqueSmart .logoSmart {width: 40px; margin-left:10px; float:left; display:inline-block }
#rubriqueSmart b {margin-left:10px; font-size:15px; float:left; display:block }


/*MENU DE DROITE*/
#blocMois {margin-top: 10px; margin-bottom: 5px; text-align:center; font-size:18px; line-height:23px; }
.calendrier {margin-left:11px; padding:5px; border-width:1px; border-radius:15px; border-style: solid; }

.jourCalendrier {text-align:center; padding-bottom:5px }
.boutonCalendrierMois {height:25px; width:25px; display:inline-block; text-align:center;  margin: 0 5px }
.boutonCalendrierMois:hover {height:23px; width:23px; border-width:1px; border-radius:15px; border-style: solid; }

#boutonCalendrier {line-height:21px; height:25px; width:25px; display:inline-block;}
#boutonCalendrier:hover {}
.theday #boutonCalendrier, #boutonCalendrier:hover {height:23px; width:23px; border-width:1px; border-radius:15px; border-style: solid; }
#infoSousCalendrier {margin:8px; text-align:center; height:20px; overflow:hidden}



/*.calendrier b {display:block}*/

#menuDroite {display:none;}
#menuDroite .menuRecherche, .InfoPlus {
		width: 100%;
		margin: 0px 0px 3px 0px ;
		vertical-align: top;
		}


.logoMenuRubrique {width: 34px; margin-left:5px; float:left; display:inline-block }

.InfoPlus {}

#blocBlanc { height:50px; }

.decalDroite {float: right}
.generateurLien {display:inline-block; padding: 10px 5px 5px 5px; }
.alerteErreur, .alerteOk  {display:inline-block; padding: 5px ; }
#alerteTop {display:block; font-size: 20px; margin: 20px 20px 0 20px; padding: 10px 5px 10px 5px; height:auto; float: none; position: relative;text-align: center; clear:both;}


.generateurEvent {margin:10px}
.generateurEvent input {height:30px; font-size:15px; }
.generateurEvent #caseForm {width:50%; text-indent:6px}
.generateurEvent #boutonForm {width:90px; text-align:center; cursor:pointer; letter-spacing:1px}

/*#blocForm .inputResponsif {display:inline-block; margin-top:20px; width:500px }*/
.blocImageGenerateur #choisirFichier {width:100%; /*margin-top : 2px;*/ padding:27px 10px 27px 10px; background:#fff; /*border:1px solid grey*/}

.blocAnnonceImage .alerteErreur, .blocAnnonceImage .alerteOk {width:100%; }

.alerteOk #choisirFichier, .alerteErreur #choisirFichier {padding:0px; background:none; border:none;}


.blocImageGenerateur {width:90%; margin:20px 10px 0 20px;}
.blocImageGenerateur h3 {text-align:center;}
.blocImageGenerateur img {width:100%;}
/*.blocImageGenerateur .blocImage {width:100%;}*/
#alerteTop .detailAlerteTop {font-size:12px;}

.blocFormulaireTitre {width:90%; padding-top:10px; margin-left:20px;}
.blocFormulaireTitre h3 {text-align:center; }
.blocFormulaireTitre .alerteErreur, .blocFormulaireTitre .alerteOk {width: 100%; text-align: center;}

.blocFormulaireTitre textarea {padding:10px 0 10px 10px; font-size:25px; text-align:center; width:100%; overflow: hidden; min-height: 25px;  max-height: 150px; resize:none}

.blocFormulaireDate {width:100%; display: inline-block; margin-top:20px}
.blocFormulaireDate .bouton {cursor:pointer;}

/*.blocFormulaireDate .alerteOk, .blocFormulaireDate .alerteErreur {margin-left:28px }
.blocFormulaireDate h3 {float:left}*/
#blocTitreDate {display:inline-block; }
#blocDate .alerteErreur, #blocDate .alerteOk {margin-left: 10px; margin-bottom: 5px; max-width:300px}
#blocHoraire .alerteErreur, #blocHoraire .alerteOk {margin-left: 10px; margin-bottom: 5px; max-width:180px}
#blocDate {width:261px; float:left; margin-left:20px;}
#blocHoraire {width:260px; margin-left:20px; margin-top:10px}
.blocFormulaireDate .separationForm {font-size:20px; margin: 0 5px; }
#blocDate,#blocHoraire {display:inline-block}
#blocDate select, #blocHoraire select {width:70px; padding:5px; text-align:center}
#blocDate .detailAlerteTop {display:none}

#completeListe li {padding: 0 5px; list-style: none; background:#fff; cursor:pointer}
#completeListe span {font-size:10px}

.blocFormulaireDetail {margin:20px 0 0px 15px; }
.blocFormulaireDetail .blocDetail {display:inline-block; float:left; width:90%; margin:0 5px 10px 5px}
.blocFormulaireDetail .blocInput, .blocFormulaireDetail select {width:100%; padding:5px}

.blocFormulaireDetail #inputURLBilletterie, .blocFormulaireDetail #inputTarifBilletterie {width:94%; margin: 0 0 5px 3%; padding-left: 3px;}
#afficheSousRubrique option, #afficheTarifSpecial option {padding:1px 5px}

.vernissageDate {font-size: 9px; margin-left:3%}

#blocReduction {margin-left: 15px;}



#selectionSousRubrique, #selectionSousTarif {background-color:#fff; border: 1px #aaa solid}


.blocSousRubrique input, #selectionSousTarif input {margin: 5px;}
#selectionSousRubrique, #selectionSousTarif {padding: 3px 1px 5px 3px;}

.blocFormulaireDetail #boutonAlerteDoublon {width:initial} 
/*
.blocFormulaireDetail .boutonTarif {margin: 5px;}
.blocFormulaireDetail .detailAlerteTop {display:none} Dangeureux
*/

.texteValidationLieu {display: inline-block; float:left; text-decoration: underline; margin-right:6px}
.lieuValide {display: inline-block; float:left;} 
#boutonChangeLieu {width:100%; padding:5px; margin-top:5px} 

#blocDescription {float:left; margin:10px 0 0 20px; width:90%}
#blocDescription textarea { width:100%; overflow: hidden; min-height: 220px; padding:10px}
#blocDescription .alerteErreur {width: 100%; text-align: center;}

.blocLienExterne, .blocFestival {margin-left:20px; margin-top:10px; width:90%; float:left }

.blocLienExterne h3, .blocLienExterne input {display:inline-block; }
.blocLienExterne h3 {padding-top:5px; padding-right :20px; }
.blocLienExterne input {width:100%; padding:5px; font-size:18px}

.blocFestival h3, .blocFestival input {display:inline-block; }
.blocFestival input, .blocFestival select {width:100%; padding:5px; font-size:18px}

#boutonValidation {width:100%; margin-top:40px; margin-bottom:20px}
#boutonValidation input {width:100%; padding:10px; font-size:20px; cursor:pointer}

.suggestionFnac {padding:8px; width:85%; margin-left: 20px; cursor:pointer; }
input:checked ~ .suggestionFnac {border: 1px #aaa solid; padding:7px; background:#fff}

#problemeFnac {display:inline-block; margin: 0; width: 94%;}

.lienFnacRecup {width: 92%; border: 1px #aaa solid; padding:10px; background:#fff; display:inline-block;}
.tarifFnacRecup {border: 1px #aaa solid; padding:7px; background:#fff; display:inline-block;}

.ac-container{width: auto;}
.ac-container label{z-index: 20;}

.ac-container input{display: none;}
.ac-container article{
	overflow: hidden;
	height: 0px;
	position: relative;
	}

.ac-container article, .ac-container input:checked ~ article{
	-webkit-transition: height 0.3s ease-in-out;
	-moz-transition: height 0.3s ease-in-out;
	-o-transition: height 0.3s ease-in-out;
	-ms-transition: height 0.3s ease-in-out;
	transition: height 0.3s ease-in-out;
	}


/*Définir une hauteur pour chaque toogle - A l'avenir calculé 35,73px par case*/

.ac-container input:checked ~ article.ac-menuLieu{height: 300px;}
.ac-container input:checked ~ article.ac-auto{height: auto;  /* display:inline-block;margin-top:10px; text-align:center*/ }
.ac-container input:checked ~ article.ac-medium{height: 180px;}
.ac-container input:checked ~ article.ac-calendrier{height: 240px;}
.ac-container input:checked ~ article.ac-jour{height: 250px;}
.ac-container input:checked ~ article.ac-rubrique{height: 393px;}
.ac-container input:checked ~ article.ac-salle2concert{height: 429px;}
.ac-container input:checked ~ article.ac-cafe{height: 358px;}
.ac-container input:checked ~ article.ac-theatre{height: 322px;}
.ac-container input:checked ~ article.ac-exposition{height: 322px;}
.ac-container input:checked ~ article.ac-musee{height: 143px;}
.ac-container input:checked ~ article.ac-cinema{height: 215px;}
.ac-container input:checked ~ article.ac-alternatif{height: 107px;}
.ac-container input:checked ~ article.ac-club{height: 140px;}
.ac-container input:checked ~ article.ac-option{height: 108px;}
.ac-container input:checked ~ article.ac-menuSmart{height: 530px;}

#menuDroiteLieu a {text-align:left}

/* Mise en page des formulaires du menu */

#blocRechercheAvancee .inputFormulaire, .inputFormulaireBouton { margin:0px 30px; }
#blocRechercheAvancee .inputFormulaire input, #blocRechercheAvancee .inputFormulaire select {width:100%; }
#blocRechercheAvancee h4 {padding :10px 0px 0px 0px; text-align:center }
.inputFormulaireBouton input {width:30px; /*margin-left:20px*/}
.inputFormulaireBouton  {margin-bottom:20px; }

input, textarea, select, option {}

.menuRecherche .rechercheLieu input { 
	padding:3px;
	-webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
	}
.formulaire {width:110px;}
.titreForm { margin:10px 0 0 5px; font-size:18px }


/*FORMULAIRE D'ANNONCE*/

.tableau2 textarea, .tableau2 .inputResponsif input {width:100%;}
#formulaireAnnonce {margin :0px 10px 0px 10px}


.blocFormulaireDate input {width:100%; padding:6px; text-align:center; letter-spacing:1.6px}

.boutonAfficheFin {display:block; padding:3px; margin:8px auto 0 auto;}
.boutonAjouteLieu {display:block; padding:3px; margin-top:8px; }

/*PARTAGE*/
#caseCopieMail textarea {padding: 4px;}

/*Les boutons*/
.retourLigne {clear: both;}

.menuRecherche body {font-size: 100%;}
.menuRecherche a {font-size: 0.8125em;}

.menuRecherche ul,
.menuRecherche ul ul {list-style: none;}
#wrapper {}

.menuRecherche .menu {}

.menuRecherche .menu > li > a {
	height: 35.73px;
    line-height: 35.73px;
} 
	
#menuDroite .menu > li > a {text-indent: 10px;}

/*.menuRecherche .menu #menuSmart, */
.menuRecherche .menu > li > a,
.menuRecherche .menu #dividerDouble, 
.menuRecherche .menu #divider, 
.menuRecherche .menu #dividerLieu {	
	font-size: 0.9em;
    width: 100%;
    display: block;
    position: relative;
    font-weight: 600;
}

.menuRecherche .menu #divider {
	text-align:center;
	height: 35.73px;
    line-height: 35.73px;
	text-indent:0;
	margin-right:12px;
}

.menuRecherche .menu #dividerLieu {
	text-indent: 30px;
	height: 2em;
	line-height: 2.3em;
	text-transform: uppercase;
	text-align:left
}

.menuRecherche .menu #dividerDouble {
	width: 50%; text-align:center; text-indent:0px; display:inline-block; float:left;
}

.menuRecherche #unTiers {width: 10%; display:inline-block; float:left; text-align:center; text-indent: 0px; font-size: 1em;}
.menuRecherche #deuxTiers {width: 90%; display:inline-block; float:left; text-indent: 0px; font-size: 0.7em;}
.menuRecherche #boutonLieu {width: 100%; display:inline-block; float:left; text-indent: 0px; font-size: 0.7em; }
.menuRecherche #boutonLieu span {font-size: 0.9em;}

.menuRecherche .logoLieuConfig {float:left; width:40px; height:20px; margin-top: 8px; overflow:hidden}
.menuRecherche .logoLieuConfig img {width:100%}
.menuRecherche .dividerAnnuaire {float:left; color:#FC0}








/*    Les bulles des chiffres    */

.menuRecherche .menu > li > a span {
    font-size: 0.857em;
    display: inline-block;
    position: absolute;
    top: 50%;
    line-height: 1em;
    height: 1em;
	padding: .4em .3em;
    margin: -1em -1em 0 0;
    text-indent: 0;
    text-align: center;
    -webkit-border-radius: .769em;
    -moz-border-radius: .769em;
    border-radius: .769em;
    font-weight: 500;
}

#menuDroite .menuRecherche .menu > li > a span {right: 1em;}
.menuRecherche #supprimeMenuSmart .menu > li > a span {padding: .4em .6em; margin: -1em 0 0 0;}



/* Pied de Page */
#blocMenubas {display:inline-block; width: 100%; padding-bottom:40px; position: relative; z-index:5002;}
#menubas {padding-bottom:40px; margin:0 auto; width: 100%;}
#menubas .pubInfoCorporate {float: left; padding: 10px 0; text-align:center; width:100%;}
#menubas #blocLogoBouton {margin-left: 100px; width: auto; text-align:left;}
#menubas .pubInfoCorporate #recherchePied {margin-top:10px;}
#menubas .logoPied {width:40px; display:inline-block;}
#menubas b { display:inline-block; margin-left:5px;}
#menubas li { list-style-type: none; margin : 5px 0;}


.rechercheEnteteSmart input {display: block; width:100%}
.rechercheEnteteSmart { width:100%}
	/*
	#zoneBoutonEnvoyer {width:30%; display:inline-block; float:left}
	#zoneRechercheEntete {width:70%; display:inline-block;}
	#zoneBoutonEnvoyer input {
		height:40px; 
		}
	#zoneRechercheEntete input{
		height:40px; 
		text-indent: 10px; 
		}
	*/
	
	
/* Formulaire Lieu */
.blocAnnoncerNomLieu {display:inline-block; margin: 10px 0 10px 0px; text-align:center;}
.blocAnnoncerNomLieu input, .blocAnnoncerNomLieu select {padding-left:5px }
.blocAnnoncerTitre { margin: 0 3px 20px 3px; font-size:20px}
.blocAnnoncerLogo { width:100%; margin: 0 0 20px 0; display:inline-block; float:right}
.blocAnnoncerLogo img { width:100%; margin-bottom:10px}
.blocAnnoncerAdresse {display:inline-block; margin: 0 3px 20px 3px}
.blocAnnoncerLieu {width:100%; display:inline-block; margin: 0 3px 20px 3px; text-align:center; }
.blocAnnoncerLieu input, .blocAnnoncerLieu select {width:100%; padding-left:5px }
#flottantDroite {}


.blocAnnoncerLogo input[type="file"] {height: 0; width: 0; overflow: hidden;}
.blocAnnoncerLogo input[type="file"] + label {display:block; padding: 10px 0px; width:100%; text-align:center;  cursor: pointer;}


.texteRetourLigneCourt {display:inline-block; text-indent: 0px;}
.texteRetourLigneLong {display:none;}

/*.InfoPlus, .pubMenu120, .pubMenu160, .pubMenu180, .pubMenu200 {display:none}*/
#blocPubVertical {display:none}

.weezevent-widget-integration {/*position:absolute; right:0; line-height:0px;*/ display:none } /* Debug du texte qui se rajoute en javascript*/
.blocVideoFb {padding-top: 5px; padding-bottom: 10px;} /* Debug des vidéos FB qui se rajoute en javascript*/


#blocFiltreRubrique {padding-top:10px}

#blocFiltreRubrique span {float:right;
	padding: 0 8px;
    border-width: 0px;
    border-left-width: 1px;
    border-style: solid;
}







@media screen and (min-width: 478px) {
	#blocTitreSite, .titrePage, #ligneJaune, .tableauPrincipal, #curieuxMenuPrincipal, #menuPrincipalWah, #blocBlanc, #blocGris, #menubas {width: 480px;}
.logoTitre img { padding: 10px 0 0 165px;}

h3 {text-align: left;}
	#blocPartage h3, #blocPartageLieu h3, #blocPartageEvent h3 {text-align:center}
	#menuJour {font-size:11px}
	.infoEvent {margin:0px 50px 0px 50px}
	#blocFiltreSmart, #blocFiltreRubrique {margin-right: 10px; margin-top: 10px; padding-bottom: 0px}
	#blocFiltreSmart a, #blocFiltreRubrique a {display:inline-block; padding-right:7px}
	#blocFiltreSmart .boutonCentrer {display:block; align:center; width:300px; padding:8px; margin-left:55px; margin-top:14px;}
	
	
	.zoom {float:right; display:block; width:auto; margin-left: 11px;}
	.zoom img {width:160px; position:relative; z-index: 2; margin-bottom: 0px}
	/*.zoom img:hover {width:440px; position:relative; z-index: 2;}*/


.tableau2 .blocDesactive { display:block; float:left; width:0px; text-indent:10px; margin:-45px 0 0 0px; color:#fff; text-shadow: 1px 1px #000, -1px -1px 0 #000, 1px -1px 0 #000, -1px 1px 0 #000}
.tableau2 .secondBlocResultat .topListe  { padding-left: 20px; padding-right:20px}

.infoSecondaire #specialCinema { margin-bottom:10px}

.tableau2 .sortieBloc {width:auto; overflow: hidden;}
/*.tableau2 .sortieBloc {position: relative;}*/
.tableau2 .sortieBlocMarge {padding-bottom:10px }

.rubriqueSortie {margin:5px 5px 0 0; float: right; font-size:10px;}

.bloclogoDate {display:inline-block; float:left; min-width:30px }
#blocSeparateur {width:2px; height:37px; margin:5px 6px 0px 6px;  min-width: 0}
#blocSeparateurSimple {margin:17px 4px 0 4px; min-width: 0 }
.logoDate {display:block; float:left; z-index: 3; min-width: 40px; text-align:center; padding: 5px; margin:0px 4px 5px 5px; -webkit-border-radius: 0 0 3px 3px; -moz-border-radius:  0 0 3px 3px; border-radius: 0 0 3px 3px}
.logoDateTexte, .logoDateMois { text-transform:uppercase;}

.logoDateTexte {font-size:10px; line-height:9px; letter-spacing:1px; margin-top:3px; width:100%}
.logoDateTexte b {font-size:20px; }
.bloclogoDate .logoDateTexte {margin-top:7px; }
.exceptionJour {font-size:9px; margin-top:3px; line-height:9px; letter-spacing:1px; text-transform:uppercase; text-align:left; display:inline-block}
.logoDateJour {font-size:25px; line-height:26px; display:inline-block; text-align:center;}
.logoDateJour sup {font-size:10px; line-height: 14px; }
.logoDateJour b {font-size:16px; line-height: 10px; text-transform:initial; margin-left:1px; letter-spacing:1px}
.logoDateMois {font-size:15px; line-height:18px;}
.logoDateTexteDansJour {font-size:10px; }

.tableau2 .illustrationSortie { width:150px; max-height:20px; float:left; position: relative; z-index: 1;} 
.tableau2 .zoom2 {width:150px;}
.tableau2 .dateSortie {padding: 8px 5px 0px 170px; display:block; letter-spacing: 1.5px;}
.tableau2 .lienTitreSortie {padding: 7px 5px 0px 170px; letter-spacing: 1.9px;}
.tableau2 .infoSortie { padding: 0px 0px 8px 160px; letter-spacing: 1.5px;}
.tableau2 .dateSortie, .tableau2 .lienTitreSortie, .tableau2 .infoSortie { text-align:left; position:inherit; z-index:0}
/*.tableau2 .logoSortie {margin: 5px 0 0 101px; position:absolute}*/
.logoSortie {width:150px; height:0; padding:0}

.tableau2 .dateEvent {letter-spacing: 1.5px;}
.tableau2 .infoEvent {letter-spacing: 1.5px;}

.infoSecondaire .sortieBloc h3 {padding:20px 30px;}

.commentaireSansVignette {padding: 3px 5px 5px 10px;}
/*.tableau2 .zoom img {margin: 0px 0px 0px 6px;}
.zoom img:hover {margin-bottom: 10px;}*/
.tableau2 .titreEvent {font-size:25px;}
.tableau2 .dateEvent {text-align:left}
.tableau2 .zoom2 {overflow:hidden }
.tableau2 .zoom2 img {width: 140%; margin: -2px 0px 0px -20% }
.tableau2 .sortieBlocMarge:hover .zoom2 img {width: 160%; margin: -5px 0px 0px -30% }
/*.tableau2 .sortieBlocMarge:hover .zoom2 img {width: 190%; margin: -20px 0px 0px -90px }*/
.frameUlule {
    float: right;
    margin-left: 10px;
    clear: both;
}

/* Pour l'affichage dans page d'annonce */
.infoPlus .sortieBloc { overflow: hidden; height:auto}
.infoPlus .illustrationSortie {  width:100%; height:auto} 
.infoPlus .illustrationSortie img {z-index: -1; width: 100%; height:auto }
.infoPlus .dateSortie {display:block;}

#menuDroite .menuRecherche .menu > li > a span {margin: -1em -1em 0 0;	padding: .4em .6em;}

/* Pied de Page */
#menubas .pubInfoCorporate {width: 50%; padding: 10px 0; text-align:initial; min-height:260px; }
#menubas #blocLogoBouton {margin-left: 0px; width: 50%;}

.texteRetourLigneLong {display:inline-block; text-indent: 0px;}
#blocTitrePartage {width:450px; margin: auto auto;}

#menuSuggestion img {width: 80%; margin-top:0px}

/* Page d'annonce */

.blocFormulaireDate #blocDate {width:230px;}
#blocHoraire {float:right; margin:0; width:174px; margin-right:26px}
.blocFormulaireDetail .blocDetail {width:203px;}

.inputSousRubrique {display:inline-block; min-width:60px;}

.blocFestival h3 {display: block;}
.blocFestival input, .blocFestival select {width:50%;}
.lienFnacRecup {width: 95%;}
.suggestionFnac {width: 87%;}
#idVide {height:0; width:0}
#problemeFnac {width: 300px;}

#blocFiltreRubrique {padding-top:5px}
#blocFiltreRubrique span {margin-left:4px; padding: 0 0 0 7px;}


.cloned #fixe {height:35px; overflow:hidden}



	}
@media screen and (min-width: 768px) {
	#blocTitreSite, .titrePage, .tableauPrincipal, #curieuxMenuPrincipal, #menuPrincipalWah, #blocBlanc, #blocGris, #menubas {width: 750px;}
	.infoPrincipale { margin: 0px 20px 0px 20px;}

#blocAnnuaire {position:relative; }
#boutonAgrandirCarte {display:block; z-index:100; right:50px; margin-top: 8px; position:absolute; }

	.logoTitre img {padding:15px 0px 0px 296px;}
	#titreSite {padding: 0 0 0 0px ;}
	.logoMenuEntete {width:35px;}
#supprimeMenuSmart {display:none;}
.afficheMenuWah {display:block;}
.original .titrePage, #titreMenuFixe {display:block;}

#menuPrincipalBoutonBord, #menuPrincipalBouton {float: left; display:inline-block; text-align:center;}
#menuPrincipalBouton {width: 8.72%;}
#menuPrincipalBoutonBord {width:2%; height: 35.73px; position:relative}

#blocMenuJourSmart {margin: 10px 15px 0 15px}
#menuJourMoins span, #menuJourMoinsSmart span {left:7px; width:10px; }
#menuJourPlus span, #menuJourPlusSmart span {right:16px; width:10px;}
	
	.topListe {padding-left:0px; padding-right:0px; }
	
	.configurationAffichage {float:right; /*height:0;*/ margin: 12px 0px 0 10px ; display:block; }
	.configurationAffichage img {width:40px; border-width: 0px 1px 1px 1px}
	.configurationAffichage img:hover {border-width: 1px 0 0px 2px}
	
	#map {display:block;}
	#blocFiltreSmart {display:none;}
	
	#blocFiltreCarte {
		display:block;
	}

	
	/*
	.premierBlocResultat .topListe {padding-right:45px}
	*/
	.secondBlocResultat .configurationAffichage {display: none;}
	
	.titrePage {font-size:30px;}
	#menuJour {font-size:13px}
	
	.tableau2 .sortieBlocMarge {padding-bottom:20px }
	/*.tableau2 .logoSortie {margin-left: 152px;}*/
	.logoSortie {width:200px}
	.rubriqueSortie {font-size:11px;}

	.tableau2 .illustrationSortie { width:200px; } 
	.tableau2 .zoom2 {width:200px}
	.tableau2 .dateSortie {padding-left: 220px; }
	.tableau2 .lienTitreSortie {padding-right:10px; padding-left:220px; padding-bottom: 5px;}
	.tableau2 .infoSortie { padding-left: 210px;}

.tableau2 .lieuSortie,
.tableau2 .entreeSortie,
.tableau2 .entreeSortie0,
.tableau2 .entreeSortieNonCom,
.tableau2 .partenaireSortie,
.tableau2 .videoSortie,
.tableau2 .completSortie {margin-top: 0px; margin-bottom: 5px; float: left;}
.tableau2 .billetSortie {margin: 0px 8px 8px 0; padding-bottom: 2px; float: right; } 
.tableau2 #blocMultiBouton {padding: 0px 5px 20px 0;}
/*.tableau2 #blocMultiBouton {float: right;} */
.tableau2 .detailSortie { margin-bottom: 8px; float: left;}

/* Dans l'evenement */

#infoPrincipalePublicite {
/*margin-top: -33px;*/
margin-top: -20px;
float: left;
width: 708px;
padding-left: 10px;
padding-right: 10px;}
/*.tableau2 .dateEvent {padding-left:80px; }
#infoPrincipaleEvent .logoSortie {margin:10px 0px 0px 23px;}*/

.tableau2 .titreEvent { font-size:28px;}
.dateEvent {font-size:17px; letter-spacing:1.2px; }
.dateEvent .theday {letter-spacing:1.5px; margin-right:5px}

.tableau2 .infoEvent .billetSortie, .tableau2 .infoEvent .completSortie {padding-bottom:4px }

.zoneFondLisible {float:left; width:690px}
.zoom {margin-bottom:0; }
/*.zoom img:hover {width:470px; margin-bottom: 0px;}*/
#specialEvent {display:inline-block; width:100%; margin-top:0; margin-bottom:20px;}
#blocAnnuaireEvent {float:left; width:100%}
.lienEvent a {font-size:x-large;}
#suggestionEvent .configurationAffichage {display:none}
#suggestionEvent .premierBlocResultat .topListe {
    margin-top: 0px;
    display: block;
    width: auto;
}


/**/ #ongletDouble .onglet_0 { width:46%; padding-left:2%; padding-right:2% }


/*Zone de Partage*/
#blocPartage, #blocPartageLieu {dispay:inline-block; float:left; width:710px; padding: 10px 0 15px 0; margin-top:20px}
#blocPartageEvent {padding: 10px 0 15px 0}
#blocPartageEvent #blocBoutonsPartage {width: 290px;}
#blocTitrePartage {padding:0px 0 7px 0; width:650px;}
#caseCopieMail .ac-auto {clear: both; padding: 10px 15px 0 15px; text-align: center;}
.infoSecondaire #aucunResultat {margin-bottom: 0px}

.tableau2 #listeAujourdhuiEnCours .topListe {}
.blocDeroulantHorizontal br {display:none}

#listeAujourdhuiEnCours {display: block; width:710px; margin-bottom:50px; overflow:hidden; position:relative; padding-top:3px; padding-bottom:5px}
#listeAujourdhuiPremier {display: block; width:385px; margin-bottom:50px; overflow:hidden; position:relative; padding-top:3px; padding-bottom:5px}

/*
.poussoirGauche {
	-webkit-transition: width 2s linear;
	-moz-transition: width 2s linear;
	-o-transition: width 2s linear;
	-ms-transition:width 2s linear;
	transition: width 2s linear;
	}
*/
	
.poussoirGauche, .poussoirDroite {
	width:60px;
	height:500px;
	position:absolute;
	z-index:2000;
	top:0;
	}


.poussoirGauche, .poussoirDroite {
	-webkit-transition: background 0.3s linear;
	-moz-transition: background 0.3s linear;
	-o-transition: background 0.3s linear;
	-ms-transition: background 0.3s linear;
	}
	
/*#listeAujourdhuiPremier .poussoirGauche, #listeAujourdhuiPremier .poussoirDroite  {width:20px;}
 #listeAujourdhuiPremier .poussoirGauche:hover, #listeAujourdhuiPremier.poussoirDroite :hover {width:40px;} */

.poussoirGauche {left:0; width:0px;}
.poussoirDroite {right:0; width:60px;}
.blocDeroulantHorizontal {width:20000px; position:relative; left:0px}

/* .poussoirGauche:hover, .poussoirDroite:hover {width:120px;} */

#listeAujourdhuiEnCours .sortieBlocMarge .zoom2 img, #listeAujourdhuiPremier .sortieBlocMarge .zoom2 img {width: 125%; margin: -4px -20px 0px -20px }

#listeAujourdhuiEnCours .sortieBlocMarge:hover .zoom2 img, #listeAujourdhuiPremier .sortieBlocMarge:hover .zoom2 img {width: 150%; margin: -10px -45px 0px -45px }
#listeAujourdhuiEnCours .sortieBlocMarge, #listeAujourdhuiPremier .sortieBlocMarge {display:inline-block; padding-right:3px; float:left}
#listeAujourdhuiEnCours #sortieBlocSeparateur:first-child, #listeAujourdhuiPremier #sortieBlocSeparateur:first-child {padding-left:1px;}

#listeAujourdhuiEnCours #sortieBlocSeparateur, #listeAujourdhuiPremier #sortieBlocSeparateur {padding-left:20px;}

#listeAujourdhuiEnCours .sortieBloc, #listeAujourdhuiPremier .sortieBloc {
	margin : 0;
	overflow: hidden;
	width: 180px;
	display: inline-block;
	height:350px;
	float:left
	}
	
/* Probleme
#listeAujourdhuiEnCours .degradeBasSortieBloc {z-index:33; display:block; float:left; position:absolute; bottom:0; width:100%; height:20px; }
#listeAujourdhuiEnCours .sortieBloc, #listeAujourdhuiPremier .sortieBloc {position:relative}
*/

/*#listeAujourdhuiEnCours .sortieBlocMarge:hover .sortieBloc { height:400px; }*/
#listeAujourdhuiEnCours .dateSortie,
#listeAujourdhuiEnCours .lienTitreSortie,
#listeAujourdhuiEnCours .infoSortie {position: inherit;}
#listeAujourdhuiEnCours .illustrationSortie,
#listeAujourdhuiEnCours .illustrationSortie img,
/*#listeAujourdhuiEnCours .logoSortie img,*/
#listeAujourdhuiEnCours .zoom2 {width: 100%} 
#listeAujourdhuiEnCours .logoSortie {width: 180px;}
#listeAujourdhuiEnCours .illustrationSortie {min-height:70px; max-height:120px; overflow:hidden} 
#listeAujourdhuiEnCours .illustrationSortie img {z-index: -1;}

#listeAujourdhuiEnCours .rubriqueSortie /* , #listeAujourdhuiEnCours .rubriqueEvent */ {font-size:x-small; text-align:center;}

#listeAujourdhuiEnCours .dateSortie {z-index: 2; padding: 5px 10px 5px 10px; display:inline-block; text-align:right}

/*#listeAujourdhuiEnCours .logoSortie {margin: 5px 0 0 133px; z-index:0}*/
#listeAujourdhuiEnCours .lienTitreSortie  {display:block; max-height:88px; overflow:hidden; text-align:center; font-size:17px; line-height:22px; text-transform:uppercase; padding: 10px 20px 0px 20px;}

#listeAujourdhuiEnCours .infoSortie {display:block; padding:10px 2px 0px 2px; text-align:center}
#listeAujourdhuiEnCours .lieuSortie {margin: 0px 10px 0px 10px; text-indent:13px; }
#listeAujourdhuiEnCours .lieuSortie,
#listeAujourdhuiEnCours .entreeSortie,
#listeAujourdhuiEnCours .entreeSortie0,
#listeAujourdhuiEnCours .entreeSortieNonCom,
#listeAujourdhuiEnCours .partenaireSortie, 
#listeAujourdhuiEnCours .billetSortie,
#listeAujourdhuiEnCours .completSortie,
#listeAujourdhuiEnCours .videoSortie {display:inline-block; margin-bottom:4px; float:none}
#listeAujourdhuiEnCours .dateSortie .titreFacultatif {display:none;}

.tableau2 #listeAujourdhuiEnCours .entreeSortie,
.tableau2 #listeAujourdhuiEnCours .entreeSortie0,
.tableau2 #listeAujourdhuiEnCours .entreeSortieNonCom,
.tableau2 #listeAujourdhuiEnCours .partenaireSortie,
.tableau2 #listeAujourdhuiEnCours .billetSortie,
.tableau2 #listeAujourdhuiEnCours .completSortie,
.tableau2 #listeAujourdhuiEnCours .videoSortie {margin: 0px 5px 5px 5px;}
.tableau2 #listeAujourdhuiEnCours .sortieBlocMarge {padding-bottom: 0px}
.tableau2 #listeAujourdhuiEnCours #blocMultiBouton {margin-top: 10px; padding-right:0}
.tableau2 #listeAujourdhuiEnCours #blocMultiBouton a {display:inline-block}

/*#listeAujourdhuiPremier .sortieBloc:hover  { height:400px; }*/
#listeAujourdhuiPremier .dateSortie,
#listeAujourdhuiPremier .lienTitreSortie,
#listeAujourdhuiPremier .infoSortie {position: inherit;}
#listeAujourdhuiPremier .illustrationSortie,
#listeAujourdhuiPremier .illustrationSortie img,
/*#listeAujourdhuiPremier .logoSortie img,*/
#listeAujourdhuiPremier .zoom2{width: 100%}
#listeAujourdhuiPremier .logoSortie {width: 181px;}
#listeAujourdhuiPremier .illustrationSortie {min-height:70px; max-height:120px; overflow:hidden} 
#listeAujourdhuiPremier .illustrationSortie img {z-index: -1;}


#listeAujourdhuiPremier .rubriqueSortie /*, #listeAujourdhuiPremier .rubriqueEvent */ {font-size:x-small; text-align:center;}

#listeAujourdhuiPremier .dateSortie {z-index: 2; font-size:small; padding: 5px 10px 5px 10px; display:inline-block; text-align:right}

/*#listeAujourdhuiPremier .logoSortie {margin: 5px 0 0 133px; z-index:0; }*/
#listeAujourdhuiPremier .lienTitreSortie  {display:block; max-height:92px; overflow:hidden; text-align:center; font-size:17px; text-transform:uppercase; padding: 10px 20px 0px 20px;}

#listeAujourdhuiPremier .infoSortie {display:block; padding:10px 2px 0px 2px; text-align:center}
#listeAujourdhuiPremier .lieuSortie {margin: 0px 10px 0px 10px; text-indent:13px;}
#listeAujourdhuiPremier .lieuSortie,
#listeAujourdhuiPremier .entreeSortie,
#listeAujourdhuiPremier .entreeSortie0,
#listeAujourdhuiPremier .entreeSortieNonCom,
#listeAujourdhuiPremier .partenaireSortie,
#listeAujourdhuiPremier .billetSortie,
#listeAujourdhuiPremier .completSortie,
#listeAujourdhuiPremier .videoSortie {display:inline-block; float:none; margin: 5px;}
#listeAujourdhuiPremier .dateSortie .titreFacultatif {display:none;}

.tableau2 #listeAujourdhuiPremier .entreeSortie,
.tableau2 #listeAujourdhuiPremier .entreeSortie0,
.tableau2 #listeAujourdhuiPremier .entreeSortieNonCom,
.tableau2 #listeAujourdhuiPremier .partenaireSortie,
.tableau2 #listeAujourdhuiPremier .billetSortie,
.tableau2 #listeAujourdhuiPremier .completSortie,
.tableau2 #listeAujourdhuiPremier .videoSortie {margin: 0px 5px 5px 5px;}
.tableau2 #listeAujourdhuiPremier .sortieBlocMarge {padding-bottom: 0px}
.tableau2 #listeAujourdhuiPremier #blocMultiBouton {margin-top: 10px; padding-right:0}
.tableau2 #listeAujourdhuiPremier #blocMultiBouton a {display:inline-block}

.fondBlocDeroulant {display:block; bottom:0; width:100%; height:30px; position:absolute;}


.tableau2 #listeAujourdhuiEnCours .retourLigne {clear:both; }




#menuDroite .menuRecherche .menu > li > a span {margin: -1em -0.5em 0 0;}

#blocAnnuaire {width:300px; float:right; margin: 20px 20px 10px 20px; border-width:3px 3px 3px 3px;}
.vueGoogle, .carteGoogle {height:350px}

#blocPartenaire {padding: 30px 170px 20px 170px;}
#blocPlusDinfo {padding: 30px 50px 10px 50px;}

.logoPartage {width:44px;}
#caseCopieMail {display:block;}

#menuSuggestion {height: 70px; }
menuPrincipalBouton a, #menuSuggestion a {font-size:15px;}
.enleveTitreSuggestion {display:block}
.enleveLogoSuggestion {display:none;}

/* Annuaire */
.tableau2 #deuxTiers {width: 29.33%; margin:1%; height:60px; font-size: 1em; padding:1%; /*text-align:right*/}
.tableau2 .logoLieuConfig {/*float:left; width:100px; height:auto; margin-right:10px; */ }
.tableau2 .dividerAnnuaire { /*font-size: 2em; text-align:center; clear:both;*/}



	/* Formulaire Lieu */
	#alerteTop form, #titreAlerte { display:inline-block }
	#alerteTop .generateurEvent form { display:block } /*exception*/

	#rechercheDoublonLieu {width:200px; font-size:20px; height:30px; margin-left:20px; text-indent:5px }
	#rechercheDoublonLieuSubmit { font-size:20px; height:30px; padding:0 10px }
	
	#menuDroite .alerteOk, #menuDroite .alerteErreur {width:190px; margin: 0 0 10px 10px}
	#menuDroite #rechercheDoublonLieu {width:130px; margin-left:15px; }
	#menuDroite #rechercheDoublonLieuSubmit { padding:0 5px }
	
	.blocAnnoncerNomLieu {width:50%; margin: 20px 0 20px 40px; }
	.blocAnnoncerLogo {width:30%; margin: 50px 50px 20px 0px; padding: 15px; }
	.zoneDescriptionLieu {margin-left:50px;}
	.blocAnnoncerLieu {width:22%;}
	#blocAnnoncerType3 {width:45.2%}

.texteRetourLigneCourt {display:none;}
.texteRetourLigneLong {display:initial; }

#blocCommentaireEvent, #blocCommentaireLieu {margin-top:20px;}
#blocCommentaireLieu {float:left; width:710px}

#menuSuggestion img {width: 35px; }
#menuSuggestion a {font-size:13px }

/* Page d'annonce */
.blocImageGenerateur {display:inline-block; float:right; width:30%; margin:20px 3% 10px 0;}
.blocFormulaireTitre {width:60%; padding-top:20px; }
.blocFormulaireDate {width:63%; margin:20px 5px 0 0 }
.blocFormulaireDetail .blocDetail {width:223px;}
#blocDescription {width:94%;}
.blocLienExterne, .blocFestival {width:100%;}
.blocLienExterne input {width:465px;}
.blocFestival h3 {width:195px; display: inline-block; padding-right :18px;; text-align:right}
.blocFestival input, .blocFestival select {width:232px }
.lienFnacRecup {width:443px; margin-left:5px}
.suggestionFnac {width: 448px; margin-left:240px}
.tarifFnacRecup {margin-left: 5px;}



.tableau2 .infoEvent .billetSortie {margin-top:0; margin-top:0; float:none; margin-top:2px;}


#menuJourSmart {font-size: 1.5em; }



	
	#lienAnnoncer { -webkit-border-radius: 15px; -moz-border-radius: 15px; -ms-border-radius: 15px; -o-border-radius: 15px; border-radius: 15px; }
	#lienAnnoncer a {padding-top:35px}

	#lienAnnoncer {width:30px; overflow:hidden; line-height: 29px; display:block; height:29px; margin-right:15px}
	#lienAnnoncer img {width:29px; }

/*.menuEnteteDeroulant:hover, .menuEnteteDeroulant:hover #lienAnnoncer, #boutonAnnonceDeroulant, #boutonAnnonceDeroulant #lienAnnoncer, #blocConfig:hover #boutonAnnonceDeroulant:hover,  #blocConfig:hover #boutonAnnonceDeroulant:hover #lienAnnoncer {width:230px;}
	#blocConfig:hover #boutonAnnonceDeroulant, #blocConfig:hover #boutonAnnonceDeroulant #lienAnnoncer {width:30px;}*/

	.menuEnteteDeroulant:hover, .menuEnteteDeroulant:hover #lienAnnoncer,  #blocConfig:hover #boutonAnnonceDeroulant:hover, #blocConfig:hover #boutonAnnonceDeroulant:hover #lienAnnoncer {width:230px;}
	#blocConfig:hover #boutonAnnonceDeroulant, #blocConfig:hover #boutonAnnonceDeroulant #lienAnnoncer, #boutonAnnonceDeroulant, #boutonAnnonceDeroulant #lienAnnoncer {width:30px;}


	.menuEnteteDeroulant {
	width:30px;
	padding: 18px 10px 18px 0;
	margin: 0px -1px 0 0;
	display:block;
	float:right;
	}

	
	.menuEnteteDeroulant, #lienAnnoncer {
	-webkit-transition: width 0.2s ease-in-out;
	-moz-transition: width 0.2s ease-in-out;
	-o-transition: width 0.2s ease-in-out;
	-ms-transition: width 0.2s ease-in-out;
	transition: width 0.2s ease-in-out;
	}
	
	
	#texteAnnoncer { font-size:15px; text-align:center; float:right; width:200px; }
	#texteAnnoncer span {display:inline-block}
	
	.traduction {float:right;}
	#lienAnnoncer .traduction img {display:block; float:left; width:28.5px}
	/**/
	.configAffichage a {}
	
	.configAffichage {padding-top:1px; font-size:15px; text-align:center; display:block; float:right; margin:0; width:113px;}
	.configCouleur {display:block; float:left; margin:0}
	/*.configCouleur img {width:70px;}
	
		.configurationAffichage {margin-top: -45px; }*/

#blocConfig {padding-right:10px}
	
	.rechercheEntete {}
	.rechercheEntete input {}
	
	#blocConfig input {display:none} 
	#boutonRechercheDeroulant input {display:block; width:29px; float:left; position:relative; margin-bottom:5px}
	#zoneBoutonEnvoyer input:hover {}
	#zoneRechercheEntete {padding:2px 2px 0 0; }
	#zoneRechercheEntete input{
		border:none;
		float:right;
		height:25px;
		width:86%;
		text-indent: 10px;
		-moz-border-radius: 30px;
        -webkit-border-radius: 30px;
        border-radius: 30px;
		
		}
		
	.configurationAffichage img { margin:0px}

	}
@media screen and (min-width: 1020px) {
	/* body {font-size: 14px;} */
	#blocTitreSite, .titrePage, #ligneJaune, .tableauPrincipal, #curieuxMenuPrincipal, #menuPrincipalWah, #blocBlanc, #blocGris, #menubas {width: 1000px; }

	#blocTitreSite {height:65px;}
	.logoTitre img {display:inline-block; width:100px; float:left; padding:5px 0px 0px 10px; margin: 0px 0px 0px 0px}
	.logoTitre {}
	#blocLargeurTitreAuto {width:auto; display:inline-block; padding: 13px 0 0 15px; overflow:hidden; height:36px;}
	#blocTitreSite:hover #blocLargeurTitreAuto {height:50px; padding:5px 0 0 15px}
	
	#blocLargeurTitreAuto {
	-webkit-transition: padding 0.5s ease-in-out, height 0.5s ease-in-out;
	-moz-transition: padding 0.5s ease-in-out, height 0.5s ease-in-out;
	-o-transition: padding 0.5s ease-in-out, height 0.5s ease-in-out;
	-ms-transition: padding 0.5s ease-in-out, height 0.5s ease-in-out;
	transition: padding 0.5s ease-in-out, height 0.5s ease-in-out;
	}
		
	#titreSite {height:32px; padding: 0 0 0 0;}
	#sousTitreSite {padding: 0 0 0 0; line-height:22px}

	#blocPubEntete, #lienAnnoncer {/*float:right; margin: 10px 20px 0 0; */}
	#blocPubEntete {width:auto;}

	
	.infoSecondaire #specialCinema { margin-top: 25px; margin-bottom:5px}
	.infoSecondaire h3 {letter-spacing:2px}

	#infoPrincipalePublicite {margin:-15px 0px 5px 25px; }
	
	
	.menuEnteteDeroulant:hover, .menuEnteteDeroulant:hover #lienAnnoncer, #boutonAnnonceDeroulant, #boutonAnnonceDeroulant #lienAnnoncer, #blocConfig:hover #boutonAnnonceDeroulant:hover,  #blocConfig:hover #boutonAnnonceDeroulant:hover #lienAnnoncer {width:230px;}
	#blocConfig:hover #boutonAnnonceDeroulant, #blocConfig:hover #boutonAnnonceDeroulant #lienAnnoncer {width:30px;}

	
	#boutonAgrandirCarte {right:45px;}
	

.zoom2 {overflow: hidden;}
.logoDate {margin-top:-15px; margin-bottom: 20px; border: 1px #222 solid; -webkit-border-radius:3px 3px 3px 3px; -moz-border-radius: 3px 3px 3px 3px; border-radius:3px 3px 3px 3px;}
/*.tableau2 .logoSortie {margin-left:152px; margin-top:5px}*/

.tableau2 .dateSortie {
	overflow:hidden;
	height:0;
	padding-left: 21px;
	padding-top: 23px;
}

.tableau2 .dateSortie sup {line-height:0px; display:inline-block; font-size:7px}

.tableau2 .lienTitreSortie {
    padding-top: 0px;
}

.logoDate {
	-webkit-transition: margin-left 0.2s linear;
	-moz-transition: margin-left 0.2s linear;
	-o-transition: margin-left 0.2s linear;
	-ms-transition: margin-left 0.2s linear;
	transition: margin-left 0.2s linear;
}

.tableau2 .sortieBlocMarge .dateSortie {
	-webkit-transition: height 0.2s linear, padding-top 0.2s linear;
	-moz-transition: height 0.2s linear, padding-top 0.2s linear;
	-o-transition: height 0.2s linear, padding-top 0.2s linear;
	-ms-transition: height 0.2s linear, padding-top 0.2s linear;
	transition: height 0.2s linear, padding-top 0.2s linear;
}

.tableau2 .sortieBlocMarge .infoSortie, .tableau2 .sortieBlocMarge .lienTitreSortie {
	-webkit-transition: padding 0.2s linear;
	-moz-transition: padding 0.2s linear;
	-o-transition: padding 0.2s linear;
	-ms-transition: padding 0.2s linear;
	transition: padding 0.2s linear;
}

	.tableau2 .infoSortie {padding-bottom:20px; padding-top:5px}
	.tableau2 .sortieBlocMarge:hover .lienTitreSortie {padding-top: 2px;}
	.tableau2 .sortieBlocMarge:hover .dateSortie {height:18px; padding-top: 8px;}
	.tableau2 .sortieBlocMarge:hover .infoSortie {padding-top:0px}
	
	#lienVersRubrique {display:block}
	#effaceSuggestion {display:none}
	
	.dateEvent {margin-top:2px; }
	.imageImporter {width:50%; float:right; display:block; margin-left:10px; margin-top:20px}
	.imageImporter:hover {width:60%; }

	.tableau2 .sortieBlocMarge {padding-bottom:6px}
	.tableau2 #sortieBlocSeparateur {padding-top:25px}
	
	#listeAujourdhuiEnCours .dateSortie, #listeAujourdhuiPremier .dateSortie {
	-webkit-transition: height 0.2s linear, padding-top 0.2s linear;
	-moz-transition: height 0.2s linear, padding-top 0.2s linear;
	-o-transition: height 0.2s linear, padding-top 0.2s linear;
	-ms-transition: height 0.2s linear, padding-top 0.2s linear;
	transition: height 0.2s linear, padding-top 0.2s linear;
	}
		
	#listeAujourdhuiEnCours { margin: 20px 1px 50px 20px; padding-left:10px;}
	#listeAujourdhuiEnCours .sortieBlocMarge {padding-bottom:0px}
	#listeAujourdhuiEnCours #sortieBlocSeparateur {padding-top:0px}
	#listeAujourdhuiEnCours .sortieBloc { position: initial; }
	
	#listeAujourdhuiEnCours .logoDate {
	margin: 5px 4px 5px -10px;
	background: -moz-linear-gradient(left, rgba(255,255,255,1) 0%, rgba(255,255,255,1) 21%, rgba(255,255,255,0.87) 100%); /* FF3.6-15 */
	background: -webkit-linear-gradient(left, rgba(255,255,255,1) 0%,rgba(255,255,255,1) 21%,rgba(255,255,255,0.87) 100%); /* Chrome10-25,Safari5.1-6 */
	background: linear-gradient(to right, rgba(255,255,255,1) 0%,rgba(255,255,255,1) 21%,rgba(255,255,255,0.87) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#deffffff',GradientType=1 ); /* IE6-9 */
	}
	
	#listeAujourdhuiEnCours .dateSortie {padding-bottom:0px; padding-top:0}
	#listeAujourdhuiEnCours .sortieBlocMarge:hover .dateSortie {height:30px; padding-top:10px}
	#listeAujourdhuiPremier .dateSortie {padding-bottom:0px; padding-top:0}
	#listeAujourdhuiPremier .sortieBlocMarge:hover .dateSortie {height:40px; padding-top:10px}
	
	

	#listeAujourdhuiEnCours {width:750px;}
	#listeAujourdhuiPremier {width:463px;}

	/* #fondPrincipal {float:right;}sinon le fond disparait*/

	.tableau2 {width:780px; float:right; display:block;}
	.infoPrincipale { margin: 0px 1px 0px 20px;}
	#menuJour {font-size:15px;}
	
	#blocPartage, #blocPartageLieu {width:759px;}
	
  
	
	#menuDroite .menuRecherche, .InfoPlus, .InfoPlus .logoSortie {width: 220px;}
	#menuDroite {display:inline-block;} /*position et z-index pour cacher pub*/
	 .InfoPlus  {float: left;}
	 
	/* passer au-dessus la pub lateral*/
	.titrePage {position: relative; z-index: 2000;} 
	#menuDroite {position: relative; z-index: 2000;} 
	.afficheMenuWah {position: relative; z-index: 2001;} 
	
#formulaireAnnonce {margin :0px 20px 0px 20px}
.tableau2 h2, .tableau2 h4, .tableau2 .dividerAnnuaire {margin-right : 220px}

#blocAnnuaireEvent {margin-left :10px; margin-right: 10px}
#blocPartageEvent, #blocCommentaireEvent {margin-left :30px; margin-right: 30px}
#blocCommentaireLieu {width:759px; margin-left:20px}

/*.premierBlocResultat .topListe {width:70%; margin-right:30%; padding-bottom:10px }
#suggestionEvent .premierBlocResultat .topListe {width:auto; margin-right:0;}*/

.premierBlocResultat .topListe {padding-bottom:10px; max-width: 520px; }
#suggestionEvent .premierBlocResultat .topListe  {  max-width: initial;}

.secondBlocResultat .topListe {padding-top: 0px; padding-bottom:10px}
.topListe {padding-bottom:10px }
#topListeAucunResultat {padding-bottom:30px }


.tableau2 .titreEvent { font-size:31px; line-height:38px; padding-left:10px; padding-right:10px; }
.zoneFondLisible {margin:20px 10px 20px 10px}
.tableau2 .zoom img {width:300px; }
/*.tableau2 .zoom img:hover {width:420px;}*/
.zoneFondLisible {width:700px}
#specialEvent, #blocAnnuaireEvent {width:720px;}
#specialEvent {margin:0 10px 20px 10px}
#specialEvent h3 {padding-left:10px; padding-right:10px; }

#menuDroite .menuRecherche .menu > li > a span {margin: -1em -0.4em 0 0;}
#menuDroite .logoDate {margin: 5px}
#menuDroite .sortieBloc {position:relative}

#blocAnnuaire {width:270px; margin: 20px 1px 0px 20px}
.vueGoogle, .carteGoogle {height:370px}

#blocBoutonsPartage {/*width:350px;*/}

#blocPubVertical {
    height: 350px;
    display: block;
}
#pubLateral {position: relative; padding-top:35px; text-align:center; width: 220px;}

#pubLateral .menuRecherche {text-align:left;}
#pubLateral .logoMenuRubrique {margin: 0 10px 0 5px;}

.pubMenu160 {padding-left: 30px;}
/*
.pubMenu120 {padding: 30px 0 0 50px; display:block}
.pubMenu160 {padding: 30px 0 0 30px; display:block}
.pubMenu180 {padding: 30px 0 0 20px; display:block}
.pubMenu200 {padding: 30px 0 0 10px; display:block}
*/

/* Pied de Page */
#menubas {position: relative; z-index: 1000;}

/* Page d'annonce */
.blocLienExterne input {width:474px}
.InfoPlus {display:block}
.blocFormulaireDetail .blocDetail {width:226px;}
.blocFestival input, .blocFestival select {width:236px }
.lienFnacRecup {width:451px;}
.suggestionFnac {width: 457px;}

/* Pied de Page */
#menubas .pubInfoCorporate {width: 23%; padding: 10px 0% 10px 3%}
#menubas #blocLogoBouton {width: 19%;}


	}
@media screen and (min-width: 1200px) {
	#blocTitreSite, .titrePage, #ligneJaune, .tableauPrincipal, #curieuxMenuPrincipal, #menuPrincipalWah, #blocBlanc, #blocGris, #menubas {width: 1200px; }
	
	#menuJourMoins span, #menuJourMoinsSmart span {left:11px;}
	#menuJourPlus span, #menuJourPlusSmart span {right:20px;}
	/*
	.logoTitre img {width:140px; }
	
	.configCouleur img, .configAffichage img { width:50px;}
	#blocConfig {}
	.rechercheEntete {}
	.traduction img {margin: 7px 0 0 7px; width:25px;}
	
	.logoTitre img {width:120px; float:left; padding:10px 0px 0px 10px; margin: 0px 0px 0px 0px}
*/
	#menuPrincipalBouton {width: 6%;}
	#menuPrincipalBoutonBord {width:17%;}
	.tableau2 {width:980px;}
	.infoPrincipale { margin: 0px 1px 0px 22px;}

#boutonAgrandirCarte {right:50px;}
	
.premierBlocResultat .topListe { max-width: 715px; }
/*
.premierBlocResultat .topListe {width:77%; margin-right:23% }

#infoPrincipaleEvent .logoSortie {margin-top:30px;}
 .tableau2 .dateSortie {padding-left: 225px;} */
.tableau2 .dateSortie {padding-left: 26px;}
.tableau2 .lienTitreSortie {padding-left: 225px;}
.tableau2 .infoSortie { padding-left: 215px;}
.vueGoogle, .carteGoogle {height:400px}
.zoneFondLisible {width:643px}
#specialEvent, #blocAnnuaireEvent {width:663px;}
#blocAnnuaireEvent .vueGoogle, #blocAnnuaireEvent .carteGoogle {height:330px}
.infoSecondaire #aucunResultat {margin-top: 5px; }

#blocPartage #blocTitrePartage {width:750px; }

#infoPrincipalePublicite {width: 663px; margin: -20px 0 5px 20px; float:left; }

	/* .tableau2 .titreEvent, .tableau2 .infoEvent { font-size:33px; margin:0px 30px 0px 30px;} 
	.dateEvent {padding-left:80px; text-indent:0 }
	
	.tableau2 .zoom img {width:300px;}
	.tableau2 .zoom img:hover {width:615px; }
	*/
	#menuDroite .menuRecherche .menu > li > a span {margin: -1em 0 0 0;}

	#blocPartenaire {padding: 30px 100px 20px 100px;}
	#blocAnnuaire {width:400px; margin: 25px 1px 0px 25px}
	#listeAujourdhuiEnCours {width:950px;}
	#listeAujourdhuiPremier {width:502px;}
	
#menuSuggestion a {font-size:16px;}

/*Zone de Partage et commentaire */
#blocPartage, #blocPartageLieu {width:956px;}
#blocPartageEvent {padding: 3px 0px 12px 0}
#blocPartageEvent, #blocCommentaireEvent {width:663px; float:left; display:inline-block;}
#blocCommentaireLieu {width:957px}

/* Pied de Page */

#blocAnnoncerAdresseNom input {width:270px;}

#infoPrincipaleEvent, #infoPrincipaleCarte {width:683px; float:left; display:inline-block; margin-right:22px}
	
/* Suggestion */

.tableau2 #suggestionEvent .premierBlocResultat .dateSortie {
	-webkit-transition: height 0.2s linear, padding-top 0.2s linear;
	-moz-transition: height 0.2s linear, padding-top 0.2s linear;
	-o-transition: height 0.2s linear, padding-top 0.2s linear;
	-ms-transition: height 0.2s linear, padding-top 0.2s linear;
	transition: height 0.2s linear, padding-top 0.2s linear;
}

.tableau2 #suggestionEvent .premierBlocResultat .infoSortie {
	-webkit-transition: padding-bottom 0.2s linear;
	-moz-transition: padding-bottom 0.2s linear;
	-o-transition: padding-bottom 0.2s linear;
	-ms-transition: padding-bottom 0.2s linear;
	transition: padding-bottom 0.2s linear;
}

.tableau2 #suggestionEvent .premierBlocResultat .sortieBlocMarge {padding-bottom:0px; padding-top:30px}

#suggestionEvent .premierBlocResultat {display:inline-block; width:250px; margin : 0px; }
	#zoneRetourEvent .retourLigne {clear:none;}
	#infoPrincipaleCarte .retourLigne {clear:both;}

.texteSuggestion, #menuSuggestion {display:none}
#suggestionEvent .premierBlocResultat .topListe {font-size:20px; margin: 2px 0 0 0; padding: 10px 2%; width:96%;;
-webkit-box-shadow: 0px 1px 7px -3px rgba(128,128,128,1);
-moz-box-shadow: 0px 1px 7px -3px rgba(128,128,128,1);
-ms-box-shadow: 0px 1px 7px -3px rgba(128,128,128,1);
-o-box-shadow: 0px 1px 7px -3px rgba(128,128,128,1);
box-shadow: 0px 1px 7px -3px rgba(128,128,128,1);
}
#suggestionEvent .premierBlocResultat .infoSecondaire h3 {padding: 20px 10px 20px 10px;}
#suggestionEvent .premierBlocResultat .zoom2 {width: 101%;}
#suggestionEvent .premierBlocResultat .zoom2 img {width: 102%; margin: -5px 0px 0px -1px }
#suggestionEvent .premierBlocResultat .sortieBlocMarge:hover .zoom2 img {width: 120%; margin: -10px 0px 0px -30px }
#suggestionEvent .premierBlocResultat .premierBlocResultat .topListe  { margin-top: 10px}

#suggestionEvent .premierBlocResultat .topListe {text-shadow: 0px 2px 1px rgba(0,0,0, .5);} 

#suggestionEvent .premierBlocResultat .logoDate {margin-left:5px; margin-right:5px; right:0} 
/*#suggestionEvent .premierBlocResultat .sortieBloc {position:relative} */

#suggestionEvent .premierBlocResultat .logoSortie {width:250px;}

#suggestionEvent .premierBlocResultat .sortieBloc,
#suggestionEvent .premierBlocResultat .illustrationSortie,
#suggestionEvent .premierBlocResultat .illustrationSortie img {width: 100%} 
/*suggestionEvent .premierBlocResultat .logoSortie img {width: 100%} */
#suggestionEvent .premierBlocResultat .illustrationSortie {max-height:120px} 
#suggestionEvent .premierBlocResultat .illustrationSortie img {z-index: -1;}

#suggestionEvent .premierBlocResultat .premierBlocResultat .sortieBloc, #suggestionEvent .secondBlocResultat .sortieBloc {height: auto;} 
/*#suggestionEvent .premierBlocResultat .logoSortie {position:absolute; z-index: 3; width: 40px; margin-left:10px; margin-top:10px}
#suggestionEvent .premierBlocResultat .rubriqueSortie, #suggestionEvent .premierBlocResultat .rubriqueEvent {font-size:x-small; text-align:center;}*/

#suggestionEvent .premierBlocResultat .dateSortie,
#suggestionEvent .premierBlocResultat .lienTitreSortie,
#suggestionEvent .premierBlocResultat .infoSortie  {position:relative; z-index:3}

#suggestionEvent .premierBlocResultat .dateSortie {z-index: 2; /*font-size:small; padding: 5px 10px 5px 10px;  display:inline-block;*/ text-align:right}
#suggestionEvent .premierBlocResultat .dateSortie {padding: 0 10px 0 10px;}
#suggestionEvent .premierBlocResultat .sortieBlocMarge:hover .dateSortie {height:34px; padding-top:10px}

#suggestionEvent .premierBlocResultat .theday {/*font-size:large;*/}

#suggestionEvent .premierBlocResultat .lienTitreSortie {display:block; text-align:center; /*text-transform:uppercase;*/ padding: 10px 10px 5px 10px;}

#suggestionEvent .premierBlocResultat .infoSortie { display:block; padding:0px 5px 15px 5px; text-align:center}
#suggestionEvent .premierBlocResultat .lieuSortie {margin: 0px 15px 0px 10px; text-indent:13px;}


.tableau2 #suggestionEvent .lieuSortie,
.tableau2 #suggestionEvent .detailSortie { margin-bottom: 8px; float: left;}
.tableau2 #suggestionEvent .premierBlocResultat .detailSortie { margin-bottom: 0px; float: none;}
.tableau2 #suggestionEvent .partenaireSortie {margin-top: 0px; margin-bottom: 0px; float: none;}

.tableau2 #suggestionEvent .billetSortie, .tableau2 #suggestionEvent .completSortie {margin: 8px 2px 0 2px; float: none; } 
.tableau2 #suggestionEvent #blocMultiBouton {padding: 0; margin: 5px 0 0 0; } 


.tableau2 #suggestionEvent .premierBlocResultat .lieuSortie,
.tableau2 #suggestionEvent .premierBlocResultat .entreeSortie,
.tableau2 #suggestionEvent .premierBlocResultat .entreeSortie0,
.tableau2 #suggestionEvent .premierBlocResultat .entreeSortieNonCom,
.tableau2 #suggestionEvent .premierBlocResultat .partenaireSortie,
.tableau2 #suggestionEvent .premierBlocResultat .videoSortie {float: none; margin: 5px 10px 0px 10px;}


/* Mettre dans header
#suggestionEvent #encartPremier .infoSortie {padding: 0px 0px 5px 0px}
#suggestionEvent #encartPremier .logoSortie {width: auto;}
*/

#lienVersRubrique .infoSecondaire .sortieBloc {margin-bottom: initial;}
#suggestionEvent #secondBlocPremierResultat {margin-top:20px;}

#suggestionEvent .secondBlocResultat {clear:both;}
#suggestionEvent .secondBlocResultat .topListe {margin-top:20px; padding-top:10px;}



/*#suggestionEvent .secondBlocResultat .infoSortie { display:block; padding:0px 5px 15px 5px; text-align:center}*/


.tableau2 #suggestionEvent .secondBlocResultat .billetSortie,
.tableau2 #suggestionEvent .secondBlocResultat .completSortie {margin:0px 8px 8px 0; padding-bottom:2px; float:right; } 

.tableau2 #suggestionEvent .secondBlocResultat #blocMultiBouton {padding: 0px 5px 20px 0; margin:0}

.tableau2 #suggestionEvent .secondBlocResultat .lieuSortie,
.tableau2 #suggestionEvent .secondBlocResultat .partenaireSortie {float: left;}





/* COULEUR */
#suggestionEvent .topListe {background:#EB9812; color:#fff} 

/* Page d'annonce */
.blocFormulaireDate #blocDate {margin-left:60px}
.blocFormulaireDate #blocHoraire {margin-right:50px}
.blocFormulaireDate, .blocFormulaireDate h3 {text-align:center;}
.blocLienExterne input {width:671px}
/*.blocFormulaireDetail .blocDetail {width: 215px;}*/
.blocFormulaireDetail .blocDetail {width: 31.5%;}
#blocDescription {width:95%;}
.blocFestival input, .blocFestival select {width:335px }
.lienFnacRecup {width:649px;}
.suggestionFnac {width: 655px;}

	
}
	
@media screen and (min-width: 1400px) {
	#menuJourMoins span, #menuJourMoinsSmart span {left:15px;}
	#menuJourPlus span, #menuJourPlusSmart span {right:25px;}
#blocTitreSite, .titrePage, #ligneJaune, .tableauPrincipal, #curieuxMenuPrincipal, #menuPrincipalWah, #blocBlanc, #blocGris, #menubas {width: 1400px; }
.tableau2 {width:1180px; }
.tableau2 #encartPremier { margin-top: 30px}

/*.premierBlocResultat .topListe {width:81%; margin-right:19% }*/
.premierBlocResultat .topListe { max-width: 920px; }

#listeAujourdhuiEnCours {width:1150px;}
#listeAujourdhuiPremier {width:702px;}

.tableau2 .billetSortie {margin-bottom: 4px;}

.tableau2 .zoom img {width:350px; }
/*.tableau2 .zoom img:hover {width:550px; }*/
.zoneFondLisible {width:765px}

/*Zone de Partage et commentaire */
#blocPartage, #blocPartageLieu {width:1156px;}
#blocCommentaireLieu {width:1156px}

#specialEvent, #blocAnnuaireEvent, #blocPartageEvent, #blocCommentaireEvent {width:785px;}
#infoPrincipalePublicite {width:787px;}
#infoPrincipaleEvent, #infoPrincipaleCarte {width:805px;}

#suggestionEvent .premierBlocResultat {width:300px; }
/* #suggestionEvent .premierBlocResultat .logoDate {margin-left:240px;} */
#suggestionEvent .premierBlocResultat .logoSortie {width:300px;}
#suggestionEvent .premierBlocResultat .lienTitreSortie {padding: 10px 20px 0px 20px;}
/* Pied de Page */

/* Page d'annonce */
.blocLienExterne input {width:862px}
/*.blocFormulaireDetail .blocDetail {width: 209px;}*/
.blocFestival input, .blocFestival select {width:432px }
.lienFnacRecup {width:841px;}
.suggestionFnac {width: 847px;}




}