/* CSS Document */

/*!
 * Speed Vault Video Gallery
 *
 * @author HÃƒÂ©lio Chun - https://www.facebook.com/user128
 * @version 1.0.0 - Square Base
 * @description Lazy load video gallery for Youtube, Vimeo and DailyMotion videos
 *
 */

.carteInteractive {
	width:100%;
}



/* =====================================
=== MODIFY YOUR PLAYER'S COLORS HERE === 
===================================== */
:root{
	--50-accent-color: #FAFAFA;
	--100-accent-color: #F5F5F5;
	--200-accent-color: #DDDDDD;
	--300-accent-color: #E0E0E0;
	--400-accent-color: #BDBDBD;
	--500-accent-color: #9E9E9E;
	--600-text-color: #757575;
	--900-text-color: #212121;
}

#svBox{
	/* all player text color */
	color: var(--600-text-color);
}

#svControls {
    /* control bar color */
	background-color: #fff;
}
.sv-infobox {
    /* color for the infoBox, containing the video's title */
	background-color: #fff;
}
.sv-desc {
    /* color of the description background */
	background-color: #fff;
}
.mQuery900 #svList {
	/* background and border-color for the right-side video gallery list */
    /*background-color: var(--100-accent-color);*/
}
.mQuery900 .svThumb {
	/* text-color for each list item on the right-side list (when present) */
	color: var(--600-text-color);
}
.mQuery900 .svCurrentVideo {
    /* background-color for the current video playing highlighted in the right-side list */
	background-color: var(--200-accent-color);
	color:#222;
}
.mQuery900 #svList .svCurrentVideo {
	pointer-events: none;
}


.sv-player {
	box-shadow: 0 1px 4px rgba(0, 0, 0, 0.12), 0 1px 3px rgba(0, 0, 0, 0.24);
	border-radius: 4px;
}


.svThumb {
	/* text-color when it's not side list */
    color: #fff;
}
.sv-overlay {
	/* color for - thumbnail image overlay when hovered */
    background-color: rgba(23, 35, 34, 0.74902);
}
.svUIbtn {
	/* color for control bar buttons */
	color: var(--500-accent-color);
}
.svUIbtn:hover {
	/* color for control bar buttons when hovered */
	color: var(--900-text-color);
}


/* == GALLERY LIST SCROLLBAR COLORS (grey colors scheme) == */
#svBox *::-webkit-scrollbar-track {
    background-color: #e6e6e6;
}
#svBox *::-webkit-scrollbar {
    background: #e6e6e6;
}
#svBox *::-webkit-scrollbar-thumb {
    background: #b9b9b9;
}

/* == THUMBNAIL BORDER FILL, ON HOVER EFFECT - COLORS (blue color) == */
#svBox:not(.mQuery900) .svThumb:before {
    background-color: #00bcd4;
}
#svBox:not(.mQuery900) .svThumb:after {
    background-color: #00bcd4;
}
#svBox:not(.mQuery900) .sv-overlay:after {
    background-color: #00bcd4;
}
#svBox:not(.mQuery900) .sv-overlay:before {
    background-color: #00bcd4;
}

/* == Player Background Logo Image == */
.mQuery900 .sv-videowrapper {
    /*background-image : url("/uploads/common/Logo_curieuxOrange.png");
	background-image : url("/uploads/common/logo/chargement.gif");*/
    background-repeat: no-repeat;
    background-position: center;
	/*background-color: #e2a600;*/

}

/* ==============================================
=== END OF - MODIFY YOUR PLAYER'S COLORS HERE ===
============================================== */

.svFloatCenter, .sv-title #titreEventCarte, .mQuery900 .svpre-title {font-family: 'dreamGras', sans-serif; letter-spacing:1.6px}
.blocDetailVideo, .sv-title .dateTexteVideo {font-family: 'dream', sans-serif; letter-spacing:1.6px}

.blocDetailVideo a {color: #666;}

.svFloatCenter {
text-align: center;
font-size: 20px;
padding: 10px 40px;
height: 45px;
overflow: hidden;
}


#svBox *, #svBox *:after, #svBox *:before {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
.svClearfix {
	content: " ";
	display: block; 
	height: 0; 
	clear: both;
}
.svFloatLeft{
	position: absolute;
	top: 0;
	left: 0;
	padding-left:15px;
}
.svFloatRight{
	position: absolute;
	top: 0;
	right: 0;
	padding-right:15px;
	display:none;
}

#svBox {
	font-family: Roboto,sans-serif;
	position:relative;
	display: inline-block;
	/*width: calc(100% - 420px);*/
	width: 62%;
	margin-top: 30px;

}
.carteInteractive #svBox {
	display: block;
	overflow: hidden;
}



.svTitleFix {
	text-align:center;
}

.sv-mainvideo {
    position: relative;
	padding-bottom: 53.45%;
    padding-top: 25px;
    /*height: 0;*/
}
.sv-mainvideo iframe {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}
.sv-mainvideo video {
	position: absolute;
    top: 0;
    left: 0;
	width: 100% !important;
	height: 100% !important; /* auto */
}
.sv-title {
	
	overflow: hidden;
	position: relative;
	border: 10px solid #fff;
}

#svList li {
    display: inline-block;
    *display:inline;/*for IE6 - IE7*/
   /* width:25%;*/
    vertical-align:middle;
    box-sizing:border-box;
    margin:0;
    padding:0;
}

/* The wrapper for each item */
.svThumb {
    /*margin:12px;
    box-shadow:0 0 6px rgba(0,0,0,0.3);*/
    display:block;
    position: relative;
    overflow:hidden;
}
        
.svThumb .sv-overlay, .svThumb .svpre-title, .svThumb img {
    -webkit-transition: 0.5s;
    -moz-transition: 0.5s;
    -o-transition: 0.5s;
    transition: 0.5s;
}
#svList {
    list-style: none;
    margin: 0 auto;
    padding: 0;
    display: block;
    font-size: 0;
	/*min-height:310px;*/
	width: 100%;
}

/*Bricolage pour contourner le javascript
.taille_3 #svList {
	min-height:186px;
	max-height:186px;
}
.taille_4 #svList {
	min-height:248px;
	max-height:248px;
}
.taille_5 #svList {
	min-height:310px;
	max-height:310px;
}
*/


.svThumb {
    text-align: center;
    position: relative;
    cursor: pointer;
}

.svThumb img {
    width: 100%;
    height: auto;
	-webkit-backface-visibility: hidden;
}

.sv-overlay {
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
	opacity: 0;
}



#svBox:not(.mQuery900) {
    width:100%
}

#svControls {
	z-index: 2;
    position: relative;
	height: 50px;
}
.svUIbtn {
    display: inline-block;
    font-weight: 700;
    font-size: 25px;
    line-height: 40px;
    text-align: center;
    text-transform: uppercase;
	padding: 5px 6px;
    border-radius: 5px;
}

.svThumb, .svUIbtn {cursor:pointer;}




/* =============================
=== jQuery 900 Media Queries ===
============================= */

.sv-player {
	/*
	margin-bottom: 20px;
	margin-top: 20px;
	overflow: hidden;
	*/
}

.mQuery900 .sv-player {
    float: left;
	width: 100%;
	position:relative;
	
}


.mQuery900 .sv-mainvideo {
    /*padding-bottom: 52.05%; */
}
.mQuery900 #svList {
    /*width: 36%;
	width: 400px;*/
	height: 270px;
}

.mQuery900 #svList {
    float: right;
    overflow: auto;
	transition:height .2s ease, box-shadow .2s ease;
	/*text-transform: lowercase;*/
	z-index: 3;
    position: relative;
	counter-reset: svvg-item-counter;
}

.mQuery900 #svList li:not(:last-child){border-bottom:1px solid #ddd;}
.mQuery900 #svList li:hover{background:#eee; color:#555}

.mQuery900 #svList li {
	width: 100%;
    padding-top: 8px;
    padding-bottom: 8px;
    text-align: left;
}
.mQuery900 #svList li:before {
	content: counter(svvg-item-counter);
    counter-increment: svvg-item-counter;
    float: left;
    display: inline-block;
    font-size: 14px;
    padding-top: 12px;
    padding-bottom: 12px;
    text-align: center;
    width: 40px;
}
.mQuery900 .svCurrentVideo {
	font-weight: 600;
}
.mQuery900 #svList .svCurrentVideo:before {
    content: "\25BA";
    color: var(--900-text-color);
}

/* logo background */
.mQuery900 .sv-videowrapper {
    min-height: 234px;
}
.mQuery900 .svThumb-wrapper {
    float: left;
    margin-right: 10px;
    width: 100%;
    max-width: 80px;
}
.mQuery900 .svThumb {
    text-align: initial;
}

.mQuery900 .svpre-title {
    white-space: pre-wrap;
    font-size: 15px;
    /*font-size: medium;*/
    text-align: left;
	margin-right: 10px;
    line-height: 21px;
	height: 45px;
	overflow: hidden;
}


.mQuery900 .svThumb:hover .sv-overlay {
	display: none;
}


/* Unicode Icons */
.iconazble {
    font-style: normal;
    font-family: icons; /* BYO icon font, mapped smartly */
    speak: none; /* Not to be trusted, but hey. */
}
.iconazble:before {
    vertical-align: middle;
}

.iconazble.ic-times {
	background-image:url("../../public/uploads/common/icone/croix4.png");
	background-repeat:no-repeat;
	width:20px;
	height:20px;
	margin-top: 15px;
}

.mQuery900 .iconazble.ic-resize {
	background-image:url("../../public/uploads/common/icone/croix2.png");
	background-repeat:no-repeat;
	width:20px;
	height:20px;
	margin-top: 15px;
}
.iconazble.ic-resize {
	background-image:url("../../public/uploads/common/icone/croix3.png");
	background-repeat:no-repeat;
	width:20px;
	height:20px;
	margin-top: 15px;
}


.iconazble {
  transition: all 0.5s;
  transition-timing: ease-in-out;
}

.iconazble:hover {
    transform: rotate(180deg);
}

.iconazble.ic-question-equal:before {
	content: "?";
}
.iconazble.ic-question-vai:before {
    content: "ÃªËœÂ";
}
.iconazble.ic-question-ethiopic:before {
    content: "Ã¡ÂÂ§";
}
.svfire-desc{display:none;}


.svCenter2 {display:inline-block;}



.dateTexteVideo {
    display: inline-block;
    padding: 3px 0 0 12px;
}

.blocDetailVideo {
	margin-top: 6px;
}

.blocImagePlayer {
    width: 100px;
	position: absolute;
	overflow:hidden;
}

.blocImagePlayer img {
    width: 200%;
	margin-left:-50%;
}

.blocTextePlayer{
	overflow: hidden;
	margin-left:105px;
}

#aucuneImage .blocTextePlayer{
	margin-left:0px;
}




#blocMultiVideo, #blocMultiVideo li { position:initial}
#blocMultiVideo {width: 100px}


/*
.blocPlayer, .blocPlaylist, #svControls, .sv-infobox {display:none; height:0; overflow:hidden}

@media screen and (min-width: 478px) {
	.blocImagePlayer {width: 150px;}
	.blocTextePlayer{margin-left:155px;}
}

@media screen and (min-width: 768px) {
	.carteInteractive {max-width:345px; float:right; margin-bottom: 15px;}
	.svFloatRight{display:block;}
	.blocImagePlayer img {width:120%; margin-left:-10%;}
	.blocPlayer, .blocPlaylist, #svControls, .sv-infobox {display:block; height:initial; overflow:initial}
}

@media screen and (min-width: 1020px) {
	.carteInteractive {max-width:300px;}
	#svList {min-height:372px;}
}
@media screen and (min-width: 1200px) {
	.carteInteractive {max-width:430px;}
}
*/




/*
.mQuery900 #svList li:hover{background:#151515}
.mQuery900 #svList li:not(:last-child){border-bottom:1px solid #4c4c4c}

.sv-title {border-color: #222;}
.sv-infobox, #svControls{background-color:#222}

.iconazble.ic-times {
	background-image:url(/agenda/images/theme_commun/icone/croixXBlanc.png);
}
.mQuery900 .iconazble.ic-resize {
	background-image:url(/agenda/images/theme_commun/icone/croix2Blanc.png);
}
.iconazble.ic-resize {
	background-image:url(/agenda/images/theme_commun/icone/croix3Blanc.png);
}

.mQuery900 .svThumb {
    color: #fff;
}

.mQuery900 .svCurrentVideo {
    background-color: #444;
}
*/



