{% extends 'admin/base.html.twig' %}

{% block title "Modification de la réduction" %}

{% form_theme form _self %}

{% block body %}

    <div class="container">
        <h1 class="my-5 text-center"><u>Modification de la billetterie :</u><br>"{{ticketing.name}}"</h1>

        {{ form_start(form) }}

            <div class="row">
                <div class="col">
                    <div class="card bg-light">
                        <div class="card-header">
                            <h4 class="card-title">Modification de la billetterie</h4>
                        </div>
                        <div class="card-body">
                            {{ form_widget(form) }}
                            <button type="submit" class="btn btn-primary">
                                <i class="fas fa-check"></i>
                                Enregister les modifications
                            </button>
                        </div>
                    </div>
                </div>
                <div class="col">
                   
                </div>
            </div>

        {{ form_end(form) }}
    </div>

{% endblock %}

{% block javascripts %}

<script>
    $(document).ready(function() {
        $('[data-action="delete"]').on('click', function() {
            //const target = $(this).data('target'); // Jquery
            const target = this.dataset.target; // JS classique

            //console.log(target);
            $(target).remove();
        })
    });
</script>

{% endblock %}