{% extends 'admin/base.html.twig' %}

{% block title %}Administration des commentaires{% endblock %}

{% block body %}
    <div class="container-fluid">
        <h1 class="my-5 text-center">Administration des commentaires</h1>

        <table class="table table-hover bg-white">
            <thead>
                <tr class="text-center">
                    <th scope="col">Id</th>
                    <th scope="col">Date</th>
                    <th scope="col">Commentaire</th>
                    <th scope="col">Note</th>
                    <th scope="col">Titre</th>
                    <th scope="col">Auteur</th>
                    <th></th>
                </tr>
            </thead>
            <tbody>

                {% for comment in paginator.data %}
                    <tr class="text-center">
                        <td class="align-middle">{{comment.id}}</td>
                        <td class="align-middle">{{comment.createdAt|date('l d/m/Y G:i')}}</td>
                        <td class="align-middle">{{comment.content}}</td>
                        <td class="align-middle">{{comment.rating}}</td>
                        <td class="align-middle">{{comment.event.title}}</td>
                        <td class="align-middle">{{comment.author.fullname}}</td>
                        <td class="text-right">
                            <a href="{{ path('admin_comment_edit', {'id': comment.id}) }}" class="btn btn-primary"><i class="fas fa-edit"></i></a>
                            <a href="{{ path('admin_comment_delete', {'id': comment.id}) }}" class="btn btn-danger"><i class="fas fa-trash"></i></a>
                        </td>
                    </tr>

                {% endfor %}
            </tbody>
        </table>
        
        {{ paginator.display() }}
        {#% include 'admin/partials/paginator.html.twig' with {'route':'admin_comment_index'}%#}
    </div>
{% endblock %}
