{% block _place_multiTitles_widget %}
    {{ form_widget(form) }}
    <input type="hidden" id="widgets-counter-title" value="0">
    <div class="form-group m-0 text-center button-add">
        <button type="button" id="add-title" class="btn btn-secondary btn-block">Ajouter un autre nom au lieu</button>
    </div>
{% endblock %}

{% block _place_multiTitles_entry_row %}
    {{ form_widget(form) }}
{% endblock %}

{% block _place_multiTitles_entry_widget %}
    <div class="form-group" id="block_title_{{id}}">
        <div class="row mb-0">
            <div class="col-10 px-0">
                <div class="row m-0">
                    <div class="col px-0">
                        {{ form_widget(form, { 'attr': {'placeholder': "Nom alternatif"} }) }}
                    </div>
                </div>
            </div>
            <div class="col-2 pr-0">
                <button type="button" data-action="delete" data-target="#block_title_{{id}}" class="btn btn-danger btn-block">X</button>
            </div>
        </div>
    </div>
{% endblock %}


{% block _place_links_widget %}
    {{ form_widget(form) }}
    <input type="hidden" id="widgets-counter-link" value="0">
    <div class="form-group m-0 text-center button-add">
        <button type="button" id="add-link" class="btn btn-secondary btn-block">Ajouter un lien vers un autre site</button>
    </div>
{% endblock %}

{% block _place_links_entry_row %}
    {{ form_widget(form) }}
{% endblock %}

{% block _place_links_entry_widget %}
    <div class="form-group" id="block_link_{{id}}">
        <div class="row mb-0">
            <div class="col-10 px-0">
                <div class="row m-0">
                    <div class="col px-0">
                        {{ form_widget(form, { 'attr': {'placeholder': "URL vers un site du lieu"} }) }}
                    </div>
                </div>
            </div>
            <div class="col-2 pr-0">
                <button type="button" data-action="delete" data-target="#block_link_{{id}}" class="btn btn-danger btn-block">X</button>
            </div>
        </div>
    </div>
{% endblock %}


{% block _place_rooms_widget %}
    {{ form_widget(form) }}
    <input type="hidden" id="widgets-counter-room" value="0">
    <div class="form-group m-0 text-center button-add">
        <button type="button" id="add-room" class="btn btn-secondary btn-block">Ajouter un salle</button>
    </div>
{% endblock %}

{% block _place_rooms_entry_row %}
    {{ form_widget(form) }}
{% endblock %}

{% block _place_rooms_entry_widget %}
    <div class="form-group" id="block_room_{{id}}">
        <div class="row mb-0">
            <div class="col-10 px-0">
                <div class="row m-0">
                    <div class="col px-0">
                        {{ form_widget(form.name) }}
                    </div>
                </div>
            </div>
            <div class="col-2 pr-0">
                <button type="button" data-action="delete" data-target="#block_room_{{id}}" class="btn btn-danger btn-block">X</button>
            </div>
        </div>
    </div>
{% endblock %}

{#% block _place_placekinds_widget %}
    <p>Ici, nous voulons ajouter un ou plusieurs types</p>
    
    {{ form_widget(form) }}
        
    <input type="hidden" id="widgets-counter" value="0">
    
    <div class="form-group">
        <button type="button" id="add-placekind" class="btn btn-primary">Ajouter un type</button>
    </div>
{% endblock %}

{% block _place_placekinds_entry_row %}
    {{ form_widget(form) }}
{% endblock %}

{% block _place_placekinds_entry_widget %}
    <div class="form-group" id="block_{{id}}">
        <div class="row">
            <div class="col-10">
                <div class="row">
                    <div class="col">
                        {{ form_widget(form.name) }}
                    </div>
                </div>
            </div>
            <div class="col-2">
                <button type="button" data-action="delete" data-target="#block_{{id}}" class="btn btn-danger">X</button>
            </div>
        </div>
    </div>
{% endblock %#}
