<div class="row">
    <div class="col-8 mt-3">
        <h4>{{ form_label(formPlace.name) }}</h4>
        <div class="row m-0 p-0">
            <div class="col-2 m-0 p-0">
                {{ form_widget(formPlace.pronoun) }}
            </div>
            <div class="col">
                {{ form_widget(formPlace.name) }}
            </div>
        </div>
        <div class="row m-0 p-0">
            <div class="col my-3 pl-0">
                {{ form_widget(formPlace.multiTitles) }}
            </div>
        </div>
        <div class="row m-0 p-0">
            <div class="col my-1 pl-0">
                <h4 class="py-1">Les différentes salles</h4>
                {{ form_widget(formPlace.rooms) }}
            </div>
        </div>
    </div>
    <div class="col-4 blocImageGenerateur">
        <div class="text-center">
            <h4>{{ form_label(formPlace.coverImageFile) }}</h4>
        </div>
        <div class="blocAnnonceImage">
            {{ form_widget(formPlace.coverImageFile) }}
            <div style="margin-top:30px">
                {% if formPlace.vars.data.coverImage %}
                    {% if formPlace.vars.data.coverImage starts with 'http' %}
                        <img id="outputPic" width="100%" src="{{ formPlace.vars.data.coverImage }}"/>
                    {% else %}
                        <img id="outputPic" width="100%" src="/img/p/{{ formPlace.vars.data.coverImage }}"/>
                    {% endif %}
                {% else %}
                    <img id="outputPic" width="100%" src="/uploads/common/curieux/formulaire-default.png"/>
                {% endif %}
            </div>
        </div>
    </div>
</div>

<div class="row pt-1">
    <div class="col-2">
        <h4>{{ form_label(formPlace.number) }}</h4>
        {{ form_widget(formPlace.number) }}
    </div>

    <div class="col-5">
        <h4>{{ form_label(formPlace.address) }}</h4>
        {{ form_widget(formPlace.address) }}
    </div>

    <div class="col">
        <h4>{{ form_label(formPlace.city) }}</h4>
        {{ form_widget(formPlace.city) }}
    </div>

    {% if formPlace.district is defined %}
        {% if formPlace.district.vars.choices|length == 0 %}
            <div class="d-none">
                <h4>{{ form_label(formPlace.district) }}</h4>
                {{ form_widget(formPlace.district) }}
            </div>
        {% else %}
            <div class="col">
                <h4>{{ form_label(formPlace.district) }}</h4>
                {{ form_widget(formPlace.district) }}
            </div>
        {% endif %}
    {% endif %}

</div>

<div class="row pt-3">
    <div class="col">
        <h4>{{ form_label(formPlace.description ) }}</h4>
        {{ form_widget(formPlace.description) }}
    </div>
</div>

<div class="row pt-3">
    <div class="col-sm">
        <h4>{{ form_label(formPlace.placekindprimary) }}</h4>
        {{ form_widget(formPlace.placekindprimary) }}
    </div>
    <div class="col-sm">
        <h4>{{ form_label(formPlace.placekindsecondary) }}</h4>
        {{ form_widget(formPlace.placekindsecondary) }}
    </div>
    <div class="col-sm">
        <h4>{{ form_label(formPlace.placekindtertiary) }}</h4>
        {{ form_widget(formPlace.placekindtertiary) }}
    </div>
</div>
<div class="row pt-3">
    <div class="col-sm">
        <h4>{{ form_label(formPlace.placetags) }}</h4>
        {{ form_widget(formPlace.placetags) }}
    </div>
</div>
<div class="row pt-3">
    <div class="col">
        <h4>{{ form_label(formPlace.email ) }}</h4>
        {{ form_widget(formPlace.email) }}
    </div>
    <div class="col">
        <h4>{{ form_label(formPlace.phone ) }}</h4>
        {{ form_widget(formPlace.phone) }}
    </div>
</div>

<div class="row pt-3">
    <div class="col">
        <h4 class="pb-1">Site internet et autres réseaux sociaux</h4>
        {{ form_widget(formPlace.links) }}
    </div>
</div>

<div class="row pt-3">
    {#% for day,time in formOpening %}
        <div class="col">
            {{ day }} :
            <input type="text" class="form-control" value="{{time.open}}">
            <input type="text" class="form-control" value="{{time.close}}">
        </div>
    {% endfor %#}
    <div class="col-12 mb-2">
        <h4>Horaires d'ouverture</h4>

        <div class="col-12 py-2">
            <div class="custom-control custom-checkbox pb-1">
                    <input name="opening[onlyIfEvent]" type="checkbox" class="custom-control-input" id="onlyIfEventCheck" {% if formOpening.onlyIfEvent %}checked{% endif %}>
                    <label class="custom-control-label" for="onlyIfEventCheck">Ce lieu est ouvert uniquement pendant les évènements (Ne pas prendre en compte les horaires)</label>
            </div>
        </div>

        {% set allTimesEmpty = true %}
        {% for times in formOpening.days %}
            {% if times.open or times.close %}
                {% set allTimesEmpty = false %}
            {% endif %}
        {% endfor %}

        {% set today = "now"|date("m/d/Y") %}
        {% set difference = date(formOpening.update).diff(date(today)) %}
        {% set leftYears = difference.days / 365 %}

        {% if leftYears > 0 and allTimesEmpty == false %}
            <div class="alert alert-warning">
                Ces horaires sont publiés depuis plus {% if leftYears == 1 %}d'un an{% else %}de {{ leftYears|round }} ans{% endif %}, merci de les mettre à jour
            </div>
            <div class="custom-control custom-checkbox mb-4">
                <input name="opening[update]" type="checkbox" class="custom-control-input" id="updateCheck">
                <label class="custom-control-label" for="updateCheck">Je confirme que les horaires sont toujours d'actualité</label>
            </div>
        {% endif %}
    </div>

    <div class="col">
        <h5 class="text-center">Lundi</h5>
        <input name="opening[days][monday][open]" type="text" class="form-control text-center mb-1" placeholder="HH:MM" value="{{formOpening.days.monday.open}}">
        <input name="opening[days][monday][close]" type="text" class="form-control text-center" placeholder="HH:MM" value="{{formOpening.days.monday.close}}">
    </div>
    <div class="col">
        <h5 class="text-center">Mardi</h5>
        <input name="opening[days][tuesday][open]" type="text" class="form-control text-center mb-1" placeholder="HH:MM" value="{{formOpening.days.tuesday.open}}">
        <input name="opening[days][tuesday][close]" type="text" class="form-control text-center" placeholder="HH:MM" value="{{formOpening.days.tuesday.close}}">
    </div>
    <div class="col">
        <h5 class="text-center">Mercredi</h5>
        <input name="opening[days][wednesday][open]" type="text" class="form-control text-center mb-1" placeholder="HH:MM" value="{{formOpening.days.wednesday.open}}">
        <input name="opening[days][wednesday][close]" type="text" class="form-control text-center" placeholder="HH:MM" value="{{formOpening.days.wednesday.close}}">
    </div>
    <div class="col">
        <h5 class="text-center">Jeudi</h5>
        <input name="opening[days][thursday][open]" type="text" class="form-control text-center mb-1" placeholder="HH:MM" value="{{formOpening.days.thursday.open}}">
        <input name="opening[days][thursday][close]" type="text" class="form-control text-center" placeholder="HH:MM" value="{{formOpening.days.thursday.close}}">
    </div>
    <div class="col">
        <h5 class="text-center">Vendredi</h5>
        <input name="opening[days][friday][open]" type="text" class="form-control text-center mb-1" placeholder="HH:MM" value="{{formOpening.days.friday.open}}">
        <input name="opening[days][friday][close]" type="text" class="form-control text-center" placeholder="HH:MM" value="{{formOpening.days.friday.close}}">
    </div>
    <div class="col">
        <h5 class="text-center">Samedi</h5>
        <input name="opening[days][saturday][open]" type="text" class="form-control text-center mb-1" placeholder="HH:MM" value="{{formOpening.days.saturday.open}}">
        <input name="opening[days][saturday][close]" type="text" class="form-control text-center" placeholder="HH:MM" value="{{formOpening.days.saturday.close}}">
    </div>
    <div class="col">
        <h5 class="text-center">Dimanche</h5>
        <input name="opening[days][sunday][open]"  type="text" class="form-control text-center mb-1" placeholder="HH:MM" value="{{formOpening.days.sunday.open}}">
        <input name="opening[days][sunday][close]" type="text" class="form-control text-center" placeholder="HH:MM" value="{{formOpening.days.sunday.close}}">
    </div>
</div>


<div class="row pt-3">
    <div class="col-12 mb-2">
        <h4>Comment s'y rendre</h4>
    </div>

    <div class="col">
        <h5 class="text-center">Le plus simple</h5>
        <select id="place_transport" name="transport[primary][service]" class="form-control mb-1">
            <option value="">Type de transport en commun</option>
            <option value="Tram" {% if formTransport.primary.service == "Tram" %}selected{% endif %}>Tram</option>
            <option value="Métro" {% if formTransport.primary.service == "Métro" %}selected{% endif %}>Métro</option>
            <option value="Bus" {% if formTransport.primary.service == "Bus" %}selected{% endif %}>Bus</option>
            <option value="Train" {% if formTransport.primary.service == "Train" %}selected{% endif %}>Train</option>
        </select>
        <input type="text" name="transport[primary][line]" class="form-control mb-1" placeholder="Les lignes" value="{{formTransport.primary.line}}">
        <input type="text" name="transport[primary][stop]" class="form-control" placeholder="Les arrêts" value="{{formTransport.primary.stop}}">
    </div>

    <div class="col">
        <h5 class="text-center">Sinon, il y a aussi</h5>
        <select id="place_pronoun" name="transport[secondary][service]" class="form-control mb-1">
            <option value="">Type de transport en commun</option>
            <option value="Tram" {% if formTransport.secondary.service == "Tram" %}selected{% endif %}>Tram</option>
            <option value="Métro" {% if formTransport.secondary.service == "Métro" %}selected{% endif %}>Métro</option>
            <option value="Bus" {% if formTransport.secondary.service == "Bus" %}selected{% endif %}>Bus</option>
            <option value="Train" {% if formTransport.secondary.service == "Train" %}selected{% endif %}>Train</option>
        </select>
        <input type="text" name="transport[secondary][line]"  class="form-control mb-1" placeholder="Les lignes" value="{{formTransport.secondary.line}}">
        <input type="text" name="transport[secondary][stop]"  class="form-control" placeholder="Les arrêts" value="{{formTransport.secondary.stop}}">
    </div>

    <div class="col">
        <h5 class="text-center">Mais encore</h5>
        <select id="place_pronoun" name="transport[tertiary][service]" class="form-control mb-1">
            <option value="">Type de transport en commun</option>
            <option value="Tram" {% if formTransport.tertiary.service == "Tram" %}selected{% endif %}>Tram</option>
            <option value="Métro" {% if formTransport.tertiary.service == "Métro" %}selected{% endif %}>Métro</option>
            <option value="Bus" {% if formTransport.tertiary.service == "Bus" %}selected{% endif %}>Bus</option>
            <option value="Train" {% if formTransport.tertiary.service == "Train" %}selected{% endif %}>Train</option>
        </select>
        <input type="text" name="transport[tertiary][line]"  class="form-control mb-1" placeholder="Les lignes" value="{{formTransport.tertiary.line}}">
        <input type="text" name="transport[tertiary][stop]"  class="form-control" placeholder="Les arrêts" value="{{formTransport.tertiary.stop}}">
    </div>
</div>

<div class="row pt-3">
    <div class="col">
        <h4>{{ form_label(formPlace.parking ) }}</h4>
        {{ form_widget(formPlace.parking) }}
    </div>
</div>

{% if 'ROLE_ADMIN' in app.user.roles %}
    <div class="row pt-3">
        <div class="col">
            <h4>{{ form_label(formPlace.opinion ) }}</h4>
            {{ form_widget(formPlace.opinion) }}
        </div>
    </div>
{% else %}
    {{ form_widget(formPlace.opinion, {'attr': {'style':'display:none'}}) }}
{% endif %}