


<script type="text/javascript">

  window.onload=function(){
          
    /*Custom marker */
    PlaceMarker = L.CircleMarker.extend({
      options: {
        id: '',
        radius: 5,
        weight: 1,
        opacity: 1,
        fillOpacity: 0.8
      }
    });

    var LeafIcon = L.Icon.extend({
        options: {
            //shadowUrl: '/leaf-shadow.png',
            iconSize:     [12, 20], // size of the icon
            //shadowSize:   [50, 64], // size of the shadow
            //iconAnchor:   [0, 0], // point of the icon which will correspond to marker's location
            //shadowAnchor: [4, 62],  // the same for the shadow
            popupAnchor:  [0, -10] // point from which the popup should open relative to the iconAnchor
        }
    });

    /*Include the marker data and create the layers */
    var data = [
      {% for place in widget.map.markers %}
        {% set countOfEvents = place.countOfEvents %}
        {% set place = place[0] %}
        ["{% if place.placekindPrimary %}{{ place.placekindPrimary.slug }}{% else %}{% endif %}", {{ place.latitude }}, {{ place.longitude }}, "{{ place.title|e('js') }}", "{{ place.number|e('js') }} {{ place.address|e('js') }}, {{ place.city.name|e('js') }}", "{{ countOfEvents }} évènements à venir"],
      {% endfor %}
    ];

    var greenIcon = new LeafIcon({iconUrl: '/uploads/common/marker/color/green.png'}),
        blueIcon = new LeafIcon({iconUrl: '/uploads/common/marker/color/blue.png'}),
        redIcon = new LeafIcon({iconUrl: '/uploads/common/marker/color/red.png'}),
        orangeIcon = new LeafIcon({iconUrl: '/uploads/common/marker/color/orange.png'}),
        greyIcon = new LeafIcon({iconUrl: '/uploads/common/marker/color/grey.png'}),
        blackIcon = new LeafIcon({iconUrl: '/uploads/common/marker/color/black.png'}),
        pinkIcon = new LeafIcon({iconUrl: '/uploads/common/marker/color/pink.png'}),
        brownIcon = new LeafIcon({iconUrl: '/uploads/common/marker/color/brown.png'}),
        yellowIcon = new LeafIcon({iconUrl: '/uploads/common/marker/color/yellow.png'}),
        whiteIcon = new LeafIcon({iconUrl: '/uploads/common/marker/color/white.png'});

    var concert = new L.LayerGroup(),
        soiree = new L.LayerGroup(),
        theatre = new L.LayerGroup(),
        exposition = new L.LayerGroup(),
        cinema = new L.LayerGroup(),
        danse = new L.LayerGroup(),
        musique_classique = new L.LayerGroup(),
        action_citoyenne = new L.LayerGroup(),
        sport = new L.LayerGroup(),
        autre = new L.LayerGroup();

    for (var i = 0; i < data.length; i++) {
      if (data[i][0] == "musee") {var iconColor = blueIcon }
      else if (data[i][0] == "lieu-alternatif") {var iconColor = greenIcon }
      else if (data[i][0] == "centre-socio-culturel") {var iconColor = blackIcon }
      else if (data[i][0] == "salle-polyvalente") {var iconColor = yellowIcon }
      else if (data[i][0] == "bar") {var iconColor = redIcon }
      else if (data[i][0] == "bibliotheque") {var iconColor = orangeIcon }
      else if (data[i][0] == "restaurant") {var iconColor = pinkIcon }
      else if (data[i][0] == "cinema") {var iconColor = brownIcon }
      else if (data[i][0] == "salle-de-spectacle") {var iconColor = greyIcon }
      else {var iconColor = whiteIcon }

      marker = L.marker([data[i][1], data[i][2]], {
        //color: "#000000",
        rubric: data[i][0],
        place: data[i][3],
        address: data[i][4],
        count: data[i][5],
        tags: data[i][6],
        icon: iconColor
      }).bindTooltip(data[i][3],{direction: 'top', offset:[0,-20]}).addTo(concert).bindPopup(data[i][3]).on('click', markerOnClick);
    
    }

    /* Some handy variables*/
     /*var booklayers = [concert, soiree, theatre, exposition, cinema, danse, sport, autre]
   */
    var booklayers = [concert, soiree, theatre, exposition, cinema, musique_classique, action_citoyenne, danse, sport, autre];
    


      /*Initialise map; change zoom control position*/
    var map = L.map('map', {
      layers: booklayers
    }).setView([{{ widget.map.center }}], {{ widget.map.zoom }});
    //map.zoomControl.setPosition('bottomright');

    /*Add tileLayers*/
    mapLink = '<a href="https://openstreetmap.org">OpenStreetMap<\/a>';
    L.tileLayer('https://{s}.tile.openstreetmap.org/{z}/{x}/{y}.png', {
      attribution: '&copy; ' + mapLink + ' Contributors',
      maxZoom: 19,
    }).addTo(map);

    /* Open modal & center map on marker click 	*/
    function markerOnClick(e) {
      var rubric = this.options.rubric;
      var place = this.options.place;
      var address = this.options.address;
      var count = this.options.count;
      $(".event-content").html('<div class="event-map"><a class="rubric-map">' + rubric + '</a><h4>' + place + '</h4><div class="block-detail"><div class="button-detail" ><i class="fa fa-map-marker fa-lg"></i> ' + address + '</div><div class="text-center mt-3" ><div class="btn btn-secondary btn-sm" >' + count + '</div></div></div></div>');
      $('#emptymodal').modal('show');
      map.setView(e.target.getLatLng());
      e.preventDefault();
    }

    /*Close modal on map click */
    map.on('click', function(e) {
        $(".event-content").html('');
      $('.modal').modal('hide');
    });


  /*
    L.control.tagFilterButton({
        data: ['omnis', 'facilis', 'jeune public'],
        filterOnEveryClick: true,
        icon: '<i class="fa fa-suitcase"></i>',
    }).addTo(map);

    L.control.tagFilterButton({
        data: ['concert', 'soirée', 'théâtre', 'exposition', 'cinéma', 'musique classique', 'action citoyenne', 'danse', 'sport', 'autre'],
        filterOnEveryClick: true,
        icon: '<i class="fa fa-pagelines"></i>',
    }).addTo(map);

    jQuery('.easy-button-button').click(function() {
      target = jQuery('.easy-button-button').not(this);
      target.parent().find('.tag-filter-tags-container').css({
          'display' : 'none',
      });
    });
  */

  }

</script>