<i class="fa fa-bars fa-2x toggle-btn" data-toggle="collapse" data-target="#menu-content"></i>

<div class="menu-list">
    <ul id="menu-content" class="menu-content collapse out">

        {% if menu_placekinds|length > 0 %}
            <li data-toggle="collapse" data-target="#kind" class="menu-collapse {% if 'MENU_PLACEKIND' not in menu %}collapsed{% endif %}">
                <a><i class="fa fa-flag fa-lg"></i> Les types de lieu <span class="arrow"></span></a>
            </li>
            <ul class="sub-menu collapse {% if 'MENU_PLACEKIND' in menu %}show{% endif %}" id="kind">
                {% for placekind in menu_placekinds %}
                    <li {% if app.request.attributes.get('slug') == placekind.slug %} class="active" {% endif %}>
                    <a href="{{ path('search_by_placekind', {'slug': placekind.slug}) }}">
                        {{ placekind.name }}
                        <span class="badge">{{ placekind.compteur }}</span>
                    </a></li>
                {% endfor %}
            </ul>
        {% endif %}

        {% if menu_placetags|length > 0 %}
            <li data-toggle="collapse" data-target="#tag" class="menu-collapse {% if 'MENU_PLACETAG' not in menu %}collapsed{% endif %}">
                <a><i class="fa fa-tag fa-lg"></i> Les services <span class="arrow"></span></a>
            </li>
            <ul class="sub-menu collapse {% if 'MENU_PLACETAG' in menu %}show{% endif %}" id="tag">
                {% for placetag in menu_placetags %}
                    <li {% if app.request.attributes.get('slug') == placetag.slug %} class="active" {% endif %}>
                    <a href="{{ path('search_by_placetag', {'slug': placetag.slug}) }}">
                        {{ placetag.name }}
                        <span class="badge">{{ placetag.compteur }}</span>
                    </a></li>
                {% endfor %}
            </ul>
        {% endif %}

        {% if menu_cities|length > 0 %}
            <li data-toggle="collapse" data-target="#cities" class="menu-collapse {% if 'MENU_CITY' not in menu %}collapsed{% endif %}">
                <a><i class="fa fa-crosshairs fa-lg"></i> Les villes<span class="arrow"></span></a>
            </li>
            <ul class="sub-menu collapse {% if 'MENU_CITY' in menu %}show{% endif %}" id="cities">
                {% for city in menu_cities %}
                    <li {% if app.request.attributes.get('slug') == city.slug %} class="active" {% endif %}>
                        <a href="{{ path('search_by_city', {'slug': city.slug}) }}">
                        {{ city.name }}
                        <span class="badge">{{ city.compteur }}</span>
                    </a></li>
                {% endfor %}
            </ul>
        {% endif %}

        <li data-toggle="collapse" data-target="#search" class="menu-collapse {% if 'MENU_SEARCH' not in menu %}collapsed{% endif %}">
            <a><i class="fa fa-search fa-lg"></i> Recherche avancée <span class="arrow"></span></a>
        </li>

        <ul class="sub-menu collapse {% if 'MENU_SEARCH' in menu %}show{% endif %}" id="search">
            <li>
                <div class="menu-search">
                    {{ form_start(form, {'action': path('place_index'), 'method': 'GET'}) }}
                        <div class="form-group">
                            {{ form_widget(form.nom) }}
                        </div>
                        <div class="form-group">
                            {{ form_widget(form.type) }}
                        </div>
                        <div class="form-group">
                            {{ form_widget(form.ville) }}
                        </div>
                        <div class="text-center">
                            <button class="btn btn-primary">Rechercher</button>
                        </div>
                    {{ form_end(form) }}
                </div>
               
            </li>
        </ul>

        <li class="active">
            <a href="{{ path('place_create') }}">
            <i class="fa fa-download fa-lg"></i> Ajouter un lieu
            </a>
        </li>

    {#
        <li data-toggle="collapse" data-target="#new" class="collapsed">
            <a href="#"><i class="fa fa-car fa-lg"></i> New <span class="arrow"></span></a>
        </li>
        <ul class="sub-menu collapse" id="new">
            <li>New New 1</li>
            <li>New New 2</li>
            <li>New New 3</li>
        </ul>
        <li>
            <a href="#">
            <i class="fa fa-user fa-lg"></i> Profile
            </a>
        </li>
        <li>
            <a href="#">
            <i class="fa fa-users fa-lg"></i> Users
            </a>
        </li>
    #}
    </ul>
</div>