{% set url = path('place_show',{'slug': place.slug }) %}


    <div class="sortie-bloc item mb-4">

        <div class="block-visual">

            <div class="block-badge">
                {% if place.placekindPrimary %}
                    <a href="{{ path('search_by_placekind',{'slug': place.placekindPrimary.slug }) }}">
                        {{ place.placekindPrimary.name | badge({'color':'danger'}) }}
                    </a> 
                {% endif %}
                {% if place.placekindSecondary %}
                    <a href="{{ path('search_by_placekind',{'slug': place.placekindSecondary.slug }) }}">
                        {{ place.placekindSecondary.name | badge({'color':'danger'}) }}
                    </a> 
                {% endif %}
                {% if place.placekindTertiary %}
                    <a href="{{ path('search_by_placekind',{'slug': place.placekindTertiary.slug }) }}">
                        {{ place.placekindTertiary.name | badge({'color':'danger'}) }}
                    </a> 
                {% endif %}
                {% for placetag in place.placetags %}
                    {{ placetag.name | badge({'color':'primary'}) }}
                {% endfor %}
            </div>

            <div class="block-image">
                <a href="{{ url }}">

                    <div class="img-blur">
                        {% if place.coverImage %}
                            {% if place.coverImage starts with 'http' %}
                                <img src="{{ place.coverImage }}" />
                            {% else %}
                                <img src="{{ asset(place.coverImagePath) }}" />
                                {# <img src="{{ asset(place.coverImagePath)|imagine_filter('resize_thumbnail') }}" /> #}
                            {% endif %}
                        {% else %}
                            <img src="/uploads/common/visuel/autre.jpg" />
                        {% endif %}
                    </div>

                    <div class="img-contain">
                        {% if place.coverImage %}
                            {% if place.coverImage starts with 'http' %}
                                <img src="{{ place.coverImage }}" />
                            {% else %}
                                <img src="{{ asset(place.coverImagePath) }}" />
                                {# <img src="{{ asset(place.coverImage)|imagine_filter('resize_thumbnail') }}" /> #}
                            {% endif %}
                        {% else %}
                            <img src="/uploads/common/visuel/autre.jpg" />
                        {% endif %}
                    </div>

                </a>
                    
                <a href="{{ path('place_like',{'id': place.id}) }}" class="block-favorite js-like">
                    <span class="js-label">Ajouter aux favoris</span>
                    {% if app.user and place.isLikedByUser(app.user) %}
                        <i class="fa fa-star"></i>
                    {% else %} 
                        <i class="fa fa-thumbs-up"></i>
                    {% endif %} 
                    <span class="js-likes">{{ place.likes|length }}</span>
                </a>
            </div>

        </div>
        
        <div class="details">

            {% set week = ["dimanche","lundi","mardi","mercredi","jeudi","vendredi","samedi"] %}
            {% set month = ["décembre","janvier","février","mars","avril","mai","juin","juillet","août","septembre","octobre","novembre","décembre"] %}

            <div class="block-date">
                {% if minDate == "now"|date("Y-m-d") and maxDate == "now"|date("Y-m-d") %}
                    Aujourd'hui le
                    {{ week[minDate|date("w")] }}
                    {{ minDate|date('j') }}
                    {{ month[minDate|date('n')] }}
                    {{ minDate|date('Y') }}
                {% elseif minDate == "now"|date("Y-m-d") %}
                    À partir d'aujourd'hui le
                    {{ week[minDate|date("w")] }}
                    {{ minDate|date('j') }}
                    {{ month[minDate|date('n')] }}
                    {{ minDate|date('Y') }}
                {% elseif maxDate == "now"|date("Y-m-d") %}
                    Aujourd'hui, dernier jour de la programmation
                {% elseif minDate >= "now"|date("Y-m-d") %}
                    Prochaine date le 
                    {{ week[minDate|date("w")] }}
                    {{ minDate|date('j') }}
                    {{ month[minDate|date('n')] }}
                    {{ minDate|date('Y') }}
                {% elseif maxDate >= "now"|date("Y-m-d") %}
                    Programmé jusqu'au
                    {{ week[maxDate|date("w")] }}
                    {{ maxDate|date('j') }}
                    {{ month[maxDate|date('n')] }}
                    {{ maxDate|date('Y') }}
                {% else %}
                    Depuis le     
                    {{ week[minDate|date("w")] }}
                    {{ minDate|date('j') }}
                    {{ month[minDate|date('n')] }}
                    {{ minDate|date('Y') }}
                {% endif %}
            </div>

            <div class="block-title">
                <h5><a href="{{ url }}">{{ place.title }}</a>{% if place.city.name not in place.title %}, <a class="city" href="{{ path('search_by_city',{'slug': place.city.slug }) }}">{{ place.city.name }}</a>{% endif %}</h5>
            </div>
            

            {#% if place.countOfEvents %}
                {{ place.countOfEvents }}
            {% endif %#}

            <h6 class="pt-1">
                {#% if place.events | length > 1 %}
                    {{place.events | length}} évènements à venir
                {% elseif place.events | length > 0 %}
                    {{place.events | length}} évènement à venir
                {% else %}
                    Aucun évènement à venir
                {% endif %#}


                {% if countOfEvents > 1 %}
                    {{ countOfEvents }} évènements {{ title.afterCount.plural }}
                {% elseif countOfEvents == 1 %}
                    {{ countOfEvents }} évènement {{ title.afterCount.one }}
                {% else %}
                    Aucun évènement à venir
                {% endif %}
                
            </h6>

            <div class="info">
                {% if place.district %}
                    {{ place.district.name }}
                 {% endif %}
            </div>

        </div>
{#
        <div class="more-info">
            <a href="{{ url }}" class="btn btn-primary">Plus d'info</a>
        </div>
#}
    </div>