{% extends 'base.html.twig' %}

{% block title %}Annuaire des lieux{% endblock %}

{% block body %}

<nav id="menu-fixed" class="menu-horizontal original">

    <i class="fa fa-bars fa-2x toggle-btn navbar-toggle sidebar-toggle button-menu-horizontal" data-toggle="collapse" data-target="#menu-content" aria-expanded="false"></i>
    <ul>

        {% if app.request.attributes.get('_route') == 'search_by_placetag' %}
            {% set menu_data = menu_placetags %}
            {% set menu_href = 'search_by_placetag' %}
        {% elseif app.request.attributes.get('_route') == 'search_by_city' %}
            {% set menu_data = menu_cities %}
            {% set menu_href = 'search_by_city' %}
        {% else %}
            {% set menu_data = menu_placekinds %}
            {% set menu_href = 'search_by_placekind' %}
        {% endif %}

        {% for key, data in menu_data %}
            {% if key < 7 %}
                <li class="button-horizontal {% if app.request.attributes.get('slug') == data.slug %}active{% endif %}">
                    <a class="menu-link" href="{{ path( menu_href, {'slug': data.slug}) }}">{{ data.name }}</a>
                </li>
            {% else %}
                {% if key == 7 %}
                    <div class="btn-group">
                        <div class="dropdown-toggle" data-toggle="dropdown"></div>
                        <div class="dropdown-menu">
                {% endif %}
                <a class="dropdown-item {% if app.request.attributes.get('slug') == data.slug %}active{% endif %}" href="{{ path( menu_href, {'slug': data.slug}) }}">{{ data.name }}</a>
                {% if loop.last %}</div></div>{% endif %}
            {% endif %}
        {% endfor %}
        
    </ul>
</nav>


<div class="main">

    <div id="sidebar" class="nav-side-menu sidebar">
        {% include 'place/_menu.html.twig' %}
    </div>

    <div class="main-page list">

        {% if places|length > 0 %}

            <div class="wrapper">
                {% if widget is not empty %}
                    <div class="widgets">
                        {#{ dump(widget) }#}
                        {% if widget.form is defined %}
                            <div class="widget">
                                <div class="widget-title">Recherche avancée</div>
                                <div class="menu-search">
                                    {{ form_start(widget.form, {'action': path('place_index'), 'method': 'GET'}) }}
                                        <div class="form-group row">
                                            <div class="col-4 pt-2"><h5>{{ form_label(widget.form.nom) }}</h5></div>
                                            <div class="col">{{ form_widget(widget.form.nom) }}</div>
                                        </div>
                                        <div class="form-group row">
                                            <div class="col-4 pt-2"><h5>{{ form_label(widget.form.type) }}</h5></div>
                                            <div class="col">{{ form_widget(widget.form.type) }}</div>
                                        </div>
                                        <div class="form-group row">
                                            <div class="col-4 pt-2"><h5>{{ form_label(widget.form.ville) }}</h5></div>
                                            <div class="col">{{ form_widget(widget.form.ville) }}</div>
                                        </div>
                                        <button class="btn btn-primary btn-block btn-block">Rechercher</button>
                                    {{ form_end(widget.form) }}
                                </div>

                            </div>
                        {% endif %}
                        {% if widget.map.markers is defined and widget.map.markers|length > 0 %}
                            <div class="widget">
                                <div class="widget-title">Carte interactive</div>
                                <div class="event-content"></div>
                                <div id="map"></div>
                            </div>
                            {% include 'place/_map.html.twig' %}
                        {% endif %}
                    </div>
                {% endif %}

                {% set placesOfToday = {} %}
                {% set placesOfFuture = {} %}
                {% for place in places %}
                    {% if place['minDate'] == "now"|date('Y-m-d') or place['maxDate'] == "now"|date('Y-m-d') %}
                        {% set placesOfToday = placesOfToday|merge([place]) %}
                    {% else %}
                        {% set placesOfFuture = placesOfFuture|merge([place]) %}
                    {% endif %}
                {% endfor %}

                {% for place in placesOfToday %}
                    {% if loop.first %}
                        <div class="title mb-4">
                            <h2>
                            {% if placesOfToday|length == 1 %}Le lieu du jour{% else %}Les lieux du jour{% endif %}
                            {% if app.request.query.get('page') > 1 %}(Page {{ app.request.query.get('page') }}){% endif %}
                            </h2>
                        </div>
                    {% endif %}
                    {% set countOfEvents = place['countOfEvents'] %}
                    {% set minDate = place['minDate'] %}
                    {% set maxDate = place['maxDate'] %}
                    {% set place = place[0] %}
                    {% include 'place/_place.html.twig' %}
                {% endfor %}

                {% for place in placesOfFuture %}
                    {% if loop.first %}
                        <div class="title mb-4">
                            <h2>{{ title['primary'] }}{% if app.request.query.get('page') > 1 %} (Page {{ app.request.query.get('page') }}){% endif %}</h2>
                        </div>
                    {% endif %}
                    {% set countOfEvents = place['countOfEvents'] %}
                    {% set minDate = place['minDate'] %}
                    {% set maxDate = place['maxDate'] %}
                    {% set place = place[0] %}
                    {% include 'place/_place.html.twig' %}
                {% endfor %}
                
                <div class="pagination">
                    {{ knp_pagination_render(places) }}
                </div>

                {% if title['button'] is defined and title['button'] %}
                <div class="button-archive">
                    <a class="btn btn-secondary" href="{{ title['route'] }}">
                        {{ title['button'] }}
                    </a>
                </div>
                {% endif %}
                
            </div>
        {% else %}
            <div class="wrapper text-center mt-5">
                <div class="btn alert">Aucun lieu dans l'annuaire pour le moment</div>
            </div>
        {% endif %}
    </div>
</div>

{% endblock %}

{% block stylesheets %}
    {{ encore_entry_link_tags('css/leaflet') }}
{% endblock %}

{% block javascripts %}
    {{ encore_entry_script_tags('js/leaflet') }}
    <script type="text/javascript" src="/js/menu-fixed.js"></script>
    <script type="text/javascript" src="/js/axios.js"></script>
    <script type="text/javascript" src="/js/axios-like.js"></script>
{% endblock %}