{% extends 'base.html.twig' %}

{% block title %}Annuaire des lieux{% endblock %}

{% block body %}

<div class="main">

    <div class="container">

        <div class="border">

            {{ form_start(form, {'action': path('search_place'), 'method': 'GET'}) }}
            <div class="row">
                <div class="col-sm">
                    <div class="form-group">
                        <div class="col text-center"><h5>{{ form_label(form.nom) }}</h5></div>
                        <div class="col">{{ form_widget(form.nom) }}</div>
                    </div>
                </div>
                <div class="col-sm">
                    <div class="form-group">
                        <div class="col text-center"><h5>{{ form_label(form.type) }}</h5></div>
                        <div class="col">{{ form_widget(form.type) }}</div>
                    </div>
                </div>
                <div class="col-sm">
                    <div class="form-group">
                        <div class="col text-center"><h5>{{ form_label(form.ville) }}</h5></div>
                        <div class="col">{{ form_widget(form.ville) }}</div>
                    </div>
                </div>
            </div>
            <button class="btn btn-secondary btn-block btn-block">Rechercher</button>

            {{ form_end(form) }}

        </div>
        <div class="mt-5">
            {% if places|length > 0 %}

                <table class="table">
                <thead>
                    <tr>
                        <th scope="col">Nom du lieu</th>
                        <th scope="col">Adresse</th>
                        <th scope="col">Ville</th>
                        <th scope="col">Téléphone</th>
                        <th scope="col">Email</th>
                        <th></th>

                    </tr>
                </thead>
                <tbody>
                    {% for place in places %}
                        <tr>
                            <th scope="row">
                                <a href="{{ path("place_show", {"slug": place.slug }) }}" title="{% if place.placekindprimary %}{{ place.placekindprimary.name }}{% endif %}{% if place.placekindsecondary %}, {{ place.placekindsecondary.name }}{% endif %}{% if place.placekindtertiary %}, {{ place.placekindtertiary.name }}{% endif %}">{{ place.name }}</a></th>
                            <td>{{ place.number ~' '~ place.address }}</td>
                            <td>{{ place.city.name }}</td>
                            <td>{{ place.phone }}</td>
                            <td>{{ place.email }}</td>
                            <td><a href="{{ path('place_edit',{'slug': place.slug }) }}" class="btn btn-sm btn-warning">Modifié</a></td>
                        </tr>
                    {% endfor %}
                </tbody>
                </table>
                
                <div class="pagination">
                    {{ knp_pagination_render(places) }}
                </div>
            
            {% else %}

                <div class="text-center mt-5">
                    <div class="btn alert">Aucun lieu dans l'annuaire pour le moment</div>
                </div>

            {% endif %}
        </div>
    </div>
</div>

{% endblock %}