{% extends 'base.html.twig' %}

{% block title %}Création d'un lieu{% endblock %}

{% form_theme formPlace 'place/_collection.html.twig' %}

{% block body %}

    <div class="container my-4">
        <h2 class="text-center mb-4"><u>Création d'un lieu</u></h2>

        {{ form_start(formPlace) }}

            {% include 'place/_form.html.twig' %}

            <div class="my-5 text-center">
                <button type="submit" class="btn btn-primary btn-block my-5">Créer le nouveau lieu</button>
            </div>

        {{ form_end(formPlace) }}

    </div>
    
{% endblock %}

{#% block stylesheets %}
    <!--<link rel="stylesheet" href="/css/trumbowyg.min.css">-->
{% endblock %#}

{% block javascripts %}
    <!--
    <script src="/js/trumbowyg.min.js"></script>
    <script src="/js/trumbowyg-fr.js"></script>
    <script type="text/javascript">
        $.trumbowyg.svgPath = '/js/icons.svg';
        $('#place_description').trumbowyg({
            lang: 'fr',
            /**/btns: [
                ['viewHTML'],
                ['undo', 'redo'], // Only supported in Blink browsers
                ['formatting'],
                ['strong', 'em', 'del'],
                //['superscript', 'subscript'],
                ['link'],
                //['insertImage'],
                ['justifyLeft', 'justifyCenter', 'justifyRight', 'justifyFull'],
                ['unorderedList', 'orderedList'],
                ['horizontalRule'],
                ['removeformat'],
                ['fullscreen']
            ]
        });
    </script>
    -->
    <script src="/js/place.js"></script>
    <script src="/js/image.js"></script>
{% endblock %}