
<div class="menu-list">
    <ul id="menu-content" class="menu-content collapse out">

        <li data-toggle="collapse" data-target="#artistkinds" class="{#collapsed#}">
            <a href="#"><i class="fa fa-globe fa-lg"></i> Les artistes <span class="arrow"></span></a>
        </li>
        <ul class="sub-menu collapse {% if 'MENU_ARTISTKIND' in menu %}show{% endif %}" id="artistkinds">
            {% for artistkind in menu_artistkinds %}
                <li {% if directory == artistkind.slug and directory %} class="active" {% endif %}>
                    <a href="{{ path('artists_by_artistkind', {'slug': artistkind.slug}) }}">
                        {{ artistkind.name }}
                        {#<span class="badge">{{ artistkind.compteur }}</span>#}
                    </a>
                </li>
            {% endfor %}
            <li {% if subpage == 'artist' and directory == NULL %} class="active" {% endif %}>
                <a href="{{ path('artist_index') }}">
                    Tous les artistes
                </a>
            </li>
        </ul>
        {% if subpage == 'artist' %}
            <li data-toggle="collapse" data-target="#search" class="{% if 'MENU_SEARCH' not in menu %}collapsed{% endif %}">
                <a><i class="fa fa-gift fa-lg"></i> Rechercher un artiste <span class="arrow"></span></a>
            </li>

            <ul class="sub-menu collapse {% if 'MENU_SEARCH' in menu %}show{% endif %}" id="search">
                <li>
                    <div class="menu-search">
                        {{ form_start(form, {'action': path('artist_index'), 'method': 'GET'}) }}
                            {{ form_row(form.nom) }}
                            {#{ form_row(form.genre) }#}
                            {{ form_row(form.ville) }}
                            <button class="btn btn-primary">Rechercher</button>
                        {{ form_end(form) }}
                    </div>
                    
                </li>
            </ul>
        {% endif %}
        <li data-toggle="collapse" data-target="#organizerkinds" class="{#collapsed#}">
            <a href="#"><i class="fa fa-globe fa-lg"></i> Les organisateurs <span class="arrow"></span></a>
        </li>
        <ul class="sub-menu collapse {% if 'MENU_ORGANIZERKIND' in menu %}show{% endif %}" id="organizerkinds">
            {% for organizerkind in menu_organizerkind %}
                <li {% if directory == organizerkind.slug and directory %} class="active" {% endif %}>
                    <a href="{{ path('organizers_by_organizerkind', {'slug': organizerkind.slug}) }}">
                        {{ organizerkind.name }}
                        {#<span class="badge">{{ organizerkind.compteur }}</span>#}
                    </a>
                </li>
            {% endfor %}
            <li {% if subpage == 'organizer' and directory == NULL %} class="active" {% endif %}>
                <a href="{{ path('organizer_index') }}">
                    Tous les organisateurs
                </a>
            </li>
        </ul>
        {% if subpage == 'organizer' %}
            <li data-toggle="collapse" data-target="#search" class="{% if 'MENU_SEARCH' not in menu %}collapsed{% endif %}">
                <a><i class="fa fa-gift fa-lg"></i> Filtrer un organisateur <span class="arrow"></span></a>
            </li>

            <ul class="sub-menu collapse {% if 'MENU_SEARCH' in menu %}show{% endif %}" id="search">
                <li>
                    <div class="menu-search">
                        {{ form_start(form, {'action': path('organizer_index'), 'method': 'GET'}) }}
                            {{ form_row(form.nom) }}
                            {#{ form_row(form.genre) }#}
                            {{ form_row(form.ville) }}
                            <button class="btn btn-primary">Rechercher</button>
                        {{ form_end(form) }}
                    </div>
                    
                </li>
            </ul>
        {% endif %}
        {#
        <li data-toggle="collapse" data-target="#search" class="{% if 'MENU_SEARCH' not in menu %}collapsed{% endif %}">
            <a><i class="fa fa-gift fa-lg"></i> Recherche avancée <span class="arrow"></span></a>
        </li>

        <ul class="sub-menu collapse {% if 'MENU_SEARCH' in menu %}show{% endif %}" id="search">
            <li>
                <div class="menu-search">
                    {{ form_start(form, {'action': path('festival_index'), 'method': 'GET'}) }}
                        {{ form_row(form.nom) }}
                        {{ form_row(form.rubrique) }}
                        {{ form_row(form.ville) }}
                        <button class="btn btn-primary">Rechercher</button>
                    {{ form_end(form) }}
                </div>
                
            </li>
        </ul>
        #}

        <li class="active">
            <a href="{{ path('artist_create') }}">
            <i class="fa fa-download fa-lg"></i> Ajouter un artiste</a>
        </li>

        <li class="active">
            <a href="{{ path('organizer_create') }}">
            <i class="fa fa-download fa-lg"></i> Ajouter un organisateur</a>
        </li>

</div>