{% extends 'base.html.twig' %}

{% block title %}Information des artistes et des organisateurs{% endblock %}

{% block body %}

<div class="main">

    <div class="nav-side-menu">
        {% include 'info/_menu.html.twig' %}
    </div>

    <div class="page">
        {% if countOfAllArtists|length == 0 %}
            <div class="row title">
                <div class="col text-center p-0">
                    <h2>Actuellement, aucun artiste programmé</h2>
                </div>
            </div>
            <div class="row">
                <div class="col">
                    <a href="{{ path('event_index') }}" class="btn btn-primary btn-block px-5">Revenir sur les évènements à venir</a>
                </div>
            </div>

        {% else %}

            <div class="title">
                <h2>Les {{ countOfAllArtists|length }} artistes</h2>
                <div class="buttons">
                    <button class="list-view on"><i class="fa fa-bars"></i></button>
                    <button class="grid-view"><i class="fa fa-th"></i></button>
                </div>
            </div>
            <div class="wrapper list">
                {% for artist in artists %}
                    {% include 'info/artist/_artist.html.twig' %}

                {% endfor %}
                <div class="item">
                    <a href="{{ path('artist_index') }}">
                        <h4>Voir tous les artistes</h4>
                    </a>
                </div>
            </div>
        {% endif %}

        {% if countOfAllOrganizers|length > 0 %}

            <div class="title">
                <h2>Les {{ countOfAllOrganizers|length }} organisateurs</h2>
            </div>
            <div class="wrapper grid">
                {% for organizer in organizers %}
                    {% include 'info/organizer/_organizer.html.twig' %}
                {% endfor %}
                <div class="item">
                    <a href="{{ path('organizer_index') }}">
                        <h4>Voir tous les organisateurs</h4>
                    </a>
                </div>
            </div>
        {% endif %}
    </div>
</div>

{% endblock %}
