<h1>Bonjour {{ event.author.firstName }} !</h1>

<p>
    Votre évènement '{{ event.title }}' a été vérifié et publié par {{ event.verifiedby.fullname }} le {{ event.verifiedat }}
</p>

En cas de problème, contactez-nous sur contact@curieux.net
