{# templates/emails/signup.html.twig #}
<h1>Bienvenue {{ user.firstName }} sur Curieux.net !</h1>

<p>
    Vous êtes enregistré sous le nom de {{ user.fullName }} avec comme adresse email :
</p>
<p><code>{{ user.email }}</code></p>

<p>
    <a href="{{ absolute_url(path('account_activation', {'token': user.token})) }}">Cliquer ici pour activer votre compte</a>
    {# (ce lien est valable pendant 24h {{ expiration_date|date('F jS') }}) #}
</p>
