<!DOCTYPE html>
<html>
<head>
<meta charset="ISO-8859-1">
<title>{% block title %}Agenda participatif{% endblock %} - {{ website.name }}</title>

<meta name="apple-mobile-web-app-capable" content="yes" />
<meta name="viewport" content="width=device-width, initial-scale=1" />
<link rel="canonical" href="https://{{ website.address.subdomain }}.curieux.net/agenda"/>
<link rel='icon' type='image/png' href='/uploads/common/icone/favicon.png' />
{% block header %}
<meta property="og:title" content="Agenda culturel {{ website.name }}"/>
<meta property="og:url" content="https://{{ website.address.subdomain }}.curieux.net/agenda"/>
<meta property="og:type" content="website"/>
{% endblock %}
<meta property="og:site_name" content="{{ website.name }}"/>
{#
<link rel="stylesheet" href="/css/bootstrap.min.css">
<link rel="stylesheet" href="/css/app.css">
<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.7.2/css/all.css" integrity="sha384-fnmOCqbTlWIlj8LyTjo7mOUStjsKC4pOpQbqyi7RrhN7udi9RwhKkMHpvLbHG9Sr" crossorigin="anonymous">
<link rel="stylesheet" href="{{ asset('build/css/app.css') }}">
<link rel="stylesheet" type="text/css" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.5.0/css/font-awesome.min.css">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/leaflet/1.0.0-beta.2.rc.2/leaflet.css">
<link href="https://cdnjs.cloudflare.com/ajax/libs/select2/4.0.1/css/select2.min.css" rel="stylesheet" />
<link rel="stylesheet" type="text/css" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
<link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/fancybox/3.5.7/jquery.fancybox.css">
<link rel="stylesheet" type="text/css" href="/css/fancybox.css">
#}
<link rel="stylesheet" type="text/css" href="{{ asset('/css/select2.css') }}">
<link rel="stylesheet" type="text/css" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
{{ encore_entry_link_tags('css/app') }}
{% block stylesheets %}{% endblock %}

<script src="/js/jquery.min.js"></script>
{{ encore_entry_script_tags('js/app') }}

{#
<!-- Google Tag Manager -->
<script>(function(w,d,s,l,i){w[l]=w[l]||[];w[l].push({'gtm.start':
new Date().getTime(),event:'gtm.js'});var f=d.getElementsByTagName(s)[0],
j=d.createElement(s),dl=l!='dataLayer'?'&l='+l:'';j.async=true;j.src=
'https://www.googletagmanager.com/gtm.js?id='+i+dl;f.parentNode.insertBefore(j,f);
})(window,document,'script','dataLayer','GTM-N6JBK4W');</script>
<!-- End Google Tag Manager -->
#}
</head>
<body {% if menu is defined and 'OPEN_SIDEBAR' in menu %}class="sidebar-open"{% endif %}>
{#
<!-- Google Tag Manager (noscript) -->
<noscript><iframe src="https://www.googletagmanager.com/ns.html?id=GTM-N6JBK4W"
height="0" width="0" style="display:none;visibility:hidden"></iframe></noscript>
<!-- End Google Tag Manager (noscript) -->
#}

{% include 'partials/header.html.twig' %}
{#{% block header %}{% endblock %}#}
{% for label, messages in app.flashes %}
    <div class="alert alert-{{ label }} text-center mb-0">
        {% for message in messages %}
            <p class="pt-3">{{ message | raw }}</p>
        {% endfor %}
    </div>
{% endfor %}

{% block body %}{% endblock %}

{% include 'partials/footer.html.twig' %}
{#     
    <script src="/js/jquery.min.js"></script>
    <script src="/js/popper.min.js"></script>
    <script src="/js/bootstrap.min.js"></script>
#}


{% if chcookieconsent_isCookieConsentSavedByUser() == false %}
    <!-- Button trigger modal -->
    <div id="button-cookies" class="fixed-bottom text-center" style="background-color:rgba(0,0,0,0.7)">
        <div class="px-4 pt-3">
            <button type="button" class="btn btn-warning btn-sm btn-parameter mx-2 d-inline-block" data-toggle="modal" data-target="#modalCookies">Paramètres des cookies</button>
            <button type="button" class="btn ch-cookie-consent__btn btn-accept mx-2 d-inline-block" id="cookie_consent_save" name="cookie_consent[save]">Accepter les cookies</button>
        </div>
        <div class="px-4 py-3" style="font-size:12px; color:white;">
            <p class="mb-1">Nous utilisons des cookies pour nous assurer du bon fonctionnement de notre site, pour personnaliser notre contenu et nos publicités, et analyser notre trafic.</p>
        </div>
    </div>
{% endif %}

<!-- Modal -->
<div class="modal fade" id="modalCookies" tabindex="-1" role="dialog" aria-labelledby="modalCookiesCenter" aria-hidden="false">
    <div class="modal-dialog modal-dialog-centered modal-lg" role="document">
        <div class="modal-content">
            <button id="hidden-cancel" type="button" class="close" data-dismiss="modal" aria-label="Close"></button>
            {{ render(path('ch_cookie_consent.show')) }}
            {% include "@CHCookieConsent/cookie_consent_styling.html.twig" %}
        </div>
    </div>
</div>

{% if app.request.get('_route') != "account_login" %}
    <script type="text/javascript" src="/js/select2.min.js"></script>
    <script type="text/javascript" src="{{ asset('bundles/tetranzselect2entity/js/select2entity.js') }}"></script>
    <script type="text/javascript" src="/js/select2fr.js"></script>

    <!-- Si aucune décision n'est prise ou cookies acceptés -->
    {% if chcookieconsent_isCookieConsentSavedByUser() == false or chcookieconsent_isCategoryAllowedByUser('analytics') == true %}
        <!-- Global site tag (gtag.js) - Google Analytics -->
        <script async src="https://www.googletagmanager.com/gtag/js?id=UA-177862-3"></script>
        <script>
            window.dataLayer = window.dataLayer || [];
            function gtag(){dataLayer.push(arguments);}
            gtag('js', new Date());

            gtag('config', 'UA-177862-3');
        </script>
    {% endif %}
    

{% endif %}

<script>

    document.addEventListener('cookie-consent-form-submit-successful', function (e) {
        // ... your functionality
        // ... e.detail is available to see which button is clicked.
        $('#hidden-cancel').click();
        $('#button-cookies').hide();
        $('#button-cookies-footer').hide();
    }, false);
    
</script>

{% block javascripts %}{% endblock %}
{#
<script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
<script src="https://unpkg.com/axios/dist/axios.min.js"></script>
<script type="text/javascript" src="/js/axios.js"></script>
<script type="text/javascript" src="/js/axios-like.js"></script>-->

<script type="text/javascript">
    /*
    listButton = $('button.list-view');
    gridButton = $('button.grid-view');
    wrapper = $('div.wrapper');

    listButton.on('click',function(){  
        gridButton.removeClass('on');
        listButton.addClass('on');
        wrapper.removeClass('grid').addClass('list');
    });

    gridButton.on('click',function(){
        listButton.removeClass('on');
        gridButton.addClass('on');
        wrapper.removeClass('list').addClass('grid');
    });
    
    function sizing() {
        $('.item .block-visual .block-image .img-contain img').each(function() {

            var $current =  $(this),
                width = $current.width(),
                max_w = $('.img-contain').width();
                
            if (width <= max_w) {
                $current.css({ 'height':'90%','width': 'initial'});
            }
            else {
                $current.css({ 'height':'initial','width': '90%'});
            }

        });

    }

    /* Problème avec la carte ????
    window.onload=function(){
        sizing()
    }
    $(window).resize(sizing);
    */

    /* Menu lateral fixe
    
    var fixed = false;
    var topTrigger = $('#pubLateral').offset().top;
    $(document).scroll(function() {
        if( $(this).scrollTop() >= topTrigger ) {
            if( !fixed ) {
                fixed = true;
                $('#pubLateral').css({'position':'fixed', 'top':'0'});
            }
        } else {
            if( fixed ) {
                fixed = false;
                $('#pubLateral').css({'position':'relative'});
            }
        }
    }); 
    */
</script>
#}
</body>
</html>
