{% extends 'admin/base.html.twig' %}

{% block title 'Administration des départements' %}

{% block body %}
    <div class="container">
        <div class="text-center">
            <h1 class="my-5">Administration des départements</h1>
        </div>

        <table class="table table-hover bg-white">
            <thead>
                <tr class="text-center">
                    <th class="align-middle">Id</th>
                    <th class="align-middle">Département</th>
                    <th class="align-middle">Code</th>
                    <th class="align-middle">Région</th>
                    <th class="align-middle">Pays</th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                {% for department in paginator.data %}
                    <tr class="text-center">
                        <td class="align-middle">{{ department.id }}</td>
                        <td class="align-middle">{{ department.name }}</td>
                        <td class="align-middle">{{ department.code }}</td>
                        <td class="align-middle">{{ department.region.name }}</td>
                        <td class="align-middle">{{ department.region.country.name }}</td>
                        <td class="text-right">
                            <a href="{{ path('admin_department_edit', {'id': department.id}) }}" class="btn btn-primary"><i class="fas fa-edit"></i></a>
                            <a href="{{ path('admin_department_delete', {'id': department.id}) }}" class="btn btn-danger"><i class="fas fa-trash"></i></a>
                        </td>
                    </tr>
                {% endfor %}
            </tbody>
        </table>
        
        {{ paginator.display() }}

        <!-- Button trigger modal -->
        <button type="button" class="btn btn-primary btn-block mt-3" data-toggle="modal" data-target="#exampleModalCenter">
            Ajouter un département
        </button>

        <!-- Modal -->
        <div class="modal fade" id="exampleModalCenter" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
            <div class="modal-dialog modal-dialog-centered" role="document">
                <div class="modal-content mb-5">
                    <div class="modal-header">
                        <h5 class="modal-title" id="exampleModalCenterTitle">Ajouter un département</h5>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                    {{ form_start(form) }}
                    <div class="modal-body">
                        {{ form_widget(form) }}
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-dismiss="modal">Fermer</button>
                        <button type="submit" class="btn btn-primary">Ajouter un département</button>
                    </div>
                    {{ form_end(form) }}
                </div>
            </div>
        </div>

        

    </div>
{% endblock %}
