{% extends 'base.html.twig' %}

{% block title %}{% endblock %}

{% block body %}

<div class="main">

    <div class="nav-side-menu">
        {% include 'place/_menu.html.twig '%}
    </div>

    <div class="page">

        {% if placekind.place | length > 0 %}
            <div class="title">
                <h2>{{ placekind.plural }}</h2>
                {% include 'partials/choiceView.html.twig '%}
            </div>
            <div class="wrapper list">
                {% for place in placekind.place %}
                    {% include 'place/_place.html.twig '%}
                {% endfor %}
            </div>
        {% else %}
            <div class="alert alert-warning">
                <p>
                    Il n'y a pas encore de <strong>{{placekind.title}}</strong> sur le site !
                </p>
            </div>
        {% endif %}

    </div>
</div>

{% endblock %}


