{% set url = path('festival_show',{'slug': festival.slug }) %}

<div class="item item-more-info">

    <div class="block-visual">

         <div class="block-image">
            <a href="{{ url }}">

                <div class="img-blur">
                    {% if festival.coverImage %}
                        {% if festival.coverImage starts with 'http' %}
                            <img src="{{ festival.coverImage }}" />
                        {% else %}
                            <img src="{{ asset(festival.coverImagePath) }}" />
                        {% endif %}
                    {#% elseif eventImage %}
                        {% if eventImage starts with 'http' %}
                            <img src="{{ eventImage }}" />
                    {% else %}
                            <img src="{{ asset(eventImage) }}" />
                    {% endif %#}
                    {% else %}
                        <img src="/uploads/common/visuel/autre.jpg" />
                    {% endif %}
                </div>

                <div class="img-contain">
                    {% if festival.coverImage %}
                        {% if festival.coverImage starts with 'http' %}
                            <img src="{{ festival.coverImage }}" />
                        {% else %}
                            <img src="{{ asset(festival.coverImagePath) }}" />
                        {% endif %}
                    {% else %}
                        <img src="/uploads/common/visuel/autre.jpg" />
                    {% endif %}
                </div>

            </a>
        </div>

    </div>

    <div class="details">
    
        <span>Du {{ dateStart|date("d/m/Y") }} au {{ dateEnd|date("d/m/Y") }}</span>
        
        <h4>
            <a href="{{ url }}">
                {{ festival.title }}
            </a>
        </h4>

        {#% if festival.events | length > 0 %}
            {{festival.events | length}} évènements à venir
        {% endif %#}

        <h5>
        
            {% set text = "" %}

            {% if countOfEvents > 1 %}

                {% for rubric in data %}
                    {% if directory == rubric.slug %}
                        {% set text = rubric.plural %}
                    {% endif %}
                {% endfor %}

                {{ countOfEvents }}

                {% if text %}
                    {{ text }} à venir
                {% else %}
                    évènements à venir
                {% endif %}

            {% elseif countOfEvents == 1 %}

                {% for rubric in data %}
                    {% if directory == rubric.slug %}
                        {% if directory == "sport" %}
                            {% set text = "évènement sportif" %}
                        {% elseif directory != "autre" %}
                            {% set text = rubric.name %}
                        {% endif %}
                    {% endif %}
                {% endfor %}

                {{ countOfEvents }}

                {% if text %}
                    {{ text }} à venir
                {% else %}
                    évènement à venir
                {% endif %}

            {% else %}

                Aucun évènement à venir

            {% endif %}

            
        </h5>
            
    </div>

    {#
    <div class="more-info">
        <a href="{{ url }}" class="btn btn-primary">Plus d'info</a>
    </div>
    #}

</div>