<div class="menu-list">
    <ul id="menu-content" class="menu-content collapse out">
    {#
    <li>
        <a href="#">
        <i class="fa fa-dashboard fa-lg"></i> Dashboard
        </a>
    </li>
    #}
        <li data-toggle="collapse" data-target="#cities" class="{#collapsed#}">
            <a><i class="fa fa-globe fa-lg"></i> Les villes<span class="arrow"></span></a>
        </li>

        <ul class="sub-menu collapse {% if 'MENU_CITY' in menu %}show{% endif %}" id="cities">
            {% for city in menu_cities %}
                <li {% if directory == city.slug and directory %} class="active" {% endif %}>
                    <a href="{{ path('festivals_by_city', {'slug': city.slug}) }}">
                    {{ city.name }}
                    <span class="badge">{{ city.compteur }}</span>
                </a></li>
            {% endfor %}

        </ul>

        <li data-toggle="collapse" data-target="#rubrics" class="{#collapsed#}">
            <a><i class="fa fa-globe fa-lg"></i> Les rubriques<span class="arrow"></span></a>
        </li>

        <ul class="sub-menu collapse {% if 'MENU_RUBRIC' in menu %}show{% endif %}" id="rubrics">
            {% for rubric in menu_rubrics %}
                <li {% if directory == rubric.slug and directory %} class="active" {% endif %}>
                    <a href="{{ path('festivals_by_rubric', {'slug': rubric.slug}) }}">
                    {{ rubric.name }}
                    <span class="badge">{{ rubric.compteur }}</span>
                </a></li>
            {% endfor %}

        </ul>

        {#
        <li data-toggle="collapse" data-target="#service" class="collapsed">
            <a href="#"><i class="fa fa-globe fa-lg"></i> Par genre <span class="arrow"></span></a>
        </li>
        <ul class="sub-menu collapse" id="service">
            <li>New Service 1</li>
            <li>New Service 2</li>
            <li>New Service 3</li>
        </ul>


        <li data-toggle="collapse" data-target="#new" class="collapsed">
            <a href="#"><i class="fa fa-car fa-lg"></i> Par catégorie <span class="arrow"></span></a>
        </li>
        <ul class="sub-menu collapse" id="new">
            <li>New New 1</li>
            <li>New New 2</li>
            <li>New New 3</li>
        </ul>
        <li>
            <a href="#">
            <i class="fa fa-user fa-lg"></i> Profile
            </a>
        </li>
        <li>
            <a href="#">
            <i class="fa fa-users fa-lg"></i> Users
            </a>
        </li>
        </ul>
        #}

        <li data-toggle="collapse" data-target="#search" class="{% if 'MENU_SEARCH' not in menu %}collapsed{% endif %}">
            <a><i class="fa fa-gift fa-lg"></i> Recherche avancée <span class="arrow"></span></a>
        </li>

        <ul class="sub-menu collapse {% if 'MENU_SEARCH' in menu %}show{% endif %}" id="search">
            <li>
                <div class="menu-search">
                    {{ form_start(form, {'action': path('festival_index'), 'method': 'GET'}) }}
                        {{ form_row(form.nom) }}
                        {{ form_row(form.rubrique) }}
                        {{ form_row(form.ville) }}
                        <button class="btn btn-primary">Rechercher</button>
                    {{ form_end(form) }}
                </div>
                
            </li>
        </ul>

        <li class="active">
            <a href="{{ path('festival_create') }}">
            <i class="fa fa-download fa-lg"></i> Annoncer un festival</a>
        </li>

</div>