{% extends 'base.html.twig' %}

{% block title %}Edition d'un festival{% endblock %}

{% block body %}

    <div class="container my-4">
        <h1 class="text-center mb-4">Modifier le festival : {{festival.title}}</h1>

        {{ form_start(formFestival) }}

            {{ form_widget(formFestival) }}

            <button type="submit" class="btn btn-primary btn-block my-5">Enregistrer les modifications</button>

        {{ form_end(formFestival) }}
            
    </div>

{% endblock %}
