{% extends 'base.html.twig' %}

{% block title %}Annuaire des festivals{% endblock %}

{% block body %}

<div class="main">





    <div class="nav-side-menu">

        {% include 'festival/_menu.html.twig' %}
        
    </div>

    <div class="main-side">

        {% if festivals.getTotalItemCount == 0 %}
            <div class="row title">
                <h2 class="col mt-5 text-center p-0">Actuellement, aucun festival programmé</h2><br>
            </div>
            <div class="row">
                <a href="{{ path('event_index') }}" class="btn btn-primary btn-block mx-5">Revenir sur les évènements à venir</a>
            </div>
        {% else %}
            <div class="title">
                <h2>
                    {% if festivals.getTotalItemCount == 1 %}
                        Le festival
                    {% else %}
                        Les {{ festivals.getTotalItemCount }} festivals 
                    {% endif %}
                    {{ title }}
                </h2>
                <div class="buttons">
                    <button class="list-view on"><i class="fa fa-bars"></i></button>
                    <button class="grid-view"><i class="fa fa-th"></i></button>
                </div>
            </div>
            <div class="wrapper list">
                {% for festival in festivals %}

                    {% set countOfEvents = festival['countOfEvents'] %}
                    {% set dateStart = festival['minDateStart'] %}
                    {% set dateEnd = festival['maxDateEnd'] %}
                    {% set eventImage = festival['eventImage'] %}
                    {% set festival = festival[0] %}

                    {% include 'festival/_festival.html.twig' %}

                {% endfor %}
            </div>

            <div class="pagination">
                {{ knp_pagination_render(festivals) }}
            </div>
        {% endif %}
    </div>
</div>

{% endblock %}
