{% extends 'base.html.twig' %}

{% block title %}Création d'un festival{% endblock %}

{% block body %}

    <div class="container my-4">
        <h1 class="text-center mb-4">Ajouter un festival</h1>

        {{ form_start(formFestival) }}

            {{ form_widget(formFestival) }}

            <button type="submit" class="btn btn-primary btn-block my-5">Créer un nouveau festival</button>

        {{ form_end(formFestival) }}
            
    </div>
    
{% endblock %}