{% extends 'base.html.twig' %}

{% block title %}{{ festival.title }}{% endblock %}

{% block body %}

<div class="festival-title" style="background-image: url({{ festival.coverImagePath }})" >

    <div class="visual-title">

    {#
    <div class="button-menu">
        <i class="fa fa-bars fa-2x toggle-btn navbar-toggle sidebar-toggle" data-toggle="collapse" data-target="#menu-content" aria-expanded="false"></i>
    </div>
    #}
    <div class="block-image">
        <div class="img-gradient"></div>
        <div class="img-blur">
            {% if festival.coverImage %}
                {% if festival.coverImage starts with 'http' %}
                    <img src="{{ festival.coverImage }}" />
                {% else %}
                    <img src="{{ asset(festival.coverImagePath) }}" />
                {% endif %}
            {% else %}
                <img src="/uploads/common/visuel/autre.jpg" />
            {% endif %}
        </div>
        {% if festival.coverImage %}
            <div class="img-contain">
                {% if festival.coverImage starts with 'http' %}
                    <img src="{{ festival.coverImage }}" />
                {% else %}
                    <img src="{{ asset(festival.coverImagePath) }}" />
                {% endif %}
            </div>
        {% endif %}
    </div>

    {#<img src="{{ asset(festival.coverImagePath) }}" />#}

    <div class="block-data-primary">

        <h1 class="py-3" >{{ festival.title }}</h1>

        <div class="data-details">
            <div class="data-detail">
                {{ festival.description | raw }}
            </div>
        </div>
    </div>

    <div class="block-buttons-primary">
        {% if app.user and (app.user == festival.author or 'ROLE_ADMIN' in app.user.roles ) %}
            <a href="{{ path('festival_edit', {'slug':festival.slug}) }}" class="btn btn-secondary">Modifier les informations du festival</a>
            {% if festival.events is empty %}
                <a href="{{ path('festival_delete', {'slug':festival.slug}) }}" class="btn btn-danger" onclick="return confirm(`Etes-vous sur de vouloir supprimer ce festival : {{festival.title}} `)">Supprimer ce festival</a>
            {% endif %}
        {% endif %}
    </div>

</div>

<div class="container">
    <div class="row">
        <div class="col-md-9 mb-3">
            {% if events.getTotalItemCount > 0 %}
                <div class="title">
                    {% if events.getTotalItemCount == 1 %}
                        <h2>L'évènement à venir</h2>
                    {% else %}
                        <h2>Les {{ events.getTotalItemCount }} évènements à venir</h2>
                    {% endif %}
                    <div class="buttons">
                        <button class="list-view on"><i class="fa fa-bars"></i></button>
                        <button class="grid-view"><i class="fa fa-th"></i></button>
                    </div>
                </div>
                <div class="wrapper list">
                    {% for event in events %}
                        {% include 'event/_event.html.twig' %}
                    {% endfor %}
                </div>
                <div class="pagination">
                    {{ knp_pagination_render(events) }}
                </div>
            {% else %}
                <div class="alert alert-warning">
                    <p>
                        <strong>{{festival.title}}</strong> n'a pas encore d'évènement associé !
                    </p>
                </div>
            {% endif %}
        </div>

        <div class="col bg-light p-3">
            {% if data.cities %}
                <p>
                    {% if data.cities|length == 1 %}
                        <b>La ville :</b>
                    {% else %}
                        <b>Les villes :</b>
                    {% endif %}

                    {% for city in data.cities %}
                        <a href="{{ path("search_by_city",{'slug':city.slug}) }}">{{ city.name }}</a>{% if not loop.last %},{% endif %}
                    {% endfor %}
                </p>
            {% endif %}
            {% if data.places or data.placesWithoutId %}
                <p>
                    {% set nbLieu = data.places|length + data.placesWithoutId|length %}

                    {% if nbLieu == 1 %}
                        <b>Le lieu :</b>
                    {% else %}
                        <b>Les {{ nbLieu }} lieux :</b>
                    {% endif %}

                    {% for place in data.places %}
                        <a href="{{ path("place_show",{'slug':place.slug}) }}">{{ place.name }}</a>{% if not loop.last or data.placesWithoutId %},{% endif %}
                    {% endfor %}
                    {% for placeTmp in data.placesWithoutId %}
                        {{ placeTmp }}{% if not loop.last %},{% endif %}
                    {% endfor %}
                    
                </p>
            {% endif %}
            {% if data.artists %}
                <p>
                    {% if data.artists|length == 1 %}
                        <b>L'artiste :</b>
                    {% else %}
                        <b>Les artistes :</b>
                    {% endif %}
                    
                    {% for artist in data.artists %}
                        <a href="{{ path("artist_show",{'slug':artist.slug}) }}">{{ artist.name }}</a>{% if not loop.last %},{% endif %}
                    {% endfor %}
                </p>
            {% endif %}
            {% if data.organizers %}
                <p>
                    {% if data.organizers|length == 1 %}
                        <b>L'organisateur :</b>
                    {% else %}
                        <b>Les organisateurs :</b>
                    {% endif %}
                    
                    {% for organizer in data.organizers %}
                        <a href="{{ path("organizer_show",{'slug':organizer.slug}) }}">{{ organizer.name }}</a>{% if not loop.last %},{% endif %}
                    {% endfor %}
                </p>
            {% endif %}
        </div>
    </div>
</div>

{% endblock %}


{% block header %}

<meta property="og:title" content="{{ festival.title }}" />
<meta property="og:url" content="https://{{ website.address.subdomain }}.{{ website.address.domain }}{{ path("festival_show", {'slug':festival.slug}) }}" />
{#<meta property="og:type" content="article" />#}
<meta property="og:image" content="{% if festival.coverImage starts with 'http' %}{{ festival.coverImage }}{% elseif festival.coverImage %}https://{{ website.address.subdomain }}.{{ website.address.domain }}{{ asset(festival.coverImagePath) }}{% endif %}" />
<meta property="og:description" content="{{ festival.description|striptags }}" />
<meta property="fb:app_id" content="528367174008732" />
{% endblock %}