{% extends 'admin/base.html.twig' %}

{% block title 'Administration des quartiers' %}

{% block body %}
    <div class="container">
        <div class="text-center">
            <h1 class="my-5">Administration des quartiers</h1>
        </div>

        <table class="table table-hover bg-white">
            <thead>
                <tr class="text-center">
                    <th scope="col" class="px-3">Id</th>
                    <th scope="col">Quartier</th>
                    <th scope="col">Ville</th>
                    <th scope="col">Nombre de lieux</th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                {% for district in paginator.data %}
                    <tr class="text-center">
                        <td class="align-middle px-3">{{ district.id }}</td>
                        <td class="align-middle">{{ district.name }}</td>
                        <td class="align-middle">{{ district.city.name }}</td>
                        <td class="align-middle"><h4><span class="badge badge-dark pl-2">{{ district.place | length }}</span></h4></td>
                        <td>
                            <a href="{{ path('admin_district_edit', {'id': district.id}) }}" class="btn btn-primary"><i class="fas fa-edit"></i></a>
                            <a href="{{ path('admin_district_delete', {'id': district.id}) }}" class="btn btn-danger"><i class="fas fa-trash"></i></a>
                        </td>
                    </tr>
                {% endfor %}
            </tbody>
        </table>
        
        {{ paginator.display() }}

        <!-- Button trigger modal -->
        <button type="button" class="btn btn-primary btn-block mt-3" data-toggle="modal" data-target="#exampleModalCenter">
            Ajouter un quartier
        </button>

        <!-- Modal -->
        <div class="modal fade" id="exampleModalCenter" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
            <div class="modal-dialog modal-dialog-centered" role="document">
                <div class="modal-content mb-5">
                    <div class="modal-header">
                        <h5 class="modal-title" id="exampleModalCenterTitle">Ajouter un quartier</h5>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                    {{ form_start(form) }}
                    <div class="modal-body">
                        {{ form_widget(form) }}
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-dismiss="modal">Fermer</button>
                        <button type="submit" class="btn btn-primary">Ajouter un quartier</button>
                    </div>
                    {{ form_end(form) }}
                </div>
            </div>
        </div>

        

    </div>
{% endblock %}
