{% extends 'base.html.twig' %}

{% block title %}Accès refusé ! Vous ne pouvez pas accéder à cette page{% endblock %}

{% block body %}

<div class="container">

    <h1 class="h1 mt-10 mb-10">Accès refusé ! Erreur 400<br>Une erreur est survenue</h1>
    <p>Contactez-nous pour résoudre le problème par mail à strascurieux@gmail.com ou sur la page Facebook !</p>
    <a href="{{ path('homepage') }}" class="btn btn-primary">Revenir à l'accueil</a>

</div>

{% endblock %}