{% extends 'base.html.twig' %}

{% block title %}Page non trouvée{% endblock %}

{% block body %}

<div class="container">

    <h1 class="h1 mt-10 mb-10">Oups ! La page n'existe pas...</h1>
    <br>
    <p>SI vous essayez d'annoncer un évènement, votre demande n'a pas été prise en compte.<br>Vous pouvez annoncer via ce formulaire simplifié : <a href="/annoncer-simplement">curieux.net/annoncer-simplement</p>
    <br>
    <a href="{{ path('homepage') }}" class="btn btn-primary">Revenir à l'accueil</a>
    <a href="{{ path('event_index') }}" class="btn btn-success">Revenir sur l'agenda</a>

</div>

{% endblock %}