{% extends 'base.html.twig' %}

{% block title %}Erreur du serveur{% endblock %}

{% block body %}

<div class="container">

    <h1 class="h1 mt-10 mb-10">Erreur 502 - En raison d'un grand nombre de connexion instantanée</h1>
    <p><u>Solution:</u> Attendre quelques secondes, puis recharger ou actualiser la page (Plusieurs fois si nécessaire)</p>
    <a href="{{ path('homepage') }}" class="btn btn-primary">Revenir à l'accueil</a>
    <a href="{{ path('event_index') }}" class="btn btn-success">Revenir sur l'agenda</a>

</div>

{% endblock %}