{% extends 'base.html.twig' %}

{% block title %}Page non trouvée{% endblock %}

{% block body %}

<div class="container">

    <h1 class="h1 mt-10 mb-10">Oups ! Une erreur est survenue...</h1>
    <p>Nous avons lancé le site fin juillet 2020 et nous espérons résoudre tous les problèmes avant la rentrée de Septembre, merci de votre compréhension</p>
    <a href="{{ path('homepage') }}" class="btn btn-primary">Revenir à l'accueil</a>
    <a href="{{ path('event_index') }}" class="btn btn-success">Revenir sur l'agenda</a>

</div>

{% endblock %}