{% extends 'admin/base.html.twig' %}

{% block title %}Administration des rôles{% endblock %}

{% block body %}
    <div class="container-fluid">
        <h1 class="my-5 text-center">Administration des rôles</h1>

        <table class="table table-hover bg-white">
            <thead>
                <tr class="text-center">
                    <th class="align-middle">Id</th>
                    <th class="align-middle">Nom</th>
                </tr>
            </thead>
            <tbody>

                {% for role in roles %}
                    <tr class="text-center">
                        <td class="align-middle px-5">{{role.id}}</td>
                        <td class="align-middle"><b>{{role.title}}</b></td>
                    </tr>

                {% endfor %}
            </tbody>
        </table>

    </div>
{% endblock %}

