{% extends 'base.html.twig' %}

{% block title %}Page de {{user.fullName}} {% endblock %}

{% block body %}

<div class="container">
    <div class="row align-items-center">
        <div class="col-3 text-center">
            {% if user.avatar %}
                {% if user.avatar starts with 'http' %}
                    <img src="{{ user.avatar }}" class="avatar mb-3" alt="Avatar de {{user.fullName}}" />
                {% else %}
                    <img src="{{ asset(user.avatarPath) }}" class="avatar mb-3" alt="Avatar de {{user.fullName}}" />
                {% endif %}
            {% endif %}
            <br>
            <span class="badge badge-primary">{{user.eventAuthors | length}} annonce{% if user.eventAuthors | length > 1 %}s{% endif %}</span>
        </div>
        <div class="col-9">
            <h1>{{user.fullName}}</h1>
            
            {% if user.organizerAffirmers|length > 0 %}
                
                {% if user.organizerAffirmers|length == 1 %}
                    <h4>Membre de la structure :</h4>
                {% else %} 
                    <h4>Membre des structures :</h4>
                {% endif %} 

                {% for organizer in user.organizerAffirmers %}
                    <a href="{{ path('artist_show', {'slug': organizer.slug}) }}">{{ organizer.name }}</a>
                {% endfor %}

            {% endif %}

            {% if user.artistAffirmers|length > 0 %}

                {% if user.artistAffirmers|length == 1 %}
                    <h4>Associé à l'artiste :</h4>
                {% else %} 
                    <h4>Associé aux artistes</h4>
                {% endif %} 

                {% for artist in user.artistAffirmers %}
                    <a href="{{ path('artist_show', {'slug': artist.slug}) }}">{{ artist.name }}</a>
                    {#{ dump(artist) }#}
                {% endfor %}

            {% endif %}
            
            {% if user is same as(app.user) %}
                <div class="mt-3">
                    <a href="{{ path('account_profile') }}" class="btn btn-primary mr-2 mb-2">
                        Modifier mes informations
                    </a>
                    <a href="{{ path('account_password') }}" class="btn btn-primary mb-2">
                        Modifier mon mot de passe
                    </a>
                </div>
            {% endif %}



           
        </div>
    </div>

    {{user.presentation | raw}}

    {% if user.eventAuthors | length > 0 %}
        <div class="container">
            <div class="title">
                <h2>Les évènements annoncés par {{user.fullName}}</h2>
                <div class="buttons">
                    <button class="list-view on"><i class="fa fa-bars"></i></button>
                    <button class="grid-view"><i class="fa fa-th"></i></button>
                </div>
            </div>
            <div class="wrapper list">
                {% for event in user.eventAuthors %}
                    {% include 'event/_event.html.twig'%}
                {% endfor %}
            </div>
        </div>
    {% else %}
        <div class="alert alert-warning">
            <p>
                <strong>{{user.fullName}}</strong> n'a pas encore annoncé d'évènement sur le site !
            </p>
        </div>
    {% endif %}

</div>

{% endblock %}
