<nav class="menu-horizontal">
    <ul>
        <li class="button-horizontal{% if "validator" in app.request.get('_route') == "events_validator" %} active{% endif %}">
            <a class="menu-link" href="{{ path('events_validator') }}">Les publications</a>
        </li>
        <li class="button-horizontal{% if app.request.get('_route') == "messages_verification" or app.request.get('_route') == "comments_verification" or app.request.get('_route') == "alerts_verification" %} active{% endif %}">
            <a class="menu-link" href="{{ path('messages_verification') }}">Les messages</a>
        </li>
        <li class="button-horizontal{% if app.request.get('_route') == "claims_verification" or app.request.get('_route') == "claim_edit" %} active{% endif %}">
            <a class="menu-link" href="{{ path('claims_verification') }}">Les réclamations</a>
        </li>
        {#
        <li class="button-horizontal">
            <a class="menu-link" href="#">Les utilisateurs</a>
        </li>
        #}
    </ul>
</nav>

{% if "validator" in app.request.get('_route') %}
    <div class="text-center mt-4 pt-3">
        <a class="{% if app.request.get('_route') == "events_validator" %}btn-primary{% else %}btn-secondary{% endif %} btn btn-inline" href="{{ path('events_validator') }}">évènements</a>
        <a class="{% if app.request.get('_route') == "places_validator" %}btn-primary{% else %}btn-secondary{% endif %} btn btn-inline" href="{{ path('places_validator') }}">Lieux</a>
        <a class="{% if app.request.get('_route') == "festivals_validator" %}btn-primary{% else %}btn-secondary{% endif %} btn btn-inline" href="{{ path('festivals_validator') }}">Festivals</a>
        <a class="{% if app.request.get('_route') == "artists_validator" %}btn-primary{% else %}btn-secondary{% endif %} btn btn-inline" href="{{ path('artists_validator') }}">Artistes</a>
        <a class="{% if app.request.get('_route') == "organizers_validator" %}btn-primary{% else %}btn-secondary{% endif %} btn btn-inline" href="{{ path('organizers_validator') }}">Organisateurs</a>
    </div>
{% endif %}