{% extends 'base.html.twig' %}

{% block title %}Vérification des artistes{% endblock %}

{% block body %}

<div class="main">

    <div class="main-page list" >

        {% include 'validation/_menu.html.twig' %}

        <div class="wrapper">

            {% if artists|length == 0 %}
                <div class="text-center mt-4">
                    <div class="btn alert">Aucun artiste à vérifier pour le moment</div>
                </div>
            {% else %}

                <div class="title pt-3">
                    <h2>Vérification des artistes</h2>
                </div>
                {% for artist in artists %}
                    <div class="bg-light rounded mb-3 py-3 px-3 d-flex">
                        <div class="my-2">
                            <a target="_blank" href="{{ path('artist_show',{'slug': artist.slug }) }}" class="d-block h3">{{ artist.name }}</a>
                            <div>{% if artist.events|length == 0 %}Aucun evenement associé{% elseif artist.events|length == 1 %}1 évènement associé{% else %}{{ artist.events|length }} évènements associés{% endif %}</div>
                            {% if artist.author %}<div>Ajouté par <a target="_blank" href="{{ path('user_show',{'slug': artist.author.slug }) }}">{{ artist.author.fullname }}</a></div>{% endif %}
                        </div>
                        <div class="ml-auto">
                            {% if artist.events|length == 0 %}
                                <a href="#" class="btn btn-sm btn-danger">Supprimé</a>
                            {% endif %}
                            <a href="{{ path('artist_edit',{'slug': artist.slug }) }}" class="btn btn-sm btn-warning">Modifié</a>
                        </div>
                    </div>
                    
                {% endfor %}

                <div class="pagination">
                    {{ knp_pagination_render(artists) }}
                </div>

            {% endif %}

	    </div><!-- wrapper -->
	</div><!-- main-page -->
</div><!-- main -->

{% endblock %}
