{% extends 'base.html.twig' %}

{% block title %}Vérification des réclamations{% endblock %}

{% block body %}

<div class="main">

    <div class="main-page list" >

        {% include 'validation/_menu.html.twig' %}

        <div class="wrapper">

            <div class="text-center mt-3 mb-3">
                <a href="{{ path('claims_verification') }}" class="{% if filtre == null %}btn-primary {% endif %}btn btn-inline btn-sm">à vérifier</a>
                <a href="{{ path('claims_verification', {'filtre': "accepte"}) }}" class="{% if filtre == "accepte" %}btn-primary {% endif %}btn btn-inline btn-sm">Accepté</a>
                <a href="{{ path('claims_verification', {'filtre': "refuse"}) }}" class="{% if filtre == "refuse" %}btn-primary {% endif %}btn btn-inline btn-sm">Refusé</a>
            </div>

            {% if claims|length == 0 %}

                <div class="text-center mt-5">
                    <div class="btn alert">
                        {% if app.request.query.get('filtre') == "accepte" %}
                            Aucune réclamation acceptée
                        {% elseif app.request.query.get('filtre') == "refuse" %}
                            Aucune réclamation refusée
                        {% else %}
                            Aucune réclamation à valider pour le moment
                        {% endif %}
                    </div>
                </div>

            {% else %}
                
                <div class="title pt-3">
                    <h2>
                        {% if app.request.query.get('filtre') == "accepte" %}
                            Les réclamations acceptées
                        {% elseif app.request.query.get('filtre') == "refuse" %}
                            Les réclamations refusées
                        {% else %}
                            Vérification des réclamations
                        {% endif %}
                    </h2>
                </div>
                {% for claim in claims %}
                    <div class="bg-light rounded mb-3 py-3 px-3 d-flex">
                        <div class="my-1">
                            <div class="">
                                Le {{ claim.dateRequest|date('d/m/Y à H:i')}}, <b>{{ claim.owner.fullname }}</b> souhaite modifier 
                                {% if claim.place %}le lieu{% elseif claim.event %}l'évènement{% endif %}
                                <b>{% if claim.place %}{{ claim.place.title }}{% elseif claim.event %}{{ claim.event.title }}{% endif %}</b>                      
                            </div>
                        </div>
                        <div class="btn-group-sm ml-auto" role="group" aria-label="boutons">
                            <a href="{{ path('claim_edit', {'id': claim.id}) }}" class="btn btn-primary">Voir les détails</a>
                            {% if app.request.query.get('filtre') == null %}
                                <a href="{{ path('claim_accept', {'id': claim.id}) }}" class="btn btn-success">Accepté</a>
                                <a href="{{ path('claim_refuse', {'id': claim.id}) }}" class="btn btn-danger">Refusé</a>
                            {% endif %}
                        </div>
                    </div>
                {% endfor %}

                <div class="pagination">
                    {#{ knp_pagination_render(claims) }#}
                </div>

            {% endif %}

	   </div><!-- main-side -->
	</div><!-- main-side -->
</div><!-- main -->

{% endblock %}
