{% extends 'base.html.twig' %}

{% block title %}Éditer une réclamation{% endblock %}

{% block body %}

    {% include 'validation/_menu.html.twig' %}
    
    <div class="container-fluid">

        <h1 class="my-5 text-center"><u>Éditer une réclamation</u></h1>

        <div class="row">
            <div class="col">
                <div class="card bg-light">
                    <div class="card-header">
                        <h4 class="card-title">Données sur l'utilisateur</h4>
                    </div>
                    <div class="card-body">
                        {% set user = claim.owner %}
                        <h4>{{ user.fullName }}</h4>

                        {% if user.introduction %}<p><b>{{ user.introduction }}</b></p>{% endif %}
                        
                        {% if user.presentation %}<p>{{ user.presentation|raw  }}</p>{% endif %}
                        
                        <div class="h5 py-3"><u>Son activité :</u></div>

                        <p class="h5 mb-4">
                            {% if user.eventAuthors|length > 0 %}
                                {% if user.eventAuthors|length == 1 %}
                                    1 évènement ajouté
                                {% else %}
                                    {{ user.eventAuthors|length }} évènements ajoutés
                                {% endif %}
                            {% else %}
                                Aucun évènement annoncé
                            {% endif %}

                            {% if user.eventEditors|length > 0 %}
                                {% if user.eventEditors|length == 1 %}
                                    et 1 évènement modifiable
                                {% else %}
                                    et {{ user.eventEditors|length }} évènements modifiables
                                {% endif %}
                            {% endif %}
                        </p>

                        {% if user.placeAuthors|length > 0 %}
                            <p><b>Les lieux ajoutés :</b>
                            {% for place in user.placeAuthors %}
                                <a href="{{ path('place_show',{'slug': place.slug }) }}">{{ place.title }}</a>{% if not loop.last%},{% endif %}
                            {% endfor %}
                            </p>
                        {% endif %}

                        {% if user.placeEditors|length > 0 %}
                            <p><b>Les lieux modifiables :</b>
                            {% for place in user.placeEditors %}
                                <a href="{{ path('event_show',{'slug': place.slug }) }}">{{ place.title }}</a>{% if not loop.last%},{% endif %}
                            {% endfor %}
                            </p>
                        {% endif %}


                        {% if user.artistAuthors|length > 0 %}
                            <p><b>Les artistes ajoutés :</b>
                            {% for artist in user.artistAuthors %}
                                <a href="{{ path('artist_show',{'slug': artist.slug }) }}">{{ artist.name }}</a>{% if not loop.last%},{% endif %}
                            {% endfor %}
                            </p>
                        {% endif %}

                        {% if user.artistEditors|length > 0 %}
                            <p><b>Les artistes modifiables :</b>
                            {% for artist in user.artistEditors %}
                                <a href="{{ path('artist_show',{'slug': artist.slug }) }}">{{ artist.name }}</a>{% if not loop.last%},{% endif %}
                            {% endfor %}
                            </p>
                        {% endif %}


                        {% if user.organizerAuthors|length > 0 %}
                            <p><b>Les organisateurs ajoutés :</b>
                            {% for organizer in user.organizerAuthors %}
                                <a href="{{ path('organizer_show',{'slug': organizer.slug }) }}">{{ organizer.name }}</a>{% if not loop.last%},{% endif %}
                            {% endfor %}
                            </p>
                        {% endif %}

                        {% if user.organizerEditors|length > 0 %}
                            <p><b>Les organisateurs modifiables :</b>
                            {% for organizer in user.organizerEditors %}
                                <a href="{{ path('organizer_show',{'slug': organizer.slug }) }}">{{ organizer.name }}</a>{% if not loop.last%},{% endif %}
                            {% endfor %}
                            </p>
                        {% endif %}

                        <p>
                            {% if user.registrationAt %}
                                <b>Inscrit depuis</b> le {{ user.registrationAt|date('d/m/Y H:i') }}
                            {% endif %}
                            <br>
                            {% if user.registrationAt %}
                                <b>Dernière connexion</b> le {{ user.lastConnectionAt|date('d/m/Y H:i') }}
                            {% endif %}
                        </p>
                    </div>
                </div>
            </div>
            <div class="col">
                <div class="card bg-light">
                    <div class="card-header">
                        <h4 class="card-title">Traitement de la réclamation</h4>
                    </div>
                    <div class="card-body">

                        <p>
                            <div class="h5">{{ user.fullName }} souhaite modifier
                            {% if claim.place %}
                                ce lieu :</div><a class="h2" target="_blank" href="{{ path('place_show',{'slug': claim.place.slug }) }}" title="Ouvrir le lieu dans un nouvel onglet">{{ claim.place.title }}</a>
                            {% elseif claim.event %}
                                cet évènement :</div><a class="h2" target="_blank" href="{{ path('event_show',{'slug': claim.event.slug }) }}" title="Ouvrir l'évènement dans un nouvel onglet">{{ claim.event.title }}</a>
                            {% else %}
                                une information</div>
                            {% endif %}
                        </p>


                        {{ form_start(form) }}
                            <div class="row pt-4">
                                <h5>{{ form_label(form.response) }}</h5>
                                {{ form_widget(form.response) }}
                            </div>
                            <div class="row">
                                <h5>{{ form_label(form.explanation) }}</h5>
                                {{ form_widget(form.explanation) }}
                            </div>
                            <button type="submit" class="btn btn-primary btn-block">
                                <i class="fas fa-check"></i>
                                Valider ma décision
                            </button>
                        {{ form_end(form) }}
                    </div>
                </div>
            </div>
        </div>

    </div>

{% endblock %}

{% block stylesheets %}
    <style>
        /*.select2-container--default .select2-selection--single .select2-selection__rendered,*/
    
        .form-control, .custom-file-label,
        .select2-container,
        .custom-checkbox .custom-control-label::before,
        .button-add {
            border: 1px solid lightgray;
        }
    </style>
{% endblock %}
