{% extends 'base.html.twig' %}

{% block title %}Vérification des commentaires{% endblock %}

{% block body %}

<div class="main">

    <div class="main-page list" >

        {% include 'validation/_menu.html.twig' %}

        <div class="wrapper">
            
            <div class="text-center mt-2 pt-2">
                <a href="{{ path('messages_verification') }}" class="{% if menu == null %}btn-primary {% endif %}btn btn-inline btn-sm">Tous les messages</a>
                <a href="{{ path('comments_verification') }}" class="{% if menu == "commentaire" %}btn-primary {% endif %}btn btn-inline btn-sm">Les commentaires</a>
                <a href="{{ path('alerts_verification') }}" class="{% if menu == "alerte" %}btn-primary {% endif %}btn btn-inline btn-sm">Les alertes</a>
            </div>

            {#{ form_widget(form) }#}

            {{ form_start(form, { 'attr': {'autocomplete': 'off'} })  }}

                <div class="row pt-2 pb-0 mb-0">
                    {#
                    <div class="col">
                        {{ form_widget(form.validation) }}
                    </div>
                    #}
                    <div class="col">
                        {{ form_widget(form.user) }}
                    </div>
                    <div class="col">
                        {{ form_widget(form.entity) }}
                    </div>
                    <div class="col">
                        {{ form_widget(form.order) }}
                    </div>
                    <div class="col">
                        {{ form_widget(form.content) }}
                    </div>
                    <div class="col-1">
                        <button type="submit" class="btn btn-sm btn-success"><i class="fa fa-search"></i></button>
                    </div>
                </div>

            {{ form_end(form) }}
            
            {#
            <div class="text-center">
                
                <a href="{{ path('comments_validator') }}" class="{% if menu == null %}btn-primary {% endif %}btn btn-inline btn-sm">Tous</a>
                <a href="{{ path('comments_validator', {'p': "evenement"}) }}" class="{% if menu == "brouillon" %}btn-primary {% endif %}btn btn-inline btn-sm">Uniquement les alertes</a>
                <a href="{{ path('comments_validator', {'p': "evenement"}) }}" class="{% if menu == "brouillon" %}btn-primary {% endif %}btn btn-inline btn-sm">Évènement</a>
                <a href="{{ path('comments_validator', {'p': "lieu"}) }}" class="{% if menu == "spam" %}btn-primary {% endif %}btn btn-inline btn-sm">Lieu</a>
                <a href="{{ path('comments_validator', {'p': "festival"}) }}" class="{% if menu == "doublon" %}btn-primary {% endif %}btn btn-inline btn-sm">Festival</a>
                <a href="{{ path('comments_validator', {'p': "artiste"}) }}" class="{% if menu == "erreur" %}btn-primary {% endif %}btn btn-inline btn-sm">Artiste</a>
                <a href="{{ path('comments_validator', {'p': "organisateur"}) }}" class="{% if menu == "erreur" %}btn-primary {% endif %}btn btn-inline btn-sm">Organisateur</a>
                
            </div>
            #}

            {% if comments|length == 0 %}
                <div class="text-center mt-5">
                    <div class="btn alert">
                        {% if app.request.get('_route') == "messages_verification" %}
                            Aucun message à vérifier pour le moment
                        {% elseif app.request.get('_route') == "comments_verification" %}
                            Aucun commentaire à vérifier pour le moment
                        {% elseif app.request.get('_route') == "alerts_verification" %}
                            Aucune alerte à vérifier pour le moment
                        {% endif %}
                    </div>
                </div>
            {% else %}

                <div class="title">
                    <h2>
                        {{ comments.getTotalItemCount }}
                        {% if app.request.get('_route') == "messages_verification" %}
                            {% if comments.getTotalItemCount == 1 %}message{% else %}messages{% endif %}
                        {% elseif app.request.get('_route') == "comments_verification" %}
                            {% if comments.getTotalItemCount == 1 %}commentaire{% else %}commentaires{% endif %}
                        {% elseif app.request.get('_route') == "alerts_verification" %}
                            {% if comments.getTotalItemCount == 1 %}alerte{% else %}alertes{% endif %}
                        {% endif %}
                    </h2>
                </div>
                {% for comment in comments %}
                     <div class="bg-light rounded mb-3 py-3 px-3">
                    
                        {% if (app.user and "ROLE_ADMIN" in app.user.roles) or (comment.author and comment.author == app.user) %}<a href="{{ path("comment_delete",{"id":comment.id }) }}" class="btn btn-danger float-right btn-sm color-white">X</a>{% endif %}
                        <strong>
                            {% if comment.author %}{{ comment.author.fullName }}{% else %}Un anonyme{% endif  %}
                            {% if comment.isAlerted %}a signalé une erreur{% else %}a commenté{% endif %}
                        </strong>
                        {% if comment.createdAt|date("Y-m-d") == "now"|date("Y-m-d") %}
                            aujourd'hui à {{ comment.createdAt|date("H:i") }}
                        {% else %}
                            le {{ comment.createdAt|date("d/m/Y à H:i") }}
                        {% endif  %}
                        {% if comment.event %}concernant l'évènement '<a href="{{ path('event_show',{'slug': comment.event.slug }) }}" target="_blank">{{ comment.event.title }}</a>' {% elseif comment.place %}concernant le lieu '<a href="{{ path('place_show',{'slug': comment.place.slug }) }}" target="_blank">{{ comment.place.title }}</a>' {% endif %}

                        <div class="row mb-1 h5">
                            {{ comment.content }}
                        </div>
                    </div>
                {% endfor %}

                <div class="pagination">
                    {{ knp_pagination_render(comments) }}
                </div>

            {% endif %}

	   </div><!-- main-side -->
	</div><!-- main-side -->
</div><!-- main -->

{% endblock %}
