{% extends 'base.html.twig' %}

{% block title %}Configuration d'une réduction{% endblock %}

{% block body %}

    <div class="container my-4">
        <h1 class="text-center mb-4">Modifier la réduction "{{ form.title.vars.value }}"</h1>

        {{ form(form) }}
{#
        {{ form_start(form) }}

            {{ form_widget(form) }}

            <button type="submit" class="btn btn-primary btn-block my-5">Créer un nouveau organisateur</button>

        {{ form_end(form) }}
#}            
    </div>
    
{% endblock %}