{% extends 'base.html.twig' %}

{% block title %}Edition du sous-domaine{% endblock %}

{% block body %}

    {% include 'validation/_menu.html.twig' %}

    <div class="container my-4">
        <h1 class="text-center mb-4">Configurer le site : {{ borough.name }} Curieux</h1>
        
        {{ form_start(form) }}
        
            <div class="col my-5">
                <h5>
                    {{ borough.city|length }} villes associées à l'arrondissement de {{ borough.name }}
                </h5>

                <div class="btn btn-secondary h6" id="buttonShowCities">Associer une ou plusieurs villes</div>

                <div id="allCities" style="display:none">
                    <p class="my-2">
                        <b>Par ordre alphabétique :</b>
                        {% for city in cities|sort %}
                            {{ city }}{% if not loop.last %},{% endif %}
                        {% endfor %}
                        <a href="{{ path('borough_map') }}">(Voir les villes sur une carte)</a>
                    </p>
                    {{ form_widget(form.newCities) }}
                </div>
            </div>

            {#% for reduction in borough.reduction %}
                {{ dump(reduction.title) }}
            {% endfor %#}
            
            

            <div class="row my-4 mx-0">
            
                <div class="col">
                    <h5>{{ form_label(form.chiefTown) }}</h5>
                    {{ form_widget(form.chiefTown) }}
                </div>
                <div class="col">
                    <h5>{{ form_label(form.resident) }}</h5>
                    <div class="row" style="background:white">
                        <div class="col-1 h6 pt-3">Les</div>
                        <div class="col">
                            {{ form_widget(form.resident) }}
                        </div>
                    </div>
                </div>
            
            </div>

            <div class="text-center pt-4 pb-0">
                <h3>Carte interactive par défaut</h3>
            </div>
            <div class="row my-4">
                
                <div class="col-6">
                    <h5>{{ form_label(form.zoom) }}</h5>
                    {{ form_widget(form.zoom) }}
                </div>
                <div class="col">
                    <h5>{{ form_label(form.latitude) }}</h5>
                    {{ form_widget(form.latitude) }}
                </div>
                <div class="col">
                    <h5>{{ form_label(form.longitude) }}</h5>
                    {{ form_widget(form.longitude) }}
                </div>
            
            </div>

            <div class="text-center pt-4 pb-0">
                <h3>Textes personnalisés</h3>
            </div>
            <div class="row my-4">
                <div class="col-12">
                    <h5>{{ form_label(form.slogan) }}</h5>
                    {{ form_widget(form.slogan) }}
                </div>
                <div class="col-12 mt-4">
                    <h5>{{ form_label(form.description) }}</h5>
                    {{ form_widget(form.description) }}
                </div>
            </div>

            <div class="text-center pt-4 pb-0">
                <h3>Options</h3>
            </div>
            <div class="row my-4">
                <div class="col-12">
                    <h5>{{ form_label(form.color) }}</h5>
                    {{ form_widget(form.color) }}
                </div>
                <div class="col-12 mt-4">
                    <h5>{{ form_label(form.reduction) }}</h5>
                    {{ form_widget(form.reduction) }}
                </div>
            </div>

            {{ form_widget(form) }}

            <button type="submit" class="btn btn-primary btn-block my-5">Enregistrer les modifications</button>

        {{ form_end(form) }}
            
    </div>

{% endblock %}


{% block javascripts %}

<script>
    $('#buttonShowCities').on("click",function(){
        $('#allCities').show();
        $('#buttonShowCities').hide();
    });
</script>

{% endblock %}