{% extends 'base.html.twig' %}

{% block title %}Vérification des évènements{% endblock %}

{% block body %}

<div class="main">

    <div class="main-page list" >

        {% include 'validation/_menu.html.twig' %}

        <div class="wrapper">
            
            <div class="text-center">
                <a href="{{ path('events_validator') }}" class="{% if menu == null %}btn-primary {% endif %}btn btn-inline btn-sm">à vérifier</a>
                <a href="{{ path('events_validator', {'menu': "tout"}) }}" class="{% if menu == "tout" %}btn-primary {% endif %}btn btn-inline btn-sm">Tout</a>
                <a href="{{ path('events_validator', {'menu': "complet"}) }}" class="{% if menu == "complet" %}btn-primary {% endif %}btn btn-inline btn-sm">Complet</a>
                <a href="{{ path('events_validator', {'menu': "annule"}) }}" class="{% if menu == "annule" %}btn-primary {% endif %}btn btn-inline btn-sm">Annulé</a>
                <a href="{{ path('events_validator', {'menu': "spam"}) }}" class="{% if menu == "spam" %}btn-primary {% endif %}btn btn-inline btn-sm">Spam</a>
                <a href="{{ path('events_validator', {'menu': "doublon"}) }}" class="{% if menu == "doublon" %}btn-primary {% endif %}btn btn-inline btn-sm">Doublon</a>
                <a href="{{ path('events_validator', {'menu': "erreur"}) }}" class="{% if menu == "erreur" %}btn-primary {% endif %}btn btn-inline btn-sm">Erreur</a>
                <a href="{{ path('events_validator', {'menu': "brouillon"}) }}" class="{% if menu == "brouillon" %}btn-primary {% endif %}btn btn-inline btn-sm">Brouillon</a>
            </div>

            {% if events|length == 0 %}

                <div class="text-center mt-5">
                    <div class="btn alert">
                        {% if menu == "tout" %}
                            Aucun évènement annoncé
                        {% elseif menu == "brouillon" %}
                            Aucun brouillon en attente
                        {% elseif menu == "doublon" %}
                            Aucun doublon
                        {% elseif menu == "erreur" %}
                            Aucune erreur
                        {% elseif menu == "complet" %}
                            Aucun evènement complet
                        {% elseif menu == "annule" %}
                            Aucun evènement annulé
                        {% elseif menu == "spam" %}
                            Aucun spam
                        {% else %}
                            Aucun évènement à vérifier pour le moment
                        {% endif %}
                    </div>
                </div>

            {% else %}

                <div class="title">
                    <h2>
                        {% if menu == "tout" %}
                            Les derniers évènements annoncés
                        {% elseif menu == "brouillon" %}
                            Les brouillons en attente de publication par l'auteur
                        {% elseif menu == "doublon" %}
                            Les doublons
                        {% elseif menu == "erreur" %}
                            Les erreurs
                        {% elseif menu == "complet" %}
                            Les evènements complets
                        {% elseif menu == "annule" %}
                            Les evènements annulés
                        {% elseif menu == "spam" %}
                            Les spams
                        {% else %}
                            Vérification des évènements
                        {% endif %}
                    </h2>
                </div>
                {% for event in events %}
                    {% include 'event/_event.html.twig' %}
                {% endfor %}

                <div class="pagination">
                    {{ knp_pagination_render(events) }}
                </div>

            {% endif %}

	   </div><!-- main-side -->
	</div><!-- main-side -->
</div><!-- main -->

{% endblock %}
