{% extends 'base.html.twig' %}

{% block title %}Vérification des festivals{% endblock %}

{% block body %}

<div class="main">

    <div class="main-page list" >

        {% include 'validation/_menu.html.twig' %}

        <div class="wrapper">

            {% if festivals|length == 0 %}
                <div class="text-center mt-4">
                    <div class="btn alert">Aucun festival à vérifier pour le moment</div>
                </div>
            {% else %}

                <div class="title pt-3">
                    <h2>Vérification des festivals</h2>
                </div>
                {% for festival in festivals %}
                    <div class="bg-light rounded mb-3 py-3 px-3 d-flex">
                        <div class="my-2">
                            <a target="_blank" href="{{ path('festival_show',{'slug': festival.slug }) }}" class="d-block h3">{{ festival.title }}</a>
                            <div>{% if festival.events|length == 0 %}Aucun evenement associé{% elseif festival.events|length == 1 %}1 évènement associé{% else %}{{ festival.events|length }} évènements associés{% endif %}</div>
                            {% if festival.author %}<div>Ajouté par <a target="_blank" href="{{ path('user_show',{'slug': festival.author.slug }) }}">{{ festival.author.fullname }}</a></div>{% endif %}
                        </div>
                        <div class="ml-auto">
                            {% if festival.events|length == 0 %}
                                <a href="#" class="btn btn-sm btn-danger">Supprimé</a>
                            {% endif %}
                            <a href="{{ path('festival_edit',{'slug': festival.slug }) }}" class="btn btn-sm btn-warning">Modifié</a>
                        </div>
                    </div>
                    
                {% endfor %}

                <div class="pagination">
                    {{ knp_pagination_render(festivals) }}
                </div>

            {% endif %}

	    </div><!-- wrapper -->
	</div><!-- main-page -->
</div><!-- main -->

{% endblock %}
