
{% extends 'base.html.twig' %}

{% block title %}Carte des villes{% endblock %}

{% block body %}
<div class="event-content"></div>
<div id="map"></div>
{% endblock %}

{% block stylesheets %} 
<link rel="stylesheet" type="text/css" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
<link rel="stylesheet" type="text/css" href="https://rawgit.com/maydemirx/leaflet-tag-filter-button/master/src/leaflet-tag-filter-button.css">
<link rel="stylesheet" type="text/css" href="https://rawgit.com/CliffCloud/Leaflet.EasyButton/master/src/easy-button.css">
<link rel="stylesheet" type="text/css" href="https://unpkg.com/leaflet@1.0.3/dist/leaflet.css">
<style>
  .easy-button-button {display: block !important;}
  .tag-filter-tags-container {left: 30px;}
  #map {width: 100%; height: 500px;}
</style>   
{% endblock %}

{% block javascripts %}
<script type="text/javascript" src="https://unpkg.com/leaflet@1.0.3/dist/leaflet.js"></script>
<script type="text/javascript" src="https://rawgit.com/CliffCloud/Leaflet.EasyButton/master/src/easy-button.js"></script>
<script type="text/javascript" src="https://rawgit.com/maydemirx/leaflet-tag-filter-button/master/src/leaflet-tag-filter-button.js"></script>
<script type="text/javascript">

window.onload=function(){
        
  /*Custom marker */
  PlaceMarker = L.CircleMarker.extend({
    options: {
      id: '',
      radius: 5,
      weight: 1,
      opacity: 1,
      fillOpacity: 0.8
    }
  });

  var greenIcon = L.icon({
    iconUrl: 'leaf-green.png',
    shadowUrl: 'leaf-shadow.png',

    iconSize:     [12, 20], // size of the icon
    shadowSize:   [50, 64], // size of the shadow
    //iconAnchor:   [0, 0], // point of the icon which will correspond to marker's location
    shadowAnchor: [4, 62],  // the same for the shadow
    popupAnchor:  [0, -10] // point from which the popup should open relative to the iconAnchor
  });

  /*Include the marker data and create the layers */
  var data = {{ markers|json_encode|raw }};

  var ville1 = new L.LayerGroup();
  for (var i = 0; i < data.length; i++) {
    if (data[i][0] == "ville1") {
      
      marker = new PlaceMarker([data[i][2], data[i][3]], {
        color: "#FF8C00",
        id: data[i][1],
        tags: ['cherry', 'ended']
      }).bindTooltip(data[i][4],{direction: 'bottom'}).addTo(ville1).bindPopup("I am a green leaf.").on('click', markerOnClick);
    }
  }

  var arrondissement = new L.LayerGroup();
  for (var i = 0; i < data.length; i++) {
    if (data[i][0] == "arrondissement") {
      marker = L.marker([data[i][2], data[i][3]], {
        color: "#00FFFF",
        id: data[i][1],
        tags: ['tomato', 'active'],
        //icon: greenIcon
      }).bindTooltip(data[i][4],{direction: 'top', offset:[0,-20]}).addTo(arrondissement).bindPopup("I am a green leaf.").on('click', markerOnClick);
    }
  }

  var ville = new L.LayerGroup();
  for (var i = 0; i < data.length; i++) {
    if (data[i][0] == "ville") {
      
      marker = new PlaceMarker([data[i][2], data[i][3]], {
        color: "#008000",
        id: data[i][1],
        tags: ['cherry', 'ended']
      }).bindTooltip(data[i][4],{direction: 'bottom'}).addTo(ville).bindPopup("I am a green leaf.").on('click', markerOnClick);
    }
  }

  /* Some handy variables*/
  var booklayers = [ville1, arrondissement, ville]

    /*Initialise map; change zoom control position*/
  var map = L.map('map', {
    layers: booklayers
  }).setView([{{ map.center }}], {{ map.zoom }});

  /*Add tileLayers*/
  mapLink = '<a href="https://openstreetmap.org">OpenStreetMap<\/a>';
  L.tileLayer('https://{s}.tile.openstreetmap.org/{z}/{x}/{y}.png', {
    attribution: '&copy; ' + mapLink + ' Contributors',
    maxZoom: 18,
  }).addTo(map);

  /* Open modal & center map on marker click 	*/
  function markerOnClick(e) {
    var id = this.options.id;
    $(".event-content").html('This is marker ' + id);
    $('#emptymodal').modal('show');
    map.setView(e.target.getLatLng());
    e.preventDefault();
  }

  /*Close modal on map click */
  map.on('click', function(e) {
    $('.modal').modal('hide');
  });


  L.control.tagFilterButton({
      data: ['active', 'ended'],
      filterOnEveryClick: true,
      icon: '<i class="fa fa-suitcase"></i>',
  }).addTo(map);

  L.control.tagFilterButton({
      data: ['tomato', 'cherry', 'strawberry'],
      filterOnEveryClick: true,
      icon: '<i class="fa fa-pagelines"></i>',
  }).addTo(map);

  jQuery('.easy-button-button').click(function() {
    target = jQuery('.easy-button-button').not(this);
    target.parent().find('.tag-filter-tags-container').css({
        'display' : 'none',
    });
  });

}
</script>
{% endblock %}

