{% extends 'base.html.twig' %}

{% block title %}Vérification des organisateurs{% endblock %}

{% block body %}

<div class="main">

    <div class="main-page list" >

        {% include 'validation/_menu.html.twig' %}

        <div class="wrapper">

            {% if organizers|length == 0 %}
                <div class="text-center mt-4">
                    <div class="btn alert">Aucun organisateur à vérifier pour le moment</div>
                </div>
            {% else %}

                <div class="title">
                    <h2>Vérification des organisateurs</h2>
                </div>
                {% for organizer in organizers %}
                    <div class="bg-light rounded mb-3 py-3 px-3 d-flex">
                        <div class="my-2">
                            <a target="_blank" href="{{ path('organizer_show',{'slug': organizer.slug }) }}" class="d-block h3">{{ organizer.name }}</a>
                            <div>{% if organizer.events|length == 0 %}Aucun evenement associé{% elseif organizer.events|length == 1 %}1 évènement associé{% else %}{{ organizer.events|length }} évènements associés{% endif %}</div>
                            {% if organizer.author %}<div>Ajouté par <a target="_blank" href="{{ path('user_show',{'slug': organizer.author.slug }) }}">{{ organizer.author.fullname }}</a></div>{% endif %}
                        </div>
                        <div class="ml-auto">
                            {% if organizer.events|length == 0 %}
                                <a href="#" class="btn btn-sm btn-danger">Supprimé</a>
                            {% endif %}
                            <a href="{{ path('organizer_edit',{'slug': organizer.slug }) }}" class="btn btn-sm btn-warning">Modifié</a>
                        </div>
                        
                    </div>
                    
                {% endfor %}

                <div class="pagination">
                    {{ knp_pagination_render(organizers) }}
                </div>

            {% endif %}

	    </div><!-- wrapper -->
	</div><!-- main-page -->
</div><!-- main -->

{% endblock %}
