{% extends 'base.html.twig' %}

{% block title %}Vérification des lieux{% endblock %}

{% block body %}

<div class="main">

    <div class="main-page list" >

        {% include 'validation/_menu.html.twig' %}

        <div class="wrapper">
            
            <div class="text-center">
                <a href="{{ path('places_validator') }}" class="{% if menu == null %}btn-primary {% endif %}btn btn-inline btn-sm">Tous</a>
                <a href="{{ path('places_validator', {'filtre': "anonyme"}) }}" class="{% if menu == "anonyme" %}btn-primary {% endif %}btn btn-inline btn-sm">Anonyme</a>
                <a href="{{ path('places_validator', {'filtre': "connecte"}) }}" class="{% if menu == "connecte" %}btn-primary {% endif %}btn btn-inline btn-sm">Connecté</a>
                {#
                <a href="{{ path('places_validator', {'filtre': "certifie"}) }}" class="{% if menu == "certifie" %}btn-primary {% endif %}btn btn-inline btn-sm">Certifié</a>
                <a href="{{ path('places_validator', {'filtre': "administrateur"}) }}" class="{% if menu == "administrateur" %}btn-primary {% endif %}btn btn-inline btn-sm">Administateur</a>
                #}
            </div>

            {% if places|length == 0 %}

                <div class="btn alert">Aucun lieu à vérifier pour le moment</div>

            {% else %}

                <div class="title">
                    <h2>Vérification des lieux</h2>
                </div>
                {% for place in places %}
                    {#% set place = place[0] %#}
                    <div class="bg-light rounded mb-3 py-3 px-3 d-flex">
                        <div class="my-2">
                            <a target="_blank" href="{{ path('place_show',{'slug': place.slug }) }}" class="d-block h3">{{ place.title }}</a>
                            <b>{{ place.number }} {{ place.address }}, {{ place.city.name }}</b><br>
                            <div>{% if place.events|length == 0 %}Aucun evenement associé{% elseif place.events|length == 1 %}1 évènement associé{% else %}{{ place.events|length }} évènements associés{% endif %}</div>
                            <div>{% if place.createdAt|date('Y-m-d') == "2020-07-22" %}Importé de l'ancienne base de donnée{% else %}Créé le {{ place.createdAt|date('d/m/Y') }}{% if place.author %} par <a target="_blank" href="{{ path('user_show',{'slug': place.author.slug }) }}">{{ place.author.fullname }}</a>{% endif %}{% endif %}</div>
                        </div>
                        {#{ dump(place) }#}
                        <div class="ml-auto">
                            {% if place.events|length == 0 %}
                                <a href="{{ path('place_delete_by_id',{'id': place.id}) }}" class="btn btn-sm btn-danger">Supprimé</a>
                            {% endif %}
                            <a href="{{ path('place_edit',{'slug': place.slug }) }}" class="btn btn-sm btn-warning">Modifié</a>
                        </div>
                    </div>
                    
                {% endfor %}

                <div class="pagination">
                    {{ knp_pagination_render(places) }}
                </div>

            {% endif %}

	   </div><!-- main-side -->
	</div><!-- main-side -->
</div><!-- main -->

{% endblock %}
